<nav class="fidelityNav" id="fidelityNav" role="navigation" tabindex="-1">
  <div class="swiper-wrapper fidelity-wrapper">
    <div class="swiper-slide">
      <a href="/account" data-handle="{{ handle }}" class="{% if template contains 'account' %}current{% endif %}">
        <h2>
          My profile
        </h2>
      </a>
    </div>
    <div class="swiper-slide">
      <a href="/pages/lacoste-rewards" data-handle="{{ handle }}" class="{% if page.handle == 'lacoste-rewards' %}current{% endif %}">
        <h2>
          My Rewards
        </h2>
      </a>
    </div>
    <div class="swiper-slide order-button">
      <a href="/pages/orders" data-handle="{{ handle }}" class="{% if page.handle == 'orders' %}current{% endif %}">
        <h2>
          My Online Orders &amp; Returns
        </h2>
      </a>
    </div>
    <div class="swiper-slide">
      <a href="/pages/contact-us" data-handle="{{ handle }}" class="{% if page.handle == 'contact-us' %}current{% endif %}">
        <h2>
          Customer Service
        </h2>
      </a>
    </div>
    {% if section.settings.sale_link %}
      <div class="swiper-slide">
        <a href="{{ section.settings.sale_link }}" class="">
          <h2>
            {{ section.settings.sale_title }}
          </h2>
        </a>
      </div>
    {% endif %}
  </div>
<!--   <div class="swiper-button-next"></div> -->
<!--   <div class="swiper-button-prev"></div> -->
</nav>