<div class="ma-test breadcrumb-nav fs--small text-grey-light padding-1 l-padding--small no-mob no-tab">
    <a class="breadcrumb-item  js-track" href="/" data-tag-id="pdp.clickBreadcrumb" data-replace="">Homepage</a>
    {% if template == 'product' %}
      {% if collection.url %}
      <a class="breadcrumb-item  js-track" href="{{ collection.url }}" data-tag-id="pdp.clickBreadcrumb" data-replace="">{{ collection.title }}</a>
      {% endif %}
    <a class="ma-test2 breadcrumb-item ">{{ product.title }}</a>
    {% endif %}
    {% if template contains 'collection' and collection.handle %}
      {% if current_tags %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <a class="ma-test3 breadcrumb-item js-track" href="{{ url }}" data-tag-id="pdp.clickBreadcrumb" data-replace="">{{ collection.title }}</a>
        <a class="breadcrumb-item " data-tag-id="pdp.clickBreadcrumb" data-replace="">{{ current_tags | join: " + " }}</a>
      {% else %}
        <a class="ma-test4 breadcrumb-item" data-tag-id="pdp.clickBreadcrumb" data-replace="">{{ collection.title }}</a>
      {% endif %}
    {% endif %}
</div>