<div data-item="{{ item.variant.id }}" class="{% if item.product.tags contains 'Kids GWP'%}promo-prereq{%endif%}{% if item.product.tags contains 'GWP Card' %}ty-card{% elsif item.product.tags contains 'GWP' %}GWP {% if item.product.title == 'GWP Insulated Flask' %}gwp-flask{% endif %}{% elsif item.product.tags contains 'Women' %}card-holder cart-product{%else%}cart-product{%endif%}{% if item.title == "Custom Gift Packaging" %}custom-packaging{% endif %}">{%capture prod_url%}{% if item.title == "Custom Gift Packaging" %}#{%else%}{{ item.url }}{%endif%}{%endcapture%}
  <div class="cart-product-image">
    <a href="{% if item.product.tags contains 'GWP' or item.product.tags contains 'GWP Card' %}#{%else%}{{ prod_url }}{%endif%}" data-feat="{{ item.product.featured_image }}" {% if item.product.tags contains 'GWP' or item.product.tags contains 'GWP Card' %}disabled{%endif%}>{% capture feat_img %}{% if item.product.featured_image != nil %}{{ item | img_url: '100x100' }}{% else %}{{ 'lacoste-box-logo.png' | asset_url }}{%endif%}{% endcapture %}
      <img data-src="{{ feat_img }}" alt="{{ item.title }}" title="{{ item.title }}" class="lazyload">
    </a>
  </div>
  <div class="cart-product-info ">
    <a class="cart-product-name" href="{% if item.product.tags contains 'GWP' or item.product.tags contains 'GWP Card' %}#{%else%}{{ prod_url }}{%endif%}" {% if item.product.tags contains 'GWP' or item.product.tags contains 'GWP Card'  or item.product.tags contains 'GWP Card'%}disabled{%endif%}>{{ item.product.title }}</a>
    {% unless item.product.tags contains 'GWP Card' or item.product.tags contains 'GWP' %}
    <div class="cart-product-color-size">
      {% unless item.title == "Custom Gift Packaging" %}<span class="item-color">{{ item.variant.option1 }}</span>,{% endunless %}
      {% unless item.title == "Custom Gift Packaging" %}<span class="item-size">size: {{ item.variant.option2 }}</span>{% endunless %}
    </div>
    {% endunless %}
    <div class="cart-product-price-quantity">
      <div class="cart-product-price">
        <span class="cart-discount-percentage">-30%</span>
        <span class="money-template cart-old-price" data-line-index="{{ forloop.index0 }}" style="visibility:hidden;"> 
          <script type="text/template"></script> 
          {% raw %} 
          {{#has_saved}} 
          <del> 
          <span class="bold-pre-compare-price"> 
          {{original}} 
          </span> 
          </del> 
          {{/has_saved}} 
          {% endraw %} 
        </span>
        {% if item.variant.compare_at_price > 0 %}<span class="cart-old-price">{{ item.variant.compare_at_price | money }}</span>{% endif %}
        <span class="cart-current-price">{% unless item.title == "Custom Gift Packaging" %}<span class="money" data-product-id="{{ product.id }}"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price" data-item-key="{{item.key}}" style="display:none !important;"></span>{{ item.price | money }}</span>{% else %}FREE{% endunless %}</span>
        
      </div>
    </div>
    <div class="cart-product-quantity {% if item.product.tags contains 'GWP Card' or item.product.tags contains 'GWP' %}ty-qty{%endif%}">{%unless item.product.tags contains 'Promo Item' %}
      <p style="display:inline-block;">Quantity:</p>
      <select name="" id="" class="js-change-quantity {% if item.product.tags contains 'GWP Card' or item.product.tags contains 'GWP' %}ty-qty-count{%endif%}" data-pid="5021725641960" data-quantity="2" data-uuid="b796f5a202add40b0a41686762" style="display: inline-block;">
        {{item.variant.inventory_quantity}}
        {% assign qty_count = 0 %}
        {% for i in (1 .. item.variant.inventory_quantity) %}
        {% assign qty_count = qty_count | plus: 1 %}
        <option value="{{i}}" {% if item.quantity == i %}selected="selected"{% endif %}>{{i}}</option>
        {% endfor %}
      </select>
      <input id="item-id" type="hidden" value="{{ item.quantity }}" variant="{{ item.variant }}" var-id="{{ item.variant_id }}">
<!--       <p style="display:inline-block;margin-left: 5px;">Gift Packaging:</p>
      <select name="" id="" class="js-change-gp" data-pid="5021725641960" data-quantity="2" data-uuid="b796f5a202add40b0a41686762" style="display: inline-block;">
        {{item.variant.inventory_quantity}}
        <option value="0" selected="selected">0</option>
        {% for i in (1 .. item.quantity) %}
        <option value="{{i}}">{{i}}</option>
        {% endfor %}
      </select>
        <input type="hidden" value="{{ qty_count }}" class="selected_Qty"> -->
    {% else %}Quantity: 1{% endunless %}</div>
    <style>
      .ty-qty {
        display: none;
      }
    </style>
    <div class="cart-product-total-price">
      <div class="cart-product-price">
        <span class="normal-price">{% unless item.title == "Custom Gift Packaging" %}<span class="money" data-product-id="{{ product.id }}"><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_item_price_2" data-item-key="{{item.key}}" style="display:none !important;"></span>{{ item.price | money }}</span>{% else %}FREE{% endunless %}</span>
      </div>
    </div>
  </div>
  <ul class="cart-product-actions" {% if item.product.tags contains 'GWP Card' or item.product.tags contains 'GWP' %}style="display: none;"{%endif%}>
    <li class="cart-product-action-remove">
      <a class="js-remove-lineitem cart-product-action" href="/cart/change?line={{ forloop.index }}&amp;quantity=0" data-dialog-href="">
        remove
        <svg role="presentation" class="icon-svg icon-close">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>
<style type="text/css">
.cart-product-price .money-template + .cart-old-price {display: none !important;}
</style>