{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
{% if option == swatch %}
{% assign found_option = true %}
{% assign option_index = forloop.index0 %}
<!--     <script>$(window).load(function() { $('.selector-wrapper:eq({{ option_index }})').hide(); });</script> -->
{% assign downcased_option = swatch | downcase %}
{% if downcased_option contains 'color' or downcased_option contains 'colour' %}
{% assign is_color = true %}
{% endif %}
{% endif %}
{% endfor %}				


{% case option_name %}

{% when 'color' %}

<input type="hidden" id="productTypeContainer" value="{{ product.type }}">
<input type="hidden" id="option2name" value="{{ product.options }}">
<input type="hidden" id="producttags" value="{{ product.tags }}">
{% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
    {% assign values = values | join: ',' %}
    {% assign values = values | append: ',' | append: value %} 
    {% assign values = values | split: ',' %}
    {% assign handleizedVal = value | handleize | remove: "-" %}

	{% if product.tags contains 'Shoes' %}
	{% assign stylenumberindex = product.handle | slice: -10,10 %}
	{% elsif product.tags contains 'Bags' %}
	{% assign stylenumberindex = product.handle | slice: -8,8 %}
	{% else %}
	{% assign stylenumberindex = product.handle | slice: -6,6 %}
  {% endif %}
    {% assign swatch_image = variant.metafields.spec.swatch_image %}
    {% capture valuethumb %}{{ swatch_image | file_url }}{% endcapture %}

    {% assign product_qty = 0 %}
    {% capture colorValue %}{{ value }} {% endcapture %}
    {% for variant in product.variants %}
    {% if variant.inventory_quantity > 0 and variant.title contains colorValue %}
    {% assign product_qty = product_qty | plus: variant.inventory_quantity %}
    {% endif %}
    {% endfor %}	
    {% if product_qty > 0 %}
      <li class="l-inline-block l-vmargin--xsmall l-hmargin--small click-color">
        <a href="" title="{{ value }}" data-title="{{ value }}" class="js-pdp-color-item swatch-wrapper is-active" data-no-redirect="true" rel="nofollow" data-color="{{ value }}">
          <img id="color-swatch-{{forloop.index0}}" src="{{ valuethumb }}" alt="{{ value }}" class="img-fill-width swatch no-pointer"> 
        </a>
        <script>
          var clr = 'https://cdn.shopify.com/s/files/1/0233/9713/8496/files/' +  window.swatchcolors["{{ value }}"];
          var el = document.getElementById('color-swatch-{{forloop.index0}}');
              // el.setAttribute('src', clr);
              var codeIndex = window.swatchcolors["{{ value }}"].indexOf('_swatch'),
              code = window.swatchcolors["{{ value }}"].substring(codeIndex,codeIndex-3);

              el.parentNode.setAttribute('title', "{{value }} - "+ code.toUpperCase());
              
        </script>
      </li>
    {% endif %}
    {% endunless %}
{% endfor %}

{% endcase %}