<footer role="contentinfo" class="footer ">
  <div class="visually-hidden" role="heading" aria-level="1">On Lacoste website</div>
  <ul class="footer-reinsurance grid fs--small padding-2">
    <li class="flex flex--justify-center cell-3 cell-mt-5 cell-m-10">
      <button class="footer-reinsurance-item js-popin-btn" data-popin-content-id="popin-footer_reinsurance_return" data-popin-classname="popin--inside popin-m--fill popin--simple">
        <svg role="presentation" class="icon-svg l-vmargin--xsmall" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-returns"></use>
        </svg>FREE RETURNS
      </button>
      <div class="is-hidden">
        <div id="popin-footer_reinsurance_return" class="l-vspaced-row-1 cell-10 cell-mt-25">
          <div class="padding-1 l-vmargin--xlarge">
            <div role="heading" aria-level="4" class="fs--xlarge l-vmargin--large">RETURN TO US FOR FREE</div>
            <hr class="l-vmargin--large" />
            <p class="fs--small">
              Enjoy Free Returns using our easy returns process.<br/><br/>
              To return a product login to your account or if you do not have an account use the link in your order confirmation email and follow the easy steps.<br/><br/>
              We accept returns 14 days from receipt of your order, purchased at the Lacoste online shop.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="flex flex--justify-center cell-3 cell-mt-5 cell-m-10">
      <button class="footer-reinsurance-item js-popin-btn" data-popin-content-id="popin-footer_reinsurance_payment" data-popin-classname="popin--inside popin-m--fill popin--simple">
        <svg role="presentation" class="icon-svg l-vmargin--xsmall" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lock"></use>
        </svg>SAFE & SECURE PAYMENT
      </button>
      <div class="is-hidden">
        <div id="popin-footer_reinsurance_payment" class="l-vspaced-row-1 cell-10 cell-mt-25">
          <div class="padding-1 l-vmargin--xlarge">
            <div role="heading" aria-level="4" class="fs--xlarge l-vmargin--large">WE KEEP YOUR DETAILS SAFE</div>
            <hr class="l-vmargin--large" />
            <p class="fs--small">
              All payment information is protected by secure connection to ensure your card data cannot be used by anyone else.<br/><br/>
              The following payment methods are available at the Lacoste online shop:<br/>
              VISA, MASTERCARD, AMERICAN EXPRESS AND PAYPAL
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="flex flex--justify-center cell-3 cell-mt-5 cell-m-10">
      <button class="footer-reinsurance-item js-popin-btn" data-popin-content-id="popin-footer_reinsurance_delivery" data-popin-classname="popin--inside popin-m--fill popin--simple">
        <svg role="presentation" class="icon-svg l-vmargin--xsmall" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-delivery"></use>
        </svg>FREE DELIVERY OVER PHP 5,000
      </button>
      <div class="is-hidden">
        <div id="popin-footer_reinsurance_delivery" class="l-vspaced-row-1 cell-10 cell-mt-25">
          <div class="padding-1 l-vmargin--xlarge">
            <div role="heading" aria-level="4" class="fs--xlarge l-vmargin--large">FREE STANDARD DELIVERY</div>
            <hr class="l-vmargin--large" />
            <p class="fs--small">
              Enjoy FREE Standard Delivery on all orders.<br />
              Orders take up to 3-4 days to be delivered between Monday to Saturday.<br />
              <br />
              ENJOY EXPRESS DELIVERY<br />
              Orders via Express Delivery take up to 1-2 days to be delivered by DHL between Monday to Friday.<br />
              Express Delivery costs £9.95 or FREE on orders over £180.
            </p>
          </div>
        </div>
      </div>
    </li>
    <li class="flex flex--justify-center cell-3 cell-mt-5 cell-m-10">
      <button class="footer-reinsurance-item js-popin-btn" data-popin-content-id="popin-footer_reinsurance_contact" data-popin-classname="popin--inside popin-m--fill popin--simple">
<!--         <svg role="presentation" class="icon-svg l-vmargin--xsmall" aria-hidden="true">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-contact"></use>
        </svg> -->
        <div class="icon-svg l-vmargin--xsmall"><img class="lazyload" style="max-width: 25px;" data-src="{{ 'laptop-shopping-cart.png' | asset_url }}"></div>
        CONVENIENT & HASSLE-FREE SHOPPING
      </button>
      <div class="is-hidden">
        <div id="popin-footer_reinsurance_contact" class="l-vspaced-row-1 cell-10 cell-mt-25">
          <div class="padding-1 l-vmargin--xlarge">
            <div role="heading" aria-level="4" class="fs--xlarge l-vmargin--large">WE ARE HERE TO HELP</div>
            <hr class="l-vmargin--large" />
            <p class="fs--small">
              Our customer service team are here to help you.
              <br>Contact us from Monday to Friday from 8am to 6pm and on Saturdays from 9am to 5pm.
              <br/>On December 24th and 31st, we will exceptionally close the lines at 3 pm and our service will be closed on December 25th and January 1st. We thank you for your understanding.<br/><br/>
              <br>Phone us : 0196 231 2803
              <br>Contact us : <a href="/pages/contact-us">Click here</a>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <section class="grid l-vspaced-row-1 bg-grey">
    <section class="footer-main cell-6 offset-1 cell-mt-9 offset-mt-2 cell-m-25 offset-m-0 padding-m-2">
      <section class="l-vmargin--large text-m-center">  
        <a class="btn-cta fs--medium ff-normal l-vmargin--small" role="heading" aria-level="2" href="/account/login">Join Le Club Lacoste</a>
        <p class="l-vmargin--small fs--small"><br>Don’t miss out! Subscribe to our newsletter for Lacoste’s latest news and special offers.</p>

        <div class="text-center l-vmargin--medium">
          <a class="btn-cta fs--medium ff-normal" href="{{ section.settings.button_link }}">{{ section.settings.button }}</a>
        </div>

        {{ section.settings.tc_label }}

      </section>
      <ul class="footer-socials flex">
        <li class="l-padding-around l-hmargin--large footer-icons">
          <a href="//www.instagram.com/lacoste/" class="l-block" target="_blank" rel="nofollow" title="Go to instagram (new window)">
            <div class="l-lazy-container" style="padding-bottom: 100%;">
              <img role="img" class="icon-socials l-lazy-img" src="{{ 'instagram.svg' | asset_url }}" alt="Go to instagram (new window)" />
            </div>
          </a>
        </li>
        <li class="l-padding-around l-hmargin--large footer-icons">
          <a href="https://www.facebook.com/LacostePhilippines/" class="l-block" target="_blank" rel="nofollow" title="Go to facebook (new window)">
            <div class="l-lazy-container" style="padding-bottom: 100%;">
              <img role="img" class="icon-socials l-lazy-img" src="{{ 'facebook.svg' | asset_url }}" alt="Go to facebook (new window)" />
            </div>
          </a>
        </li>
        <li class="l-padding-around l-hmargin--large footer-icons">
          <a href="//twitter.com/LACOSTE" class="l-block" target="_blank" rel="nofollow" title="Go to twitter (new window)">
            <div class="l-lazy-container" style="padding-bottom: 100%;">
              <img role="img" class="icon-socials l-lazy-img" src="{{ 'twitter.svg' | asset_url }}" alt="Go to twitter (new window)" />
            </div>
          </a>
        </li>
        <li class="l-padding-around l-hmargin--large footer-icons">
          <a href="//www.pinterest.fr/lacoste/" class="l-block" target="_blank" rel="nofollow" title="Go to pinterest (new window)">
            <div class="l-lazy-container" style="padding-bottom: 100%;">
              <img role="img" class="icon-socials l-lazy-img" src="{{ 'pinterest.svg' | asset_url }}" alt="Go to pinterest (new window)" />
            </div>
          </a>
        </li>
        <li class="l-padding-around l-hmargin--large footer-icons">
          <a href="//lacoste.tumblr.com/" class="l-block" target="_blank" rel="nofollow" title="Go to tumblr (new window)">
            <div class="l-lazy-container" style="padding-bottom: 100%;">
              <img role="img" class="icon-socials l-lazy-img" src="{{ 'tumblr.svg' | asset_url }}" alt="Go to tumblr (new window)" />
            </div>
          </a>
        </li>
        <li class="l-padding-around l-hmargin--large footer-icons">
          <a href="//www.youtube.com/user/lacosteofficial" class="l-block" target="_blank" rel="nofollow" title="Go to youtube (new window)">
            <div class="l-lazy-container" style="padding-bottom: 100%;">
              <img role="img" class="icon-socials l-lazy-img" src="{{ 'youtube.svg' | asset_url }}" alt="Go to youtube (new window)" />
            </div>
          </a>
        </li>
      </ul>
      <section class="footer-main-storelocator no-mob no-tab">
        <div class="title--xsmall text-grey l-vmargin--medium" role="heading" aria-level="2"></div>
        <a class="btn-cta l-fill-width fs--medium ff-normal" href="/pages/find-store">Find a boutique</a>
      </section>
    </section>
    <section class="cell-4 cell-mt-5 cell-m-10 offset-2 fs--small">
      <div class="title--xsmall text-grey l-vmargin--large" role="heading" aria-level="2">About Lacoste</div>
      <ul>
        <li class="l-vmargin--small">
          <a href="/pages/about-the-lacoste-group" class="simple-link">The Lacoste Group</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/pages/people" class="simple-link">People</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/pages/lacostes-products-origin-and-quality" class="simple-link">Products</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/pages/commitment" class="simple-link">Commitments</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/pages/protection" class="simple-link">Brand Protection</a>
        </li>
      </ul>
      <br>
      <div class="title--xsmall text-grey l-vmargin--large" role="heading" aria-level="2"><a href="/pages/le-club-lacoste" class="simple-link">Le Club Lacoste</a></div>
      <ul>
        <li class="l-vmargin--small">
          <a href="/pages/le-club-lacoste-terms-conditions" class="simple-link">Terms &amp; Conditions</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/pages/le-club-lacoste-faq" class="simple-link">FAQs</a>
        </li>
      </ul>
    </section>
    <section class="cell-4 cell-mt-5 cell-m-10 offset-1 offset-m-2 fs--small">
      <div class="title--xsmall text-grey l-vmargin--large" role="heading" aria-level="2">
        Categories
      </div>
      <ul>
        <li class="l-vmargin--small">
          <a href="/collections/men" class="simple-link">Men's Collection</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/collections/women" class="simple-link">Women's Collection</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/collections/kids" class="simple-link">Kids Collection</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/collections/polos-shop" class="simple-link">Polo Shop</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/collections/shoes" class="simple-link">Shoe Shop</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/collections/lacoste-live" class="simple-link">Lacoste Live</a>
        </li>
        <li class="l-vmargin--small">
          <a href="/collections/lacoste-sport" class="simple-link">Lacoste Sport</a>
        </li>
        <li class="l-vmargin--small">
<!--          <a href="/pages/crocodile-inside" class="simple-link">The film</a> -->
        </li>
      </ul>
    </section>
    <section class="cell-4 offset-1 no-mob no-tab">
      <div class="flex flex--col">
        <div class="title--xsmall text-grey l-vmargin--large" role="heading" aria-level="2">Help & Contacts</div>
        <div class="title--xsmall text-grey l-vmargin--large" role="heading" aria-level="3">By phone</div>
        <a href="tel:(+44) 01 96 23 12 803" class="fs--small l-vmargin--medium" aria-describedby="telcost">+632 8830 5000*</a>
        <p class="fs--xsmall l-vmargin--large">Contact our customer service team Mondays to Sundays from 0900 to 1800. Services will be closed during holidays. Thank you for understanding.
</p>
        <p class="fs--xsmall l-vmargin--large" id="telcost">*Local costs apply depending on your phone provider.</p>
        <a href="https://lacoste-ph.myshopify.com/pages/contact-us" title="Go to the contact form page" class="title--xsmall text-grey l-vmargin--large">By Email</a>
        <p class="fs--small l-vmargin--medium"><a href="mailto:custserv@lacoste.com.ph">custserv@lacoste.com.ph</a></p>
        <a href="https://lacoste-ph.myshopify.com/pages/frequently-asked-questions" class="title--xsmall text-grey l-vmargin--large">FAQ</a>
      </div>
    </section>
  </section>
  <section class="footer-payment bg-grey">
    <div class="l-vmargin--small flex flex--centered flex--wrap">
      {% for block in section.blocks %}
        <div class="l-hmargin--large payment-icon__wrapper">
          {% if block.settings.link  %}<a href="{{ block.settings.link }}" download target="_blank">{% endif %}<img role="img" class="icon-payment lazyload" data-src="{{ block.settings.icon | img_url: 'medium' }}" alt="{{ block.settings.icon.alt }}" />{% if block.settings.link  %}</a>{% endif %}
        </div>
      {% endfor %}
    </div>
    <p class="fs--small">
      <svg role="presentation" class="icon-svg icon-secured" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-lock"></use>
      </svg>
      100% secure payment
    </p>
  </section>
  <section class="footer-bottom grid flex--space-between fs--small">
    <ul class="padding-1 padding-m-2">
<!--       <li class="footer-bottom-link">
        <a href="/gb/sitemap/SiteMap.html" class="simple-link">Sitemap</a>
      </li>
      <li class="footer-bottom-link">
        <a href="/gb/credits.html" class="simple-link">Credits</a>
      </li> -->
      <li class="footer-bottom-link">
        <a href="https://lacoste-ph.myshopify.com/pages/terms-conditions" class="simple-link">Terms &amp; Conditions</a>
      </li>
      <li class="footer-bottom-link">
        <a href="https://lacoste-ph.myshopify.com/pages/privacy-policy" class="simple-link">Privacy policy</a>
      </li>
      <li class="footer-bottom-link">
        <a href="https://lacoste-ph.myshopify.com/pages/size-guide" class="simple-link">Size guide</a>
      </li>
    </ul>
  </section>
  <div id="result">
    
  </div>
</footer>

{% include 'footer-popup' %}
