<!-- <div class="announcement-banner">Notice: Due to our operations maintenance today, orders received on June 18 will be processed on June 19. Thank you for your support.</div> -->
<!-- <style>.announcement-banner.promo { z-index: 2 !important; }</style> -->
<header role="banner" class="header js-header padding-1" id="announce-header">
<!--   <div id="test"></div> -->
  <div class="menu-icon no-desk l-menu-left">
    <button class="js-popin-btn js-search" data-popin-content-id="search-render" data-popin-classname="popin--inside popin--fill" title="Go to search panel">
      <svg role="presentation" class="icon-svg ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
      </svg>
      <span class="visually-hidden">Go to search panel</span>
    </button>
  </div>
  <h1 role="heading" aria-level="1">
    <a class="l-block l-padding-around" href="{{ shop.url }}" title="Go to home page">
      <svg class="no-mob no-tab" width="104px" height="23px">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#lacoste"></use>
      </svg>
      <svg class="icon-logo-crocodile" width="50px" height="23px">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#crocodile"></use>
      </svg>
    </a>
  </h1>
  <nav role="navigation" class="main-nav">
    <button class="btn-burger no-desk js-menu-open" id="announce-button" title="Go to menu">
      <svg role="presentation" class="icon-svg ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-burger"></use>
      </svg>
      <span class="visually-hidden">Go to menu</span>
    </button>
    <div class="sub-nav js-sub-nav main-nav-tabs js-menu-main">
      <div class="nav-header no-desk offset-mt-4 cell-mt-17 offset-m-2 cell-m-21">
        <div class="breadcrumb-nav fs--small">
          <button class="breadcrumb-item">Home</button>
        </div>
        <button class="nav-close js-menu-close">
          <svg role="presentation" class="icon-svg " >
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
          </svg>
          <span class="visually-hidden">-</span>
        </button>
      </div>
      <div class="nav-wrapper js-nav-wrapper nav-lvl0-wrapper">
        <ul class="nav-lvl0 js-nav ">
          {% for link in linklists.lacoste-main-navigation.links %}
            <li class="{% if link.links != blank %}js-menu-item{%endif%} js-nav-tab nav-lvl0-tab offset-mt-4 cell-mt-17 offset-m-2 cell-m-21">
              <span role="heading" aria-level="2">
                <a href="{{ link.url }}" class="{% if link.links != blank %}js-menu-item-link{%endif%} nav-lvl0-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L1&quot;,&quot;%label%&quot;:&quot;Lacoste_Men&quot;}">
                  <span class="nav-lvl0-label fs--medium fs-mt--xlarge ">{{ link.title }}
                    {% if link.links != blank %}
                    <svg role="presentation" class="icon-svg icon-indicator no-desk">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
                    </svg>
                    {%endif%}
                  </span>
                </a>
              </span>
              {% if link.links != blank %}
              <div class="sub-nav js-sub-nav rich-menu js-rich-menu">
                <div class="nav-header no-desk offset-mt-4 cell-mt-17 offset-m-2 cell-m-21">
                  <button class="nav-back l-hmargin--large js-menu-back">
                    <svg role="presentation" class="icon-svg " >
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
                    </svg>
                    <span class="visually-hidden">-</span>
                  </button>
                  <div class="breadcrumb-nav js-menu-breadcrumb fs--small l-padding--xsmall l-m-overflow-x">
                    <button class="breadcrumb-item js-menu-breadcrumb-item">Home</button>
                    <span class="breadcrumb-item js-menu-breadcrumb-item">{{ link.title }}</span>
                  </div>
                  <button class="nav-close js-menu-close">
                    <svg role="presentation" class="icon-svg " >
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                    </svg>
                    <span class="visually-hidden">-</span>
                  </button>
                </div>
                {% include 'l-subnav' %}
              </div>
              <div class="nav-bg no-tab no-mob"></div>
              {% endif %}
            </li>
          {% endfor %}
          <li class="nav-thematic l-relative cell-mt-25 no-desk">
            <div role="heading" aria-level="3" class="title--xsmall text-grey l-vmargin--medium padding-mt-4 padding-m-2 nav-thematic-header">Shop By Theme</div>
            <ul class="l-m-overflow-x padding-mt-4 padding-m-2 nav-thematic-tags">
              {% for link in linklists.mobile-shop-by-theme.links %}
              <li class="l-inline-block l-hmargin--small l-vmargin--medium">
                <a class="btn-cta  fs--medium ff-normal" href="{{ link.url }}" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;Thematic&quot;,&quot;%label%&quot;:&quot;{{ link.title }}&quot;}">{{ link.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </li>
        </ul>
        <div class="menu-icon flex--margin-right no-mob no-tab">
          <button class="js-popin-btn js-search" data-popin-content-id="search-render" data-popin-classname="popin--inside popin--fill" title="Go to search panel">
            <svg role="presentation" class="icon-svg " >
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use>
            </svg>
            <span class="visually-hidden">Go to search panel</span>
          </button>
        </div>
        <ul class="nav-footer menu-icon cell-mt-25 ">
          <li class="padding-mt-4 padding-m-2 no-desk">
            <a href="/pages/contact-us" class="nav-footer-link" data-test="true" title="Go to help and support">
              <svg role="presentation" class="icon-svg l-icon-margin">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-contact"></use>
              </svg>
              <span class="fs--small">Help & Support</span>
            </a>
          </li>
          <li class="padding-mt-4 padding-m-2 nav-footer-item flex">
            <a href="https://lacoste-ph.myshopify.com/pages/find-store/" data-test="true" class="nav-footer-link" title="Go to store locator">
              <svg role="presentation" class="icon-svg l-icon-margin">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-store-locator"></use>
              </svg>
              <span class="fs--small no-desk">Find a boutique</span>
            </a>
          </li>
          <li class="nav-lvl0-tab cell-mt-25">
            <a href="/account" class="nav-footer-link padding-mt-4 padding-m-2" title="Go to my account" rel="nofollow">
              {% if customer %}
              <svg role="presentation" class="icon-svg l-icon-margin">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-my-account-logged"></use>
              </svg>
              {%else%}
              <svg role="presentation" class="icon-svg l-icon-margin">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-my-account"></use>
              </svg>
              {% endif %}
              <span class="fs--small no-desk">My account</span>
            </a>
            {% if customer %}
            <div class="sub-menu cell-9 no-mob no-tab">
              
               {% include 'logout-popup' %}
              
            </div>
            <div class="padding-mt-4 fs--small no-desk">
              <a class="l-padding--small l-inline-block reverse-link" href="/account/logout" rel="nofollow"><!-- dwMarker="link" dwPipelineTitle="Login-Logout (sitegenesis)" dwIsController="false" dwPipelineURL="http://localhost:60606/target=/sitegenesis/cartridge/pipelines/Login.xml&amp;start=Logout" -->
                Log out
              </a>
            </div>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="menu-icon">
    <!-- Report any requested source code -->
    <!-- Report the active source code -->
    <div id="top-minicart" class="minicart-wrapper flex flex--align-center cart-is-empty no-overlay" data-href="#icon-basket" data-cart-url="/cart" data-cart-title="My shopping bag" data-cart-qty="0">
      <div data-reactroot="">
        <a href="/cart" class="topbar-item l-relative cart-is-empty" rel="nofollow" title="My shopping bag">
          <span class="visually-hidden">My shopping bag</span>
          <svg role="presentation" class="icon-svg" id="checkout-bag-menu-icon">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-basket"></use>
          </svg>
          <span class="minicart-count fs--xsmall {% if cart.item_count < 1 %}is-empty{% endif %}">{{ cart.item_count }}</span>
        </a>
        <div class="minicart-overlay is-hidden"></div>
        <div class="rover-menu minicart-panel is-hidden">
          <div>
            <div class="cart-items-container l-vmargin--large l-padding-around">
              <div class="cart-items">
                <div class="cart-items-wrapper" style="top: 0px;">
                </div>
              </div>
            </div>
            <div class="cart-total">
              <div class="cart-total-infos">
                <div class="total-block flex flex--space-between fs--medium l-vmargin--large">
                  <span class="text">TOTAL</span>
                  <span class="total ff-bold"></span>
                </div>
                <a href="https:#cart" class="block-button green-button btn-cta btn--green fs--medium" rel="nofollow">Checkout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <span class="visibility-hidden no-desk">
      <svg role="presentation" class="icon-svg ">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-burger"></use>
      </svg>
    </span>
  </div>
</header>