<div class="nav-wrapper js-nav-wrapper {%if link.title == "Sale" %}sale-menu{%endif%}">
   <ul class="nav-lvl1 m-padding-menu">
     {% for link in linklists.sale-subnav.links %}
      <li class="js-menu-item cell-3 offset-1 offset-mt-4 cell-mt-17 offset-m-2 cell-m-21">
         <span role="heading" aria-level="3">
            <a href="{{link.url}}" class="js-menu-item-link nav-lvl1-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L2&quot;,&quot;%label%&quot;:&quot;Lacoste_Women_Clothing&quot;}">
               <span class="nav-lvl1-label fs--medium fs-mt--xlarge">
                  {{link.title}}
                  {% comment %}<svg role="presentation" class="icon-svg icon-indicator no-desk">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
                  </svg>{% endcomment %}
               </span>
            </a>
         </span>
         {%comment%}<div class="sub-nav js-sub-nav">
            <span class="js-ada-loop-start"></span>
            <div class="nav-header no-desk offset-mt-4 cell-mt-17 offset-m-2 cell-m-21">
               <button class="nav-back l-hmargin--large js-menu-back">
                  <svg role="presentation" class="icon-svg ">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
                  </svg>
                  <span class="visually-hidden">-</span>
               </button>
               <div class="breadcrumb-nav js-menu-breadcrumb fs--small l-padding--xsmall l-m-overflow-x l-relative">
                  <button class="breadcrumb-item js-menu-breadcrumb-item">Home</button>
                  <button class="breadcrumb-item js-menu-breadcrumb-item">Sale</button>
                  <span class="breadcrumb-item js-menu-breadcrumb-item">Clothing</span>
               </div>
               <button class="nav-close js-menu-close">
                  <svg role="presentation" class="icon-svg ">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                  </svg>
                  <span class="visually-hidden">-</span>
               </button>
            </div>
            <div class="nav-wrapper js-nav-wrapper">
               <ul class="nav-lvl2 offset-mt-4 cell-mt-17 offset-m-2 cell-m-21 fs--small fs-mt--xlarge">
                  {% case link.title %}
                 	{% when 'Clothing' %}
                     {% for link in linklists.womens-clothing.links %}
                      <li class="js-menu-item">
                         <a href="{{link.url}}" class="nav-lvl2-link js-menu-item-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L3&quot;,&quot;%label%&quot;:&quot;Lacoste_Women_Clothing_{{link.title}}&quot;}">
                         {{link.title}}
                         </a>
                      </li>
                 	  {% endfor %}
                 	{% when 'Shoes' %}
                     {% for link in linklists.women-shoes.links %}
                      <li class="js-menu-item">
                         <a href="{{link.url}}" class="nav-lvl2-link js-menu-item-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L3&quot;,&quot;%label%&quot;:&quot;Lacoste_Women_Clothing_{{link.title}}&quot;}">
                         {{link.title}}
                         </a>
                      </li>
                 	  {% endfor %}
                 	{% when 'Leather Goods' %}
                     {% for link in linklists.women-leather-goods.links %}
                      <li class="js-menu-item">
                         <a href="{{link.url}}" class="nav-lvl2-link js-menu-item-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L3&quot;,&quot;%label%&quot;:&quot;Lacoste_Women_Clothing_{{link.title}}&quot;}">
                         {{link.title}}
                         </a>
                      </li>
                 	  {% endfor %}
                 	{% when 'Accessories' %}
                     {% for link in linklists.women-accessories.links %}
                      <li class="js-menu-item">
                         <a href="{{link.url}}" class="nav-lvl2-link js-menu-item-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L3&quot;,&quot;%label%&quot;:&quot;Lacoste_Women_Clothing_{{link.title}}&quot;}">
                         {{link.title}}
                         </a>
                      </li>
                 	  {% endfor %}
                  {% endcase %}
               </ul>
            </div>
            <span class="js-ada-loop-stop"></span>
         </div>{%endcomment%}
      </li>
     {% endfor %}
   </ul>
</div>