<div class="nav-wrapper js-nav-wrapper">
  <ul class="nav-lvl1 l-padding-menu">
    {% for child_link in link.links %}
      {% if child_link.title == 'Shop by theme' %}
        <li class="nav-thematic l-relative cell-6 offset-2 offset-mt-0 cell-mt-25" data-loop="{{ forloop.last }}">
          <div role="heading" aria-level="3" class="title--xsmall text-grey l-vmargin--medium padding-mt-4 padding-m-2 nav-thematic-header">
            {{child_link.title}}
          </div>
          {% if child_link.links != blank %}
          <ul class="l-m-overflow-x padding-mt-4 padding-m-2 nav-thematic-tags">
            {% for grandchild_link in child_link.links %} 
            <li class="l-inline-block l-hmargin--small l-vmargin--medium">
              <a class="btn-cta  fs--medium ff-normal" href="{{ grandchild_link.url }}" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;Thematic&quot;,&quot;%label%&quot;:&quot;Lacoste_Men_{{link.title}}&quot;}">
                {{ grandchild_link.title }}
              </a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% else %}
        <li class="js-menu-item cell-3 offset-1 offset-mt-4 cell-mt-17 offset-m-2 cell-m-21">
          <span role="heading" aria-level="3">
            <a href="{{child_link.url}}" class="js-menu-item-link nav-lvl1-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L2&quot;,&quot;%label%&quot;:&quot;Lacoste_Men_Clothing&quot;}">
              <span class="nav-lvl1-label title--xsmall fs-mt--xlarge">
                {{child_link.title}}
                <svg role="presentation" class="icon-svg icon-indicator no-desk">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
                </svg>
              </span>
            </a>
          </span>
          <div class="sub-nav js-sub-nav">
            <span class="js-ada-loop-start"></span>
            <div class="nav-header no-desk offset-mt-4 cell-mt-17 offset-m-2 cell-m-21">
              <button class="nav-back l-hmargin--large js-menu-back">
                <svg role="presentation" class="icon-svg ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
                </svg>
                <span class="visually-hidden">-</span>
              </button>
              <div class="breadcrumb-nav js-menu-breadcrumb fs--small l-padding--xsmall l-m-overflow-x l-relative">
                <button class="breadcrumb-item js-menu-breadcrumb-item">Home</button>
                <button class="breadcrumb-item js-menu-breadcrumb-item">{{ link.title }}</button>
                <span class="breadcrumb-item js-menu-breadcrumb-item">{{child_link.title}}</span>
              </div>
              <button class="nav-close js-menu-close">
                <svg role="presentation" class="icon-svg ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                </svg>
                <span class="visually-hidden">-</span>
              </button>
            </div>
            <div class="nav-wrapper js-nav-wrapper">
              {% if child_link.links != blank %}
              <ul class="nav-lvl2 offset-mt-4 cell-mt-17 offset-m-2 cell-m-21 fs--small fs-mt--xlarge">
                {% for grandchild_link in child_link.links %}  
                <li class="js-menu-item">
                  <a href="{{ grandchild_link.url }}" class="nav-lvl2-link js-menu-item-link" data-tag-id="header.clickOnMenu" data-replace="{&quot;%level%&quot;:&quot;L3&quot;,&quot;%label%&quot;:&quot;Lacoste_Men_Clothing_{{link.title}}&quot;}">
                    {{ grandchild_link.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <span class="js-ada-loop-stop"></span>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
