<style type="text/css">
  .hidden{
    display: none;
  }
</style>
<section class="fidelityArea swiper-container-horizontal">
         <div class="swiper-wrapper">
           {%comment%}
           <picture class="l-block img-cover img-cover--top">
             <source media="(max-width: 800px)" srcset="https://cdn.shopify.com/s/files/1/0233/9713/8496/files/Le_Club_Lacoste_Pop_Maintenance_Banner_Mobile.png?38611">
             <source media="(min-width: 801px)" srcset="https://cdn.shopify.com/s/files/1/0233/9713/8496/files/Le_Club_Lacoste_Pop_Maintenance_Banner_Desktop.png?38611">
             <img class="l-block img-cover img-cover--top" src="https://cdn.shopify.com/s/files/1/0233/9713/8496/files/Le_Club_Lacoste_Pop_Maintenance_Banner_Desktop.png?38611" alt="" width="100%" height="auto">
           </picture>
           {%endcomment%}
           <div id="fidelity-Standard" data-level="1" class="fidelity-box fidelity-Standard fidelity-box-current">
             <div class="vertical-center-content">
               <div class="fidelity-box-header">
                 <img class="fidelity-box-img" src="{{ 'icon_level1.png' | asset_url }}">
                 <h2 class="fidelity-box-name">Player - Level 1</h2>
               </div>
               <div class="fidelity-box-points">Upon signup</div>
               <ul class="fidelity-box-text">
                 <div class="content-asset">
                   <li>Access to Private Sales</li>
                   <li>Exclusive Contents</li>
                 </div>
               </ul>
               <a href="/pages/le-club-lacoste" class="fidelity-box-more fidelity-box-current-text">learn more</a>
             </div>
             <div class="fidelity-box-header hidden">
               <img class="fidelity-box-img" src="{{ 'white-croco.png' | asset_url }}">
               <h2 class="fidelity-box-name">Player - Level 1</h2>
             </div>
             <div class="fidelity-box-textcontent hidden">
               <div class="fidelity-box-points">0 Points</div>
               <a href="/pages/lacoste-rewards" class="fidelity-box-current-text">Enjoy my rewards</a>
               <br /><br />
               <div class='fidelity-upgrade-note'></div>	
               <!--                   <a class="fidelity-box-current-text link transformAction" data-url="" data-disable-replace="true" data-popin-mode="true">My points in detail</a> -->
               <!-- <span class="fidelity-box-current-timer hidden">Only <br>15,000 points to move up to level 2</span> -->
             </div>
             <div class="fidelity-box-recom">

               Purchase Php <span class="required-spent-1">15,000</span> 
               <br>
               Before <span class="required-date">01/01/20</span> to
               <br>
               upgrade to <span class="required-level">level 2</span>
             </div>
             <div class="fidelity-box-exchange hidden">Php 1 = 1 point</div>
           </div>
           <div id="fidelity-Silver" data-level="2" class="fidelity-box fidelity-Silver">
             <div class="vertical-center-content">
               <div class="fidelity-box-header">
                 <img class="fidelity-box-img" src="{{ 'icon_level2.png' | asset_url }}">
                 <h2 class="fidelity-box-name">Confirmed - Level 2</h2>
               </div>
               <div class="fidelity-box-points">From 15,000 points</div>
               <ul class="fidelity-box-text">
                 <div class="content-asset">
                   <!-- dwMarker="content" dwContentID="34dec1afc7702ae7d432ec54bf" -->
                   All the rewards of LEVEL 1, plus:
                   <li>Loyalty Reward</li>
                   <!--                         <li>Access to the Ticketing Platform</li>
<li>Exclusive Customisation Options</li> -->
                 </div>
               </ul>
               <a href="/pages/le-club-lacoste" class="fidelity-box-more fidelity-box-current-text">learn more</a>
             </div>
             <div class="fidelity-box-header hidden">
               <img class="fidelity-box-img" src="{{ 'white-croco.png' | asset_url }}">
               <h2 class="fidelity-box-name">Confirmed - Level 2</h2>
             </div>
             <div class="fidelity-box-textcontent hidden">
               <div class="fidelity-box-points">15,000 points</div>
               <a href="/pages/lacoste-rewards" class="fidelity-box-current-text">Enjoy my rewards</a>
               <br /><br />
               <div class='fidelity-upgrade-note'></div>
               <!--                   <a class="fidelity-box-current-text link transformAction" data-url="" data-disable-replace="true" data-popin-mode="true">My points in detail</a> -->
               <!-- <span class="fidelity-box-current-timer hidden">Only <br>15,000 points to move up to level 2</span> -->
             </div>
             <div class="fidelity-box-recom">

              Purchase Php <span class="required-spent-2">XXXXX</span>
              <br>
              Before <span class="required-date">01/01/20</span> to
              <br>
              upgrade to <span class="required-level">level 3</span>
            </div>
             <div class="fidelity-box-exchange hidden">Php 15,000 = 15000 point</div>
           </div>
           <div id="fidelity-Gold" data-level="3" class="fidelity-box fidelity-Gold">
             <div class="vertical-center-content">
               <div class="fidelity-box-header">
                 <img class="fidelity-box-img" src="{{ 'icon_level3.png' | asset_url }}">
                 <h2 class="fidelity-box-name">Advanced - Level 3</h2>
               </div>
               <div class="fidelity-box-points">
                 From 40,000 points
               </div>
               <ul class="fidelity-box-text">
                 <div class="content-asset">
                   All the rewards of LEVEL 1, 2, plus:
                   <li>Loyalty Reward</li>
                   <li>Lacoste Events</li>
                   <li>Birthday Gift</li>
                 </div>
               </ul>
               <a href="/pages/le-club-lacoste" class="fidelity-box-more fidelity-box-current-text">learn more</a>
             </div>
             <div class="fidelity-box-header hidden">
               <img class="fidelity-box-img" src="{{ 'white-croco.png' | asset_url }}">
               <h2 class="fidelity-box-name">Advanced - Level 3</h2>
             </div>
             <div class="fidelity-box-textcontent hidden">
               <div class="fidelity-box-points">40,000 points</div>
               <a href="/pages/lacoste-rewards" class="fidelity-box-current-text">Enjoy my rewards</a>
               <br /><br />
               <div class='fidelity-upgrade-note'></div>
               <!--                   <a class="fidelity-box-current-text link transformAction" data-url="" data-disable-replace="true" data-popin-mode="true">My points in detail</a> -->
               <!-- <span class="fidelity-box-current-timer hidden">Only <br>15,000 points to move up to level 2</span> -->
             </div>
             <div class="fidelity-box-recom">

              Purchase Php <span class="required-spent-3">XXXXX</span>
              <br>
              Before <span class="required-date">01/01/20</span> to
              <br>
              upgrade to <span class="required-level">level 4</span>
            </div>
             <div class="fidelity-box-exchange hidden">Php 40,000 = 40000 point</div>
           </div>
           <div id="fidelity-VIP" data-level="4" class="fidelity-box fidelity-VIP">
             <div class="vertical-center-content">
               <div class="fidelity-box-header">
                 <img class="fidelity-box-img" src="{{ 'icon_level4.png' | asset_url }}">
                 <h2 class="fidelity-box-name">Legend - Level 4</h2>
               </div>
               <div class="fidelity-box-points">From 85,000 points</div>
               <ul class="fidelity-box-text">
                 <div class="content-asset">
                   All the rewards of LEVEL 1, 2, 3, plus:
                   <li>Loyalty Reward</li>
                   <li>La Loge: a Very Private Event</li>
                   <li>Birthday Gift</li>
                 </div>
               </ul>
               <a href="/pages/le-club-lacoste" class="fidelity-box-more fidelity-box-current-text">learn more</a>
             </div>
             <div class="fidelity-box-header hidden">
               <img class="fidelity-box-img" src="{{ 'white-croco.png' | asset_url }}">
               <h2 class="fidelity-box-name">Legend - Level 4</h2>
             </div>
             <div class="fidelity-box-textcontent hidden">
               <div class="fidelity-box-points">85,000 points</div>
               <a href="/pages/lacoste-rewards" class="fidelity-box-current-text">Enjoy my rewards</a>
               <br /><br />
               <div class='fidelity-upgrade-note'></div>
               <!--                   <a class="fidelity-box-current-text link transformAction" data-url="" data-disable-replace="true" data-popin-mode="true">My points in detail</a> -->
               <!-- <span class="fidelity-box-current-timer hidden">Only <br>15,000 points to move up to level 2</span> -->
             </div>
             <div class="fidelity-box-recom">
              Maintain to <span class="required-level">level 4</span>
            </div>
             <div class="fidelity-box-exchange hidden">Php 85,000 = 85000 point</div>
           </div>
         </div>
         <div class="swiper-pagination"></div>
      </section>

<style>
  .fidelity-box-recom {
    position: absolute;
    bottom: 15%;
  }
  .fidelity-box-recom {
    display: none;
  }
  .fidelity-box-current .fidelity-box-recom {
    display: block;
  }
  .fidelity-box:not(.fidelity-box-current):hover .fidelity-box-recom {
    display: none;
  }
</style>