<div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-crocoseries-story-2" data-layer="layer_story" data-tracking="">
    <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacoste-crocoseries-story-2-component" data-tracking="" data-theme="text-black">
       <div class="cell-14 order-1 order-m-0 offset-1 cell-m-25 offset-m-0">
            <div class="l-block l-relative">
                <div class="js-static-video-wrapper static-video-wrapper video-wrapper-desktop js-video l-overflow-hidden l-overlay is-background is-ready">
                    <video {% unless section.settings.desktop_poster %}autoplay muted loop{% endunless %} {% if section.settings.desktop_poster %}poster="{{ section.settings.desktop_poster | img_url: 'master' }}"{% endif %} playsinline="true" class="js-video-toggle l-block img-cover" src="{{ section.settings.desktop_video }}"></video>
        
                    <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                        <!---->
                        <button class="static-video-btn btn-play">
                            <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                            </svg>
                        <!---->
                        </button>
                        <!---->
                    </div>
                </div>
                <div class="js-static-video-wrapper static-video-wrapper video-wrapper-mobile js-video-mobile l-overflow-hidden l-overlay is-background is-ready">
                    <video {% unless section.settings.mobile_poster %}autoplay muted loop{% endunless %} playsinline="true" {% if section.settings.mobile_poster %}poster="{{ section.settings.mobile_poster | img_url: 'master' }}"{% endif %} class="js-video-toggle l-block img-cover" src="{{ section.settings.mobile_video }}"></video>
            
                    <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                        <!---->
                        <button class="static-video-btn btn-play">
                            <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                            </svg>
                        <!---->
                        </button>
                        <!---->
                    </div>
                </div>
            </div>
       </div>
       <div class="cell-8 padding-1 offset-2 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
          <div>
             <div class="l-vmargin--large">
                {% if section.settings.subtitle %}
                    <h3 class="overline ff-normal">{{ section.settings.subtitle }}</h3>
                {% endif %}
                {% if section.settings.title %}
                    <h2 class=" title--xlarge text-black">
                        {{ section.settings.title }}
                    </h2>
                {% endif %}
                {% if section.settings.text %}
                    <div class="text-grey fs--medium">
                        <div>
                            {{ section.settings.text }}
                        </div>
                    </div>
                {% endif %}
             </div>
             {% if section.settings.button_link %}
               <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="{{ section.settings.button_link }}" data-type="category">
                  {{ section.settings.button_label }}
               </a>
             {% endif %}
          </div>
       </div>
    </div>
 </div>