{%- comment -%}
Brand Block: A Place In The Sun - Beach Bag
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #b8b1a9">
    <div class="cell-11 cell-m-24 text-white">
      
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h2 class="title--medium">New Horizons</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">
            A new season lies ahead, a new collection is in sight: from sunny yellow color blocking to destructured navy lines on reversible polos, technical knits, and protective windbreakers. A wardrobe adapted to keep close to you and to take you far.
          </p>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ 'new-horizon-1.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ 'new-horizon-1.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{ 'new-horizon-2.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'new-horizon-2.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
        <picture class="img-fill-width">
          <source media="(min-width: 801px)" srcset="{{ 'new-horizon-3.jpg' | asset_img_url: 'master' }}">
          <img class="img-fill-width" src="{{ 'new-horizon-3.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
        </picture>
    </div>
    </div>
</article>