<div id="static-player" class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background js-pdp-brand-video is-loaded is-ready" data-src-desktop="{{ block.settings.bb_video }}" data-src-mobile="null" data-type="video/mp4" data-autoplay="true">
   <video playsinline="true" muted="true" class="js-static-video static-video l-block js-video-player" width="100%" height="auto" loop="true" autoplay="autoplay">
      <source data-desktop="{{ block.settings.bb_video }}" data-mobile="{{ block.settings.bb_video }}" type="video/mp4">
   </video>
   <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
      <!---->
      <button class="static-video-btn btn-play">
         <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
         </svg>
         <!---->
      </button>
      <!---->
   </div>
   <div class="js-video-poster l-overlay poster">
      <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
         <picture class="pict img-cover img-cover--top l-block lazyload">
            <source media="(max-width: 767px)" data-srcset="{{ block.settings.bb_vidbg | img_url: '244x' }} 244w,{{ block.settings.bb_vidbg | img_url: '295x' }} 295w,{{ block.settings.bb_vidbg | img_url: '524x' }} 524w" sizes="(max-width: 320px) 244px,(min-width: 321px) and (max-width: 375px) 244px,(min-width: 376px) and (max-width: 414px) 295px,(min-width: 415px) and (max-width: 767px) 524px">
            <source media="(min-width: 768px)" data-srcset="{{ block.settings.bb_vidbg | img_url: '524x' }} 524w,{{ block.settings.bb_vidbg | img_url: '640x' }} 640w,{{ block.settings.bb_vidbg | img_url: '732x' }} 732w,{{ block.settings.bb_vidbg | img_url: '865x' }} 865w,{{ block.settings.bb_vidbg | img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 524px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 732px,(min-width: 1367px) and (max-width: 1680px) 865px,1024px">
            <img alt="null" width="100%" height="auto" data-src="{{ block.settings.bb_vidbg | img_url: '' }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
         </picture>
      </div>
      <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
         </svg>
      </div>
   </div>
   <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center">
      <svg class="loader-icon">
         <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
      </svg>
   </div>
</div>