{%- comment -%}
Brand Block: A Place In The Sun - G80
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #1F2E25">
    <div class="cell-11 cell-m-24 text-white">
     
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h3 class="l-vmargin--small overline ff-normal">THE AUTHENTIC ENDORSEMENT</h3>
            <h2 class="title--medium">The G80 Sneakers</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">Are you looking for: a pair of authentic sneakers that give meaning to your style and your personality? Discover the Lacoste G80 sneakers, combining tennis heritage and streetwear inspiration. OG (original) sneakers: initially designed for performance in 1987, the G80 tennis shoes rewrites codes with you in mind. Original sporty details: the “Lacoste Tennis” label, the “L” from the archive printed on the inner sole and an iconic signature tag in silicone are proof of timeless authenticity. A vintage silhouette: in nubuck leather an contrasting fabric, the G80 sneakers affirm their truth with aplomb, while respecting your individuality. Perfect for expressing who you are.</p>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ 'pdp-g80-2.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ 'pdp-g80-2.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{ 'pdp-g80-1.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'pdp-g80-1.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{  'pdp-g80-3.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'pdp-g80-3.jpg' | asset_img_url: 'master'}}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
    </div>
</article>