{%- comment -%}
Brand Block: National Geographic
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #FFFFFF">
    <div class="cell-11 cell-m-24 text-white">
      
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h3 class="l-vmargin--small overline ff-normal text-black">Celebrating the beauty of the natural world </h3>
            <h2 class="title--medium text-black">Lacoste and National Geographic</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18 text-black">Lacoste and National Geographic collaborate on a collection inspired by the Photo Ark. Led by photographer Joel Sartore, the project has documented more than 10,000 species.  This exclusive collection combines Lacoste's timeless silhouettes and celebrated fits with the rich, majestic colors and patterns found in the animal kingdom. Four animals are showcased for their vibrant stories and exceptional beauty: the Grévy's Zebra, the Green and Black Poison Dart Frog, the Halloween Pennant Dragonfly, and the Jaguar. </p>
          <a href="/pages/national-geographic-f20" class="fs--medium text-black nat-geo-link">Discover</a>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ '02-Nat-Geo-Libellule.jpg' | asset_img_url: 'master' }}">
            <source media="(max-width: 801px)" srcset="{{ '02-Nat-Geo-Mobile.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ '02-Nat-Geo-Libellule.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
            <picture class="img-fill-width">
                <source media="(min-width: 801px)" srcset="{{ '01-Nat-Geo-Grenouille.jpg' | asset_img_url: 'master' }}">
                <source media="(max-width: 801px)" srcset="{{ '01-Nat-Geo-Mobile.jpg' | asset_img_url: 'master' }}">
                <img class="img-fill-width" src="{{ '01-Nat-Geo-Grenouille.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
            <picture class="img-fill-width">
                <source media="(min-width: 801px)" srcset="{{ '04-Nat-Geo.jpg' | asset_img_url: 'master' }}">
                <source media="(max-width: 801px)" srcset="{{ '04-Nat-Geo-Mobile.jpg' | asset_img_url: 'master' }}">
                <img class="img-fill-width" src="{{ '04-Nat-Geo.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
    </div>
</article>