{%- comment -%}
Brand Block: SS21LoopPolo
{%- endcomment -%}
<div class="lacoste-container-fluid brand-block-container brand-block-new-classic-polo cell-25 padding-1">

    <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-12">
        <div class="lacoste-col-inner lacoste-col-text-center lacoste-col-text-container">
          <h6>Join the loop</h6>
          <h2>The Loop Polo</h2>
          <p>A classic polo is good. A classic polo made out of recycled cotton is even better.</p>          
        </div>
       </div>
  	</div>
  
   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner">
         <img src="{{'PDP-Push-Desk-01.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
         <img src="{{'PDP-Push-Mob-01.jpg' | asset_url}}" alt="" class="lacoste-mobile-show">          
        </div>
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6">
          <div class="lacoste-col-inner-wrap lacoste-col-text-wrap-middle">
           	<div class="lacoste-col-text-middle">
              <div class="lacoste-col-text-inner-middle">
	               <div class="lacoste-col-text-container">
                      <h6>New life</h6>
                      <h2>More than meets the eye</h2>
                      <p>A sustainable alternative to Lacoste's iconic polo shirt, the Loop Polo is made out of 30% recycled cotton. This raw material made out of shirts with small manufacturing defects allows Lacoste to integrate surplus stock back into the production cycle and better protect the environment. Thanks to the Loop Polo we've come full circle.</p>          	
                      <br/>
	                </div>
                  <img src="{{'PDP-Push-Desk-02.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
                  <img src="{{'PDP-Push-Mob-02.jpg' | asset_url}}" alt="" class="lacoste-mobile-show">                
             </div>
            </div>
          </div>
      </div>
   </div>
  
   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner-wrap lacoste-col-text-wrap-middle">
         <div class="lacoste-col-text-middle">
           	<div class="lacoste-col-text-inner-middle lacoste-col-text-container"> 
                <h6>Singular threads</h6>
                <h2>Consciously Lacoste</h2>
                <p>Available in heather grey or midnight blue, each Loop Polo features its own unique petit piqué effect due to fibres made from shirts in a range of different colours. As always, the crocodile can be found in its usual spot at the heart,  this time made out of recycled polyester. </p>
           	</div>
          </div>
        </div>
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner">
         <img src="{{'PDP-Push-Desk-03.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
         <img src="{{'PDP-Push-Mob-03.jpg' | asset_url}}" alt="" class="lacoste-mobile-show">
        </div>
      </div>       
   </div>

</div>