{%- comment -%}
Brand Block: A Place In The Sun - Made In France
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #C4A57C">
    <div class="cell-11 cell-m-24 text-white">
     
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h3 class="l-vmargin--small overline ff-normal">LIGHT ON… ALL TONES</h3>
            <h2 class="title--medium">The made in France polo</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">
            Did you know that colours influence your daily mood? Thanks to an innovative production technique, these three polos, woven and tinted at the same time, vibrate with positive vibrations. You only have to choose the colour which you need most this season:
            <br>
            <br>
            - Make a luminous entrance: naturally optimistic and warm, yellow attracts sympathy and livens the spirits of those who wear it and see it.
            <br>
            <br>
            - Boost your energy: colour of ambition and vitality, red symbolises action and passion, whatever your area of predilection.
            <br>
            <br>
            - Recentre yourself: fulfilment, calm, dreams... Blue is a soothing colour that invites you to relax and favours inspiration.
          </p>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ 'pdp-polomadeinfrance-2.jpg.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ 'pdp-polomadeinfrance-2.jpg.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{ 'pdp-polomadeinfrance-1.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'pdp-polomadeinfrance-1.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{  'pdp-polomadeinfrance-3.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'pdp-polomadeinfrance-3.jpg' | asset_img_url: 'master'}}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
    </div>
</article>