{%- comment -%}
Brand Block: Chinatown
{%- endcomment -%}
<article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style="background-color: #a3c2d4">
    <div class="cell-11 cell-m-24 text-white">
      
        <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
          <div class="l-vmargin--small">
            <h3 class="l-vmargin--small overline ff-normal"></h3>
            <h2 class="title--medium">Lacoste x Chinatown Market</h2>
          </div>
          <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">
            Following their graffitied polos at Hypefest 2018, Lacoste and the Chinatown Market label have created a new collection in the highest spheres of the 90s. <br><br>
            Universal prints: an XXL crocodile lying in wait or the planetary motif sequence, as symbols that speak to everybody. <br><br>
            In superposition: a polo shirt over a long-sleeved turtleneck, or a wide short-sleeved shirt open over a t-shirt, 90s style always sees things in full. <br><br>
            Colour codes: lemon yellow or intense violet, bitumen black or optical white, remember, 90s style works contrasts of vivid colours and neutral tones for subtle impact.</p>
        </div>

      <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
          <picture class="img-fill-width">
            <source media="(min-width: 801px)" srcset="{{ 'Chinatown-PdpPush-Img2.jpg.jpg' | asset_img_url: 'master' }}">
            <img class="img-fill-width" src="{{ 'Chinatown-PdpPush-Img2.jpg.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
          </picture>
      </div>
    </div>
    <div class="cell-13 cell-mt-14 cell-m-25">
      <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
        <div class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background l-overlay is-loaded is-ready" data-src-desktop="{{ 'Chinatown-PdpPush-Img1.mp4' | file_url }}" data-src-mobile="{{ 'Chinatown-PdpPush-Img1.mp4' | file_url }}" data-type="video/mp4" data-autoplay="true" data-background="true">
            <video playsinline="true" muted="true" class="js-static-video static-video l-block img-cover" width="100%" height="auto" loop="true" autoplay="autoplay">
               <source data-desktop="{{ 'Chinatown-PdpPush-Img1.mp4' | file_url }}" data-mobile="{{ 'Chinatown-PdpPush-Img1.mp4' | file_url }}" type="video/mp4">
            </video>
            <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
               <!---->
               <button class="static-video-btn btn-play">
                  <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                  </svg>
                  <!---->
               </button>
               <!---->
            </div>
            <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center">
               <svg class="loader-icon">
                  <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
               </svg>
            </div>
        </div>
      </div>
      <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
            <picture class="img-fill-width">
              <source media="(min-width: 801px)" srcset="{{ 'Chinatown-PdpPush-Img3.jpg' | asset_img_url: 'master' }}">
              <img class="img-fill-width" src="{{ 'Chinatown-PdpPush-Img3.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
            </picture>
      </div>
    </div>
</article>