{% comment %} Width of results box {% endcomment %}
{% assign results_box_width = '242px' %}
{% comment %} Background color of results box {% endcomment %}
{% assign results_box_background_color = '#ffffff' %}
{% comment %} Border color of results box {% endcomment %}
{% assign results_box_border_color = '#d4d4d4' %}

<script>
  document.addEventListener("DOMContentLoaded", function() {
    $(function() {
      $('.search-box-clear').click(function(e){
        $('#global-search-form input[name="q"]').val('');
        $('#wo-results,#w-results').hide();
        $('#product-search-results').children().fadeOut(function(){
          $(this).remove();
        });
      });

      // Current Ajax request.
      var currentAjaxRequest = null;
      // Grabbing all search forms on the page, and adding a .search-results list to each.
      var searchForms = $('form#global-search-form').css('position','relative').each(function() {
        // Grabbing text input.
        var input = $(this).find('input[name="q"]');
        // Adding a list for showing search results.
        var offSet = input.position().top + input.innerHeight();
        $('<ul class="search-results"></ul>').css( { 'position': 'absolute', 'left': '0px', 'top': offSet } ).appendTo($(this)).hide();    
        // Listening to keyup and change on the text field within these search forms.
        input.attr('autocomplete', 'off').on('keyup', function() {
          var search_pause = 0;
          if (input.val() != input.data(this, "lastvalue")) {
            $('#loader-header').fadeIn();
            $('#w-results').hide();
            $('#wo-results').hide();
            $('#product-search-results').html('');
          }
          
          // What's the search term?
          var term = $(this).val();
          // What's the search form?
          var form = $(this).closest('form');
          // What's the search URL?
          var searchURL = '{{ shop.url }}/search?view=json&type=product&q=' + term;
          var searchPageURL = '{{ shop.url }}/search?q=' + term + '&type=product';
          // What's the search results list?
          // var resultsList = form.find('.search-results');
          var resultsList = $('#product-search-results');
          // If that's a new term and it contains at least 3 characters.
          if (term.length > 2 && term != $(this).attr('data-old-term')) {
          // Saving old query.
          $(this).attr('data-old-term', term);
          // Killing any Ajax request that's currently being processed.
          if (currentAjaxRequest != null) currentAjaxRequest.abort();
          // Pulling results.
          currentAjaxRequest = $.getJSON(searchURL, function(data) {
          // Reset results.
          resultsList.empty();
          //Filter item GWP and OOS
          var no_gwp = data.results.filter(item => !item.tags.includes('GWP')),
              f_results = no_gwp.filter(item => item.availability);
          $('#loader-header').fadeOut();
          // If we have no results.
          if(f_results.length == 0) {
          // resultsList.html('<li><span class="title">No results.</span></li>');
          // resultsList.fadeIn(200);
            $('#w-results').hide();
            $('#wo-results').fadeIn();
            $('.s-query').text(term);
            resultsList.hide();
          } else {
            $('#w-results').fadeIn();
            $('#wo-results').hide();
            // The Ajax request will return at the most 10 results.
            $('#result-count').text(data.results_count);
            $('.s-query').text(term);
            // If we have results.
            $.each(f_results, function(index, item) {
            
              var link = $('<a class="productTile isLoaded"></a>').attr('href', item.url);
              var alt_thumb = (item.alt_thumb) ? '<img class="rover" src="'+item.alt_thumb+'">' : '' ;
              var images = $('<div class="images loaded"><img class="main" src="' + item.thumbnail + '" />'+ alt_thumb +'</div>');
              link.append(images);
              var colors = '';
              if(item.colors > 1){
                colors = '+ '+item.colors;
                colors += (item.colors == 1) ? ' color' : ' colors';
              }
              var stringPrice = '';
              if(parseInt(item.compare_at_price) > parseInt(item.price)){
                stringPrice = `<span class="price-initial">₱${item.price}</span> <span class="strikethrough text-grey-light">₱${item.compare_at_price}</span>`
              }else {
                stringPrice = `<span class="price-initial">₱${item.price}</span>`
              }
              var description = '<div class="description"><div class="description-left"><p class="product-title">'+item.title+'</p><span class="track-data" data-productname="'+item.title+'" ></span></div>'+
                  '<div class="description-right"><div class="price" data-uprice="" data-currency-code="">'+
                  '<div>'+stringPrice+'<br></div></div></div>'+
                  '<span class="product-colors"><ul class="product-colors"><div class="colors more">'+colors+'</div></ul></span></div>'
              link.append(description);
              resultsList.append(link);
            });
            // If there are more than 10, let's link to the search results page.
            if(data.results_count > 10) {
              resultsList.append('<div class="w-100 text-center"><span class="title"><a href="' + searchPageURL + '">See all results (' + data.results_count + ')</a></span></div>');
            }
            resultsList.fadeIn(200);
          }        
                                                                                     });
    }
      });
     
  });
  // Clicking outside makes the results disappear.
  $('body').bind('click', function(){
    $('.search-results').hide();
  });
  });
  })
</script>

<!-- Some styles to get you started. -->
<style>
  .search-results {
    z-index: 8889;
    list-style-type: none;   
    width: {{ results_box_width }};
    margin: 0;
    padding: 0;
    background: {{ results_box_background_color }};
    border: 1px solid {{ results_box_border_color }};
    border-radius: 3px;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  .search-results li {
    display: block;
    width: 100%;
    height: 38px;
    margin: 0;
    padding: 0;
    border-top: 1px solid {{ results_box_border_color }};
    line-height: 38px;
    overflow: hidden;
  }
  .search-results li:first-child {
    border-top: none;
  }
  .search-results .title {
    float: left;
    width: {{ results_box_width | remove: 'px' | to_number | minus: 50 }}px;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    /* The text-overflow property is supported in all major browsers. */
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-align: left;
  }
  .search-results .thumbnail {
    float: left;
    display: block;
    width: 32px;
    height: 32px;    
    margin: 3px 0 3px 3px;
    padding: 0;
    text-align: center;
    overflow: hidden;
  }
</style>