<!-- <div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {% form 'reset_customer_password' %}

            <h1 class="text-center">{{ 'customer.reset_password.title' | t }}</h1>

            <p class="text-center">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

            {%- if form.errors -%}
              <div class="form-message form-message--error">
                {{ form.errors | default_errors }}
              </div>
            {%- endif -%}

            <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">

            <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">

            <input type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
          {% endform %}
        </div>

      </div>
    </div>
  </div>
</div> -->



<section class="login clearfix">
  <div class="slider slider-model-1">
    <div class="swiper-container not-a-swiper" data-id="0">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-inner">
            <div class="slider-text only-title">
              <h1 class="page-title">Reset your password</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix">
    {% form 'reset_customer_password' %}
      <section class="form form-sign-in">
        <h3 class="title-15">
          Hello again,

          {{ 'customer.reset_password.subtext' | t : email: email }}
<!--           , Please enter your new password. -->
          <br>
          <small>For security reasons, your password must contain at least 6 characters, combining upper and lowercase, and numbers.</small>
        </h3>
        <div class="form-item form-item-full">
          <label for="register-password">Choose your password
            <abbr title="this field is required">*</abbr> :</label>
          <input id="register-password" type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" data-error-required="Password is required" data-error-length="For security reasons, your password must contain at least 6 characters, combining upper and lowercase, and numbers." required="" aria-required="true">
        </div>
        <div class="form-item form-item-full">
          <label for="register-passwordconfirm">Confirm your password
            <abbr title="this field is required">*</abbr> :</label>
          <input id="register-passwordconfirm" type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}" data-error-required="Password confirmation is required" data-error-equalto="The confirmation of your password is different from your original password" required="" aria-required="true">
        </div>
        <div class="form-item password-strength">
          <label>SECURITY LEVEL :</label>
          <span class="security-level">
            <strong class="lvl-4"></strong>
          </span>
          <p>At least 1 number and one capital letter</p>
        </div>
        <div class="form-item form-item-half block">
<!--           <button class="btn btn-secondary" >save my new password</button> -->
          <input class="btn btn-secondary" type="submit" class="btn text-center" value="{{ 'customer.reset_password.submit' | t }}">
        </div>
      </section>
    {% endform %}
    <div class="required-field-note">* required field</div>
  </div>
</section>