{% layout none %}

<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  <title>
    {{ shop.name }} &ndash; {{ 'general.password_page.opening_soon' | t }}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}


  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>

  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  <script src="{{ 'password.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}

  {% render 'shogun-head' %}
</head>

<body class="template-password">
  <div class="password-page">

    <div class="password-main" role="main" style="display: none">
      <div class="password-main__inner">
        {{ content_for_layout }}
      </div>
    </div>
    <div style="margin: 0 10px">
      <div style="width: 100%; text-align: center; padding-top: 50px;">
         <div style="max-width: 800px; padding: 0 10px; margin: 10px auto">
            <img style="margin: 20px 0;" src="{{ 'logo-maint.png' | asset_url }}">

            <div style="color: #00532e; font-size: 250%; font-weight: bold; margin-bottom: 15px">WE'RE SPRING CLEANING!</div>

            <p style="margin-bottom: 10px; color: #004224">We are currently updating our site for a better shopping experience!</p>
            <p style="margin-bottom: 10px; color: #004224">If you have placed an order, please expect delays in processing and deliveries due to nationwide community quarantine conditions. Thank you for your understanding!</p>
            <p style="margin-bottom: 10px; color: #004224">For any concerns about your order and/or other inquiries, you may reach us at custserv@lacoste.com.ph or +632 8830 5000.</p>
         </div>
      </div>
    <div>


  </div>

  <script>
    var theme = {
      strings: {
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      }
    }
  </script>

</body>
</html>
