<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  {%comment%}
<!--   {% if template contains 'store' %} 
  <script nomodule src="{{ 'ie-polyfill.js' | asset_url }}"></script>
  <script src="{{ 'frameworks.min.js' | asset_url }}"></script>
  <script src="{{ 'Bootstrap.js' | asset_url }}" async></script>
  <link rel="preload" href="{{ 'croco.js' | asset_url }}" as="script" crossorigin />
  <link rel="preload" href="{{ 'config.js' | asset_url }}" as="script" crossorigin />
  <link rel="preload" href="{{ 'css-variables.js' | asset_url }}" as="script" crossorigin />
  <link rel="preload" href="{{ 'loader.js' | asset_url }}" as="script" crossorigin />
  <link rel="preload" href="{{ 'popin.js' | asset_url }}" as="script" crossorigin />
  <link rel="preload" href="{{ 'event-tracker.js' | asset_url }}" as="script" crossorigin />
  <link rel="preload" href="{{ 'header-transparent.js' | asset_url }}" as="script" crossorigin />

  <script src="{{ 'vendors-critical.min.js' | asset_url }}"></script>
  <script src="{{ 'dynamic-yield.js' | asset_url }}"></scri
  <script src="{{ 'critical.fallback.js' | asset_url }}"></script>pt>
  <script src="{{ 'critical.js' | asset_url }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOnSvYnH3RqC07mMPbcNBKHvCQFYTH0RU&libraries=places"></script>
<script src="js/mapScript.js"></script>
  {% endif %} -->{%endcomment%}
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  

  <link rel="apple-touch-icon" sizes="180x180" href="{{ "apple-touch-icon.png" | asset_url }}" />
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | asset_url }} " />
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | asset_url }}" />


  {%- capture seo_title -%}
    {%- if template == 'search' and search.performed == true -%}
      {{ 'general.search.heading' | t: count: search.results_count }}: {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {%- else -%}
      {{ page_title }}
    {%- endif -%}
    {%- if current_tags -%}
      {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {%- endif -%}
    {%- if current_page != 1 -%}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {%- endif -%}
    {%- assign escaped_page_title = page_title | escape -%}
    {%- unless escaped_page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  {%- endcapture -%}
  <title>{{ seo_title | strip }}</title>
<script>
  var loggedin = {%if customer%}true{%else%}false{%endif%};
  var register = (document.referrer.indexOf('register') > -1) ? true : false;
  var challenge = (document.referrer.indexOf('challenge') > -1) ? true : false;
  if((challenge || register) && loggedin){
    location.href = '{{ shop.url }}/account';
  }
  </script>
  
  
  
  {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}

  {% include 'social-meta-tags' %}

<!--   {{ 'theme.scss.css' | asset_url | stylesheet_tag }} -->
 
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  {{ 'fonts.css' | asset_url | stylesheet_tag }}
  {{ 'main.min.css' | asset_url | stylesheet_tag }}
  
  {% if template contains 'lacoste-contact' or template contains 'account' or template contains 'l-reward' %}{{ 'page-my-account-fid-lecourt.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'privacy' or template contains 'faq' or template contains 'cgv' or template contains 'newsletter-signup' or template contains 'polo-re-edition' or template contains 'terms' %}{{ 'page-text.css' | asset_url | stylesheet_tag }}{% endif %}
  {{ 'critical.css' | asset_url | stylesheet_tag }}
  {% if template contains 'index' %}
  {{ 'home-critical.css' | asset_url | stylesheet_tag }}
  {{ 'home-non-critical.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if template contains 'find-store' %} 
  {{ '_responsive-css.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if template contains 'product' %}
  {{ 'pdp-critical.css' | asset_url | stylesheet_tag }}
  {{ 'pdp-non-critical.css' | asset_url | stylesheet_tag }}
  {{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
  
  {% endif %}
  {% if template contains 'cart' %}{{ 'cart.css' | asset_url | stylesheet_tag }}{{ '_login.scss.css' | asset_url | stylesheet_tag }}{{ '_shipment.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains '404' %}{{ 'page-404.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'about-landing' %}{{ 'richmenu-landings.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'about-lacoste' or template contains 'novak-djokovic-collection' or template contains 'l-autumn-2019' or template contains 'l-march-content' or template contains 'l-keith-haring' %}{{ 'modularcontent.min.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'rene-lacoste' or template contains 'lacoste-history' or template contains 'lacoste-style' or template contains 'savoir' or template contains 'lacoste-sport' or template contains 'l-catalog' or template contains 'timeless-elegance' or template contains 'leclublacoste' or template contains 'cool-polo' %}
  {{ 'modularcontent.min.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if template contains 'sizeguide' %}{{ 'size-chart.css' | asset_url | stylesheet_tag }}{% endif %}
  {{ 'non-critical.css' | asset_url | stylesheet_tag }}
  {{ 'style-overrides.scss.css' | asset_url | stylesheet_tag }}
  {% if template contains 'account' %}{{ 'page-my-order-fid.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'account' %}{{ 'select2.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'store' %}{{ 'storelocator.css' | asset_url | stylesheet_tag }} {{ 'storefind-css.scss.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'polo-re-edition' %}{{ 'global.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'polo-re-edition' %}{{ 'swiper.min.css' | asset_url | stylesheet_tag }}{% endif %}
  {% if template contains 'password_recover' %}{{ 'lost-password.scss.css' | asset_url | stylesheet_tag }}{{ '_base.scss.css' | asset_url | stylesheet_tag }}{% endif %}
  {{ '_helper.scss.css' | asset_url | stylesheet_tag }}
  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T4VVKFV');</script>
  
  
  
  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        regularPrice: {{ 'products.product.regular_price' | t | json }},
        sale: {{ 'products.product.on_sale' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }},
        newWindow: {{ 'general.accessibility.link_messages.new_window' | t | json }},
        external: {{ 'general.accessibility.link_messages.external' | t | json }},
        newWindowExternal: {{ 'general.accessibility.link_messages.new_window_and_external' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>


  {%- if template.directory == 'customers' -%}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
  {%- endif -%}

<!--   <script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script> -->
  <script src="{{ 'vendor.js' | asset_url }}"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {{ content_for_header }}
  
   {% include 'bc-sf-filter-style' %}
  {{ '_video.scss.css' | asset_url | stylesheet_tag }}
  {{ '_plp.scss.css' | asset_url | stylesheet_tag }}
  {{ 'plp-critical.css' | asset_url | stylesheet_tag }}
  {{ 'plp-non-critical.css' | asset_url | stylesheet_tag }}
  {{ 'products-list.css' | asset_url | stylesheet_tag }}
<!-- End Google Tag Manager -->

  {% render 'shogun-head' %}
</head>

<body class="template-{{ template | split: '.' | first }} reveal">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T4VVKFV"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  
  {% include 'sprite' %}

  {% include 'l-header' %}
  <main role="main" class="main-container">
    <section class="page-section">
      {{ content_for_layout }}
    </section>
  </main>
  {% include 'bc-sf-filter' %}
  {% include 'l-footer' %}
  {% if template contains 'product' %}{% include 'l-pdp-popins' %}{% endif %}
  {% include 'l-search-popin' %}
  <script src="{{ 'plugins.js' | asset_url }}"></script>
  <script src="{{ 'l-custom.js' | asset_url }}"></script>  
  <script src="{{ 'l-custom2.js' | asset_url }}"></script>
{% if template contains 'find-store' %}<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOnSvYnH3RqC07mMPbcNBKHvCQFYTH0RU&libraries=places,geometry"></script>
<script type="text/javascript">window.m = ["{{ 'm1.png' | file_url }}","{{ 'm2.png' | file_url }}","{{ 'm3.png' | file_url }}","{{ 'm4.png' | file_url }}","{{ 'm5.png' | file_url }}"];window.crocgrey="{{ 'croco_grey.png' | file_url }}";</script>
{{ 'markerCluster.js' | asset_url | script_tag }}
{{ 'store-coordinates.js' | asset_url | script_tag }}
{%endif%}
  
  {% if template contains 'product' %}
  {{ 'jquery.magnific-popup.js' | asset_url | script_tag }}
  {% endif %}

  
{% if template contains 'rene-lacoste' or template contains 'lacoste-savoir-faire' or template contains 'timeless-elegance' or template contains 'lacoste-history' %}
  <script src="https://player.vimeo.com/api/player.js"></script>
  <script src="{{ 'vimeoVid.js' | asset_url }}"></script>
{%endif%}
  {% include 'search-autocomplete' %}


{% include 'special-offers' %}

</body>
</html>
