{% if customer %}
  <div class="container-category page-section " data-products-count="886">
    <section class="l-vspaced-row-half">
      <div class="l-relative">
        <div class="l-relative flex flex--centered text-center title--large ff-bold">
          <h1 class="upper-case">{{ collection.title }}</h1>
          <span class="parenthesis js-products-number"></span>
        </div>
        <div class="col-title-desc">{{ collection.description }}</div>

      </div>
    </section>
    
    <input type="hidden" class="categoryId" value="Lacoste_Sale_GB_Men" />

      <div class="l-relative">
        <form class="js-filters-form cell-23 offset-1">
          <div id="bc-sf-filter-tree-h"></div>
          <div id="bc-sf-filter-tree-mobile"></div>
          <div id="bc-sf-filter-top-sorting" class="toolbar-sorter sorter"></div>
    <!--     <div id="bc-sf-filter-tree" class="h"></div> -->
          <div class="filters cell-23">
            <div id="bc-sf-filter-tree" class="h"></div>
            {% capture pageTemp %}{{ template }} {% endcapture %}
            {% if template == 'search' %}
            <div> <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</span> </div>
            {% endif %}
            
          </div>
          <div id="default-swatch" style="display: none;">{{ 'swatch-red.png' | file_img_url: '25x' }}</div>
        
          <div class="fs--medium cell-23 offset-1 l-vmargin--medium">
          </div>
        </form>
      </div>

      <div class="js-products-list" data-nbproduct="885">
        <ol id="bc-sf-filter-products" class="grid">
          {%comment%}
            <script type='application/json' class='bold-product-json'>{{ product | json }}</script>
          	Product list
          {%endcomment%}
        </ol>
      </div>

      <div id="bc-sf-filter-bottom-pagination"></div>
  </div>

  {% include 'l-breadcrumbs' %}

{% else %}

    <section class="private-collection" {%- if section.settings.guest_bg_img != blank -%}
              style="background-image: url({{ section.settings.guest_bg_img | img_url:'master' }});" {%- endif -%}>
      <div class="guest-message">

        {% if section.settings.guest_title != blank %}
          <h4 class="guest-title">
            {{ section.settings.guest_title }}
          </h4>
        {% endif %}

        {% if section.settings.guest_message != blank %}
            <div class="col-title-desc text-center" 
                  style="font-size: {{ section.settings.guest_message_font_size }}px;">
              {{ section.settings.guest_message }}
            </div>
        {% endif %}
        
        <div class="text-center">
          <a href="/account/login" class="btn-login">Log in</a>
        </div>

      </div>
    </section>
    
{% endif %}

{% if customer.tags contains 'Le Club' %}          
	{% assign customTag = true %}
{% else %}
	{% assign customTag = false %}
{% endif %}

<script>
  // Declare bcSfFilterConfig variable
  var bcSfFilterConfig = {};
  bcSfFilterConfig.label = {
      refine: "Now Shopping By",
      refine_mobile: "Filter",
      clear: "Clear",
      clear_all: "View All",
      apply: "Apply",
      breadcrumb_home: {% if product_filter_search.breadcrumb_home != blank %} {{ 'product_filter_search.breadcrumb_home' }}" {% else %} "Home" {% endif %},
      load_more: "Load more Products",
      sale: "On Sale",
      sold_out: "Sold Out",
      show_limit: "Show",
      sorting: "Sort By",
      sorting_best_selling: "Best Selling",
      sorting_featured: "Featured",
      sorting_title_ascending: "Product Name, A-Z",
      sorting_title_descending: "Product Name, Z-A",
      sorting_price_ascending: "Price - Low to High",
      sorting_price_descending: "Price - High to Low",
      sorting_date_ascending: "Newest",
      sorting_date_descending: "Date, New to Old",
      sorting_sale_descending: "% Off",
      sorting_relevance: "Relevance",
      search_general_title: 'Search',
      search_result_header: {% raw %}'Search Results for "{{ terms }}"'{% endraw %},
      search_result_empty: {% raw %}'Your search for "{{ terms }}"" didn\'t match any results'{% endraw %},
      search_result_number: {% raw %}'Showing {{ count }} results for "{{ terms }}"'{% endraw %}

  };

  bcSfFilterConfig.boldPrice = {
    cusTag: {{ customTag }}
  }
</script>


<style>
  .bc-sf-filter-clear,
  .bc-sf-filter-clear-all {
    display:none !important;
  }
  #bc-sf-filter-products #bc-sf-filter-message {
    margin: 0px auto;
  }
  #bc-sf-filter-tree .bc-sf-filter-selection-wrapper .bc-sf-filter-selected-items {
    display: flex;
  }
  #bc-sf-filter-tree .bc-sf-filter-selection-wrapper .bc-sf-filter-selected-items .selected-item {
    margin-right: 10px;
  }
  #bc-sf-filter-tree.h {
    width: 100%;
  }
  .js-filters-form .filters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  }
  #bc-sf-filter-top-sorting {
    position: absolute;
    top: 0px;
    right: 0px;
  }
</style>

{% schema %}
{
  "name":  "Private Sale Collection",
  "class": "private-sale",
  "settings": [
    {
      "type": "header",
      "content": "Guest Settings"
    },
    {
      "type": "text",
      "id": "guest_title",
      "label": "Guest title",
      "info": "This message will be shown for customers that aren't login"

    },
   {
     "type": "richtext",
     "id": "guest_message",
     "label": "Guest message",
     "default": "<p></p>"
   },
   {
     "type": "range",
     "id": "guest_message_font_size",
     "label": "Font size",
     "unit": "px",
     "min": 10,
     "max": 40,
     "step": 2,
     "default": 14
   },
   {
     "type": "image_picker",
     "id": "guest_bg_img",
     "label": "Background Image"
   }
  ]
}
{% endschema %}