<div class="js-mcontent-strate mcontent-strate mcontent-bigfour l-vmargin-half-row " id="ModularContent_Strate_BigFour_EventsFW18_Sale20181219">
  <h2 class="js-strate-title offset-1 title--xlarge l-padding--small">{{ section.settings.title }}</h2>
  <div class="grid">
    {%- for block in section.blocks -%}
    {% assign col = collections[block.settings.collection] %}
    <a class="l-relative cell-11 offset-1 offset-mt-0 cell-mt-25 l-vmargin-row-1" href="{{ block.settings.block_link }}" data-tag-id="homepage.promotionClick" data-replace="">
      <picture class="img-fill-width">{% capture imgurl %}{{ block.settings.cell_image | img_url: 'master' }}{% endcapture %}
        <source media="(max-width: 800px)" data-srcset="{{ block.settings.mob_image | img_url: 'master' }}">
        <source media="(min-width: 801px)" data-srcset="{{ block.settings.desk_image | img_url: 'master' }}">
        <img class="img-fill-width lazyload" data-src="{{ block.settings.desk_image | img_url: 'master' }}" alt="" width="100%" height="auto"/>
      </picture>
      <div class="l-overlay l-vspaced-row-2 flex flex--col flex--justify-end padding-1 padding-mt-2 flex--align-start">
        <h3 class="title--medium ff-bold text-white l-margin-text cell-5 cell-mt-19 l-vmargin--medium">{{ block.settings.box_title }}</h3>
        <span class="btn-cta btn--transparent no-flex--shrink l-vmargin--medium btn--icon">
          <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
          </svg>
        </span>
      </div>
    </a>
    {%- endfor -%}
  </div>
</div>


{% schema %}
{
  "name": "Collections Grid",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Lacoste Universes"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Collection Slides",
      "settings": [
        {
          "type": "image_picker",
          "id": "desk_image",
          "label": "Desktop Image"
        },
		{
          "type": "image_picker",
          "id": "mob_image",
          "label": "Mobile Image"
        },
        {
          "type": "url",
          "id": "block_link",
          "label": "Link to"
        },
		{
          "type": "text",
          "id": "box_title",
          "label": "Box Title"
        }
      ]
    }
  ]
}
{% endschema %}
