{% if section.settings.image != blank and section.settings.text != blank and section.settings.button_label != blank %}
<div class="js-modular-layer modular-layer l-relative " id="lacosteinside-collabs-story" data-layer="layer_story" data-tracking="">
    <div class="js-modular-push grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacosteinside-collabs-story-component-story" data-tracking="" data-theme="text-black">
       <div class="cell-11 cell-m-25 offset-m-0">
        <div class="l-block l-relative l-ratio--1" data-tracking="">
            <div class="js-lazyload-wrapper with-placeholder l-overlay">

               <picture class="pict img-cover img-cover--center lazyloaded">
                  <source media="(max-width: 767px)" 
                   data-srcset="{{ section.settings.mobile_image | img_url: '320x' }}?imwidth=320&amp;impolicy=custom 320w, {{ section.settings.mobile_image | img_url: '375x' }}?imwidth=375&amp;impolicy=custom 375w, {{ section.settings.mobile_image | img_url: '414x' }}?imwidth=414&amp;impolicy=custom 414w, {{ section.settings.mobile_image | img_url: '767x' }}?imwidth=767&amp;impolicy=custom 767w"
                   sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                  
                   <source media="(min-width: 768px)" 
                  data-srcset="{{ section.settings.image | img_url: '1024x' }}?imwidth=1024&amp;impolicy=custom 1024w,{{ section.settings.image | img_url: '1190x' }}?imwidth=1190&amp;impolicy=custom 1190w,{{ section.settings.image | img_url: '1190x' }}?imwidth=1366&amp;impolicy=custom 1366w,{{ section.settings.image | img_url: '1366x' }}?imwidth=1680&amp;impolicy=custom 1680w,{{ section.settings.image | img_url: '1920x'}}?imwidth=1920&amp;impolicy=custom 1920w" 
                  sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 1366px,(min-width: 1367px) and (max-width: 1680px) 1680px,1920px"">
                  
                  <img alt="{{ section.settings.image.alt }}" width="100%" height="auto" data-src="{{ section.settings.image | img_url: 'master' }}" class="js-modular--starter-cover modular--starter-cover js-lazyload lazyload" data-was-processed="true">
               </picture>

            </div>
         </div>
       </div>
       <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
          <div>
             <div class="">
                <h2 class=" title--xlarge text-black">{{ section.settings.title }}</h2>
                <div class="text-grey fs--medium l-vmargin--medium">
                    <p>{{ section.settings.text }}</p>
                </div>
                {% if section.settings.link != blank and section.settings.button_label != blank %}
                <ul class="pointer-auto cell-9 cell-mt-21 grid flex-m--justify-start">
                    <li class="l-hmargin--small l-vmargin--medium "><a href="{{ section.settings.link }}" class="btn-cta  btn--dark fs--medium ff-normal"> {{ section.settings.button_label }} </a></li>
                </ul>
                {% endif %}
             </div>
          </div>
       </div>
    </div>
 </div>
 {% endif %}

{% schema %}
{
    "name": "FW20 Lacoste X Nat Geo",
    "class": "fw20-lxng_block",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Lacoste x National Geographic: Nature's Grandeur"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        }
    ]
}
{% endschema %}