<div  class="js-mcontent-strate mcontent-strate mcontent-cover l-relative l-vmargin-row-and-half " id="ModularContent_Strate_Cover_WindowFW19_Xmas" tabindex="-1" data-strate-title="Cadeaux De Noël">
    <div class="l-overflow-hidden ">
        <video playsinline="true" autoplay="true" muted="true" loop="true" class="img-cover img-cover--top" width="101%" height="auto">
            <source data-desktop="{{ section.settings.desktop_video }}" data-mobile="{{ section.settings.mobile_video }}" type="video/mp4">
        </video>
    </div>
    <div class="section-title l-overlay pointer-none  flex flex--col above cover-padding flex--justify-end  flex-m--align-start text-m-initial flex-m--justify-end pointer-none padding-x1">
       <h2 class="cell-15 cell-mt-19  title-xxlarge l-vmargin--large ff-bold flex-m--justify-start fs-m--xxlarge fs--xxlarge {% if section.settings.heading_color == 'black' %} text-black {% elsif section.settings.heading_color == 'white' %} text-white {% endif %}">
          {{ section.settings.title }}
       </h2>
       <ul class="pointer-auto cell-9 cell-mt-21 grid flex-m--justify-start  ">
          <li class="l-hmargin--small l-vmargin--medium ">
             <a class="btn-cta {% if section.settings.button_color == 'black' %}btn--dark {% elsif section.settings.button_color == 'transparent' %}btn--transparent{% endif %} l-hmargin--large pointer-auto fs--medium ff-normal" href="{{ section.settings.btn_link }}">
             {{ section.settings.btn_text }}
             </a>
          </li>
       </ul>
    </div>
 </div>
 <style>
 @media only screen and (max-width:767px){.section-title{padding-bottom:86px}}@media only screen and (max-width:414px){.section-title{padding-bottom:114px}}@media only screen and (max-width:375px){.section-title{padding-bottom:84px}}@media only screen and (max-width:360px){.section-title{padding-bottom:75px}}@media only screen and (max-width:320px){.section-title{padding-bottom:25px}}@media only screen and (max-width:767px){.section-title{padding-bottom:86px}}@media only screen and (max-width:414px){.section-title{padding-bottom:114px}}@media only screen and (max-width:375px){.section-title{padding-bottom:84px}}@media only screen and (max-width:320px){.section-title{padding-bottom:25px}}.padding-x1{padding:7% 4%}@media only screen and (max-width:1440px){.padding-x1{padding:6% 4%}@media only screen and (max-width:1024px){.padding-x1{padding:7% 4%}@media only screen and (min-width:768px){.padding-x1{padding:3.5% 4%}}@media only screen and (max-width:767px){.padding-x1{padding:20% 10%}}@media only screen and (max-width:480px){.padding-x1{padding:15% 10%}}}}
 </style>
 {% schema %}
 {
   "name":  "Full Video Banner",
   "class": "index-section",
   "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Heading"
    },
    {
        "type": "select",
        "id": "heading_color",
        "label": "Heading Color",
        "options": [
            {
                "value": "white",
                "label": "White"
            },
            {
                "value": "black",
                "label": "Black"
            }
        ]
    },
    {
      "type": "text",
      "id": "desktop_video",
      "label": "Desktop Video"
    },
    {
      "type": "text",
      "id": "mobile_video",
      "label": "Mobile Video"
    },
    {
       "type": "text",
       "id": "btn_text",
       "label": "Button Label",
       "default": "follow the guide"
    },
    {
       "type": "url",
       "id": "btn_link",
       "label": "Button link"
    },
    {
      "type": "select",
      "id": "button_color",
      "label": "Button Color",
      "default": "white",
      "options": [
        {
          "value": "white",
          "label": "White"
        },
        {
          "value": "black",
          "label": "Black"
        },
        {
          "value": "transparent",
          "label": "Transparent"
        }
      ]
    }
   ],
     "presets": [
       {
         "name": "Full Video Banner" ,
         "category": "Advanced layout"
       }
     ]
 }
 {% endschema %}

 