<div class="js-mcontent-strate mcontent-strate mcontent-slideshow l-relative l-vmargin-row-and-half homepage-collection" id="ModularContent_Strate_SlideShow_LooksFW18_Sale20181219">
  <h2 class="js-strate-title offset-1 offset-m-2 title--xlarge l-padding--small">{{ section.settings.title }}</h2>
  <div class="l-relative cell-25">
    <div class="js-slideshow-wrapper slideshow-wrapper l-overflow-visible cell-21 cell-mt-20 offset-m-1" dir="ltr">
      <ul class="js-slideshow-controls slideshow-controls flex controls-top  no-mob">
        <li class="l-hmargin--small">
          <button class="btn-cta js-slideshow-control-left slideshow-button-prev btn--icon">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
            </svg>
          </button>
        </li>
        <li>
          <button class="btn-cta js-slideshow-control-right slideshow-button-next btn--icon">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="js-slideshow slideshow" data-direction="ltr" data-slide-per-view-desk="3.0" data-slide-per-view-tab="2.0" data-slide-per-view-mob="1.0" data-slider-prev="Previous slide" data-slider-next="Next slide" data-slider-first="This is the first slide" data-slider-last="This is the last slide" data-slider-pagination="Go to slide {{index}}" data-slider-notification="">
        {%- for block in section.blocks -%}
        <div class="slide l-slide {% if forloop.index == 3 %}is-initial{% endif %}" tabindex="-1">
          <div class="cell-m-19 cell-6 offset-1 cell-mt-9 slide-content lazyload">
            <a href="{{ block.settings.url }}">
              <picture class="img-fill-width l-block no-select no-pointer">
                <img class="img-fill-width l-block no-select no-pointer lazyload" data-src="{{ block.settings.image | img_url: '403x550', crop: 'center' }}" alt="{{ block.settings.slide_title }}" width="100%" height="auto" />
              </picture>
              <div class="default-content l-padding--xsmall">
                <p class="fs--medium text-black">{{ block.settings.slide_title }}</p>
              </div>
              <span class="visually-hidden">See more {{ block.settings.slide_title }}</span>
            </a>
          </div>
        </div>
        {%- endfor -%}
      </div>
      <!--<div class="js-slideshow-navigation slideshow-navigation bullet text-center"></div>-->
    </div>
  </div>
</div>

{% schema %}{
  "name": "Slideshow",
  "class": "index-section",
  "max_blocks": 7,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Slider Title",
      "default": "Lacoste Collections on Sale"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Collection Slides",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "slide_title",
          "label": "Heading",
          "default": "Collection Name"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Collection URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection Slider",
      "blocks": [
      ]
    }
  ]
}
{% endschema %}
