<div class="section-pm__block">
    <div class="grid flex--align-center{% if section.settings.flex_wrap %} flex-nowrap{% endif %}">
        <div class="l-relative cell-13 cell-mt-25 offset-1 offset-mt-0  l-vmargin-row-1 no-tab no-mob">
            <picture class="img-fill-width">
                <img class="img-fill-width lazyload" data-src="{{ section.settings.image | img_url: 'master' }}" alt=""/>
            </picture>
        </div>

        <div class="l-relative cell-10 cell-mt-25 offset-1 offset-mt-0 l-vmargin-row-1">
            <div class="pm-mobile no-desk">
                <picture class="img-fill-width">
                    <img class="img-fill-width lazyload" data-src="{{ section.settings.mobile_image | img_url: 'master' }}" alt=""/>
                </picture>
            </div>

            <div class="pm-content padding-0 padding-mt-1 l-vspaced-row-mt-1">
                <h2 class="title--xlarge ff-normal l-vmargin--small">{{ section.settings.title }}</h2>
                <p class="fs--medium l-vmargin--large">{{ section.settings.text }}</p>
    
                {% if section.settings.link != blank %}
                    <ul class="grid anim-from-v-end">
                        <li class="l-hmargin--large l-vmargin--medium">
                            <a href="{{ section.settings.link }}" class="btn-cta  btn--dark fs--medium ff-normal"> {{ section.settings.button_label }}</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Homepage Banner",
    "class": "polo-merci__block",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Heading"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "Text"
        },
        {
            "type": "checkbox",
            "id": "flex_wrap",
            "label": "Flex wrap",
            "default": false
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button Label"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        }
    ],
    "presets": [
        {
            "category": "Homepage Content",
            "name":"Polo Merci Block"
        }
    ]
}
{% endschema %}