{%- if section.settings.page_title -%}
    <h1 class="title--xxlarge text-black l-vmargin--medium">
    {{ section.settings.page_title }}
    </h1>
{%- endif -%}

{%- if section.settings.page_title_description -%}
    <div class="text-grey fs--medium l-vmargin--medium">
        <div>
            <p>{{ section.settings.page_title_description }}</p>
        </div>
    </div>
{%- endif -%}

{%- if section.settings.button_link -%}
    <div class="text-grey fs--medium">
        <div>
            <a href="{{ section.settings.button_link }}"></a>
        </div>
    </div>

  
    <a class="btn-cta l-hmargin--large pointer-auto fs--medium ff-normal" href="{{ section.settings.button_link }}">{{ section.settings.button_label }}</a>
      
{%- endif -%}


{% schema %}
  {
    "name": "Iconic Women Header",
	"class":"js-promotions offset-7 text-center cell-11 cell-m-21 offset-m-2",
    "settings": [
      {
        "type": "text",
        "id": "page_title",
        "label": "Heading" ,
        "default": "Lacoste Polo Shop" 
      },
      {
        "type": "text",
        "id": "page_title_description",
        "label": "Title Description" ,
        "default": "The perfect place to find the polo that's made for you." 
      },
      {
          "type": "text",
          "id": "button_label",
          "label": "Button Label"
      },
      {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
      }
    ]
  }
{% endschema %}
