    <!-- Report any requested source code -->
    <!-- Report the active source code -->
    <div id="cart-step-1" class="checkout-wrapper cart-page">
      <div class="checkout-stepper-wrapper">
        <ul class="checkout-stepper">
          <li class="checkout-step checkout-step-current  ">
            <div class="checkout-step-inner">
              <span class="checkout-step-number">1</span>
              <span class="checkout-step-name">Bag</span>
            </div>
          </li>
          <li class="checkout-step   ">
            <div class="checkout-step-inner">
              <span class="checkout-step-number">2</span>
              <span class="checkout-step-name">Shipping</span>
            </div>
          </li>
          <li class="checkout-step   ">
            <div class="checkout-step-inner">
              <span class="checkout-step-number">3</span>
              <span class="checkout-step-name">Payment</span>
            </div>
          </li>
        </ul>
      </div>
      <input type="hidden" id="ct-price" data-total="{{ cart.total_price | divided_by: 100 }}">
      {% if cart.items.size > 0 %}
        <div class="checkout-inner cart-summary js-parallax-wrapper">
            <div class="left-column ">
                <section class="cart-products-summary-wrapper">
                  <input type="hidden" id="itemsNbr" value="2"/>
                  <input type="hidden" id="lineItemsNbr" value="1"/>
                  <input id="add-proximis-successful" type="hidden" value="false"/>
                  
                  {% comment %}<div class="cart-product-wrapper">
                    <div class="cart-product custom-packaging" id="faux-ajax-packaging">
                      <div class="cart-product-image">
                        <a href="" data-feat="">
                          <img class="lazyload" data-src="{{ "lacoste-box-logo.png" | asset_img_url: "100x100" }}" alt="Custom Gift Packaging" title="Custom Gift Packaging">
                        </a>
                      </div>
                      <div class="cart-product-info ">
                        <a class="cart-product-name" href="">Custom Gift Packaging</a>
                        <div class="cart-product-color-size">


                        </div>
                        <div class="cart-product-price-quantity">
                          <div class="cart-product-price">
                            <span class="cart-current-price">FREE</span>
                          </div>
                        </div>
                        <div class="cart-product-quantity">Quantity: 1</div>
                        <div class="cart-product-total-price">
                          <div class="cart-product-price">
                            <span class="normal-price">FREE</span>
                          </div>
                        </div>
                      </div>
                      <ul class="cart-product-actions">
                        <li class="cart-product-action-remove">
                          <a class="js-remove-lineitem cart-product-action" href="/cart/change?line=1&amp;quantity=0" data-dialog-href="">
                            remove
                            <svg role="presentation" class="icon-svg icon-close">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
                            </svg>
                          </a>
                        </li>
                      </ul>
                    </div>
                    </div>{% endcomment %}
                  {% assign items = cart.items | sort: 'id' %}
                  {% for item in items %}
                  <div class="cart-product-wrapper">
                    {% include 'l-cart-product-item' with: item %}
                  </div>
                  {% endfor %}
                  <form action="/cart" method="post" novalidate class="cart" style="display: none;">
                    <label for="CartNote">Special instructions</label>
                    <textarea name="cart[note]" id="CartNote">{{ cart.note }}</textarea>
                  </form>
                </section>
                <div style="display:none;" id="custom-packaging" class="checkout-block cart-promo-wrapper">
                    <h3 class="checkout-block-title">Gift Packaging</h3>
                    <div class="cart-promo-list-wrapper">
                        <div class="cart-promo-line">
                            <div class="cart-promo-input-wrapper">
                              <p><input style="width: auto; vertical-align: middle; margin-bottom: 5px; margin-right: 8px;" class="checkout-input js-field" type="checkbox" name="select-offer" id="js-custom-packaging"/><span>Would you like your order to come with gift packaging?</span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="checkout-block cart-help-wrapper">
                    <div class="content-asset">
                        <!-- dwMarker="content" dwContentID="bcFPwiaagN4XAaaadnjMQSD7tY" -->
                        <h3 class="checkout-block-title">NEED HELP?</h3>
                        <p>Contact Customer Service at +632 8830 5000 Monday to Friday from 0900 to 1800. Services will be closed during holidays. Thank you for your understanding.</p>
                    </div>
                </div>
            </div>
            <div class="right-column js-parallax">
                <div class="checkout-block">
                    <div class="cart-price-summary-block">
                        <div class="cart-price-summary-wrapper">
                            <p class="sfschange shippingMethodchange" style="display:none">Product with monogram does not allow store delivery.<br/></p>
                            <ul class="cart-price-summary">
                                <li class="cart-price-subtotal js-cart-productlines no-mob" data-nbproductlines="1" data-issingleproduct="true">
                                    <span>{{ cart.item_count }} product{% if cart.item_count > 1 or cart.item_count == 0 %}s{% endif %}</span>
                                    <span><span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>{{ cart.original_total_price | money }}</span>
                                </li>
                                <li class="cart-price-shipping">
                                    <span>Shipping</span>
                                    <span>{{ 0 | money }}</span>
                                </li>
                                <li class="cart-vat-included">
                                    <span>Tax Included</span>
                                    <span>{{ cart.tax_line.price | money }}</span>
                                </li>
                                <li class="cart-price-total">
                                    <span>Total</span>
                                    <span>
                                      <span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total" style="display:none !important;"></span>{{ cart.total_price | money }}</span>
                                </li>
                            </ul>
                            <div class="price-summary-loader">
                                <div class="loader-ctnr show">
                                    <div class="loader show" >
                                        <svg class="circular">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10">
                                            </circle>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cart-validation-wrapper">
                        <a class="btn btn-full btn-new btn-checkout btngocheckout js-validate-cart" id="step1-btn" href="/checkout">Proceed to checkout</a>
                        <ul class="cart-payment-list">
                            <li><img class="lazyload" data-src="{{ 'sec-payment-1.jpg' | asset_url }}" alt="" /></li>
                            <li><img class="lazyload" data-src="{{ 'sec-payment-2.jpg' | asset_url }}" alt="" /></li>
                            <li><img class="lazyload" data-src="{{ 'sec-payment-3.jpg' | asset_url }}" alt="" /></li>
                            <li><img class="lazyload" data-src="{{ 'sec-payment-5.jpg' | asset_url }}" alt="" /></li>
                        </ul>
                    </div>
                    <!-- Omnirio Click and Collect Plugin -->
                      {% include "pick-n-collect" %}
                    <!-- Omnirio Click and Collect Plugin -->                             
                </div>
            </div>
        </div>
      {% else %}
      <div class="checkout-inner cart-summary">
        <div class="js-parallax-wrapper parallax-wrapper">
          <div class="left-column cart-empty">
            <section class="cart-products-summary-wrapper">
              <input type="hidden" id="itemsNbr" value="0">
              <input type="hidden" id="lineItemsNbr" value="0">
              <div class="checkout-block cart-empty-wrapper">
                <h3 class="cart-empty-title">
                  Your bag is empty
                </h3>
                <p class="cart-empty-text">
                  You should have a look at our brand new collection, you’ll certainly find something you need.
                </p>
                <a href="/" class="btn btn-new btn-black">
                  Continue shopping
                </a>
              </div>
            </section>
            <div class="checkout-block cart-help-wrapper">
              <div class="content-asset">
                <h3 class="checkout-block-title">NEED HELP?</h3>
                <p>CONTACT OUR Customer Service +632 830 5000 (Local rate)</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
        <div class="products-recommandation">
            <!-- =============== This snippet of JavaScript handles fetching the dynamic recommendations from the remote recommendations server
                and then makes a call to render the configured template with the returned recommended products: ================= -->
            <!-- The DIV tag id below is unique on purpose in case there are multiple recommendation slots on the same .isml page: -->
            <div id="cq_recomm_slot-827c91a9f675a8cfd5a2e13bc8"></div>
            <!-- ====================== snippet ends here ======================== -->
        </div>
    </div>

<input type="hidden" value="<span class="Bold-theme-hook-DO-NOT-DELETE bold_cart_total_3" style="display:none !important;"></span>{{ cart.total_price | divided_by: 100 }}" id="t-price">
<!-- add the style box if you want to see the palceholder-->
<style type='text/css'>
  @keyframes tbnPlaceHolderShimmer{0%{background-position:-468px 0}100%{background-position:468px 0}}.tbn-linear-background{animation-duration:1s;animation-fill-mode:forwards;animation-iteration-count:infinite;animation-name:tbnPlaceHolderShimmer;animation-timing-function:linear;background:#f6f7f8;background:linear-gradient(to right,#eee 8%,#ddd 18%,#eee 33%);background-size:1000px 104px;height:338px;position:relative;overflow:hidden}.tbn-placeholder-box-code{display:inline-block;width:200px;height:50px}.tbn-placeholder-box-but{display:inline-block;margin-left:5px;height:50px;width:75px}
</style>

<!-- place the script somewhere in the page -->
<script type='text/javascript'>
  if (!window.custom_carter_template) window.custom_carter_template = [];
  window.custom_carter_template.push(
    { 
     id: "js-coupon-code",
     template:`
      <div class="cart-promo-input-wrapper">
        <input data-rcs="<%=id%>" type='text' value="<%=code%>" <%=(code_applying)?"disabled":""%> class='checkout-input js-field <%=(code_applying)?"disabled tbn_disabled":""%> tbn_js__cd_discount_value tbn_js__cd_discount_value_<%=id%>' placeholder='Enter your promo code'>
        <button id="js-add-coupon-code" type='button' <%=(code_applying)?"disabled":""%> class='btn btn-light btn-new <%=(code_applying)?"disabled tbn_disabled":""%> tbn_js__cd_apply_button tbn_js__cd_apply_button_<%=id%>' data-id="<%=id%>">
        <%=(code_applying)?"Applying":"Apply"%>
        </button>
      </div>
      <div id="tipTemplate_<%=id%>" style="display:none;">
          <% if (nice_amount!=="") { %>
          <strong><%=nice_amount%></strong>
          <% } else if (normal_amount!==""){ %>
          <strong><%=normal_amount%></strong>
          <% } %>
          <% if (!is_not_number) { %><div><em>subtotal calculated at checkout</em></div><% } %>
      </div>`
    }
  );
</script>


	{%comment%}
	{% unless customer %}
    <div id="cart-step-2" class="checkout-wrapper login-page" style="display:none" data-status="false">
      <div class="checkout-stepper-wrapper">
        <ul class="checkout-stepper" data-track-checkout-step="2">
          <li class="checkout-step  checkout-step-validated js-stepper-validated  ">
            <a class="checkout-step-inner" href="https://www.lacoste.com/gb/cart">
              <span class="checkout-step-number">
                <svg role="presentation" class="icon-svg icon-check">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-check"></use>
                </svg>
              </span>
              <span class="checkout-step-name">Bag</span>
            </a>
          </li>
          <li class="checkout-step    ">
            <div class="checkout-step-inner">
              <span class="checkout-step-number">2</span>
              <span class="checkout-step-name">Shipping</span>
            </div>
          </li>
          <li class="checkout-step    ">
            <div class="checkout-step-inner">
              <span class="checkout-step-number">3</span>
              <span class="checkout-step-name">Payment</span>
            </div>
          </li>
        </ul>
      </div>
      <div class="checkout-inner">
        <div class="checkout-block checkout-login-check-mail">
          <h3 class="checkout-block-title">
            ENTER YOUR EMAIL ADDRESS TO CONTINUE
          </h3>
          <p class="checkout-block-text">
            Email will be used to track your order. If you don't have an account, you will be able to create a Lacoste account later during the process.
          </p>
          <form class="forms flex flex--col js-checkout-login-checkmail-form" method="POST">
            <label class="field-wrapper is-required">
              <input id="js-checkout-login-check-mail" class="field js-field is-filled" name="login-mail" type="text" autofocus="" required="">
              <span class="label label--floating">
                YOUR EMAIL ADDRESS
              </span>
            </label>
            <footer class="flex flex--justify-end l-field-margin">
              <button class="btn btn-new btn-light js-checkout-login-checkmail" type="submit">
                Continue
              </button>
            </footer>
          </form>
        </div>
        <div class="checkout-block checkout-login-user-exist">
          <h3 class="checkout-block-title">
            WELCOME BACK!
          </h3>
          <form class="forms flex flex--col js-checkout-login-validate-form" method="POST">
            <label class="field-wrapper l-field-margin is-required">
              <input id="js-checkout-login-mail" class="field js-field" name="login-mail" type="text" required="">
              <span class="label label--floating">
                YOUR EMAIL ADDRESS
              </span>
            </label>
            <label class="field-wrapper l-field-margin is-required">
              <input id="js-checkout-login-password" class="field js-field" name="login-password" type="password" required="">
              <span class="label label--floating">
                YOUR PASSWORD
              </span>
            </label>
            <div class="checkout-block-action-wrapper">
              <a href="/pages/password-recover" class="checkout-block-action">
                Forgotten your password?
              </a>
            </div>
            <p class="checkout-block-error"></p>
            <footer class="flex flex--justify-end l-field-margin">
              <button class="btn btn-new js-checkout-login-validate" type="submit">
                Sign in
              </button>
            </footer>
          </form>
        </div>
        <div class="checkout-block login-checkout-reachfive-wrapper" data-rf-id="/on/demandware.store/Sites-GB-Site/en/SocialLogin-GetReachFiveToken">
          <h3 class="checkout-block-title">
            Connect with your favorite social network:
          </h3>
          <div class='oxi-social-login'></div>
        </div>
      </div>
    </div>
	{% else %}
    <div id="cart-step-2" style="display:none" data-status="true"></div>
	{% endunless %}
	{%endcomment%}

	{%comment%}{% include 'l-cart-shipping-step' %}{%endcomment%}



<noscript id="test-cart-json">{{ cart | json }}</noscript>
<script>
  window.card1 = {{ all_products.thank-you-card.first_available_variant.inventory_quantity }};
//   window.card2 = {{ all_products.copy-of-thank-you-card.first_available_variant.inventory_quantity }};
</script>

<style>
  .ty-card {
    position: relative;
  }
  .ty-card .cart-product-actions {
    position: absolute;
    right: 0;
    top: 30%;
  }
</style>
