<div class="js-slideshow-wrapper l-overflow-visible cell-mt-20 offset-m-1 swiper-container-horizontal" dir="ltr">
  <ul class="js-slideshow-controls slideshow-controls slideshow-modular-controls flex controls-top no-mob  text-black">
    <li>
      <button class="js-slideshow-control-left slideshow-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Slide précédente" aria-disabled="true">
        <svg role="presentation" class="icon-svg ">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
        </svg>
      </button>
    </li>
    <li class="fs--xlarge ff-bold">
      <div class="js-slideshow-indicator slideshow-indicator"></div>
    </li>
    <li>
      <button class="js-slideshow-control-right slideshow-button-next" tabindex="0" role="button" aria-label="Slide suivante" aria-disabled="false">
        <svg role="presentation" class="icon-svg ">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
        </svg>
      </button>
    </li>
  </ul>
  <div class="l-christmas-easy">
    {% for block in section.blocks %}
    {% assign product = all_products[block.settings.product] %}
    <div class="slide {% if forloop.index == 2 %}is-initial{%endif%}">
      <div class="cell-mt-9 cell-m-19 slide-content flex offset-1 cell-9">
        <div class="js-modular-push l-fill-width l-relative flex bg-black--wide flex--col flex--grow component-push-card" data-id="gift-guide-noel-2019-slider-1-component-card-3">
          <a class="l-display-contents l-fill-width flex--col flex--grow " href="{{ product.url }}" target="" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:14}" data-type="category">
            <div class="l-relative l-ratio--4-3 l-ratio-m--5-7 ">
              <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                {% capture img_thumb %}{{ product.images[0] | img_url: '693x584' }}{% endcapture %}
                {% capture img_thumb_mobile %}{{ product.images[0] | img_url: '570x800' }}{% endcapture %}
                <picture class="pict l-block img-cover img-cover--center lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ img_thumb_mobile }}?imwidth=244&amp;impolicy=custom 244w,{{ img_thumb_mobile }}?imwidth=295&amp;impolicy=custom 295w,{{ img_thumb_mobile }}?imwidth=320&amp;impolicy=custom 320w,{{ img_thumb_mobile }}?imwidth=594&amp;impolicy=custom 594w" sizes="(max-width: 320px) 244px,(min-width: 321px) and (max-width: 375px) 295px,(min-width: 376px) and (max-width: 414px) 320px,(min-width: 415px) and (max-width: 767px) 594px">
                  <source media="(min-width: 768px)" data-srcset="{{ img_thumb }}?imwidth=375&amp;impolicy=custom 375w,{{ img_thumb }}?imwidth=457&amp;impolicy=custom 457w,{{ img_thumb }}?imwidth=492&amp;impolicy=custom 492w,{{ img_thumb }}?imwidth=594&amp;impolicy=custom 594w,{{ img_thumb }}?imwidth=732&amp;impolicy=custom 732w" sizes="(min-width: 768px) and (max-width: 1024px) 375px,(min-width: 1025px) and (max-width: 1190px) 457px,(min-width: 1191px) and (max-width: 1366px) 492px,(min-width: 1367px) and (max-width: 1680px) 594px,732px">
                  <img alt="Underwear" width="100%" height="auto" data-src="{{ img_thumb }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                </picture>
                <noscript>
                  <img class="noscript-content" data-src="{{ img_thumb }}" alt="Underwear" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
              </div>
            </div>
            <div class="flex flex--col flex--grow">
              <div class="etgg-card push-card flex flex--col flex--grow bg-black flex--justify-center ">
                <a href="{{ product.url }}">
                  <h3 class="title--small text-white">
                    {{ product.title }}
                    <svg role="presentation" class="icon-svg valign-sub">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg>
                  </h3>
                </a>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
</div>
<!-- <style>
  .etgg-card {
    left: 0;
    bottom: 10px;
    width: 100%;
    padding: 10px 10px;
  }
</style> -->
{% schema %}
  {
    "name": "Easy Gifts",
    "class": "page-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading" ,
        "default": "Easy to give gift" 
      }
    ],
    "blocks": [
      {
        "type": "gift",
        "name": "Easy Gift" ,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
