<div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-large" id="gift-guide-noel-2019-slider-tab">
  <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
    <h2 class="js-modular-title title--xlarge text-black">
      2. Classic Best Sellers
    </h2>
    <div class="text-grey js-modular-text fs--medium">
      Take advantage of timeless Lacoste gifts on <a href="{{ shop.url }}" class="reverse-link">Lacoste.com.ph</a>
    </div>
  </div>
  <div class="cell-24 offset-1 cell-m-23">
    <div class="js-custom-scrollbar-wrapper custom-scrollbar-wrapper--horizontal js-scrollbar-focus-mode l-vmargin--large l-m-vmargin--xsmall is-disable is-inactive is-begin" data-scrollbar="3ae1a8a0-16eb-4625-8d89-e83b9880a566">
      <ul class="js-custom-scrollbar-content l-m-overflow-x l-relative title--medium flex js-tabs-gift-guide-noel-2019-slider-tab">
        {% for block in section.blocks %}
          {% if block.type == 'group' %}
          <li class="l-hmargin--large l-m-no-margin padding-m-1">
            <button class="js-slideshow-tab slideshow-tab" id="{{ block.settings.data_group }}">
              {{ block.settings.group_txt }}
              <span class="fs--xsmall text-grey-light ff-normal">
                
              </span>
            </button>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="custom-scrollbar">
        <div class="js-custom-scrollbar custom-scrollbar-thumb"></div>
      </div>
    </div>
  </div>
  <div class="l-relative cell-25">
    <div class="js-slideshow-wrapper l-overflow-visible cell-mt-20 cell-m-25 offset-m-0 swiper-container-horizontal" dir="ltr">
      <ul class="js-slideshow-controls slideshow-controls slideshow-modular-controls flex controls-top  text-black text-m-white">
        <li>
          <button class="js-slideshow-control-left slideshow-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Slide précédente" aria-disabled="true">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
            </svg>
          </button>
        </li>
        <li class="title--medium ff-bold">
          <div class="js-slideshow-indicator slideshow-indicator"></div>
        </li>
        <li>
          <button class="js-slideshow-control-right slideshow-button-next" tabindex="0" role="button" aria-label="Slide suivante" aria-disabled="false">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="js-slideshow l-christmas-exclusive">
        {% for block in section.blocks %}
        {% if block.type == 'exclusive' %}
        {% assign product = all_products[block.settings.product] %}
        {% capture img_thumb %}{{ product.images[0] | img_url: '414x579' }}{% endcapture %}
        <div class="slide {% if forloop.index == 3 %}is-initial{%endif%}" data-group="{{ block.settings.data_group }}">
          <div class="cell-mt-9 slide-content offset-1 cell-6 cell-m-25 offset-m-0">
            <div class="js-modular-push l-fill-width l-relative flex bg-white  component-push-custom" data-id="gift-guide-noel-2019-component-slider-tab-men-product-1">
              <a class=" l-fill-width flex--col flex--grow " href="https://www.lacoste.com/fr/lacoste/homme/vetements/pullovers/pull-col-v-en-laine-crocodile-vert/AH0844-00.html?color=AT6" target="" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:1}" data-tracking="" data-type="product">
                <div class="l-relative l-ratio--5-7 l-ratio-m--3-4 l-vmargin--small l-m-no-margin">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyloaded">
                    <picture class="pict l-block img-cover img-cover--center lazyload">
                      <source media="(max-width: 767px)" data-srcset="{{ img_thumb }}?imwidth=244&amp;impolicy=custom 244w,{{ img_thumb }}?imwidth=295&amp;impolicy=custom 295w,{{ img_thumb }}?imwidth=320&amp;impolicy=custom 320w,{{ img_thumb }}?imwidth=594&amp;impolicy=custom 594w" sizes="(max-width: 320px) 244px,(min-width: 321px) and (max-width: 375px) 295px,(min-width: 376px) and (max-width: 414px) 320px,(min-width: 415px) and (max-width: 767px) 594px" srcset="{{ img_thumb }}?imwidth=244&amp;impolicy=custom 244w,{{ img_thumb }}?imwidth=295&amp;impolicy=custom 295w,{{ img_thumb }}?imwidth=320&amp;impolicy=custom 320w,{{ img_thumb }}?imwidth=594&amp;impolicy=custom 594w">
                      <source media="(min-width: 768px)" data-srcset="{{ img_thumb }}?imwidth=320&amp;impolicy=custom 320w,{{ img_thumb }}?imwidth=375&amp;impolicy=custom 375w,{{ img_thumb }}?imwidth=414&amp;impolicy=custom 414w,{{ img_thumb }}?imwidth=457&amp;impolicy=custom 457w" sizes="(min-width: 768px) and (max-width: 1024px) 375px,(min-width: 1025px) and (max-width: 1190px) 414px,(min-width: 1191px) and (max-width: 1366px) 320px,(min-width: 1367px) and (max-width: 1680px) 414px,457px" srcset="{{ img_thumb }}?imwidth=320&amp;impolicy=custom 320w,{{ img_thumb }}?imwidth=375&amp;impolicy=custom 375w,{{ img_thumb }}?imwidth=414&amp;impolicy=custom 414w,{{ img_thumb }}?imwidth=457&amp;impolicy=custom 457w">
                      <img alt="image" width="100%" height="auto" data-src="{{ img_thumb }}" class="l-block img-cover img-cover--center js-lazyload lazyload lazyloaded" data-was-processed="true">
                    </picture>
                    <noscript>
                      <img class="noscript-content" src="{{ img_thumb }}" alt="image" width="auto" height="auto" />
                    </noscript>
                    <picture class="lqip pointer-none l-block">
                      <source media="(max-width: 767px)" srcset="{{ img_thumb }}?impolicy=placeholder">
                      <source media="(min-width: 768px)" srcset="{{ img_thumb }}?impolicy=placeholder">
                      <img alt="" width="100%" height="auto" data-src="{{ img_thumb }}?impolicy=placeholder" class="lqip pointer-none">
                    </picture>
                  </div>
                </div>
                <div class="flex flex--col flex--grow l-m-overlay text-m-center l-fill-width flex flex--col flex--justify-end l-padding-m-bottom-row-large flex-m--align-center text-m-white bg-m-gradient--dark">
                  <div class="l-vmargin--small  text-m-white">
                    <div class="text-grey text-m-white fs--medium">
                      {{ product.title }}
                    </div>
                  </div>
                  <div class="ff-bold nowrap fs--medium">
                    <div class="text-grey text-m-white" style="">
                      {{ product.price | money }}
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Exclusive Products",
    "class": "page-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading" ,
        "default": "Christmas Exclusive Products" 
      }
    ],
    "blocks": [
      {
        "type": "exclusive",
        "name": "Exclusive collection" ,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
		  {
            "type": "text",
            "id": "data_group",
            "label": "Category"
          }
        ]
      },
	  {
        "type": "group",
        "name": "Group by category" ,
        "settings": [
          {
            "type": "text",
            "id": "group_txt",
            "label": "Group"
          },
		  {
            "type": "text",
            "id": "data_group",
            "label": "Category"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Christmas Slider" ,
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
