<div class="js-plp-tiles grid">
  {% for block in section.blocks %}
  {% assign product = all_products[block.settings.product] %}
  <div class="cell-5 offset-1 {% if forloop.index == 3 or forloop.index == 8 %}cell-m-23{% else %}cell-m-11{% endif %} l-vmargin-row-1" data-loop="{{ forloop.index }}">
    <div class="js-product-tile product-tile ing-ready" data-producttile="{{ product.title }}" data-page-number="1">
      <div class="l-relative l-overflow-hidden l-vmargin--small">
        <a href="{{ product.url }}" class="js-product-tile-link">
          <div class="js-lazyload-wrapper with-placeholder l-relative lazyload">
            {% capture img_thumb %}{{ product.images[0] | img_url: '414x414' }}{% endcapture %}
            {% capture img_thumb_hover %}{{ product.images[1] | img_url: '414x414'}}{% endcapture %}
            <picture class="pict l-block img-fill-width lazyload">
              <source media="" data-srcset="{{ img_thumb }}?imwidth=320&amp;impolicy=product 320w,{{ img_thumb }}?imwidth=375&amp;impolicy=product 375w,{{ img_thumb }}?imwidth=414&amp;impolicy=product 414w,{{ img_thumb }}?imwidth=457&amp;impolicy=product 457w,{{ img_thumb }}?imwidth=767&amp;impolicy=product 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px,(min-width: 768px) and (max-width: 1024px) 375px,(min-width: 1025px) and (max-width: 1190px) 414px,(min-width: 1191px) and (max-width: 1366px) 320px,(min-width: 1367px) and (max-width: 1680px) 414px,457px">
              <img alt="" width="100%" height="auto" data-src="{{ img_thumb }}" class="l-block img-fill-width js-lazyload lazyload" data-was-processed="true">
            </picture>
            <noscript>
              <img class="noscript-content" data-src="{{ img_thumb }}" alt="" width="auto" height="auto" />
            </noscript>
            <div class="lqip l-ratio--1 pointer-none"></div>
          </div>
          <div data-image="{{ img_thumb_hover }}?imwidth=457&amp;impolicy=product" class="js-product-tile-hover-img product-tile-image-hover l-overlay" style="background-image: url({{ img_thumb_hover }}?imwidth=457&impolicy=product);"></div>
        </a>
        <a href="{{ product.url }}" class="js-product-tile-link">
          <div class="flex flex--align-end fs--small product-tile-colors-wrapper bg-white">
            {% capture products_list %}
            {% for variant in product.variants %}
            {{ product.variants[forloop.index].options[0] }}
            {% if forloop.last == false %}::{% endif%}
            {% endfor %}
            {% endcapture %}
            {% assign products_array = products_list | split: '::'%}
            {% assign array_count =  products_array | uniq %}
            {% assign array_size = array_count.size %}
            {% assign total_colors = array_size | minus: 1 %}
            {% if total_colors <= 1 %}
            + {{ total_colors }} colour
            {% else %}
            + {{ total_colors }} colours
            {% endif %}
          </div>
        </a>
      </div>
      <div class="fs--small l-vmargin--small">
        <a href="{{ product.url }}" class="simple-link js-product-tile-link">
          {{ product.title }}
        </a>
      </div>
      <div class="ff-bold nowrap fs--small">
        <div class="text-grey" style="">
          {{ product.price_min | money}}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Eight Gift Ideas",
    "class": "page-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading" ,
        "default": "Eight Gift Ideas" 
      }
    ],
    "blocks": [
      {
        "type": "gift",
        "name": "Gift idea" ,
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Eight Gift Ideas" ,
        "category": "Advanced layout"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
