<div class="js-mcontent-strate mcontent-strate mcontent-presentation l-vmargin-row-and-half grid flex--align-center text-black text-mt-white l-relative" id="ModularContent_Strate_Presentation_ProductPushFW19_CrocoCrew">
  <a href="{{ section.settings.btn_link }}" class="order-1 cell-14 cell-mt-25 offset-mt-0 anim-enterview-wrapper js-anim-enterview">
    <div class="js-lazyload-wrapper with-placeholder l-relative lazyloaded">
      <picture class="l-block img-cover img-cover--top">
        <source media="(max-width: 800px)" srcset="{{ section.settings.mob_image | img_url: 'master' }}">
        <source media="(min-width: 801px)" srcset="{{ section.settings.desk_image | img_url: 'master' }}">
        <img class="l-block img-cover img-cover--top" src="{{ section.settings.desk_image | img_url: 'master' }}" alt="" width="100%" height="auto"/>
      </picture>
    </div>
  </a>
  <div class="order-2 offset-2 cell-6 cell-mt-21 offset-mt-2 l-vspaced-row-2 presentation-title  anim-enterview-wrapper js-anim-enterview">
    <h2 class="title--xlarge cell-mt-16 l-vmargin--large anim-from-v-end">
      <span class="court-title"><span>C</span>ourt Slam:</span> <span class="court-t">M</span><span class="court-t">a</span><span class="court-t">k</span><span class="court-t">e</span> <span class="court-t">a</span><span class="court-t">n</span> <span class="court-t">I</span><span class="court-t">m</span><span class="court-t">p</span><span class="court-t">a</span><span class="court-t">c</span><span class="court-t">t</span>
    </h2>
    <p class="title--medium cell-mt-16 l-vmargin--large anim-from-v-end js-color-anim">
      29 Nov-01 <span>D</span><span>e</span><span>c</span><span> </span><span>a</span><span>t</span> <span>A</span><span>l</span><span>a</span><span>b</span><span>a</span><span>n</span><span>g</span> <span>T</span><span>o</span><span>w</span><span>n</span> <span>C</span><span>e</span><span>n</span><span>t</span><span>e</span><span>r</span>
    </p>
    <ul class="grid anim-from-v-end">
      <li class="l-hmargin--large l-vmargin--medium">
        <a class="btn-cta  btn--dark fs--medium ff-normal" href="{{ section.settings.btn_link }}" data-tag-id="" data-replace="">
          {{ section.settings.btn_txt}}
        </a>
      </li>
    </ul>
  </div>
</div>
<style>
@media only screen and (max-width: 1190px){
  .court-t:last-child, .js-color-anim span:last-child {
  	color: #292929;
  }
}
@media only screen and (max-width: 1164px){
  .js-color-anim span:nth-child(22) {
  	color: #292929;
  }
}
@media only screen and (max-width: 1116px){
  .court-t:nth-child(12) {
  	color: #292929;
  }
}
@media only screen and (max-width: 1135px){
  .js-color-anim span:nth-child(21) {
  	color: #292929;
  }
}
@media only screen and (max-width: 1090px){
  .js-color-anim span:nth-child(20) {
  	color: #292929;
  }
}
@media only screen and (max-width: 1090px){
  .js-color-anim span:nth-child(19) {
  	color: #292929;
  }
}
@media only screen and (max-width: 1033px){
  .court-t:nth-child(11) {
  	color: #292929;
  }
}
@media only screen and (max-width: 1000px){
  .js-color-anim span:nth-child(18) {
  	color: #292929;
  }
}
@media only screen and (max-width: 950px){
  .court-t:nth-child(10), .js-color-anim span:nth-child(17) {
  	color: #292929;
  }
}
@media only screen and (max-width: 890px){
  .court-t:nth-child(9), .js-color-anim span:nth-child(16) {
  	color: #292929;
  }
}
@media only screen and (max-width: 825px){
  .js-color-anim span:nth-child(15) {
  	color: #292929;
  }
}
@media only screen and (max-width: 800px){
  .court-t:nth-child(8), .court-t:nth-child(7), .court-t:nth-child(6), .court-t:nth-child(5), .court-t:nth-child(4), .court-t:nth-child(3), .js-color-anim span:nth-child(14), .js-color-anim span:nth-child(13), .js-color-anim span:nth-child(12), .js-color-anim span:nth-child(11), .js-color-anim span:nth-child(10), .js-color-anim span:nth-child(9), .js-color-anim span:nth-child(8) {
  	color: #292929 ;
  }
}
@media only screen and (max-width: 768px){
  .court-t:nth-child(3), .court-t:nth-child(4), .court-t:nth-child(5), .court-t:nth-child(6) {
  	color: #fff ;
  }
}
@media only screen and (max-width: 710px){
  .js-color-anim span:nth-child(7) {
  	color: #292929 ;
  }
}
@media only screen and (max-width: 731px){
  .court-t:nth-child(6) {
  	color: #292929 ;
  }
}
@media only screen and (max-width: 670px){
  .js-color-anim span:nth-child(6) {
  	color: #292929 ;
  }
}
@media only screen and (max-width: 635px){
  .court-t:nth-child(5), .js-color-anim span:nth-child(5) {
  	color: #292929 ;
  }
}
@media only screen and (max-width: 594px){
  .court-t:nth-child(5), .js-color-anim span:last-child, .js-color-anim span:nth-child(22), .js-color-anim span:nth-child(21), .js-color-anim span:nth-child(20), .js-color-anim span:nth-child(19), .js-color-anim span:nth-child(18) {
  	color: #fff;
  }
}
@media only screen and (max-width: 535px){
  .js-color-anim span:nth-child(3) {
  	color: #292929;
  }
}
@media only screen and (max-width: 500px){
  .court-t:nth-child(5) {
  	color: #fff ;
  }
}
@media only screen and (max-width: 484px){
  .js-color-anim span:nth-child(22), .js-color-anim span:nth-child(21), .js-color-anim span:nth-child(20), .js-color-anim span:nth-child(19), .js-color-anim span:nth-child(18), .js-color-anim span:nth-child(17), .js-color-anim span:nth-child(16), .js-color-anim span:nth-child(15), .js-color-anim span:nth-child(14) {
  	color: #fff;
  }
  .js-color-anim span:last-child {
	color: #292929;
  }
}
@media only screen and (max-width: 425px){
  .js-color-anim span:nth-child(22), .js-color-anim span:nth-child(2) {
  	color: #292929 ;
  }
}
@media only screen and (max-width: 417px){
  .court-t {
  	color: #fff !important;
  }
  .court-title, .court-t:nth-child(2) {
   color: #fff !important;
  }
}
@media only screen and (max-width: 392px){
  .js-color-anim span:nth-child(7), .js-color-anim span:nth-child(8), .js-color-anim span:nth-child(9), .js-color-anim span:nth-child(10), .js-color-anim span:nth-child(11), .js-color-anim span:nth-child(12), .js-color-anim span:nth-child(13), .js-color-anim span:nth-child(14) {
  	color: #fff;
  }
  .js-color-anim span:nth-child(15), .js-color-anim span:nth-child(16), .js-color-anim span:nth-child(17), .js-color-anim span:nth-child(18), .js-color-anim span:nth-child(19), .js-color-anim span:nth-child(20), .js-color-anim span:nth-child(21) {
	color: #292929;
  }
}
@media only screen and (max-width: 375px){
  .court-title span {
   color: #fff;
  }
  .court-t:nth-child(2) {
   color: #fff !important;
  }
}
</style>
{% schema %}
  {
    "name": "Section name",
    "settings": [
    {
      "type": "image_picker",
      "id": "desk_image",
      "label": "Desktop Hero Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Mobile Hero Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Court Slam: Make An Impact"
    },
    {
      "type": "text",
      "id": "btn_txt",
      "label": "Button Label",
      "default": "RSVP"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "blocks":[
    {
      "type":"text",
      "name":"Notice",
      "settings":[
        {
          "type":"text",
          "id":"notice",
          "label":"Notice"
        }
      ]
    }
  ],
"presets": [{
      "name": "Court slam",
      "category": "Advanced layout"
	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
