<div id="pop-banner">
  <div class="popup-banner-content">
      <picture class="l-block img-cover img-cover--top">
        <source media="(max-width: 800px)" data-srcset="{{ section.settings.mob_image | img_url: 'master' }}" data-srcset="{{ section.settings.desk_image | img_url: 'master' }}">
        <source media="(min-width: 801px)" data-srcset="{{ section.settings.desk_image | img_url: 'master' }}" data-srcset="{{ section.settings.desk_image | img_url: 'master' }}">
        <img class="l-block img-cover img-cover--top lazyload" data-src="{{ section.settings.desk_image | img_url: 'master' }}" data-src="{{ section.settings.desk_image | img_url: 'master' }}" alt="" width="100%" height="auto"/>
      </picture>
    <a href="{{ section.settings.section_link }}">
    </a>
    <button class="l-popin-close js-banner-close lazyload">
      <span class="icon-svg icon-close" id="x-button">x</span>
<!--       <svg role="presentation" class="icon-svg icon-close" aria-hidden="true">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
      </svg> -->
    </button>
  </div>
  <div class="popup-banner-bg"></div>
</div>
{% schema %}
  {
    "name": "Popup Banner",
    "settings": [
    {
      "type": "image_picker",
      "id": "desk_image",
      "label": "Desktop Banner Image"
    },
    {
      "type": "image_picker",
      "id": "mob_image",
      "label": "Mobile Banner Image"
    },
    {
      "type": "url",
      "id": "section_link",
      "label": "Link to"
    }
],
"presets": [{
      "name": "Popup Banner",
      "category": "Advanced layout"
	}]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
