<script>
var criticalReady=function(){var r=!1,t=new Set;return function n(){var a=1===n.arguments.length?n.arguments[0]:null;a?t.add(a):r=!0,r&&(t.forEach(function(n){n()}),t.clear())}}();
</script>
<script style="display: none;">
  window.swatchcolors = {};
  {% for variant in product.variants %}
  window.swatchcolors["{{variant.option1}}"] = "{{ variant.metafields.spec.swatch_image | replace:" ","_"  }}";
  {% endfor %}
                      {% capture defaultswatch %}{{ product.first_available_variant.metafields.spec.swatch_image | replace:" ","_"  }}{%endcapture%}
</script>
<section id="product-new" class="js-pdp-section page-section pdp-section grid " data-id="{{ product.id }}">
    {% include 'l-breadcrumbs' %}
    <article class="grid cell-25 l-vmargin-row-1 l-vmargin-row-mt-2">
      {% assign bilang = 0 %}
        <div class="cell-12 l-relative l-overflow-hidden cell-mt-25 offset-mt-0">
            <div class="js-pdp-gallery js-slideshow-wrapper l-overflow-visible cell-mt-17 offset-mt-2 offset-m-0 cell-m-25">
                <div class="js-slideshow slideshow" data-slide-by="1" data-loop="false" data-autoplay="false" data-arrow-keys="true" data-controls="false" data-slider-enabled="" data-slide-per-view-desk="1" data-slide-per-view-tab="1" data-slide-per-view-mob="1" data-slider-prev="Previous slide" data-slider-next="Next slide" data-slider-first="This is the first slide" data-slider-last="This is the last slide" data-slider-pagination="Go to slide {{index}}" data-slider-notification="" data-use-thumbs="1">
                    {% for image in product.images %}
                    {% assign bilang = bilang | plus: 1 %}
                    <div class="slide" tabindex="-1" data-zoom="{{ bilang }}" data-color="{{ image.alt }}">
                        <div class="offset-mt-1 offset-m-0 slide-content">
                            <picture data-attr="{{ image | img_url: 'master' }}" class="js-pdp-zoomable cursor-zoom-in img-fill-width unique-wrap {{ image.alt | handleize }} {{ image.alt }}" data-color="{{ image.alt }}">
                                <source media="(max-width: 800px)" srcset="{{ image | img_url: '400x400' }}">
                                <source media="(min-width: 801px)" srcset="{{ image | img_url: '900x900' }}">
                                <img class="js-pdp-zoomable cursor-zoom-in img-fill-width color-{{ image.alt | handleize }}" src="{{ image | img_url: '900x900' }}" alt="{{ product.title }}--{{ image.alt }}" data-color="{{ image.alt }}" data-color-group="{{ image.alt | handleize }}" width="100%" height="auto" />
                            </picture>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="js-slideshow-thumbs pdp-slideshow-thumbs flex cell-mt-22 cell-m-24 flex--align-end">
                    {% assign count = 0 %}
                  {% for image in product.images %}
                  {% assign count = count | plus: 1 %}
                  <button class="js-slideshow-bullet slideshow-nav-item image" data-zoom="{{ count }}" data-color="{{ image.alt }}">
                    <picture class="img-fill-width no-tab no-mob unique-wrap for-btn {{forloop.index}} {{ image.alt }}" data-color="{{ image.alt }}">{% assign imgurlsmall = image | img_url: '100x100', crop: 'center' %}
                      <source media="(min-width: 801px)" srcset="{{ imgurlsmall }}">
                      <img class="img-fill-width no-tab no-mob" src="{{ imgurlsmall }}" alt="{{ product.title }}" width="100%" height="auto" />
                    </picture>
                  </button>
                  {% endfor %}
                </div>
            </div>
        </div>
        <div class="zoom-parent-div">
        {% for image in product.images %}
        {% assign count = count | plus: 1 %}
          <div class="zoom-popup" style="display: none;" data-zoom="{{ count }}">
            <div class="popup-zoom-content">
              <img src="{{ image | img_url: 'master' }}" alt="Product Img" class="zoom-img">
            </div>
            <button class="l-popin-close js-popin-close zoom-popup-close">
              <svg role="presentation" class="icon-svg icon-close" aria-hidden="true">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
              </svg>
              <span class="visually-hidden">Close the zoom window</span>
            </button>
            <button type="button" class="js-prev btn-prev btn-cta btn--icon zoom-popup-prev">
              <svg role="presentation" class="icon-svg ">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
              </svg>
            </button>
            <button type="button" class="js-next btn-next btn-cta btn--icon zoom-popup-next">
              <svg role="presentation" class="icon-svg ">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
              </svg>
            </button>
          </div>
        {% endfor %}
          {% assign Total = count %}
          <p class="final-count" style="display:none;">{{ Total }}</p>
        </div>
        <div class="js-pdp-desc offset-2 cell-9 cell-wide-7 offset-mt-3 cell-mt-19 offset-m-0 cell-m-25 l-vspaced-row-1 l-vspaced-row-mt-0">
            <div class="js-pdp-flags-block fs--xsmall text-white padding-m-2">
<!--                 <div class="item-flag fs--xsmall l-hmargin--small l-vmargin--xsmall" style="color: white;background-color: #0d564d;">40% off</div> -->
            </div>
            <h1 class="title--medium l-vmargin--medium padding-m-2">{{ product.title }}</h1>
            <div class="l-vmargin--small flex flex--align-start flex--space-between padding-m-2">
                <p class="js-pdp-color-title-block pdp-selected-color fs--small l-vmargin--small l-hmargin--small">
                    <img src="https://cdn.shopify.com/s/files/1/0233/9713/8496/files/{{defaultswatch}}" alt="" class="l-hmargin--xsmall rounded" width="11" height="11" /> {{ product.first_available_variant.option1 }}
                </p>
                <div class="js-pdp-price-block text-end l-hmargin--small">
                    <p id="ComparePrice-pl-product-template" class="money nowrap fs--medium ff-bold" style="color: #0d564d;" data-product-id="{{ product.id }}">{{ product.price | money }}</p>
                    <p id="ProductPrice-pl-product-template" class="nowrap fs--xsmall text-grey-light strikethrough l-vmargin--small">{{ product.compare_at_price | money }}</p>
                </div>
            </div>
            <hr class="no-tab no-desk l-vmargin--large" />
            {% include 'l-swatches' %}
            <div class="flex flex--space-between flex--align-center l-vmargin--xlarge padding-m-2">
                <button id="trigger-size-panel" class="btn-cta text-black js-popin-btn js-pdp-size js-track no-mob fs--medium ff-normal" data-popin-content-id="popin-size" data-popin-classname="popin--inside popin--panel" data-selected-size="" data-tag-id="pdp.openSizeList">Display sizes
                <svg role="presentation" class="icon-svg icon-select-size">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
                </svg>
                </button>
                <div class="is-hidden">
                    <div id="popin-size" class="popin-size js-popin-size">
                        <div class="l-popin-size-headline fs--small l-vmargin--xlarge offset-1 text-grey-light">
                            <svg role="presentation" class="icon-svg icon-deco" aria-hidden="true">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-hanger"></use>
                            </svg>
                            <button data-popin-content-id="popin-fit-finder" data-popin-classname="popin--inside popin-m--fill popin--panel" data-tag-id="pdp.openSizeGuide" class="size-guide-popin-btn reverse-link js-popin-btn js-track">
                            Size guide
                            </button>
                        </div>
                        <div class="popin-size-list">
                            <div class="popin-size--check-availability">
                                <!--<h2 class="title--medium l-vmargin--medium">See boutique availability</h2>-->
                                <p class="fs--medium text-grey l-vmargin--large">Please select a size</p>
                            </div>
                            <ul class="js-pdp-popin-size-list grid flex--space-around fs--medium ff-normal ">
                              {% for option in product.options_with_values %}
                                {% capture option_name %}{{ option.name | handleize }}{% endcapture%}
                                {% include 'l-size-swatch' with swatch: option.name %}
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <span id="cta-add-to-cart" class="fs--medium no-tab no-desk">Select your size</span>
                <span class="fs--small fs-m--medium text-grey-light">
                    <svg role="presentation" class="icon-svg icon-deco" aria-hidden="true">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-hanger"></use>
                    </svg>
                    <button data-popin-content-id="popin-fit-finder" data-popin-classname="popin--inside popin-m--fill popin--panel" data-tag-id="pdp.openSizeGuide" class="size-guide-popin-btn reverse-link js-popin-btn js-track">Size guide</button>
                </span>
            </div>
            <div class="js-pdp-mobile-size-list l-m-overflow-x l-vmargin--large padding-m-2 l-padding--xsmall fs--medium ff-normal no-tab no-desk">
              {% assign values = '' %}
              {% for option in product.options_with_values %}
              {% capture option_name %}{{ option.name | handleize }}{% endcapture%}
              {% include 'l-size-mobile' with swatch: option.name %}
              {% endfor %}
            </div>
            <div class="is-hidden">
                <div id="popin-fit-finder" class="popin-fit-finder">
                    <div class="padding-1 padding-mt-0">
                        <div class="text-center l-vspaced-row-1 l-vmargin--xsmall">
                            <div role="heading" aria-level="1" class="size-guide-popin-btn fs--medium ff-bold l-vmargin--xsmall">Size guide</div>
                            <p class="fs--small text-grey-light">Find your perfect size</p>
                        </div>
                        <div class="dialog" data-dialog-id="dialog-size-chart">
                            <div class="size-chart">
                                <div class="tab-wrapper">
                                    <div class="flex change-fit-tabs l-vmargin--small">
                                        <button data-tab="default-size-guide" class="is-active js-track fs--small change-fit-tab js-change-fit-tab initial-size-chart size-guide-popin-btn" data-tag-id="pdp.openTabSizeGuide">Size guide</button>
                                    </div>
                                    {% include 'size-guide-men-polo' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="no-tab no-desk l-vmargin--xlarge" />
            <div class="l-vmargin--small">
              {% form 'product', product, class: 'hidden' %}<input type="hidden" name="id" id="ProductID-{{ section.id }}" value="{{ product.selected_or_first_available_variant.id }}">{% endform %}
              <button id="cta-btn-main" class="btn-cta js-pdp-add-to-cart js-popin-btn btn--large text-white l-vmargin--small cell-9 cell-wide-7 cell-mt-19 offset-m-1 cell-m-23 fs--medium ff-normal" data-popin-content-id="popin-size" data-popin-classname="popin--inside popin-m--fill popin--panel">Select your size</button>
            </div>
            <div class="fs--medium text-grey-light text-center l-vmargin-row-1">
                <svg role="presentation" class="icon-svg icon-deco" aria-hidden="true">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-delivery"></use>
                </svg>
                <span class="reinsurance-box-label">
                    Free Standard Delivery on orders over P5,000

                </span>
            </div>
          
<!--             <div class="fs--small fs-mt--medium text-center">
                <svg role="presentation" class="icon-svg icon-deco">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-store-locator"></use>
                </svg>
                <button class="js-track reverse-link js-pdp-check-availability js-popin-btn" data-popin-content-id="popin-size" data-popin-classname="popin--inside popin-m--fill popin--panel popin-availability" data-tag-id="pdp.openCheckAvailability">
                Check boutique availability
                </button>
            </div> -->
          
            <div class="is-hidden">
                <div id="popin-check-availability" class="popin-check-availability">
                    <div class="padding-2 padding-mt-0 popin-check-availability-content">
                        <div class="js-popin-check-availability-title text-center l-vspaced-row-1">
                        </div>
                        <div class="js-check-availability-list check-availability-list">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="js-pdp-mosaic js-accordion grid" role="presentation">
        <article class="js-accordion-wrapper accordion-wrapper l-vmargin-row-1 l-vmargin-row-m-0 offset-1 cell-9 offset-mt-2 cell-mt-9 offset-m-0 cell-m-25">
            <div class="no-desk no-tab js-accordion-handle accordion-handle accordion-handle--large fs--medium text-grey padding-m-2" aria-controls="ada-pdp-care" aria-expanded="true" aria-disabled="true" aria-level="2" role="heading" id="ada-pdp-care-heading">
                Description
                <svg role="presentation" class="icon-svg ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
                </svg>
            </div>
            <div class="accordion-target" id="ada-pdp-care" aria-hidden="false" aria-labelledby="ada-pdp-care-heading">
                <div class="padding-m-2 l-vspaced-row-m-3">
                    <div class="l-vmargin--medium">
                        <h2 class="title--medium">
                        Material
                        </h2>
                        <div class="title--xsmall text-grey">
                            Product Ref. {{ product.metafields.specs.product_ref }}
                        </div>
                    </div>
                    <div id="product-description-box">
                      {{ product.description }}
                      <script>
                        var descBox = document.getElementById('product-description-box');
                        var descChildren = descBox.children;
                        Array.prototype.forEach.call(descChildren, function(el, i){
                          if(el.nodeName == 'UL') el.classList.add('dashed-list');
                          el.classList.add('fs--medium');
                          el.classList.add('text-grey');
                          el.classList.add('l-vmargin--xlarge');
                        });
                      </script>
                    </div>
<!--                     <div class="care-icon flex flex--align-center flex--space-between flex-mt--col flex-mt--align-start">
                        <h2 class="title--medium l-vmargin--medium">
                        Care
                        </h2>
                        <ul class="flex">
                            <li class="l-hmargin--small">
                                <img src="{{ 'lavageB.svg' | asset_url }}" alt="MACHINE WASH MAX 30 &deg;C VERY GENTLE SETTING" title="MACHINE WASH MAX 30 &deg;C VERY GENTLE SETTING" width="30" height="30" />
                            </li>
                            <li class="l-hmargin--small">
                                <img src="{{ 'chlorageX.svg' | asset_url }}" alt="DO NOT BLEACH" title="DO NOT BLEACH" width="30" height="30" />
                            </li>
                            <li class="l-hmargin--small">
                                <img src="{{ 'sechage_tambourX.svg' | asset_url }}" alt="DO NOT TUMBLE DRY" title="DO NOT TUMBLE DRY" width="30" height="30" />
                            </li>
                            <li class="l-hmargin--small">
                                <img src="{{ 'repassageA.svg' | asset_url }}" alt="IRON LOW TEMP. MAX 110 &deg; C" title="IRON LOW TEMP. MAX 110 &deg; C" width="30" height="30" />
                            </li>
                            <li class="l-hmargin--small">
                                <img src="{{ 'nettoyage_secX.svg' | asset_url }}" alt="DO NOT DRY-CLEAN" title="DO NOT DRY-CLEAN" width="30" height="30" />
                            </li>
                            <li class="l-hmargin--small">
                                <img src="{{ 'sechage_naturelF.svg' | asset_url }}" alt="LINE DRY" title="LINE DRY" width="30" height="30" />
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </article>
        {% for image in product.images %}
          {% if forloop.index0 == 1 %}
          <div class="gallery-img l-vmargin-row-1 order-m-2 cell-12 offset-3 offset-mt-2 cell-m-25 offset-m-0" data-img-alt="{{ image.alt }}">
            <picture class="img-fill-width">
              <source media="(max-width: 800px)" srcset="{{ image | img_url: '440x440', crop: 'center' }}">
              <source media="(min-width: 801px)" srcset="{{ image | img_url: '900x900', crop: 'center' }}">
              <img class="img-fill-width" src="{{ image | img_url: '900x900', crop: 'center' }}" alt="{{ product.title }}" width="100%" height="auto" />
            </picture>
          </div>
          {% elsif forloop.last == true %}  
          <div class="gallery-img l-vmargin-row-1 order-m-2 cell-11 offset-7 cell-m-25 offset-m-0"  data-img-alt="{{ image.alt }}" tabindex="-1">
            <img src="{{ image | img_url: '900x900', crop: 'center' }}" alt="{{ product.title }}" class="img-fill-width" />
          </div>
          {% elsif forloop.index0 != 0 %}
          <div class="gallery-img l-vmargin-row-1 order-m-2 cell-11 offset-1 cell-mt-10 offset-mt-2 cell-m-12 offset-m-{% cycle '0', '1' %}" data-img-alt="{{ image.alt }}" tabindex="-1">
            <img src="{{ image | img_url: '900x900', crop: 'center' }}" alt="{{ product.title }}" class="img-fill-width" />
          </div>  
          {% endif %}
        {% endfor %}
        {% include 'l-product-delivery' %}
    </div>
    <div class="js-pdp-recommendations cell-25"></div>
    <article class="brand-block grid cell-25 l-vspaced-row-2 l-vmargin-row-2 l-vspaced-row-mt-3 l-vspaced-row-m-2 bg-black" style='background-color: #1A1826'>
        <div class="cell-11 cell-m-24 text-white">
            <div class="l-vmargin-row-2 cell-7 offset-1 cell-mt-9 offset-mt-2 cell-m-18">
                <div class="l-vmargin--small">
                    <h3 class="title--xsmall l-vmargin--small">French Dressing: The Art of Knitwear</h3>
                    <h2 class="title--medium ff-bold">Patriot Games</h2>
                </div>
                <p class="l-vmargin--xlarge fs--medium cell-mt-7 cell-m-18">French savoir-faire leaves nothing to chance. This precise attention to detail is revealed with finesse in the Lacoste Made in France Collection. This season, these pieces in subtle cuts and supple knits deliver a clean silhouette thanks to the graphic lines around the shoulders. Proof that the French reputation for refined style is well-earned.</p>
                <a href="#" class="reverse-link fs--medium js-track" data-tag-id="pdp.clickBrandBlockLink">Discover</a>
            </div>
            <div class="cell-7 offset-2 cell-mt-9 offset-mt-0 cell-m-23 offset-m-1 l-vmargin-row-m-1">
                <picture class="img-fill-width">
                    <source media="(min-width: 801px)" srcset="{{ 'article-image-2.jpg' | asset_img_url: 'master' }}">
                    <img class="img-fill-width" src="{{ 'article-image-2.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
                </picture>
            </div>
        </div>
        <div class="cell-13 cell-mt-14 cell-m-25">
            <div class="cell-13 offset-mt-2 cell-m-17 offset-m-0 l-vmargin-row-1 l-vmargin-row-mt-2 l-vmargin-row-m-1 l-relative">
                <picture class="img-fill-width">
                    <source media="(min-width: 801px)" srcset="{{ 'article-image-1.jpg' | asset_img_url: 'master' }}">
                    <img class="img-fill-width" src="{{ 'article-image-1.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
                </picture>
            </div>
            <div class="cell-7 offset-3 cell-mt-11 offset-mt-0 cell-m-23 offset-m-2">
                <picture class="img-fill-width">
                    <source media="(min-width: 801px)" srcset="{{ 'article-image-3.jpg' | asset_img_url: 'master' }}">
                    <img class="img-fill-width" src="{{ 'article-image-3.jpg' | asset_img_url: 'master' }}" alt="null" width="100%" height="auto" />
                </picture>
            </div>
        </div>
    </article>
</section>

{% unless product == empty %}
  <script type="application/json" id="ProductJson-l-product-template">
    {{ product | json }}
  </script>
  <script id="ProductJson-l-product-template-variants">
    window.viq = { {% for variant in product.variants %} 
        "{{variant.id}}" :{{ variant.inventory_quantity }} 
    {%unless forloop.last == true%},{% endunless %}{% endfor %}
    }
    window.cartitems = {{ cart.item_count }};
  </script>
{% endunless %}