<div>
{% if section.settings.enable %}
  <ul class="announcement-banner promo js-banner-slider" data-style="{{ section.settings.color_background}}">
    
    {% for block in section.blocks %}
    <li class="second-banner" style="background: {{ block.settings.color_background}};color: {{ block.settings.color_font}};">
      <div class="flex flex--align-center flex--justify-center">
        {{ block.settings.title }}
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
  <style>
    .announcement-banner.promo {
      z-index: {% if template contains 'customers/register' %}21{% else %}2{% endif %};
      width: 100%;
    }
    .announcement-banner.promo .second-banner div {
      width: 98%;
      margin: 0 auto;
      padding: 0.7em 0;
      /*       height: 70px; */
    }
    .announcement-banner {
      background: {{ section.settings.color_background}};
      color: {{ section.settings.color_font}};
      font-size: 1.5rem;
/*       padding: 10px 10px; */
      text-align: center;
      font-weight: 500;
/*       z-index: 999; */
      position: relative;
      padding:0 !important;
    }
/*     .second-banner{
    	background: {{ block.settings.color_background}};
    } */
    .announcement-banner li {
      width: 100%;
      margin: 0 auto;
    }
    .announcement-banner .second-banner {
      padding: 0 20px;
      font-size: 15px;
    }
    .announcement-banner .flickity-page-dots {
      bottom: 5px;
    }
    .announcement-banner li p {
      display: inline;
      
    }
    
    .announcement-banner li a {
      text-decoration:underline;
      
    }

    .announcement-banner li:first-child {
/*       margin-bottom: 5px */
      margin-bottom:0 !important;
    }

    @media only screen and (max-width:768px) {
      .announcement-banner {
        padding-left: 0;
        padding-right: 0
      }
      .second-banner {
        padding-bottom: 20px !important;
      }
      .second-banner > div {
      }
      
      .link{
        display: unset;
        position: absolute;
        width: 8%;
        right: 429px;
        top: 23px;
        color: transparent;
      }
    }
    @media only screen and (max-width:425px) {
    	.announcement-banner.promo .second-banner div {
     		 height: 110px;
        }
  </style>
{% endif %}
{% schema %}
  {
    "name": "Lacoste text banner",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable text banner"
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background color",
        "default": "#115a33"
      },
	  {
        "type": "color",
        "id": "color_font",
        "label": "Text color",
        "default": "#fff"
      }
	],
  "blocks":[
    {
      "type":"text",
      "name":"Text",
      "settings":[
        {
          "type": "richtext",
          "id": "title",
          "label": "Text here"
        },
      {
        "type": "color",
        "id": "color_background",
        "label": "Background color",
        "default": "#115a33"
      },
	  {
        "type": "color",
        "id": "color_font",
        "label": "Text color",
        "default": "#fff"
      }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
