<div class="js-modular-layer js-modular--starter modular-layer modular--starter l-relative bg-white l-padding-bottom-row-small no-cover" id="lacoste-national-geographic" data-layer="layer_starter" data-tracking="">
    <div class="js-modular-push l-relative l-fill-height " data-id="lacoste-national-geographic-component-starter" data-tracking="">
       <div class="l-relative modular--starter-cover-wrapper">
          <div class="l-block l-fill-height" data-tracking="">
             <div class="js-lazyload-wrapper with-placeholder l-fill-height lazyload">
                <picture class="pict modular--starter-cover lazyload">
                    <source media="(max-width: 767px)" data-srcset="{{ section.settings.mobile_image | img_url: '320x' }} 320w,{{ section.settings.mobile_image | img_url: '375x' }} 375w,{{ section.settings.mobile_image | img_url: '414x' }} 414w,{{ section.settings.mobile_image | img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                    <source media="(min-width: 768px)" data-srcset="{{ section.settings.desktop_image | img_url: '594x' }} 594w,{{ section.settings.desktop_image | img_url: '640x' }} 640w,{{ section.settings.desktop_image | img_url: '767x' }} 767w,{{ section.settings.desktop_image | img_url: '914x' }} 914w,{{ section.settings.desktop_image | img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                    <img alt="{{ section.settings.desktop_image.alt }}" width="100%" height="auto" data-src="{{ section.settings.desktop_image | img_url: 'master' }}" class="js-modular--starter-cover modular--starter-cover js-lazyload lazyload" data-was-processed="true">
                </picture>
                <noscript>
                   <img class="noscript-content" data-src="{{ section.settings.desktop_image | img_url: 'master' }}" alt="lacoste-national-geographic" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
             </div>
          </div>
       </div>
    </div>
</div>

{% schema %}
{
    "name": "Promotional Banner",
    "settings": [
        {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        }
    ]
}
{% endschema %}