<div class="js-modular-layer js-modular--starter modular-layer modular--starter l-relative bg-white l-padding-bottom-row-small no-cover" id="lacoste-national-geographic" data-layer="layer_starter" data-tracking="">
    <div class="js-modular-push l-relative l-fill-height " data-id="lacoste-national-geographic-component-starter" data-tracking="">
       <div class="l-relative modular--starter-cover-wrapper">
          <div class="l-block l-fill-height" data-tracking="">
             <div class="js-lazyload-wrapper with-placeholder l-fill-height lazyload">
                <picture class="pict modular--starter-cover lazyload">
                    <source media="(max-width: 767px)" data-srcset="{{ section.settings.mobile_image | img_url: '320x' }} 320w,{{ section.settings.mobile_image | img_url: '375x' }} 375w,{{ section.settings.mobile_image | img_url: '414x' }} 414w,{{ section.settings.mobile_image | img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                    <source media="(min-width: 768px)" data-srcset="{{ section.settings.desktop_image | img_url: '594x' }} 594w,{{ section.settings.desktop_image | img_url: '640x' }} 640w,{{ section.settings.desktop_image | img_url: '767x' }} 767w,{{ section.settings.desktop_image | img_url: '914x' }} 914w,{{ section.settings.desktop_image | img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                    <img alt="{{ section.settings.desktop_image.alt }}" width="100%" height="auto" data-src="{{ section.settings.desktop_image | img_url: 'master' }}" class="js-modular--starter-cover modular--starter-cover js-lazyload lazyload" data-was-processed="true">
                </picture>
                <noscript>
                   <img class="noscript-content" data-src="{{ section.settings.desktop_image | img_url: 'master' }}" alt="lacoste-national-geographic" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
             </div>
          </div>
       </div>
       <div class="l-overlay grid pointer-none flex--justify-start flex--align-end flex-m--justify-start text-m-initial flex-m--align-end">
          <div class="cell-13 cell-mt-21 padding-1 l-vspaced-row-1 cell-m-25 padding-m-2   ">
             <div class="text-white">
                {% if section.settings.subtitle %}
                    <h3 class="overline ff-normal">{{ section.settings.subtitle }}</h3>
                {% endif %}
                {% if section.settings.title %}
                    <h2 class=" title--xlarge">
                        {{ section.settings.title }}
                    </h2>
                {% endif %}
                {% if section.settings.text %}
                    <div class="fs--medium l-vmargin--medium">
                        <div>
                        {{ section.settings.text }}
                        </div>
                    </div>
                {% endif %}
                {% if section.settings.button_link %}
                    <a class="btn-cta btn-white text-black l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="{{ section.settings.button_link }}" data-type="category">
                        {{ section.settings.button_label }}
                    </a>
                {% endif %}
             </div>
          </div>
       </div>
    </div>
</div>

{% schema %}
{
    "name": "Promotional Banner",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Founder: Joel Sartore"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "Subtitle",
            "default": "The National Geographic Photo Ark"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>The National Geographic Photo Ark uses the power of photography to inspire people to help save endangered species before it’s too late. Founder and photographer Joel Sartore has taken portraits of over 10,500 species — and counting — in his quest to document the approximately 15,000 species living in the world’s zoos and wildlife sanctuaries.</p>"
        },
        {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
            "default": "Zoom in on Photo Ark"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        },
        {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
        },
        {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
        }
    ]
}
{% endschema %}