
<div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-title-1" data-layer="layer_title">
  <div class="js-promotions offset-7 text-center cell-11 cell-m-21 offset-m-2 ">
    <div class="">
      {%- if section.settings.page_subtitle -%}
      <div class="overline text-grey-light ">
        {{ section.settings.page_subtitle }}
      </div>
      {%- endif -%}
      {%- if section.settings.page_title -%}
      <h1 class="title--xxlarge text-black">
        {{ section.settings.page_title }}
      </h1>
      {%- endif -%}
      {%- if section.settings.title_description -%}
      <div class="text-grey fs--medium">
        <div>
          <p>{{ section.settings.title_description }}</p>
        </div>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-polo-shop-story-1" data-layer="layer_story">
  <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacoste-polo-shop-story-1-component-1" data-theme="text-black">
    <div class="cell-14 cell-m-25 offset-m-0">
      <div class="l-block l-relative l-ratio--4-3 " data-tracking="">
        <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
          <picture class="pict l-absolute img-cover img-cover--center lazyload">
            <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-story-1-component-1-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-story-1-component-1-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-story-1-component-1-mob.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-polo-shop-story-1-component-1-mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
            <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-story-1-component-1-desktop.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-polo-shop-story-1-component-1-desktop.jpg' | file_img_url: '640x' }} 640w,{{ 'lacoste-polo-shop-story-1-component-1-desktop.jpg' | file_img_url: '767x' }} 767w,{{ 'lacoste-polo-shop-story-1-component-1-desktop.jpg' | file_img_url: '914x' }} 914w,{{ 'lacoste-polo-shop-story-1-component-1-desktop.jpg' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
            <img alt="lacoste-polo-shop-story-1-component-1" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-story-1-component-1-desktop.jpg' | file_img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
          </picture>
          <noscript>
            <img class="noscript-content" src="{{ 'lacoste-polo-shop-story-1-component-1-desktop.jpg' | file_img_url }}" alt="lacoste-polo-shop-story-1-component-1" width="auto" height="auto" />
          </noscript>
          <div class="lqip l-ratio--[object Object] pointer-none"></div>
        </div>
      </div>
    </div>
    <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
      <div>
        <div class="l-vmargin--large">
          <h2 class=" title--xlarge text-black">
            Pick Your Iconic
          </h2>
          <div class="text-grey  fs--medium">
            <div>
              <p>Reissued or inspired from the archives, this season the polo is playing the authenticity card. A relaxed cut and unbuttoned open collar for women. A two-tone ribbon and Lacoste badge on the sleeve give a vintage look for men.</p>
            </div>
          </div>
        </div>
        <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="/gb/lacoste/men/clothing/polo-shirts/short-sleeves/men%27s-lacoste-stripe-print-polo-shirt/PH5094-00.html?color=70V" data-type="product" data-tag-id="promotions.onPromoClick">
          For him
        </a>
        <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal js-track" href="/gb/lacoste/women/clothing/polo-shirts/women%27s-lacoste-flowy-pique-polo-shirt/PF0504-00.html?color=001" data-type="product" data-tag-id="promotions.onPromoClick">
          For her
        </a>
      </div>
    </div>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-slider-tiles-1" data-layer="layer_slider_tiles">
  <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
    <h2 class="js-modular-title title--xlarge text-black">
      Your cut
    </h2>
    <div class="text-grey js-modular-text fs--medium">
      Discover all of the Lacoste fits and find the one that suits you best.
    </div>
  </div>
  <div class="l-relative cell-25">
    <div class="js-slideshow-wrapper l-overflow-visible cell-7 cell-mt-10 cell-m-20 offset-m-1 swiper-container-horizontal" dir="ltr">
      <ul class="js-slideshow-controls slideshow-controls flex no-mob controls-top text-black">
        <li>
          <button class="js-slideshow-control-left slideshow-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/on/demandware.static/Sites-GB-Site/-/en/v1583803109776/img/svg/non-critical.svg#icon-chevron-left"></use>
            </svg>
          </button>
        </li>
        <li class="fs--xlarge ff-bold">
          <div class="js-slideshow-indicator slideshow-indicator">1 / 8</div>
        </li>
        <li>
          <button class="js-slideshow-control-right slideshow-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/on/demandware.static/Sites-GB-Site/-/en/v1583803109776/img/svg/non-critical.svg#icon-chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="js-slideshow slideshow flex l-relative" data-direction="ltr" data-slider-prev="Previous slide" data-slider-next="Next slide" data-slider-first="This is the first slide" data-slider-last="This is the last slide" data-slider-pagination="Go to slide {{index}}" data-slider-notification="">
        <div class="slide">
          <div class="cell-mt-9 cell-m-19 l-relative l-fill-height flex offset-1 cell-6">
            <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-slider-tiles-1-component-1">
              <a class=" l-fill-width flex--col flex--grow" href="#" data-tracking="" data-type="category">
                <div class="l-relative l-ratio--5-7  l-vmargin--small">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                    <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                      <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url: '244x' }} 244w,{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url: '594x' }} 594w" sizes="(max-width: 320px) 244px,(min-width: 321px) and (max-width: 375px) 295px,(min-width: 376px) and (max-width: 414px) 320px,(min-width: 415px) and (max-width: 767px) 594px">
                      <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url: '457x' }} 457w" sizes="(min-width: 768px) and (max-width: 1024px) 375px,(min-width: 1025px) and (max-width: 1190px) 414px,(min-width: 1191px) and (max-width: 1366px) 320px,(min-width: 1367px) and (max-width: 1680px) 414px,457px">
                      <img alt="The Classic fit" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                    </picture>
                    <noscript>
                      <img class="noscript-content" src="{{ 'lacoste-polo-shop-slider-tiles-1-component-1-desktop.jpg' | file_img_url }}" alt="The Classic fit" width="auto" height="auto" />
                    </noscript>
                    <div class="lqip l-ratio--5-7 pointer-none"></div>
                  </div>
                </div>
                <div class="flex flex--col flex--grow">
                  <div class="l-vmargin--small  ">
                    <h3 class="title--large l-vmargin--xsmall text-black">
                      The Classic fit
                    </h3>
                    <div class="text-grey fs--medium">
                      Straight cut, wide sleeves, two buttons, iconic green crocodile and the original Petit Piqué stitch. Slip into this polo for style and comfort.
                    </div>
                  </div>
                  <span class="reverse-link fs--medium text-grey">
                    Discover
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-push-1" data-layer="layer_push_tiles">
  <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
    <h2 class="js-modular-title title--xlarge text-black">
      Your colour
    </h2>
    <div class="text-grey js-modular-text fs--medium">
      Over 100 inimitable colours developed by Lacoste. Discover the polo in every hue.
    </div>
  </div>
  <div class="grid cell-25">
    <div class="offset-1 cell-7 offset-m-2 cell-m-21 l-vmargin-row-m-3 ">
      <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-push-1-tiles-basic-component-1">
        <a class=" l-fill-width flex--col flex--grow" href="#" target="" data-tag-id="promotions.onPromoClick" data-tracking="" data-type="category">
          <div class="l-relative l-ratio--1  l-vmargin--small">
            <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
              <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                <img alt="lacoste-polo-shop-push-1-tiles-basic-component-1" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacoste-polo-shop-push-1-component-1-desktop.jpg' | file_img_url }}" alt="lacoste-polo-shop-push-1-tiles-basic-component-1" width="auto" height="auto" />
              </noscript>
              <div class="lqip l-ratio--1 pointer-none"></div>
            </div>
          </div>
          <div class="flex flex--col flex--grow">
            <div class="l-vmargin--small  ">
              <h3 class="title--large l-vmargin--xsmall text-black">
                The classic colours
              </h3>
              <div class="text-grey fs--medium">
                Bright white, elegant black, formal grey...Neutral tones that match with everything.
              </div>
            </div>
            <span class="reverse-link fs--medium text-grey">
              Discover
            </span>
          </div>
        </a>
      </div>
    </div>
    <div class="offset-1 cell-7 offset-m-2 cell-m-21 l-vmargin-row-m-3 ">
      <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-push-1-tiles-basic-component-2">
        <a class=" l-fill-width flex--col flex--grow" href="#" target="" data-tag-id="promotions.onPromoClick" data-tracking="" data-type="category">
          <div class="l-relative l-ratio--1  l-vmargin--small">
            <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
              <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url }} 295w,{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                <img alt="lacoste-polo-shop-push-1-tiles-basic-component-2" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacoste-polo-shop-push-1-component-2-desktop.jpg' | file_img_url }}" alt="lacoste-polo-shop-push-1-tiles-basic-component-2" width="auto" height="auto" />
              </noscript>
              <div class="lqip l-ratio--1 pointer-none"></div>
            </div>
          </div>
          <div class="flex flex--col flex--grow">
            <div class="l-vmargin--small  ">
              <h3 class="title--large l-vmargin--xsmall text-black">
                The bright colours
              </h3>
              <div class="text-grey fs--medium">
                Bold red, iconic green, electric blue...Colours that pop and turn heads.
              </div>
            </div>
            <span class="reverse-link fs--medium text-grey">
              Discover
            </span>
          </div>
        </a>
      </div>
    </div>
    <div class="offset-1 cell-7 offset-m-2 cell-m-21">
      <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-push-1-tiles-basic-component-3">
        <a class=" l-fill-width flex--col flex--grow" href="#" target="" data-tracking="" data-type="category">
          <div class="l-relative l-ratio--1  l-vmargin--small">
            <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
              <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                <img alt="lacoste-polo-shop-push-1-tiles-basic-component-1" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacoste-polo-shop-push-1-component-3-desktop.jpg' | file_img_url }}" alt="lacoste-polo-shop-push-1-tiles-basic-component-1" width="auto" height="auto" />
              </noscript>
              <div class="lqip l-ratio--1 pointer-none"></div>
            </div>
          </div>
          <div class="flex flex--col flex--grow">
            <div class="l-vmargin--small  ">
              <h3 class="title--large l-vmargin--xsmall text-black">
                The pastel colours
              </h3>
              <div class="text-grey fs--medium">
                Flamingo pink, teal blue, olive green...Soft and alluring shades.
              </div>
            </div>
            <span class="reverse-link fs--medium text-grey">
              Discover
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-title-2" data-layer="layer_title">
  <div class="js-promotions offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
    <div class="l-vmargin--large">
      <h2 class="title--xlarge text-black">
        #MyLacostePolo
      </h2>
      <div class="text-grey fs--medium">
        <div>
          <p>Cool polo looks</p>
        </div>
      </div>
    </div>
    <a class="btn-cta text-white l-hmargin--small l-vmargin--small fs--medium ff-normal" href="/gb/lacoste-inside/mylacostepolo.html" data-type="content">
      Stay inspired!
    </a>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-bottom-row-small" id="lacoste-polo-shop-slider-tiles-2" data-layer="layer_slider_tiles">
  <div class="l-relative cell-25">
    <div class="js-slideshow-wrapper l-overflow-visible cell-7 cell-mt-10 cell-m-20 offset-m-1 swiper-container-horizontal" dir="ltr">
      <ul class="js-slideshow-controls slideshow-controls flex no-mob controls-top text-black">
        <li>
          <button class="js-slideshow-control-left slideshow-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/on/demandware.static/Sites-GB-Site/-/en/v1583803109776/img/svg/non-critical.svg#icon-chevron-left"></use>
            </svg>
          </button>
        </li>
        <li class="fs--xlarge ff-bold">
          <div class="js-slideshow-indicator slideshow-indicator">1 / 6</div>
        </li>
        <li>
          <button class="js-slideshow-control-right slideshow-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/on/demandware.static/Sites-GB-Site/-/en/v1583803109776/img/svg/non-critical.svg#icon-chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="js-slideshow slideshow flex l-relative">
        <div class="slide">
          <div class="cell-mt-9 cell-m-19 l-relative l-fill-height flex offset-1 cell-6">
            <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-slider-tiles-2-component-1">
              <a class=" l-fill-width flex--col flex--grow" href="#" target="">
                <div class="l-relative l-ratio--5-7  l-vmargin--small">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                    <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                      <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url: '244x' }} 244w,{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url: '594x' }} 594w" sizes="(max-width: 320px) 244px,(min-width: 321px) and (max-width: 375px) 295px,(min-width: 376px) and (max-width: 414px) 320px,(min-width: 415px) and (max-width: 767px) 594px">
                      <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url: '457x' }} 457w" sizes="(min-width: 768px) and (max-width: 1024px) 375px,(min-width: 1025px) and (max-width: 1190px) 414px,(min-width: 1191px) and (max-width: 1366px) 320px,(min-width: 1367px) and (max-width: 1680px) 414px,457px">
                      <img alt="lacoste-polo-shop-slider-tiles-2-component-1" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload">
                    </picture>
                    <noscript>
                      <img class="noscript-content" src="{{ 'lacoste-polo-shop-slider-tiles-2-component-1.jpg' | file_img_url }}" alt="lacoste-polo-shop-slider-tiles-2-component-1" width="auto" height="auto" />
                    </noscript>
                    <div class="lqip l-ratio--5-7 pointer-none"></div>
                  </div>
                </div>
                <div class="flex flex--col flex--grow">
                  <span class="reverse-link fs--medium text-grey">
                    Get this polo
                  </span>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-title-3" data-layer="layer_title" data-tracking="">
  <div class="js-promotions offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
    <div class="l-vmargin--large">
      <h2 class="title--xlarge text-black">
        The polo, a unique savoir-faire
      </h2>
      <div class="text-grey fs--medium">
        <div>
          <p>Signature fabric, tailored details and the iconic crocodile.</p>
        </div>
      </div>
    </div>
    <a class="btn-cta text-white l-hmargin--small l-vmargin--small fs--medium ff-normal" href="#">
      Open your eyes
    </a>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-push-2" data-layer="layer_push_tiles">
  <div class="grid cell-25">
    <div class="offset-1 cell-7 offset-m-2 cell-m-21 l-vmargin-row-m-3 ">
      <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-push-2-tiles-basic-component-1">
        <div class=" l-fill-width flex--col flex--grow" data-tracking="">
          <div class="l-relative l-ratio--1  l-vmargin--small">
            <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
              <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                <img alt="lacoste-polo-shop-push-2-tiles-basic-component-1" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacoste-polo-shop-push-2-component-1.jpg' | file_img_url }}" alt="lacoste-polo-shop-push-2-tiles-basic-component-1" width="auto" height="auto" />
              </noscript>
              <div class="lqip l-ratio--1 pointer-none"></div>
            </div>
          </div>
          <div class="flex flex--col flex--grow">
            <div class="  ">
              <h3 class="title--large l-vmargin--xsmall text-black">
                The cotton petit piqué
              </h3>
              <div class="text-grey fs--medium">
                A signature fabric by Lacoste made with multiple threads for a textured feel that ensures comfort, flexibility and style.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-1 cell-7 offset-m-2 cell-m-21 l-vmargin-row-m-3 ">
      <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-push-2-tiles-basic-component-2">
        <div class=" l-fill-width flex--col flex--grow" data-tracking="">
          <div class="l-relative l-ratio--1  l-vmargin--small">
            <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
              <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                <img alt="lacoste-polo-shop-push-2-tiles-basic-component-2" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacoste-polo-shop-push-2-component-2.jpg' | file_img_url }}" alt="lacoste-polo-shop-push-2-tiles-basic-component-2" width="auto" height="auto" />
              </noscript>
              <div class="lqip l-ratio--1 pointer-none"></div>
            </div>
          </div>
          <div class="flex flex--col flex--grow">
            <div class="  ">
              <h3 class="title--large l-vmargin--xsmall text-black">
                The details
              </h3>
              <div class="text-grey fs--medium">
                Two-button placket, mother-of-pearl buttons, ribbed collar, gathered cuffs and side slits...It's all in the signature tailored finishes.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-1 cell-7 offset-m-2 cell-m-21  ">
      <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-push-2-tiles-basic-component-3">
        <div class=" l-fill-width flex--col flex--grow" data-tracking="">
          <div class="l-relative l-ratio--1  l-vmargin--small">
            <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
              <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                <img alt="lacoste-polo-shop-push-2-tiles-basic-component-3" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacoste-polo-shop-push-2-component-3.jpg' | file_img_url }}" alt="lacoste-polo-shop-push-2-tiles-basic-component-3" width="auto" height="auto" />
              </noscript>
              <div class="lqip l-ratio--1 pointer-none"></div>
            </div>
          </div>
          <div class="flex flex--col flex--grow">
            <div class="  ">
              <h3 class="title--large l-vmargin--xsmall text-black">
                The crocodile
              </h3>
              <div class="text-grey fs--medium">
                Wherever it lands, 1200 embroidery stitches are required to make the crocodile appear.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-polo-shop-story-2" data-layer="layer_story">
  <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacoste-polo-shop-story-2-component-1" data-theme="text-black">
    <div class="cell-14 order-1 order-m-0 offset-1 cell-m-25 offset-m-0">
      <div class="l-block l-relative l-ratio--4-3 " data-tracking="">
        <div id="static-player-81ee7ce2cd4981cb83401c8600" class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background l-ratio--4-3 bg-white is-loaded is-paused is-ready" data-src-desktop="{{ 'lacoste-polo-shop-story-2-component-1-desktop-videov2.mp4' | file_url }}" data-src-mobile="null" data-type="video/mp4" data-autoplay="true" data-background="true" data-staticvideo="59713596-7cd0-40e0-862d-9546979c4634">
          <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto" loop="&quot;true&quot;" autoplay="&quot;autoplay&quot;">
            <source src="{{ 'lacoste-polo-shop-story-2-component-1-desktop-videov2.mp4' | file_url }}" type="video/mp4">
          </video>
          <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
            <!---->
            <button class="static-video-btn btn-play">
              <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/on/demandware.static/Sites-GB-Site/-/en/v1583803109776/img/svg/non-critical.svg#icon-play-pause"></use>
              </svg>
              <!---->
            </button>
            <!---->
          </div>
          <div class="js-video-poster l-overlay poster">
            <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
              <picture class="pict img-cover img-cover--top l-block lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '640x' }} 640w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '767x' }} 767w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '914x' }} 914w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                <img alt="lacoste-polo-shop-story-2-component-1" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url }}" alt="lacoste-polo-shop-story-2-component-1" width="auto" height="auto" />
              </noscript>
              <div class="lqip l-ratio--[object Object] pointer-none"></div>
            </div>
            <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
              <svg role="presentation" class="icon-svg ">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/on/demandware.static/Sites-GB-Site/-/en/v1583803109776/img/svg/non-critical.svg#icon-play-pause"></use>
              </svg>
            </div>
          </div>
          <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center">
            <svg class="loader-icon">
              <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="cell-8 padding-1 offset-2 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
      <div>
        <div class="l-vmargin--large">
          <h2 class=" title--xlarge text-black">
            Personalise your polo
          </h2>
          <div class="text-grey  fs--medium">
            <div>
              <p>Colours, crocodile, initials...personalise your polo.</p>
            </div>
          </div>
        </div>
        <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="/gb/customise-your-polo.html" data-type="content" data-tag-id="promotions.onPromoClick">
          Create your own
        </a>
      </div>
    </div>
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-blocks" data-layer="layer_blocks" data-tracking="">
  <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
    <h2 class="js-modular-title title--xlarge text-black">
      In the footsteps of the crocodile
    </h2>
    <div class="text-grey js-modular-text fs--medium">
      Everything you didn't know about Lacoste
    </div>
  </div>
  <div class="grid cell-25">
    <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
      <div class="js-modular-push js-promotions l-relative l-fill-height" data-id="lacoste-polo-shop-blocks-component-blocks-1">
        <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
          <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
            <picture class="pict l-absolute img-cover img-cover--center lazyload">
              <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-blocks-component-blocks-1-mobile.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-blocks-component-blocks-1-mobile.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-blocks-component-blocks-1-mobile.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-polo-shop-blocks-component-blocks-1-mobile.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
              <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-blocks-component-blocks-1-desktop.jpg' | file_img_url: '1024x' }} 1024w,{{ 'lacoste-polo-shop-blocks-component-blocks-1-desktop.jpg' | file_img_url: '1190x' }} 1190w,{{ 'lacoste-polo-shop-blocks-component-blocks-1-desktop.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-polo-shop-blocks-component-blocks-1-desktop.jpg' | file_img_url: '732x' }} 732w,{{ 'lacoste-polo-shop-blocks-component-blocks-1-desktop.jpg' | file_img_url: '838x' }} 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
              <img alt="lacoste-polo-shop-blocks-component-blocks-1" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-blocks-component-blocks-1-desktop.jpg' | file_img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload">
            </picture>
            <noscript>
              <img class="noscript-content" src="{{ 'lacoste-polo-shop-blocks-component-blocks-1-desktop.jpg' | file_img_url }}" alt="lacoste-polo-shop-blocks-component-blocks-1" width="auto" height="auto" />
            </noscript>
            <picture class="lqip pointer-none l-block"></picture>
          </div>
        </div>
        <div class="js-video-overlay l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2  flex flex--col flex--justify-end flex--align-start pointer-none text-white">
          <div class="pointer-auto l-vmargin--large">
            <h2 class="title--xlarge ">
              #MyLacostePolo
            </h2>
          </div>
          <div>
            <a class="btn-cta  l-hmargin--small pointer-auto l-vmargin--small fs--medium ff-normal" href="#">
              Get inspired
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="offset-m-0 cell-m-25 offset-1 cell-11">
      <div class="js-modular-push js-promotions l-relative l-fill-height" data-id="lacoste-polo-shop-blocks-component-blocks-2">
        <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
          <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
            <picture class="pict l-absolute img-cover img-cover--center lazyload">
              <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-blocks-component-blocks-2-mobile.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-blocks-component-blocks-2-mobile.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-blocks-component-blocks-2-mobile.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-polo-shop-blocks-component-blocks-2-mobile.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
              <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-blocks-component-blocks-2-desktop.jpg' | file_img_url: '1024x' }} 1024w,{{ 'lacoste-polo-shop-blocks-component-blocks-2-desktop.jpg' | file_img_url: '1190x' }} 1190w,{{ 'lacoste-polo-shop-blocks-component-blocks-2-desktop.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-polo-shop-blocks-component-blocks-2-desktop.jpg' | file_img_url: '732x' }} 732w,{{ 'lacoste-polo-shop-blocks-component-blocks-2-desktop.jpg' | file_img_url: '838x' }} 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
              <img alt="lacoste-polo-shop-blocks-component-blocks-2" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-blocks-component-blocks-2-desktop.jpg' | file_img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload lazyload">
            </picture>
            <noscript>
              <img class="noscript-content" src="{{ 'lacoste-polo-shop-blocks-component-blocks-2-desktop.jpg' | file_img_url }}" alt="lacoste-polo-shop-blocks-component-blocks-2" width="auto" height="auto" />
            </noscript>
            <picture class="lqip pointer-none l-block"></picture>
          </div>
        </div>
        <div class="js-video-overlay l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2  flex flex--col flex--justify-end flex--align-start pointer-none text-white">
          <div class="pointer-auto l-vmargin--large">
            <h2 class="title--xlarge ">
              Savoir-faire
            </h2>
          </div>
          <div>
            <a class="btn-cta  l-hmargin--small pointer-auto l-vmargin--small fs--medium ff-normal" href="#">
              Open your eyes
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
	"class":"js-promotions-section js-modular-section page-section modular-section bg-white",
    "settings": [
      {
        "type": "text",
        "id": "page_title",
        "label": "Heading" ,
        "default": "Lacoste Polo Shop" 
      },
      {
        "type": "text",
        "id": "page_subtitle",
        "label": "Subtitle" ,
        "default": "Pick Your Iconic" 
      },
      {
        "type": "text",
        "id": "page_title_description",
        "label": "Title Description" ,
        "default": "The perfect place to find the polo that's made for you." 
      },
      {
      	"type": "image_picker",
      	"id": "layer_story_img",
      	"label": "Layer Story Image"
      },
      {
      	"type": "image_picker",
      	"id": "video_image_overlay",
      	"label": "Video Image Overlay"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
