<div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-blocks" data-layer="layer_blocks" data-tracking="">
  <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
    <h2 class="js-modular-title title--xlarge text-black">
      {{ section.settings.layer_title }}
    </h2>
    <div class="text-grey js-modular-text fs--medium">
      {{ section.settings.layer_description }}
    </div>
  </div>
  <div class="grid cell-25">
    {%- for block in section.blocks -%}
    <div class="offset-m-0 cell-m-25 offset-1 cell-11 {% unless forloop.first %}l-vmargin-row-m-1{% endunless %}">
      <div class="js-modular-push js-promotions l-relative l-fill-height" data-id="lacoste-polo-shop-blocks-component-blocks-1">
        <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
          <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
            <picture class="pict l-absolute img-cover img-cover--center lazyload">
              {%- if block.settings.layer_block_mob -%}
              <source media="(max-width: 767px)" data-srcset="{{ block.settings.layer_block_mob | img_url: '320x' }} 320w,{{ block.settings.layer_block_mob | img_url: '375x' }} 375w,{{ block.settings.layer_block_mob | img_url: '414x' }} 414w,{{ block.settings.layer_block_mob | img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
              {%- endif -%}
              {%- if block.settings.layer_block_desk -%}
              <source media="(min-width: 768px)" data-srcset="{{ block.settings.layer_block_desk | img_url: '1024x' }} 1024w,{{ block.settings.layer_block_desk | img_url: '1190x' }} 1190w,{{ block.settings.layer_block_desk | img_url: '594x' }} 594w,{{ block.settings.layer_block_desk | img_url: '732x' }} 732w,{{ block.settings.layer_block_desk | img_url: '838x' }} 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
              <img alt="lacoste-polo-shop-blocks-component-blocks-1" width="100%" height="auto" data-src="{{ block.settings.layer_block_desk | img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload">
              {%- endif -%}
            </picture>
            <noscript>
              <img class="noscript-content" src="{{ block.settings.layer_block_desk | img_url }}" alt="lacoste-polo-shop-blocks-component-blocks-1" width="auto" height="auto" />
            </noscript>
            <picture class="lqip pointer-none l-block"></picture>
          </div>
        </div>
        <div class="js-video-overlay l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2  flex flex--col flex--justify-end flex--align-start pointer-none text-white">
          <div class="pointer-auto l-vmargin--large">
            <h2 class="title--xlarge ">
              {{ block.settings.layer_block_title }}
            </h2>
          </div>
          <div>
            <a class="btn-cta  l-hmargin--small pointer-auto l-vmargin--small fs--medium ff-normal" href="{{ block.settings.layer_block_link }}">
              {{ block.settings.layer_block_linktext }}
            </a>
          </div>
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>
{% schema %}
  {
    "name": "Layer Slider Block",
    "settings": [
      {
        "type": "text",
        "id": "layer_title",
        "label": "Layer Title" ,
        "default": "In the footsteps of the crocodile" 
      },
      {
        "type": "textarea",
        "id": "layer_description",
        "label": "Layer Description" ,
        "default": "Everything you didn't know about Lacoste" 
      }
    ],
    "blocks": [
      {
        "type": "tiles",
        "name": "Tile with images" ,
        "settings": [
          {
            "type": "image_picker",
            "id": "layer_block_desk",
            "label": "Block Image Desktop"
          },
          {
            "type": "image_picker",
            "id": "layer_block_mob",
            "label": "Block Image Mobile"
          },
          {
            "type": "text",
            "id": "layer_block_title",
            "label": "Block Title"
          },
          {
            "type": "text",
            "id": "layer_block_linktext",
            "label": "Block Button",
			"default": "Discover"
          },
          {
            "type": "url",
            "id": "layer_block_link",
            "label": "Block Link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
