<div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-title-2" data-layer="layer_title">
  <div class="js-promotions offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
    {%- if section.settings.layer_title -%}
      <div class="l-vmargin--large">
        <h2 class="title--xlarge text-black">
          {{ section.settings.layer_title }}
        </h2>
        <div class="text-grey fs--medium">
          <div>
            <p>{{ section.settings.layer_subtitle }}</p>
          </div>
        </div>
      </div>
    {%- endif -%}
    {%- if section.settings.layer_button_url and section.settings.layer_button_text -%}
      <a class="btn-cta text-white l-hmargin--small l-vmargin--small fs--medium ff-normal" href="{{ section.settings.layer_button_url }}" data-type="content">
        {{ section.settings.layer_button_text }}
      </a>
    {%- endif -%}
  </div>
</div>
<div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-bottom-row-small" id="lacoste-polo-shop-slider-tiles-2" data-layer="layer_slider_tiles">
  <div class="l-relative cell-25">
    <div class="js-slideshow-wrapper l-overflow-visible cell-7 cell-mt-10 cell-m-20 offset-m-1 swiper-container-horizontal" dir="ltr">
      <ul class="js-slideshow-controls slideshow-controls flex no-mob controls-top text-black">
        <li>
          <button class="js-slideshow-control-left slideshow-button-prev swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-left"></use>
            </svg>
          </button>
        </li>
        <li class="fs--xlarge ff-bold">
          <div class="js-slideshow-indicator slideshow-indicator">1 / 6</div>
        </li>
        <li>
          <button class="js-slideshow-control-right slideshow-button-next" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false">
            <svg role="presentation" class="icon-svg ">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-right"></use>
            </svg>
          </button>
        </li>
      </ul>
      <div class="js-slideshow l-relative">
        {%- for slide in section.blocks -%}
        <div class="slide {% if slide.settings.layer_slide_initial %}is-initial{% endif %}">
          <div class="cell-mt-9 cell-m-19 l-relative l-fill-height flex offset-1 cell-6">
            <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-polo-shop-slider-tiles-2-component-1">
              <a class=" l-fill-width flex--col flex--grow" href="{{ slide.settings.layer_slide_link }}" target="">
                {%- if slide.settings.layer_slide_img -%}
                <div class="l-relative l-ratio--5-7  l-vmargin--small">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                    <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                      <source media="(max-width: 767px)" data-srcset="{{ slide.settings.layer_slide_img | img_url: '244x' }} 244w,{{ slide.settings.layer_slide_img | img_url: '295x' }} 295w,{{ slide.settings.layer_slide_img | img_url: '320x' }} 320w,{{ slide.settings.layer_slide_img | img_url: '594x' }} 594w" sizes="(max-width: 320px) 244px,(min-width: 321px) and (max-width: 375px) 295px,(min-width: 376px) and (max-width: 414px) 320px,(min-width: 415px) and (max-width: 767px) 594px">
                      <source media="(min-width: 768px)" data-srcset="{{ slide.settings.layer_slide_img | img_url: '320x' }} 320w,{{ slide.settings.layer_slide_img | img_url: '375x' }} 375w,{{ slide.settings.layer_slide_img | img_url: '414x' }} 414w,{{ slide.settings.layer_slide_img | img_url: '457x' }} 457w" sizes="(min-width: 768px) and (max-width: 1024px) 375px,(min-width: 1025px) and (max-width: 1190px) 414px,(min-width: 1191px) and (max-width: 1366px) 320px,(min-width: 1367px) and (max-width: 1680px) 414px,457px">
                      <img alt="lacoste-polo-shop-slider-tiles-2-component-1" width="100%" height="auto" data-src="{{ slide.settings.layer_slide_img | img_url }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload">
                    </picture>
                    <noscript>
                      <img class="noscript-content" src="{{ slide.settings.layer_slide_img | img_url }}" alt="lacoste-polo-shop-slider-tiles-2-component-1" width="auto" height="auto" />
                    </noscript>
                    <div class="lqip l-ratio--5-7 pointer-none"></div>
                  </div>
                </div>
                {%- endif -%}
                {%- if slide.settings.layer_slide_linktext -%}
                <div class="flex flex--col flex--grow">
                  <span class="reverse-link fs--medium text-grey">
                    {{ slide.settings.layer_slide_linktext }}
                  </span>
                </div>
                {%- endif -%}
              </a>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
      <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Layer Slider Tiles",
    "settings": [
      {
        "type": "text",
        "id": "layer_title",
        "label": "Layer Title" ,
        "default": "#MyLacostePolo" 
      },
      {
        "type": "text",
        "id": "layer_subtitle",
        "label": "Layer Subtitle" ,
        "default": "Cool polo looks" 
      },
      {
        "type": "text",
        "id": "layer_button_text",
        "label": "Layer Title Button Text" ,
        "default": "Stay inspired!" 
      },
      {
        "type": "url",
        "id": "layer_button_url",
        "label": "Layer Title Button Url" 
      }
    ],
    "blocks": [
      {
        "type": "tileslider",
        "name": "Tile Slider with images" ,
        "settings": [
          {
            "type": "checkbox",
            "id": "layer_slide_initial",
            "label": "Set to initial"
          },
          {
            "type": "image_picker",
            "id": "layer_slide_img",
            "label": "Tile Slider Image"
          },
          {
            "type": "text",
            "id": "layer_slide_linktext",
            "label": "Tile Slider Button",
			"default": "Get this polo"
          },
          {
            "type": "url",
            "id": "layer_slide_link",
            "label": "Tile Slider Link"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
