<div class="clearfix row modular-content" style="background-color: #111111;" id="lacoste-sneaker-guide-women">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates" data-tracking-page-category="brand" data-tracking-page-banner="Sneaker_Guide_Women">
      <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="lacoste-sneaker-guide-women-nav">
         <div class="banner-nav-bg">
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{'header-mobile.png' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-nav.jpg' | asset_url }}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width is-active" src="{{'lacoste-sneaker-guide-women-nav.jpg' | asset_url }}" alt="Welcome" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{'header-mobile.png' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-minimal-nav.jpg' | asset_url }}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{'lacoste-sneaker-guide-women-minimal-nav.jpg' | asset_url }}" alt="Minimal" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{'header-mobile.png' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-casual-nav.jpg' | asset_url }}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{'lacoste-sneaker-guide-women-casual-nav.jpg' | asset_url }}" alt="Casual" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{'header-mobile.png' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-creatif-nav.jpg' | asset_url }}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{'lacoste-sneaker-guide-women-creatif-nav.jpg' | asset_url }}" alt="Creative" width="100%" height="auto">
            </picture>
         </div>
         <div class="l-relative text-white">
            <div class="l-relative flex flex--col flex--centered text-center">
               <h2 class="banner-nav-title title--xlarge ff-bold l-vmargin--large">
                  Which Lacoste trainers are yours?
               </h2>
               <h3 class="banner-nav-subtitle cell-13 cell-m-19 fs--medium l-margin-text">
                  A foolproof style guide to choose your perfect sneakers.
               </h3>
            </div>
            <div class="js-banner-nav banner-nav">
               <a class="js-banner-nav-item banner-nav-item fs--small  is-active" href="/pages/sneaker-guide-women">
               <img class="banner-nav-icon" src="{{'croco.svg' | asset_url }}" alt="Welcome">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'croco.svg' | asset_url }}" alt="Welcome">
               <span>
               Welcome
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/sneaker-guide-minimal-women">
               <img class="banner-nav-icon" src="{{'master.svg' | asset_url }}" alt="Minimal">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'master.svg' | asset_url }}" alt="Minimal">
               <span>
               Minimal
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/sneaker-guide-casual-women">
               <img class="banner-nav-icon" src="{{'sideline.svg' | asset_url}}" alt="Casual">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'sideline.svg' | asset_url}}" alt="Casual">
               <span>
               Casual
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/sneaker-guide-creative-women">
               <img class="banner-nav-icon" src="{{'creative.svg' | asset_url}}" alt="Creative">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'creative.svg' | asset_url}}" alt="Creative">
               <span>
               Creative
               </span>
               </a>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-women-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               Featured trainers
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               An homage to Lacoste’s tennis heritage, Sideline seduces with their easy and unisex style. Thanks to the vulcanised rubber sole, it’s the comfortable pair for everyday wear.
               <style>.fs--medium.l-no-margin.text-grey{color:#c8c8c8;} .ff-bold.title--medium.l-vmargin--large.text-black{color:#ffffff;} #lacoste-sneaker-guide-women-title-1{margin-bottom:20px} #lacoste-sneaker-guide-women-title-3{margin-bottom:20px}</style>
            </p>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="lacoste-sneaker-guide-women-champion">
         <a href="https://lacoste.com.ph/collections/women-shoes/products/womens-sideline-4-trainers-in-canvas-and-leathers-737cfa0067" class="l-vmargin-row-and-half cell-11 cell-mt-19 cell-m-23 order-mt-2">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-champion-1.jpg' | asset_url}}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{'lacoste-sneaker-guide-women-champion-1.jpg' | asset_url}}" alt="They easily match your silhouette" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
               They easily match your silhouette
            </p>
         </a>
         <a href="https://lacoste.com.ph/collections/womens-shoes/products/womens-sideline-1-trainers-in-canvas-and-leather-737cfa0042" class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 offset-mt-6 order-mt-1">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-champion-2.jpg' | asset_url}}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{'lacoste-sneaker-guide-women-champion-2.jpg' | asset_url}}" alt="The Sideline moves the line" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
               The Sideline moves the line
            </p>
         </a>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-women-title-3">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               <p><span style="color:#ffffff;">Define your style</span></p>
            </h2>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-sneaker-guide-women-lift">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);" data-flickity='{ "wrapAround": false, "contain": true, "initialIndex": 1, "prevNextButtons": true, "pageDots": false }'>
                  <a href="/pages/sneaker-guide-minimal-women" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'lacoste-sneaker-guide-women-lift-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'lacoste-sneaker-guide-women-lift-1.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Minimalist chic
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Perfect cuts and materials
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="/pages/sneaker-guide-casual-women" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-lift-2.jpg' | asset_url}}">
                        <img class="img-fill-width l-block" src="{{'lacoste-sneaker-guide-women-lift-2.jpg' | asset_url}}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Casual class
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Good basics for a comfortable style
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/pages/lacoste-sneaker-guide-women-creative" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{'SS19_FTW_REGIONAL_WOMEN_LA_PIQUEE_119_1_BLK_WHT_1.jpg' | asset_url}}">
                        <img class="img-fill-width l-block" src="{{'SS19_FTW_REGIONAL_WOMEN_LA_PIQUEE_119_1_BLK_WHT_1.jpg' | asset_url}}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Creative freedom
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           A style that is truly your own
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-coupe cell-23 offset-1 l-vmargin-row-and-half" id="lacoste-sneaker-guide-women-coupe">
         <div class="coupe-content">
            <a class="l-relative coupe-item l-vmargin--xlarge cell-11  cell-mt-23" href="/collections/womens-shoes">
               <picture class="pict img-fill-width">
                  <source media="(max-width: 800px)" srcset="{{'lacoste-sneaker-guide-women-coupe-1-mobile.jpg' | asset_url}}">
                  <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-coupe-1.jpg' | asset_url}}">
                  <img class="img-fill-width" src="{{'lacoste-sneaker-guide-women-coupe-1.jpg' | asset_url}}" alt="<p><span style=&quot;color:#ffffff;&quot;>All women’s shoes</span></p>" width="100%" height="auto">
               </picture>
               <div class="coupe-text-wrapper l-overlay cell-mt-12 offset-mt-2 text-white">
                  <h2 class="title--medium text-black l-vmargin--small">
                     <p><span style="color:#ffffff;">All women’s shoes</span></p>
                  </h2>
                  <button class="btn-cta no-tab no-mob ${btnClass} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
            <a class="l-relative coupe-item l-vmargin--xlarge cell-11  cell-mt-23" href="/collections/women-shoes">
               <picture class="pict img-fill-width">
                  <source media="(max-width: 800px)" srcset="{{ 'lacoste-sneaker-guide-women-coupe-2-mobile.jpg' | asset_url }}">
                  <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-coupe-2.jpg' | asset_url}}">
                  <img class="img-fill-width" src="{{'lacoste-sneaker-guide-women-coupe-2.jpg' | asset_url}}" alt="<p><span style=&quot;color:#ffffff;&quot;>All women’s sneakers</span></p>" width="100%" height="auto">
               </picture>
               <div class="coupe-text-wrapper l-overlay cell-mt-12 offset-mt-2 text-white">
                  <h2 class="title--medium text-black l-vmargin--small">
                     <p><span style="color:#ffffff;">All women’s sneakers</span></p>
                  </h2>
                  <button class="btn-cta no-tab no-mob ${btnClass} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-women-title-2">
         <div class="offset-5 cell-15 offset-mt-2 cell-mt-21 text-center">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
            </h2>
            <a class="btn-cta  text-white l-hmargin--small fs--medium ff-normal" href="/collections/womens-shoes/">
            All the sneakers
            </a>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="lacoste-sneaker-guide-women">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>