<div class="clearfix row modular-content" style="" id="lacoste-keith-haring">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates" data-tracking-page-category="brand" data-tracking-page-banner="Collab_Keith_Haring">
      <div class="js-mcontent-strate mcontent-strate l-overflow-hidden l-vmargin-row-and-half mcontent-ace" id="lacoste-keith-haring-ace">
         <div class="l-relative">
            <div class="js-swiper-ace cell-23 offset-1 l-overflow-hidden">
               <div class="swiper-wrapper">
                  <div class="swiper-slide ">
                     <picture class="pict img-fill-width l-vmargin-xsmall">
                        <source media="(max-width: 800px)" srcset="{{ 'lacoste-keith-haring-ace-mob.jpg' | asset_url }}">
                        <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-ace.jpg' | asset_url }}">
                        <img class="img-fill-width l-vmargin-xsmall" src="{{ 'lacoste-keith-haring-ace.jpg' | asset_url }}" alt="LACOSTE x KEITH HARING" width="100%" height="auto">
                     </picture>
                     <div class="ace-content cell-7 cell-mt-21 offset-3 offset-mt-1 text-black text-m-left">
                        <h2 class="title--medium l-vmargin--medium cell-7 cell-mt-21">
                           LACOSTE x KEITH HARING
                        </h2>
                        <p class="fs--medium l-vmargin--large text-grey">
                           B-boys and girls: get down with Keith Haring and the crocodile in a creative explosion of optimism. Symbolic, iconic and dynamic – this collab lends vibrant colour to the season.
                        </p>
                        <a class="btn-cta l-hmargin--small text-white js-tracking-data fs--medium ff-normal js-tracking-data" href="/collections/keith-haring" data-tracking-category="BRAND" data-tracking-banner="55cat=BRAND&amp;55ban=fb:1A;fe:BtnDisCol;fc:Category;fg:all;ft:Collab;fl:keith-haring;fd:201810">
                        The collection
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-pagination js-swiper-pagination-ace"></div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate js-mcontent-mousquetaires mcontent-mousquetaires l-vmargin-row-and-half" id="lacoste-keith-haring-mousquetaire">
         <h2 class="js-strate-title cell-23 offset-1 title--medium l-vmargin--large text-black mousquetaires-title ">
            Primary colours
         </h2>
         <div class="js-swiper-container-mousquetaires swiper-container-mousquetaires swiper-container-horizontal swiper-container-free-mode">
            <div class="l-vmargin--large haring-slider" data-flickity='{ "contain": true, "pageDots": false, "percentPosition": false }'>
               <div class="cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="js-tracking-data" href="https://lacoste.com.ph/collections/polos-shop/products/mens-lacoste-keith-haring-print-band-regular-fit-petit-pique-polo-shirt-ph4360-1
" data-tracking-category="BRAND" data-tracking-banner="55cat=BRAND&amp;55ban=fb:2B;fe:BtnShopNow;fc:Product;fg:man;ft:Collab;fl:keith-haring;fd:201810">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-mousquetaire-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'lacoste-keith-haring-mousquetaire-1.jpg' | asset_url }}" alt="The breakdance polo" width="100%" height="auto">
                     </picture>
                     <div class="mousquetaires-content ">
                        <h2 class="title--medium l-hmargin--small">
                           The breakdance polo
                        </h2>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="js-tracking-data" href="https://lacoste.com.ph/collections/women-new-collection/products/womens-keith-haring-printed-short-sleeve-woven-shirt-cf5982" data-tracking-category="BRAND" data-tracking-banner="55cat=BRAND&amp;55ban=fb:3B;fe:BtnShopNow;fc:Product;fg:man;ft:Collab;fl:keith-haring;fd:201810">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-mousquetaire-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'lacoste-keith-haring-mousquetaire-2.jpg' | asset_url }}" alt="Mini prints" width="100%" height="auto">
                     </picture>
                     <div class="mousquetaires-content ">
                        <h2 class="title--medium l-hmargin--small">
                           Mini prints
                        </h2>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="js-tracking-data" href="https://lacoste.com.ph/collections/womens-polos/products/womens-keith-haring-design-stretch-polo-pique-pf4122" data-tracking-category="BRAND" data-tracking-banner="55cat=BRAND&amp;55ban=fb:4B;fe:BtnShopNow;fc:Product;fg:wom;ft:Collab;fl:keith-haring;fd:201810">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-mousquetaire-3.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'lacoste-keith-haring-mousquetaire-3.jpg' | asset_url }}" alt="Pop your collar" width="100%" height="auto">
                     </picture>
                     <div class="mousquetaires-content ">
                        <h2 class="title--medium l-hmargin--small">
                           Pop your collar
                        </h2>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="js-tracking-data" href="https://lacoste.com.ph/collections/polos-shop/products/mens-lacoste-keith-haring-print-classic-fit-mini-pique-polo-shirt-ph4344
" data-tracking-category="BRAND" data-tracking-banner="55cat=BRAND&amp;55ban=fb:1C;fe:BtnDisCol;fc:Category;fg:man;ft:Collab;fl:keith-haring;fd:201810">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-mousquetaire-4.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'lacoste-keith-haring-mousquetaire-4.jpg' | asset_url }}" alt="Underground Attitude" width="100%" height="auto">
                     </picture>
                     <div class="mousquetaires-content ">
                        <h2 class="title--medium l-hmargin--small">
                           Underground Attitude
                        </h2>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
            </div>
<!--             <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span> -->
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="lacoste-keith-haring-chelem-2">
         <div class="cell-11 offset-1 no-tab no-mob ">
            <picture class="pict l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-chelem-2.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'lacoste-keith-haring-chelem-2.jpg' | asset_url }}" alt="René Lacoste, meet Keith Haring" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 offset-mt-1 cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <picture class="pict l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-chelem-2-1.gif' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'lacoste-keith-haring-chelem-2-1.gif' | asset_url }}" alt="René Lacoste, meet Keith Haring" width="100%" height="auto">
            </picture>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
                  René Lacoste, meet Keith Haring
               </h2>
               <p class="fs--medium text-grey l-vmargin--medium col-pr-2-10 col-mob-pr-0">
                  René Lacoste invented the polo by cutting off the sleeves of a shirt. Keith Haring reinvented the artworld rules by taking over the streets and subways of New York. Acts that were as instinctive as they were symbolic. Acts that changed their – and our – worlds.
               </p>
               <a class="btn-cta l-hmargin--small text-white fs--medium ff-normal" href="/collections/keith-haring">
               Discover now
               </a>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-keith-haring-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               Tags for Friends
            </h2>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="lacoste-keith-haring-champion-1">
         <a href="https://lacoste.com.ph/collections/polos-shop/products/mens-lacoste-keith-haring-print-classic-fit-mini-pique-polo-shirt-ph4344
" class="l-vmargin-row-and-half cell-11 cell-mt-19 cell-m-23 order-mt-2">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-champion-1-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'lacoste-keith-haring-champion-1-1.jpg' | asset_url }}" alt="Radiant babies, barking dogs and angels and flying devils – these are Keith Haring’s iconic symbols." width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
               Radiant babies, barking dogs and angels and flying devils – these are Keith Haring’s iconic symbols.
            </p>
         </a>
         <a href="https://lacoste.com.ph/collections/polos-shop/products/mens-lacoste-keith-haring-print-classic-fit-mini-pique-polo-shirt-ph4344
" class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 offset-mt-6 order-mt-1">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-champion-1-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'lacoste-keith-haring-champion-1-2.jpg' | asset_url }}" alt="Keith and the croc." width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
               Keith and the croc.
            </p>
         </a>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="lacoste-keith-haring-champion-2">
         <a href="https://lacoste.com.ph/collections/women-new-collection/products/womens-keith-haring-anna-reversible-shopping-bag-nf2764xm" class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 cell-m-23 offset-mt-0">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-champion-2-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'lacoste-keith-haring-champion-2-1.jpg' | asset_url }}" alt="The reversible Anna bag: wild style." width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
               The reversible Anna bag: wild style.
            </p>
         </a>
         <a href="https://lacoste.com.ph/collections/women-new-collection/products/womens-keith-haring-anna-reversible-shopping-bag-nf2764xm" class="l-vmargin-row-and-half cell-11 offset-2 cell-mt-19 offset-mt-6 cell-m-19 offset-m-6">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-keith-haring-champion-2-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'lacoste-keith-haring-champion-2-2.jpg' | asset_url }}" alt="Be your own work of art." width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
               Be your own work of art.
            </p>
         </a>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-keith-haring-title-2">
         <div class="offset-5 cell-15 offset-mt-2 cell-mt-21 text-center">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
            </h2>
            <a class="btn-cta js-tracking-data text-white l-hmargin--small fs--medium ff-normal js-tracking-data" href="/collections/keith-haring" data-tracking-category="BRAND" data-tracking-banner="55cat=BRAND&amp;55ban=fb:1F;fe:BtnDisCol;fc:Category;fg:all;ft:Collab;fl:keith-haring;fd:201810">
            The collection
            </a>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="lacoste-keith-haring">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>