<div class="clearfix row modular-content" style="" id="polo-cool">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates" data-tracking-page-category="brand" data-tracking-page-banner="Polo_Cool">
      <div class="mcontent-court l-vmargin-row-and-half text-white  court-launch" id="polo-cool-court-1">
         <img src="{{ 'polo_cool_court_desktop.jpg' | asset_url }} " alt="WHICH POLO IS YOURS?" data-src="https://player.vimeo.com/video/329298103?title=0&amp;byline=0&amp;portrait=0&amp;loop=1" class="img-fill-width js-court-poster l-vmargin--xsmall " width="100%" height="auto">
         <div class="court-content cell-7 cell-mt-15 cell-m-21 offset-mt-4 offset-m-2">
            <h2 class="title--medium l-vmargin--medium">
               WHICH POLO IS YOURS?
            </h2>
            <p class="fs--medium l-vmargin--xlarge ">
               #crocodileinside
            </p>
            <button type="button" name="button" class="player-btn" style="top: 379.5px;">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="58px" height="58px" viewBox="277 367 58 58" enable-background="new 277 367 58 58" xml:space="preserve">
                  <path fill="#fff" class="button-play-bg" d="M306,423.5c-15.188,0-27.5-12.312-27.5-27.5s12.312-27.5,27.5-27.5s27.5,12.312,27.5,27.5
                     C333.478,411.179,321.179,423.478,306,423.5z"></path>
                  <path fill="#292929" class="button-play-border" d="M306,369c14.912,0,27,12.088,27,27s-12.088,27-27,27s-27-12.088-27-27
                     C279.022,381.097,291.097,369.022,306,369 M306,368c-15.464,0-28,12.536-28,28c0,15.464,12.536,28,28,28c15.464,0,28-12.536,28-28
                     C334,380.536,321.464,368,306,368L306,368z"></path>
                  <polygon fill="#292929" class="button-play-arrow" points="302.5,385.2 313.3,396 302.5,406.8 "></polygon>
                  <path class="button-play-arrow-border" fill="#292929" d="M303,386.42l9.58,9.58l-9.58,9.58V386.42 M302,384v24l12-12L302,384L302,384z"></path>
               </svg>
            </button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="polo-cool-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               Find your fit
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               The power of a polo: always enhance the wearer. How? With three fits for men and for women that deliver form and function. Which is yours?
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="polo-cool-lift-1">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="cool-polo-flick swiper-wrapper l-vmargin--large" style="display: block;" data-flickity='{ "wrapAround": true, "contain": true, "initialIndex": 1, "prevNextButtons": true, "pageDots": false }'>
                  <a href="#" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-1-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-1-1.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           The Men's Classic Fit
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Timeless: straight cut and roomy sleeves<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="#" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'plp_content_brand_SS19_polo_cool_men_slim_fit_2_mobile.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'plp_content_brand_SS19_polo_cool_men_slim_fit_2_mobile.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           The Men's Slim Fit
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Urban: slim-fitting waist and narrower sleeves<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="#" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-1-3.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-1-3.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           The Men's Paris Fit
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Elegant: a tailored cut with a shirt-style collar<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="#" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-1-4.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-1-4.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           The Women's Classic Fit
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Timeless: cut straight through body and sleeves<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="#" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-1-5.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-1-5.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           The Women's Slim Fit
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Feminine: tailored cut with narrower sleeves<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="#" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-1-6.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-1-6.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           The Women's Slim Fit Shirt
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Elegant: fitted cut with three-quarter sleeves
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
<!--             <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></button> -->
<!--             <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button> -->
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="polo-cool-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               The Crocodiles with Heart
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               Meet the new class of elegant Lacoste ambassadors who wear the crocodile on the outside, and share our values on the inside.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="polo-cool-lift-2">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="l-vmargin--large" style="display:block;" data-flickity='{ "wrapAround": true, "contain": true, "initialIndex": 1, "prevNextButtons": true, "pageDots": false }'>
                  <a href="https://lacoste.com.ph/collections/polos-shop/products/lacoste-l1212-polo-shirt-l1212#White" class="cell-m-20 cell-7 cell-mt-20 offset-1 color--btn" color="White">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-2-1.png' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-2-1.png' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           MOHA LA SQUALE <br>French rap artist and rising star.
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           His performances are sincere and tenacious<br>His polo? The Classic Fit<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/polos-shop/products/lacoste-l1212-polo-shirt-l1212#White" class="cell-m-20 cell-7 cell-mt-20 offset-1 color--btn">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-2-2.png' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-2-2.png' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           CHLOË SEVIGNY<br>Iconic actress of American Indie Cinema
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Her daring attitude demands admiration and respect.<br>Her polo? The Men's Classic Fit<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/polos-shop/products/lacoste-l1212-polo-shirt-l1212#Summer" class="cell-m-20 cell-7 cell-mt-20 offset-1 color--btn">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-2-3.png' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-2-3.png' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           ALTON MASON<br>American dancer and model
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           The epitome of flexibility, always in action.<br>His polo? The Classic Fit<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div> 
                 </a>
                  <a href="https://lacoste.com.ph/collections/womens-polos/products/womens-lacoste-slim-fit-stretch-mini-cotton-pique-polo-shirt-pf7845" class="cell-m-20 cell-7 cell-mt-20 offset-1 color--btn">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-2-4.png' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-2-4.png' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           EBONEE DAVIS<br>American feminist activist and model
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           A gracefully benevolent beauty, committed to her cause.<br>Her polo? The Slim Fit<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/polos-shop/products/lacoste-l1212-polo-shirt-l1212-1" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-2-5.png' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-2-5.png' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           ROD PARADOT<br>Fresh French actor, 2018 César winner
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           His destiny illuminated by his personality.<br>His polo? The Classic Fit<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/womens-polos/products/womens-lacoste-classic-fit-soft-cotton-petit-pique-polo-shirt-pf7839" class="cell-m-20 cell-7 cell-mt-20 offset-1 color--btn">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-2-6.png' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-2-6.png' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           CLARA 3000<br>DJ, It Girl and French actress
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           A free radical who spins things her way.<br>Her polo? The Classic Fit<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/polos-shop/products/mens-lacoste-paris-polo-shirt-regular-fit-stretch-cotton-pique-ph5522-1" class="cell-m-20 cell-7 cell-mt-20 offset-1 color--btn">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-2-7.png' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-2-7.png' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           SANG WOO<br>Model, artist and painter<br><br>
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           A creative soul who never forgot his first love.<br>His polo? The Paris<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/womens-polos/products/womens-lacoste-classic-fit-soft-cotton-petit-pique-polo-shirt-pf7839" class="cell-m-20 cell-7 cell-mt-20 offset-1 color--btn">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-2-8.png' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-2-8.png' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           JAMIE BOCHERT<br>American independent musician and model
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Fascinating on the catwalk, captivating on stage.<br>Her polo? The Classic Fit<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 4"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 5"></span><span class="swiper-pagination-bullet" tabindex="0" role="button" aria-label="Go to slide 6"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
<!--             <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></button> -->
<!--             <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button> -->
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="polo-cool-lift-3">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);">
<!--                   <a href="#" class="swiper-slide cell-m-20 cell-11 cell-mt-20 offset-1 swiper-slide-active">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-3-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-3-1.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Add your style to the crocodile: personalise your polo
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="/pages/lacoste-savoir-faire" class="swiper-slide cell-m-20 cell-11 cell-mt-20 offset-1 swiper-slide-next">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'polo-cool-lift-3-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'polo-cool-lift-3-2.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-black">
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Discover how Lacoste polos are made
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a> -->
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="polo-cool-title-3">
         <div class="offset-5 cell-15 offset-mt-2 cell-mt-21 text-center">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
            </h2>
            <a class="btn-cta  text-white l-hmargin--small fs--medium ff-normal" href="/collections/mens-polo">
            Men's polo
            </a>
            <a class="btn-cta  text-white fs--medium ff-normal" href="/collections/womens-polos">
            Women's polo
            </a>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="polo-cool">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>