<section class="js-modular-page page-section modular-section bg-white">
   <div class="js-modular-layer js-modular--starter modular-layer modular--starter l-relative bg-white l-padding-bottom-row-small no-cover" id="gift-guide-noel-2019-starter" data-layer="layer_starter">
      <div class="js-modular-push l-relative l-fill-height ">
         <div class="l-relative modular--starter-cover-wrapper">
            <a class="l-block l-fill-height" href="https://lacoste.com.ph/collections/croco-magic">
               <div class="js-lazyload-wrapper with-placeholder l-fill-height">
                  <picture class="pict modular--starter-cover lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'gift-guide-noel-header-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'gift-guide-noel-header-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'gift-guide-noel-header-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'gift-guide-noel-header-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'gift-guide-noel-header-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'gift-guide-noel-header-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'gift-guide-noel-header-desktop.jpg' | asset_url }}?imwidth=1366&amp;impolicy=custom 1366w,{{ 'gift-guide-noel-header-desktop.jpg' | asset_url }}?imwidth=1680&amp;impolicy=custom 1680w,{{ 'gift-guide-noel-header-desktop.jpg' | asset_url }}?imwidth=1920&amp;impolicy=custom 1920w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 1366px,(min-width: 1367px) and (max-width: 1680px) 1680px,1920px">
                     <img alt="Gift Guide" width="100%" height="auto" data-src="{{ 'gift-guide-noel-header-desktop.jpg' | asset_url }}" class="js-modular--starter-cover modular--starter-cover js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'gift-guide-noel-header-desktop.jpg' | asset_url }}" alt="Gift Guide" width="auto" height="auto" />
                  </noscript>
                  <picture class="lqip pointer-none l-block"></picture>
               </div>
            </a>
         </div>
         <div class="l-overlay grid pointer-none modular--starter-card flex--justify-start flex--align-end flex-m--justify-start text-m-initial flex-m--align-start">
            <div class="cell-13 cell-mt-21 padding-1 l-vspaced-row-1 cell-m-22 padding-m-2 bg-m-white  l-vspaced-row-m-1 ">
               <div class="">
                  <div class="modular--starter-title-wrapper cell-m-22 padding-m-2 bg-m-white">
                     <h1 class="js-modular-title title--xxlarge text-m-black text-black">
                        The Christmas Gift Guide
                        <svg role="presentation" class="icon-svg valign-sub">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                        </svg>
                     </h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-no" id="gift-guide-noel-2019-title">
      <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h2 class="title--xlarge text-black">
               1. Hit the Spot: the Must-Haves
            </h2>
            <div class="text-grey fs--medium">
               <div>
                  <p>Eight gift ideas, eight occasions to score brownie points. These gifts are sure to please.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer bg-white  l-padding-top-row-small" id="gift-guide-noel-2019-product-list">
      <section>
         <section class="page-section plp-section grid ">
            <div class="js-plp-body plp-body grid ">
               <div class="offset-1 cell-23 cell-m-25 offset-m-0 padding-m-1 flex flex--space-between flex--align-end flex-m--col-reverse flex-m--align-start">
                  <div class=" js-plp-filter-sort-wrapper flex flex--align-center l-vmargin--medium flex--justify-end flex-m--justify-center fs--medium cell-m-23">
                  </div>
               </div>
               <div class="js-plp-tiles-wrapper cell-25">
                  {% section 'l-christmas-grid' %}
                  <div class="grid l-fill-width">
                  </div>
               </div>
            </div>
         </section>
      </section>
  </div>
  {% section 'l-christmas-col1' %}
  {% comment %}
  <div class="js-modular-layer modular-layer l-relative" id="gift-guide-noel-2019-story-1">
      <div class="js-modular-push grid cell-25 flex-m--col bg-black--wide  " data-id="gift-guide-noel-2019-component-story-1" data-theme="text-white">
         <div class="cell-14 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--4-3 l-ratio-m--1">
               <div id="static-player-3499167730b76a7fa7413218a3" class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background l-ratio--4-3 l-ratio-m--1 bg-black--wide is-loaded is-ready" data-src-desktop="https://static1.lacoste.com/videos/marketing/gift-guide-noel-crocomagic-desktop-V3.mp4" data-src-mobile="https://static1.lacoste.com/videos/marketing/gift-guide-noel-crocomagic-mobile-V2.mp4" data-type="video/mp4" data-autoplay="true" data-background="true" data-staticvideo="ad094eee-c0ea-4a6b-aa79-7e71e8b59928">
                  <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto" loop="&quot;true&quot;" autoplay="&quot;autoplay&quot;">
                     <source data-mobile="https://static1.lacoste.com/videos/marketing/gift-guide-noel-crocomagic-desktop-V3.mp4" data-desktop="https://static1.lacoste.com/videos/marketing/gift-guide-noel-crocomagic-desktop-V3.mp4" type="video/mp4">
                  </video>
                  <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                     <!---->
                     <button class="static-video-btn btn-play">
                        <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                        </svg>
                     </button>
                     <!---->
                  </div>
                  <div class="js-video-poster l-overlay poster">
                     <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                        <picture class="pict img-cover img-cover--top l-block lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'gift-guide-noel-crocomagic-mobile-V2.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'gift-guide-noel-crocomagic-mobile-V2.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'gift-guide-noel-crocomagic-mobile-V2.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'gift-guide-noel-crocomagic-mobile-V2.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'gift-guide-noel-crocomagic-desktop-V2.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'gift-guide-noel-crocomagic-desktop-V2.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w,{{ 'gift-guide-noel-crocomagic-desktop-V2.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w,{{ 'gift-guide-noel-crocomagic-desktop-V2.jpg' | asset_url }}?imwidth=914&amp;impolicy=custom 914w,{{ 'gift-guide-noel-crocomagic-desktop-V2.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                           <img alt="Polo Custo" width="100%" height="auto" data-src="{{ 'gift-guide-noel-crocomagic-desktop-V2.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'gift-guide-noel-crocomagic-desktop-V2.jpg' | asset_url }}" alt="Polo Custo" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--[object Object] pointer-none"></div>
                     </div>
                     <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                        <svg role="presentation" class="icon-svg ">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                        </svg>
                     </div>
                  </div>
                  <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
                     <svg class="loader-icon">
                        <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                     </svg>
                  </div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-white">
                     3. Goodie bag: Small Leather Goods
                  </h2>
                  <div class="text-grey-lighter  fs--medium">
                     <div>
                        <p>Wallets, card holders and clutches. Elegant essentials to consider for Christmas.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-black l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal " href="/fr/personnalisez-votre-polo.html" data-type="content" data-replace="{&quot;%index%&quot;:11}">
               Discover
               </a>
            </div>
         </div>
      </div>
   </div>
  {% endcomment %}
   <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-large l-padding-bottom-row-large" id="gift-guide-noel-2019-slider-1" data-layer="layer_slider_tiles" data-tracking="">
      <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
         <h2 class="js-modular-title title--xlarge text-black">
            3. Easy-to-Give Gifts
         </h2>
         <div class="text-grey js-modular-text fs--medium">
            Cosy Lacoste accessories. Extra ideas to spoil those you love.
         </div>
      </div>
     <div class="l-relative cell-25">
       {% section 'l-christmas-etgg' %}
     </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="gift-guide-noel-2019-story-2" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-black--wide" data-id="gift-guide-noel-2019-component-story-2" data-theme="text-white">
         <div class="cell-14 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--4-3 l-ratio-m--5-7">
               <div id="static-player-954d30884fc84199e88a6b1ae9" class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background l-ratio--4-3 l-ratio-m--5-7 bg-black--wide is-ready is-loaded" data-src-desktop="https://static1.lacoste.com/videos/marketing/gift-guide-noel-crocomagic-desktop-video-V3.mp4" data-src-mobile="https://static1.lacoste.com/videos/marketing/gift-guide-noel-crocomagic-mobile-video-V3.mp4" data-type="video/mp4" data-autoplay="true" data-background="true" data-staticvideo="859c6f7a-343d-4956-8a73-853f532c2345">
                  <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto" loop="&quot;true&quot;" autoplay="&quot;autoplay&quot;">
                     <source data-desktop="https://static1.lacoste.com/videos/marketing/gift-guide-noel-crocomagic-desktop-video-V3.mp4" data-mobile="https://static1.lacoste.com/videos/marketing/gift-guide-noel-crocomagic-desktop-video-V3.mp4" type="video/mp4">
                  </video>
                  <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                     <!---->
                     <button class="static-video-btn btn-play">
                        <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                        </svg>
                     </button>
                     <!---->
                  </div>
                  <div class="js-video-poster l-overlay poster">
                     <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                        <picture class="pict img-cover img-cover--top l-block lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'gift-guide-noel-crocomagic-mobile-V3.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'gift-guide-noel-crocomagic-mobile-V3.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'gift-guide-noel-crocomagic-mobile-V3.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'gift-guide-noel-crocomagic-mobile-V3.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'gift-guide-noel-crocomagic-desktop-V3.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w,{{ 'gift-guide-noel-crocomagic-desktop-V3.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w,{{ 'gift-guide-noel-crocomagic-desktop-V3.jpg' | asset_url }}?imwidth=914&amp;impolicy=custom 914w,{{ 'gift-guide-noel-crocomagic-desktop-V3.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                           <img alt="Croco Magic" width="100%" height="auto" data-src="{{ 'gift-guide-noel-crocomagic-desktop-V3.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'gift-guide-noel-crocomagic-desktop-V3.jpg' | asset_url }}" alt="Croco Magic" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--[object Object] pointer-none"></div>
                     </div>
                     <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                        <svg role="presentation" class="icon-svg ">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                        </svg>
                     </div>
                  </div>
                  <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
                     <svg class="loader-icon">
                        <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                     </svg>
                  </div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-white">
                     4. Croco Magic: the Limited Edition
                  </h2>
                  <div class="text-grey-lighter  fs--medium">
                     <div>
                        <p>Created just for Christmas, the Croco Magic Collection features a unique crocodile.This Christmas, give them crocodiles by the thousands.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-black l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal " href="/collections/croco-magic" data-type="category">
               Make it magic
               </a>
            </div>
         </div>
      </div>
  </div>
  {% section 'l-christmas-ppg' %}
  <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-large l-padding-bottom-row-large" id="gift-guide-noel-2019-blocks" data-layer="layer_blocks" data-tracking="">
      <div class="grid cell-25">
         <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-1 l-vmargin-row-m-1">
            <div class="js-modular-push l-relative l-fill-height" data-id="gift-guide-noel-2019-component-blocks-1">
               <a class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height " href="/collections/womens-christmas-selection" target="" data-type="category">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="Women Selection" width="100%" height="auto" data-src="{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" src="{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" src="{{ 'gift-guide-noel-women-desktop.jpg' | asset_url }}" alt="Women Selection" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </a>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none ">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge text-black">
                        Women's Christmas Gifts
                     </h2>
                  </div>
                  <a class="btn-cta text-white l-hmargin--small pointer-auto fs--medium ff-normal" href="/collections/womens-christmas-selection" data-type="category">
                  Discover
                  </a>
               </div>
            </div>
         </div>
         <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-1 l-vmargin-row-m-1">
            <div class="js-modular-push l-relative l-fill-height" data-id="gift-guide-noel-2019-component-blocks-2">
               <a class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height " href="/collections/mens-christmas-selection" target="" data-type="category">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="Men Selection" width="100%" height="auto" data-src="{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'gift-guide-noel-men-desktop.jpg' | asset_url }}" alt="Men Selection" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </a>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none ">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge text-black">
                        Men's Christmas Gifts
                     </h2>
                  </div>
                  <a class="btn-cta text-white l-hmargin--small pointer-auto fs--medium ff-normal " href="/collections/mens-christmas-selection" data-type="category">
                  Discover
                  </a>
               </div>
            </div>
         </div>
         <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
            <div class="js-modular-push l-relative l-fill-height" data-id="gift-guide-noel-2019-component-blocks-3">
               <a class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" href="/collections/kids-christmas-selection" target="" data-type="category">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'gift-guide-noel-kid-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'gift-guide-noel-kid-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'gift-guide-noel-kid-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'gift-guide-noel-kid-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'gift-guide-noel-kid-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'gift-guide-noel-kid-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'gift-guide-noel-kid-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'gift-guide-noel-kid-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'gift-guide-noel-kid-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="Kids Selection" width="100%" height="auto" data-src="{{ 'gift-guide-noel-kid-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload lazyloaded" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'gift-guide-noel-kid-desktop.jpg' | asset_url }}" alt="Kids Selection" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </a>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none ">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge text-black">
                        Kid's Christmas Gifts
                     </h2>
                  </div>
                  <a class="btn-cta text-white l-hmargin--small pointer-auto fs--medium ff-normal " href="/collections/kids-christmas-selection" data-type="category" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:30}">
                  Discover
                  </a>
               </div>
            </div>
         </div>
         <div class="offset-m-0 cell-m-25 offset-1 cell-11">
            <div class="js-modular-push l-relative l-fill-height" data-id="gift-guide-noel-2019-component-blocks-4">
               <a class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height " href="/collections/christmas-selection" target="" data-type="category">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'gift-guide-noel-all-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'gift-guide-noel-all-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'gift-guide-noel-all-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'gift-guide-noel-all-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'gift-guide-noel-all-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'gift-guide-noel-all-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'gift-guide-noel-all-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'gift-guide-noel-all-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'gift-guide-noel-all-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="All Christmas Gifts Selection" width="100%" height="auto" data-src="{{ 'gift-guide-noel-all-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'gift-guide-noel-all-desktop.jpg' | asset_url }}" alt="All Christmas Gifts Selection" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </a>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none ">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge text-black">
                        All Christmas Gifts
                     </h2>
                  </div>
                  <a class="btn-cta text-white l-hmargin--small pointer-auto fs--medium ff-normal " href="/collections/christmas-selection" data-type="category">
                  Discover
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>