<section class="js-promotions-section js-modular-section page-section modular-section bg-white {{ template }}">
   <div class="js-modular-layer js-promotions-layer js-modular--starter modular-layer modular--starter l-relative bg-white  is-cover js-cover l-viewport-height--static l-behind-nav js-header-transparency" id="lacoste-crocoseries-starter" data-layer="layer_starter" data-tracking="">
      <div class="js-modular-push js-promotions l-relative cell-25 l-fill-height text-white " data-id="lacoste-crocoseries-starter-component" data-tracking="" data-theme="text-white">
         <div class="l-relative modular--starter-cover-wrapper">
            <div class="l-block l-fill-height" data-tracking="">
               <div id="static-player-8b8dfe1873a687c8ffcbe5250b" class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background l-overlay is-loaded is-ready" data-src-desktop="{{ 'lacoste-crocoseries-cover-desk.mp4' | file_url }}" data-src-mobile="{{ 'lacoste-crocoseries-cover-mob.mp4' | file_url }}" data-type="video/mp4" data-autoplay="true" data-background="true">
                  <video playsinline="true" muted="true" class="js-static-video static-video l-block img-cover" width="100%" height="auto" loop="true" autoplay="autoplay">
                     <source data-desktop="{{ 'lacoste-crocoseries-cover-desk.mp4' | file_url }}" data-mobile="{{ 'lacoste-crocoseries-cover-mob.mp4' | file_url }}" type="video/mp4">
                  </video>
                  <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                     <!---->
                     <button class="static-video-btn btn-play">
                        <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                        </svg>
                        <!---->
                     </button>
                     <!---->
                  </div>
                  <div class="js-video-poster l-overlay poster">
                     <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                        <picture class="pict img-cover img-cover--top l-block lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'Strat_Cover_Mob.jpg' | file_img_url: '320x' }} 320w,{{ 'Strat_Cover_Mob.jpg' | file_img_url: '375x' }} 375w,{{ 'Strat_Cover_Mob.jpg' | file_img_url: '414x' }} 414w,{{ 'Strat_Cover_Mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'Strat_Cover_Desk.jpg' | file_img_url: '1024x' }} 1024w,{{ 'Strat_Cover_Desk.jpg' | file_img_url: '1190x' }} 1190w,{{ 'Strat_Cover_Desk.jpg' | file_img_url: '1366x' }} 1366w,{{ 'Strat_Cover_Desk.jpg' | file_img_url: '1680x' }} 1680w,{{ 'Strat_Cover_Desk.jpg' | file_img_url: '1920x' }} 1920w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 1366px,(min-width: 1367px) and (max-width: 1680px) 1680px,1920px">
                           <img alt="lacoste-crocoseries" width="100%" height="auto" data-src="{{ 'Strat_Cover_Desk.jpg' | file_img_url: 'master' }}?imwidth=1920&amp;impolicy=custom" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                        </picture>
                     </div>
                     <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                        <svg role="presentation" class="icon-svg ">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                        </svg>
                     </div>
                  </div>
                  <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center">
                     <svg class="loader-icon">
                        <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                     </svg>
                  </div>
               </div>
            </div>
         </div>
         <div class="js-video-overlay l-overlay grid pointer-none flex--justify-start flex--align-end flex-m--justify-center text-m-center flex-m--align-end">
            <div class="cell-13 cell-mt-21 padding-1 l-vspaced-row-1 cell-m-25 padding-m-2   l-btn-scroll-extraspace l-btn-scroll-m-extraspace">
               <div class="">
                  <h1 class=" js-modular-title title--xxlarge  ">
                     #CrocoSeries
                  </h1>
                  <span class="js-modular-text is-hidden ">-</span>
               </div>
            </div>
         </div>
      </div>
      <a href="#lacoste-crocoseries-title" class="js-btn-scroll btn-scroll is-animated  text-white" data-iscard="false">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
         </svg>
      </a>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-large l-padding-bottom-row-small" id="lacoste-crocoseries-title" data-layer="layer_title" data-tracking="">
      <div class="js-promotions offset-7 text-center cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h2 class="title--xlarge text-black">
               Three artists reinvent the crocodile
            </h2>
            <div class="text-grey fs--medium">
               <div>
                  <p>The dream-like universe of the FriendsWithYou duo, Jeremyville’s prolific designs and Michel Tixier’s clear approach. This season the crocodile is teamed with joyful colours and inventive forms with these 3 artists’ strokes.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-crocoseries-push" data-layer="layer_push_tiles" data-tracking="">
      <div class="grid cell-25">
         <div class="offset-1 cell-7 offset-m-2 cell-m-21 l-vmargin-row-m-3 ">
            <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-crocoseries-push-component-1" data-tracking="">
               <div class=" l-fill-width flex--col flex--grow" data-tracking="">
                 <a href="/collections/crocoseries-s20-friends-with-you" class="l-block">
                   <div class="l-relative l-ratio--1  ">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                       <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                         <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-crocoseries-push-component-1-mob.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-crocoseries-push-component-1-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-push-component-1-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-push-component-1-mob.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                         <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-crocoseries-push-component-1.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-crocoseries-push-component-1.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-push-component-1.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-push-component-1.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-crocoseries-push-component-1.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                         <img alt="crocoseries" width="100%" height="auto" data-src="{{ 'lacoste-crocoseries-push-component-1.jpg' | file_img_url: '524x' }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                       </picture>
                       <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                   </div>
                   <div class="flex flex--col flex--grow">
                   </div>
                 </a>
               </div>
            </div>
         </div>
         <div class="offset-1 cell-7 offset-m-2 cell-m-21 l-vmargin-row-m-3 ">
            <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-crocoseries-push-component-2" data-tracking="">
               <div class=" l-fill-width flex--col flex--grow" data-tracking="">
                 <a href="/collections/crocoseries-s20-jean-michel-tixier" class="l-block">
                   <div class="l-relative l-ratio--1  ">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                       <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                         <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-crocoseries-push-component-2-mob.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-crocoseries-push-component-2-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-push-component-2-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-push-component-2-mob.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                         <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-crocoseries-push-component-2.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-crocoseries-push-component-2.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-push-component-2.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-push-component-2.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-crocoseries-push-component-2.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                         <img alt="crocoseries" width="100%" height="auto" data-src="{{ 'lacoste-crocoseries-push-component-2.jpg' | file_img_url: '524x' }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                       </picture>
                       <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                   </div>
                   <div class="flex flex--col flex--grow">
                   </div>
                 </a>
               </div>
            </div>
         </div>
         <div class="offset-1 cell-7 offset-m-2 cell-m-21  ">
            <div class="js-modular-push js-promotions l-fill-width l-relative flex bg-white  component-push-basic" data-id="lacoste-crocoseries-push-component-3" data-tracking="">
              <div class=" l-fill-width flex--col flex--grow" data-tracking="">
                <a href="/collections/crocoseries-s20-jeremyville" class="l-block">
                  <div class="l-relative l-ratio--1  ">
                    <div class="js-lazyload-wrapper with-placeholder l-overlay lazyloaded">
                      <picture class="pict l-block l-absolute img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-crocoseries-push-component-3-mob.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-crocoseries-push-component-3-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-push-component-3-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-push-component-3-mob.jpg' | file_img_url: '640x' }} 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-crocoseries-push-component-3.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-crocoseries-push-component-3.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-push-component-3.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-push-component-3.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-crocoseries-push-component-3.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                        <img alt="crocoseries" width="100%" height="auto" data-src="{{ 'lacoste-crocoseries-push-component-3.jpg' | file_img_url: '524x' }}" class="l-block l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                      </picture>
                      <div class="lqip l-ratio--1 pointer-none"></div>
                    </div>
                  </div>
                  <div class="flex flex--col flex--grow">
                  </div>
                </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-crocoseries-title-3" data-layer="layer_title" data-tracking="">
      <div class="js-promotions offset-7 text-center cell-11 cell-m-21 offset-m-2 ">
        <div class="l-vmargin--large">
          <h2 class=" title--xlarge text-black">
            #Crocoseries Collection
          </h2>
        </div>
         <a class="btn-cta text-white l-hmargin--small l-vmargin--small fs--medium ff-normal" href="/collections/crocoseries-s20" data-type="category">
         3 collaborations
         </a>
      </div>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-crocoseries-story-1" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacoste-crocoseries-story-1-component" data-tracking="" data-theme="text-black">
         <div class="cell-14 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--4-3 l-ratio-m--5-7" data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                 <picture class="pict l-absolute img-cover img-cover--center lazyload flex flex--justify-center">
                   <source media="(max-width: 767px)" data-srcset="{{ 'ss20-lany-croco-page.png' | file_img_url: '320x' }} 320w,{{ 'ss20-lany-croco-page.png' | file_img_url: '375x' }} 375w,{{ 'ss20-lany-croco-page.png' | file_img_url: '414x' }} 414w,{{ 'ss20-lany-croco-page.png' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                   <source media="(min-width: 768px)" data-srcset="{{ 'ss20-lany-croco-page.png' | file_img_url: '594x' }} 594w,{{ 'ss20-lany-croco-page.png' | file_img_url: '640x' }} 640w,{{ 'ss20-lany-croco-page.png' | file_img_url: '767x' }} 767w,{{ 'ss20-lany-croco-page.png' | file_img_url: '914x' }} 914w,{{ 'ss20-lany-croco-page.png' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                   <img alt="Lany - #Crocoseries" width="100%" height="auto" data-src="{{ 'ss20-lany-croco-page.png' | file_img_url: '1024x' }}" class="l-absolute l-img-half js-lazyload lazyload" data-was-processed="true">
                 </picture>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-black">
                     LANY in #Crocoseries
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>Lacoste welcomes LANY
into the Crocodile family!
Creativity, Freedom of
Spirit, Friendship, &
Tenacity, once inspired by
René Lacoste, live on today
in our collections and in
LANY’s music.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="/coll
ections/lany-s20" data-type="category">
               Discover
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-crocoseries-story-1" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacoste-crocoseries-story-1-component" data-tracking="" data-theme="text-black">
         <div class="cell-14 cell-m-25 offset-m-0">
            <div class="l-block l-relative" data-tracking="">
               <div class="js-lazyload-wrapper lazyload">
                 <picture class="pict img-fill-width lazyload">
                   <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-crocoseries-story-1-component-mob-friends-with-you.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-story-1-component-mob-friends-with-you.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-story-1-component-mob-friends-with-you.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-crocoseries-story-1-component-mob-friends-with-you.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                   <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-crocoseries-story-1-component.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-crocoseries-story-1-component.jpg' | file_img_url: '640x' }} 640w,{{ 'lacoste-crocoseries-story-1-component.jpg' | file_img_url: '767x' }} 767w,{{ 'lacoste-crocoseries-story-1-component.jpg' | file_img_url: '914x' }} 914w,{{ 'lacoste-crocoseries-story-1-component.jpg' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                   <img alt="FriendsWithYou x Lacoste" width="100%" height="auto" data-src="{{ 'lacoste-crocoseries-story-1-component.jpg' | file_img_url: '1024x' }}" class="img-fill-width js-lazyload lazyload" data-was-processed="true">
                 </picture>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-black">
                     FriendsWithYou x Lacoste
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>With their monumental installatiopns, their immersive performances and their unifying mantra “Magic, Luck and Friendship”, FriendsWithYou wants to re-enchant the world. Based in Los Angeles since 2002, the artistic duo led by American Samuel Borkson and Cuban Arturo Sandoval III delivers an joyful and playful aesthetic. Their minimal design charachers are invented alongside the crocodile.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="/collections/crocoseries-s20-friends-with-you" data-type="category">
               Discover
               </a>
            </div>
         </div>
      </div>
   </div>
   {% section 'crocoseries-friendswithyou' %}
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-crocoseries-story-2" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacoste-crocoseries-story-2-component" data-tracking="" data-theme="text-black">
         <div class="cell-14 order-1 order-m-0 offset-1 cell-m-25 offset-m-0">
            <div class="l-block l-relative" data-tracking="">
               <div class="js-lazyload-wrapper lazyload">
                 <picture class="pict img-fill-width lazyload">
                   <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-crocoseries-story-2-component-mob-jean-michel-tixi.jpg' | file_img_url: '320x' }}320w,{{ 'lacoste-crocoseries-story-2-component-mob-jean-michel-tixi.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-story-2-component-mob-jean-michel-tixi.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-crocoseries-story-2-component-mob-jean-michel-tixi.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                   <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-crocoseries-story-2-component.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-crocoseries-story-2-component.jpg' | file_img_url: '640x' }} 640w,{{ 'lacoste-crocoseries-story-2-component.jpg' | file_img_url: '767x' }} 767w,{{ 'lacoste-crocoseries-story-2-component.jpg' | file_img_url: '914x' }} 914w,{{ 'lacoste-crocoseries-story-2-component.jpg' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                   <img alt="Jean-Michel Tixier x Lacoste" width="100%" height="auto" data-src="{{ 'lacoste-crocoseries-story-2-component.jpg' | file_img_url: '1024x' }}" class="img-fill-width js-lazyload lazyload" data-was-processed="true">
                 </picture>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-2 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-black">
                     Jean-Michel Tixier x Lacoste
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>Elegant lines and off-beat humour. With his clear designs and his signature swathes of colour, the French illustrator Jean-Michel Tixier has thought up a crocodile in his own image. Cool and resolutely fashionable, the croc is made more human with the traits of, in turn, a stylish hipster, a sportswear addict or a preppy daddy.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="/collections/crocoseries-s20-jean-michel-tixier" data-type="category">
               Discover
               </a>
            </div>
         </div>
      </div>
   </div>
   {% section 'crocoseries-jstixier' %}
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-crocoseries-story-3" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacoste-crocoseries-story-3-component" data-tracking="" data-theme="text-black">
         <div class="cell-14 cell-m-25 offset-m-0">
            <div class="l-block l-relative" data-tracking="">
               <div class="js-lazyload-wrapper lazyload">
                  <picture class="pict img-fill-width lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-crocoseries-story-3-component-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-story-3-component-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-story-3-component-mob.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-crocoseries-story-3-component-mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-crocoseries-story-3-component.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-crocoseries-story-3-component.jpg' | file_img_url: '640x' }} 640w,{{ 'lacoste-crocoseries-story-3-component.jpg' | file_img_url: '767x' }} 767w,{{ 'lacoste-crocoseries-story-3-component.jpg' | file_img_url: '914x' }} 914w,{{ 'lacoste-crocoseries-story-3-component.jpg' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                     <img alt="Jeremyville x Lacoste" width="100%" height="auto" data-src="{{ 'lacoste-crocoseries-story-3-component.jpg' | file_img_url: '1024x' }}?imwidth=1024&amp;impolicy=custom" class="img-fill-width js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-black">
                     Jeremyville x Lacoste
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>Between New York and Sydney, the Australian artist Jeremyville crafts his own style drawing inspiration from street art and comic culture. In his universe defined by geometric designs and rounded shapes, the crocodile is joined by tennis rackets and balls, transformed into hybrid and surrealist creatures. A prolifc, arty jungle labyrinth.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="/collections/crocoseries-s20-jeremyville" data-type="category">
               Discover
               </a>
            </div>
         </div>
      </div>
   </div>
   {% section 'crocoseries-jeremyville' %}
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-crocoseries-title-3" data-layer="layer_title" data-tracking="">
      <div class="js-promotions offset-7 text-center cell-11 cell-m-21 offset-m-2 ">
         <div class="l-vmargin--large">
         </div>
         <a class="btn-cta text-white l-hmargin--small l-vmargin--small fs--medium ff-normal" href="/collections/crocoseries-s20" data-type="category">
         3 collaborations
         </a>
      </div>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-crocoseries-blocks" data-layer="layer_blocks" data-tracking="">
      <div class="grid cell-25">
         <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
            <div class="js-modular-push js-promotions l-relative l-fill-height" data-id="lacoste-crocoseries-blocks-component-1" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict l-absolute img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-crocoseries-blocks-component-1-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-blocks-component-1-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-blocks-component-1-mob.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-crocoseries-blocks-component-1-mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-crocoseries-blocks-component-1.jpg' | file_img_url: '1024x' }} 1024w,{{ 'lacoste-crocoseries-blocks-component-1.jpg' | file_img_url: '1190x' }} 1190w,{{ 'lacoste-crocoseries-blocks-component-1.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-crocoseries-blocks-component-1.jpg' | file_img_url: '732x' }} 732w,{{ 'lacoste-crocoseries-blocks-component-1.jpg' | file_img_url: '838x' }} 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="All Lacoste for him" width="100%" height="auto" data-src="{{ 'lacoste-crocoseries-blocks-component-1.jpg' | file_img_url: '838x' }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                  </div>
               </div>
               <div class="js-video-overlay l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2  flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="l-vmargin--large">
                     <h2 class="title--xlarge ">
                        All Lacoste for him
                     </h2>
                  </div>
                  <div>
                     <a class="btn-cta  l-hmargin--small pointer-auto l-vmargin--small fs--medium ff-normal" href="/collections/mens" data-type="category">
                     Discover
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-m-0 cell-m-25 offset-1 cell-11">
            <div class="js-modular-push js-promotions l-relative l-fill-height" data-id="lacoste-crocoseries-blocks-component-2" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict l-absolute img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-crocoseries-blocks-component-2-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-crocoseries-blocks-component-2-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-crocoseries-blocks-component-2-mob.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-crocoseries-blocks-component-2-mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-crocoseries-blocks-component-2.jpg' | file_img_url: '1024x' }} 1024w,{{ 'lacoste-crocoseries-blocks-component-2.jpg' | file_img_url: '1190x' }} 1190w,{{ 'lacoste-crocoseries-blocks-component-2.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-crocoseries-blocks-component-2.jpg' | file_img_url: '732x' }} 732w,{{ 'lacoste-crocoseries-blocks-component-2.jpg' | file_img_url: '838x' }} 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="All Lacoste for her" width="100%" height="auto" data-src="{{ 'lacoste-crocoseries-blocks-component-2.jpg' | file_img_url: '838x' }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                  </div>
               </div>
               <div class="js-video-overlay l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2  flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="l-vmargin--large">
                     <h2 class="title--xlarge ">
                        All Lacoste for her
                     </h2>
                  </div>
                  <div>
                     <a class="btn-cta  l-hmargin--small pointer-auto l-vmargin--small fs--medium ff-normal" href="/collections/womens" data-type="category">
                     Discover
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   
</section>