<div class="clearfix row modular-content" style="background-image: url(&quot;{{ 'bg_fid_level_1.jpg' | asset_url }}&quot;);background-color: #F4F4F4;" id="exclusive-content-july-19">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates">
      <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="loyalty-exclusive-content-nav">
         <div class="banner-nav-bg">
         </div>
         <div class="l-relative ">
            <div class="l-relative flex flex--col flex--centered text-center">
            </div>
            <div class="js-banner-nav banner-nav">
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/account">
               <span>
               My profile
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/lacoste-rewards">
               <span>
               My rewards
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/account#customer-orders">
               <span>
               My online orders &amp; returns
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/contact-us">
               <span>
               Customer Service
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small  is-active" href="/pages/exclusive-content-march">
               <span>
               Exclusive Content
               </span>
               </a>
            </div>
         </div>
      </div>
      <style>
         #loyalty-exclusive-content-nav {
         background: white;
         margin: 160px 80px 0;
         width: calc(100% - 160px);
         padding-left: 40px;
         padding-bottom: 10px;
         }
         .modular-content {
         background-size: 100%;
         }
         .banner-nav .banner-nav-item a {
         font-family: 'LacosteSansCondensedBold';
         font-size: 15px;
         text-transform: uppercase;
         color: #999999;
         padding-bottom: 10px;
         }
         .banner-nav .banner-nav-item a.current {
         color: #292929;
         border-bottom: 2px solid #292929;
         }
         .lp-anna-header {
         background: #fff;
         width: calc(100% - 160px);
         margin-left: 80px;
         margin-right: 80px;
         text-transform: none;
         padding: 20px 60px;
         margin-bottom:60px;
         margin-top: 0;
         }
         .banner-nav {
         background: #fff;
         text-align: left;
         }
         .full-width-80 {
         padding: 0 80px;
         }
         @media screen and (max-width: 1280px) {
         #loyalty-exclusive-content-nav {
         margin: 80px 20px 0;
         width: calc(100% - 40px);
         padding-left: 30px;
         padding-bottom: 0;
         }
         .lp-anna-header {
         width: calc(100% - 40px);
         margin: 0 20px 20px;
         padding: 20px 30px;
         }
         }
         .banner-nav .banner-nav-item.is-active span {
         text-decoration: underline;
         }
      </style>
      <p class="lp-anna-header">
         Exclusive content to learn more about the Lacoste spirit and know-how.
      </p>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-left spirit-video" id="content-july-spirit4">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-mt-7 order-2 order-mt-1">
            <style>.mcontent-spirit .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-spirit .embed-container iframe, .mcontent-spirit .embed-container object, .mcontent-spirit .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
            <div class="embed-container l-vmargin--xsmall no-mob no-tab">
               <iframe src="https://player.vimeo.com/video/344596874?background=1" width="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
               </iframe>
            </div>
            <img src="{{ 'visuelrene.PNG' | asset_url }}" class="img-fill-width no-desk" alt="null" width="100%" height="auto">
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-2 offset-mt-2 order-1 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="content-july-set4" style="">
         <div class="offset-3 order-2 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               PLAY IT LIKE RENÉ
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               Crocodile tears<br><br>Nicknamed the crocodile, René Lacoste was the ultimate sportsman and champion of fair play.<br>When was the last time he shed tears of joy?<br><br>Another great name in tennis remembers...
            </p>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-left " id="content-july-spirit2">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-mt-7 order-2 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-july-spirit-2.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-exclusifs-july-spirit-2.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-2 offset-mt-2 order-1 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="content-july-set2" style="">
         <div class="offset-2 order-1 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-july-set-2.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-exclusifs-july-set-2.jpg' | asset_url }}" alt="CROCODILE DANDY" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-3 order-2 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               CROCODILE DANDY
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               To post or not to post one’s holiday pics on Instagram?<br><br>For whatever reason, worthy or otherwise, you’ve been lured onto Instagram, and you’ve discovered you like the likes! <br><br>So when it comes to  the holidays, you throw yourself into it.But there’s a way to get it right. Follow these rules to avoid disappointment:<br><br>Rule 1: don't post everything in one hit. Tease your followers, don’t clog up their feed.<br>Rule 2: choose the right hashtag and watch the likes roll in.<br>Rule 3: spend a bit of time on your photos. With the right filter, even your garden can resemble a tropical paradise.<br>Rule 4: elegance speaks for itself. Leave the solo selfies, endless food porn and silhouetteson the beachto others .But feel free to immortalise yourself with your favourite croc...<br><br>#practiceyourelegance
            </p>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-left " id="content-july-spirit1">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-mt-7 order-2 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-july-spirit-1.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-exclusifs-july-spirit-1.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-2 offset-mt-2 order-1 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="content-july-set1" style="">
         <a href="https://www.lacoste.com/gb/lacoste/women/clothing/polo-shirts/?filters=%257B%2522searchColorID%2522%3A%2522YELLOW%2522%257D" class="offset-2 order-1 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-july-set-1.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-exclusifs-july-set-1.jpg' | asset_url }}" alt="PLAY IT COLOURFUL" width="100%" height="auto">
            </picture>
         </a>
         <div class="offset-3 order-2 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               PLAY IT COLOURFUL
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               The yellow polo<br><br>Gold, saffron, mustard, sun, fluorescent, canary... Yellow comes in many guises. We all have our favourite. But there’s one that suits everyone: pastel yellow. <br><br>It’s not too masculine, not too feminine, not young or old – it suits all ages and all styles. In polo shirt form, it’s the key piece of your summer wardrobe. Soft but luminous, it contrasts beautifully with black or grey, and will complement your sunkissed skin. <br><br>Understated and elegant, you can wear it with confidence for  a  spontaneous  drink  after  a  day of  sailing. With a skirt, with shorts or jeans, it will take you right through the summer. <br>There’s just one rule with yellow: never wear it from head to toe!
            </p>
            <!-- <a class="btn-cta l-hmargin--large l-vmargin--small text-white  fs--medium ff-normal" href="https://www.lacoste.com/gb/lacoste/women/clothing/polo-shirts/?filters=%257B%2522searchColorID%2522%3A%2522YELLOW%2522%257D">
            Shop For Her
            </a> -->
            <!-- <a class="btn-cta text-white  fs--medium ff-normal" href="https://www.lacoste.com/gb/lacoste/men/clothing/polo-shirts/?filters=%257B%2522searchColorID%2522%3A%2522YELLOW%2522%257D">
            Shop For Him
            </a> -->
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-left " id="content-july-spirit3">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-mt-7 order-2 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-july-spirit-3.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-exclusifs-july-spirit-3.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-2 offset-mt-2 order-1 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="content-july-set3" style="">
         <a href="https://www.lacoste.com/gb/lacoste/men/clothing/shirts/short-sleeves/" class="offset-2 order-1 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-july-set-3.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-exclusifs-july-set-3.jpg' | asset_url }}" alt="PLAY BY THE RULES" width="100%" height="auto">
            </picture>
         </a>
         <div class="offset-3 order-2 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               PLAY BY THE RULES
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               Is it bad taste to wear a short-sleeve shirt?<br><br>Is the short-sleeve shirt naff? Not at all. In fact René Lacoste would crop his shirt sleeves to survive the heat on court. <br><br>Then in the cool fifties  and swinging sixties it was worn unbuttoned over a vest, or Hawaiian  style. Dressed up but casual, it has been a staple of the male wardrobe ever since. <br><br>Stylish, vintage, it looks good in a slim fit. If you’re the discreet type, go forsky blue or white with a subtle stripe. Bolder dressers can opt for vibrant colours and prints. <br><br>Perfect with dark jeans and a pair of trainers, the short-sleeve shirt is the epitome of good taste.
            </p>
            <a class="btn-cta l-hmargin--large l-vmargin--small text-white  fs--medium ff-normal" href="/collections/mens-short-sleeves-shirts">
            Shop Now
            </a>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="exclusive-content-july-19">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>