<div class="clearfix row modular-content" style="background-color: #F4F4F4;" id="leclublacoste">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates">
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="leclublacoste-spirit">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-spirit.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-spirit.jpg' | asset_url }}" alt="Joining LE CLUB LACOSTE it's the most elegant decision" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
            <h2 class="title--xlarge spirit-title l-vmargin--large">
               Joining LE CLUB LACOSTE is the most elegant decision.
            </h2>
            <p class="fs--xlarge fs-mt--medium text-grey l-vmargin--large">
               LE CLUB LACOSTE is a community united by style and spirit. Here, your loyalty is always rewarded: 4 levels, each with its own status rewards, gifts, "Made in LACOSTE" tips and exclusive get-togethers and events.<br>In a word (or rather 3 words), PRACTICE YOUR ÉLÉGANCE.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="leclublacoste-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               4 LEVELS OF PRIVILEGES
            </h2>
         </div>
      </div>
     <div class="js-mcontent-strate mcontent-strate l-overflow-hidden l-vmargin-row-and-half mcontent-ace" id="leclublacoste-ace-1">
       <div class="l-relative">
         <div class="js-swiper-ace cell-23 offset-1 l-overflow-hidden">
           <div class="swiper-wrapper">
             <div class="swiper-slide ">
               <picture class="pict img-fill-width l-vmargin-xsmall">
                 <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-croco-level14.png' | asset_url }}">
                 <img class="img-fill-width l-vmargin-xsmall" src="{{ 'mod-leclublacoste-croco-level14.png' | asset_url }}" alt="PLAYER - UPON JOINING" width="100%" height="auto">
               </picture>
               <div class="ace-content cell-7 cell-mt-21 offset-8 offset-mt-1 text-center text-white text-m-left">
                 <h2 class="title--medium l-vmargin--medium cell-7 cell-mt-21">
                   PLAYER - UPON JOINING
                 </h2>
                 <p class="fs--medium l-vmargin--large ">
                   Exclusive content<br>Access to Private Sales
                 </p>
               </div>
             </div>
           </div>
         </div>
         <div class="swiper-pagination js-swiper-pagination-ace"></div>
       </div>
     </div> 
      <div class="l-vmargin-row-1 mcontent-smash grid flex-m--col " id="leclublacoste-smash">
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               CONFIRMED - FROM ₱ 15,000
            </h2>
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-smash-1-1.png' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-leclublacoste-smash-1-1.png' | asset_url }}" alt="CONFIRMED - FROM 150 POINTS" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
<!--               Welcome Gift<br>
              Access to the&nbsp;Ticketing&nbsp;Platform <br>
              Exclusive Customisation Options<br> -->
              Loyalty Reward: Sport Towel<br>
              Plus all the rewards of PLAYER - LEVEL 1
            </p>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               ADVANCED - FROM ₱ 40,000
            </h2>
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-smash-1-2.png' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-leclublacoste-smash-1-2.png' | asset_url }}" alt="ADVANCED - FROM 400 POINTS" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
              Loyalty Reward: Belt<br>
              Lacoste Events<br>
              Birthday Gift: Flask<br>
              Plus all the rewards of CONFIRMED - LEVEL 2
            </p>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               LEGEND - FROM ₱ 85,000
            </h2>
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-croco-level42.png' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-leclublacoste-croco-level42.png' | asset_url }}" alt="LEGEND - FROM 750 POINTS" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
<!--               Welcome Gift<br> -->
              Loyalty Reward: Customized L.12.12 Polo<br>
              La Loge : a Very Private Event<br>
              Birthday Gift: Sport Bag<br>
              Plus all the rewards of ADVANCED - LEVEL 3
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="leclublacoste-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               TO CELEBRATE YOUR NEW STATUS…
            </h2>
         </div>
      </div>
      <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1 flex-m--justify-center offset-m-0" id="leclublacoste-sport">
        <div class="cell-7 offset-1 cell-mt-23 l-vmargin-row-1 l-vmargin-row-m-2 offset-m-0">
          <span class="l-vmargin--large fs--small l-block text-center">LEVEL 2 - CONFIRMED</span>
          <img class="img-fill-width " src="{{ 'mod-leclublacoste-sport-1-1.png' | asset_url }}" alt="image1">
        </div>
        <div class="cell-6 offset-1 cell-mt-23 l-vmargin-row-1 l-vmargin-row-m-2 offset-m-0">
          <span class="l-vmargin--large fs--small l-block text-center">LEVEL 3 - ADVANCED</span>
          <img class="img-fill-width" src="{{ 'bottle-green.jpg' | asset_url }}" width="392" height="312" alt="image2" style="display: block; margin-bottom: 10px; height: auto;">
          <p class="l-vmargin--small fs--small l-block">*Available only in Women’s size (100 cm/40 in) in the color: bottle green.</p>
          <img class="img-fill-width" src="{{ 'khaki.jpg' | asset_url }}" width="392" height="312" alt="image2" style="height: auto; margin-bottom: 10px;">
          <p class="l-vmargin--small fs--small l-block">*Available only in Men’s size (110 cm/44 in) in the color: khaki.</p>
        </div>
        <div class="cell-7 offset-1 cell-mt-23 l-vmargin-row-1 l-vmargin-row-m-2 offset-m-0">
          <span class="l-vmargin--large fs--small l-block text-center">LEVEL 4 - LEGEND</span>
          <img class="img-fill-width " src="{{ 'customized-polo-rewards.jpg' | asset_url }}" alt="image3" style="margin-bottom: 10px;">
          <p class="l-vmargin--small fs--small l-block">*The customized polo is for the L.12.12 style only. The color and size of the polo and the color of the thread are subject to availability.</p>

        </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="leclublacoste-title-3">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               …AND YOUR BIRTHDAY
            </h2>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="leclublacoste-champion">
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 cell-m-23 offset-mt-0">
          <span class="l-vmargin--large fs--small l-block text-center">LEVEL 3 - ADVANCED</span>
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'Gourde.png' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'Gourde.png' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-11 offset-2 cell-mt-19 offset-mt-6 cell-m-19 offset-m-3">
          <span class="l-vmargin--large fs--small l-block text-center">LEVEL 4 - LEGEND</span>
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'le-club-lacoste-page-l4-bday-gift-3-pcs-luggage-pouches-crm.png' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'le-club-lacoste-page-l4-bday-gift-3-pcs-luggage-pouches-crm.png' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="leclublacoste-title-4">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               HOW DOES IT WORK?
            </h2>
         </div>
      </div>
      <div class="mcontent-strate mcontent-strate-v2 mcontent-reassurance" id="leclublacoste-reinsurance">
         <div class="background-reassurance full-width-80 pad-20-mob">
            <div class="content-reassurance col-w-4-23 col-ml-2-23 col-tab-w-6-23 col-tab-ml-0 col-mob-w-19-23 col-mob-ml-3-23">
               <img src="{{ 'mod-leclublacoste-reassurance-1-1.png' | asset_url }}" alt="">
               <h2 class="mcontent-strate-h3">Let's keep in touch</h2>
               <p class="mcontent-strate-p1">Join LE CLUB LACOSTE and enjoy its privileges by staying in touch with us. An email address is all we need to ensure you are the first to hear about your benefits.</p>
            </div>
            <div class="content-reassurance col-w-5-23 col-ml-3-23 col-tab-w-7-23 col-tab-ml-2-23 col-mob-w-19-23 col-mob-ml-3-23">
               <img src="{{ 'mod-leclublacoste-reassurance-1-2.jpg' | asset_url }}" alt="">
               <h2 class="mcontent-strate-h3">₱1 = 1 POINT</h2>
               <p class="mcontent-strate-p1">Your loyalty level is valid for 12 months, in-store and on lacoste.com.ph. The more points you score, the more rewards you get.</p>
            </div>
            <div class="content-reassurance col-w-4-23 col-ml-3-23 col-tab-w-6-23 col-tab-ml-2-23 col-mob-w-19-23 col-mob-ml-3-23">
               <img src="{{ 'mod-leclublacoste-reassurance-1-3.png' | asset_url }}" alt="">
               <h2 class="mcontent-strate-h3">Build your rewards</h2>
               <p class="mcontent-strate-p1">Every new status brings its own rewards to add to those you already have! Nothing to lose and everything to gain!</p>
            </div>
         </div>
      </div>
      
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-half-row grid " id="leclublacoste-title-5">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               FIND YOUR PROGRESS AND YOUR REWARDS ON YOUR PERSONAL ACCOUNT
            </h2>
         </div>
      </div>
     <div class="offset-1 l-vmargin-half-row fs--medium text-black">Create an account today!</div>
     <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-half-row">
       <a class="btn-cta fs--medium ff-normal l-vmargin--small offset-1" role="heading" aria-level="2" href="/account/login">Join Le Club Lacoste</a>
     </div>
     {% comment %}
     <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="leclublacoste-lift">
       <div class="lift-container">
         <div class="swiper-container-lift swiper-container-horizontal">
           <div class="swiper-wrapper l-vmargin--large" style="display: block;">
             <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
               <picture class="pict img-fill-width l-block">
                 <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-lift2-1-1.jpg' | asset_url }}">
                 <img class="img-fill-width l-block" src="{{ 'mod-leclublacoste-lift2-1-1.jpg' | asset_url }}" alt="null" width="100%" height="auto">
               </picture>
               <div class="lift-content text-black">
                 <h2 class="title--medium l-vmargin--large">
                   Sign In
                 </h2>
                 <a class="btn-cta  btn--icon" href="/account/login">
                   <svg role="presentation" class="icon-svg ">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                   </svg>
                 </a>
               </div>
             </div>
             <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
               <picture class="pict img-fill-width l-block">
                 <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-lift2-1-2.jpg' | asset_url }}">
                 <img class="img-fill-width l-block" src="{{ 'mod-leclublacoste-lift2-1-2.jpg' | asset_url }}" alt="null" width="100%" height="auto">
               </picture>
               <div class="lift-content text-black">
                 <h2 class="title--medium l-vmargin--large">
                   Create my account
                 </h2>
                 <a class="btn-cta  btn--icon" href="/account/register">
                   <svg role="presentation" class="icon-svg ">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                   </svg>
                 </a>
               </div>
             </div>
           </div>
           <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
           <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
         </div>
         <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
         <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
       </div>
     </div>
     {% endcomment %}
     <p class="padding-1 fs--small">*Click <a href="/pages/le-club-lacoste-terms-conditions" target="_BLANK" class="reverse-link">here</a> to see Terms &amp; Conditions</p>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="leclublacoste">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>
 