<div class="clearfix row modular-content" style="background-color: #f4f4f4;" id="lacoste-sport">
   <!-- STRATES -->
   <div class="mcontent-all-strates">
      <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="about-lacoste-nav">
         <div class="banner-nav-bg">
         </div>
         <div class="l-relative ">
            <div class="l-relative flex flex--col flex--centered text-center">
               <h2 class="banner-nav-title title--xlarge ff-bold l-vmargin--large">
                  Lacoste since 1933
               </h2>
            </div>
            <div class="js-banner-nav banner-nav">
               {% for link in linklists.about-lacoste.links %}
               <a class="js-banner-nav-item banner-nav-item fs--small " href= "{{ link.url }}">{{ link.title }}</a>
               {% endfor %}
               </a>
            </div>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="lacoste-sport-spirit">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-spirit.png' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-bs-sport-spirit.png' | asset_url }}" alt="85 years of love for sport" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
            <h2 class="title--xlarge spirit-title l-vmargin--large">
               85 years of love for sport
            </h2>
            <p class="fs--xlarge fs-mt--medium text-grey l-vmargin--large">
               "We must always hope to play better than we've ever played before." <br>René Lacoste.<br>Since its beginnings in 1933, Lacoste has supported athletes of tennis and golf who believe in the beauty of the game and always strive for excellence.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sport-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               Lacoste on the courts
            </h2>
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="lacoste-sport-chelem-1">
         <div class="cell-11 offset-1 no-tab no-mob ">
            <picture class="l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-chelem-1-1.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-bs-sport-chelem-1-1.jpg' | asset_url }}" alt="Novak Djokovic is: The new croc" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 offset-mt-1 cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <div class="embed-container no-mob no-tab" style="padding-bottom: 0px;">
<!--                <iframe src="https://cdn.shopify.com/s/files/1/0233/9713/8496/files/mod-bs-sport-chelem-1-2.mp4?115823" width="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" volume="0">
               </iframe> -->
              <video width="100%" muted autoplay loop>
                <source src="https://cdn.shopify.com/s/files/1/0233/9713/8496/files/mod-bs-sport-chelem-1-2.mp4?115823" type="video/mp4">
              </video>
            </div>
            <picture class="l-vmargin--xsmall img-fill-width no-desk">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-chelem-1-2.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width no-desk" src="{{ 'mod-bs-sport-chelem-1-2.jpg' | asset_url }}" alt="Novak Djokovic is: The new croc" width="100%" height="auto">
            </picture>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
                  Novak Djokovic is: The new croc
               </h2>
               <p class="fs--medium text-grey l-vmargin--medium col-pr-2-10 col-mob-pr-0">
                  Ranked ATP world number one for 223 weeks between 2011 and 2016, holder of more than 60 titles, including 12 Grand Slam titles, the Serbian player is known for his training discipline, tenacity and fair play.
               </p>
               <a class="btn-cta l-hmargin--small text-white fs--medium ff-normal" href="/pages/novak-djokovic-collection">
               Read more
               </a>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-players l-vmargin-row-and-half" id="lacoste-sport-players-1">
         <div class="l-relative">
            <div class="swiper-container-players swiper-container-horizontal swiper-container-free-mode">
               <div class="swiper-wrapper" style="display: block;">
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-1">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-01.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-01.jpg' | asset_url }}" alt="Novak Djokovic" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Novak Djokovic
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-02.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-02.jpg' | asset_url }}" alt="Roberto Bautista-Agut" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Roberto Bautista-Agut
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-03.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-03.jpg' | asset_url }}" alt="Dominika Cibulková" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Dominika Cibulková
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-08.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-08.jpg' | asset_url }}" alt="Hyeon Chung" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Hyeon Chung
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-05.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-05.jpg' | asset_url }}" alt="Benoît Paire" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Benoît Paire
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-04.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-04.jpg' | asset_url }}" alt="Pablo Cuevas" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Pablo Cuevas
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-06.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-06.jpg' | asset_url }}" alt="Pierre-Hugues Herbert" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Pierre-Hugues Herbert
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-10.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-10.jpg' | asset_url }}" alt="Jérémy Chardy" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Jérémy Chardy
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-07.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-07.jpg' | asset_url }}" alt="Nicolas Mahut" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Nicolas Mahut
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-09.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-09.jpg' | asset_url }}" alt="Christina McHale" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Christina McHale
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-11.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-11.jpg' | asset_url }}" alt="Guillermo García-López" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Guillermo García-López
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-1-12.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-1-12.jpg' | asset_url }}" alt="Denis Kudla" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Denis Kudla
                        </h3>
                     </div>
                  </div>
               </div>
               <div class="l-vmargin--large"></div>
               <div class="swiper-pagination no-desk swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span></div>
<!--                <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob" style="top: 250.5px;" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></button> -->
<!--                <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" style="top: 250.5px;" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button> -->
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="lacoste-sport-set-1" style="">
         <div class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-set-1.png' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-bs-sport-set-1.png' | asset_url }}" alt="Three legends; the same Lacoste spirit" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               Three legends; the same Lacoste spirit
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               Guy Forget, Gustavo Kuerten et Mats Wilander: three unforgettable international players, who not only have a close relationship with Lacoste, but hold its values high.
            </p>
         </div>
      </div>
      <div class="l-vmargin-row-1 mcontent-smash grid flex-m--col " id="lacoste-sport-smash-1">
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               Roland-Garros
            </h2>
            <picture class="img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-smash-1-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-bs-sport-smash-1-1.jpg' | asset_url }}" alt="Roland-Garros" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               Lacoste has been a partner of Roland-Garros since 1971. The Roland-Garros stadium was purpose-built for the legendary Four Musketeers, the quartet of French tennis champions, which included René Lacoste. There is no need to explain why this Grand Slam tournament holds a very special place in the crocodile’s heart.
            </p>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               Miami Open by Itaú
            </h2>
            <picture class="img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-smash-1-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-bs-sport-smash-1-2.jpg' | asset_url }}" alt="Miami Open by Itaú" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               In 2015, Lacoste became Official Partner of the Miami Open Presented by Itaú. This first major partnership with the American Masters 1000 reflects René Lacoste’s attachment to the United States, the location of some of his most beautiful victories, most notably the Davis Cup.
            </p>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               Nitto ATP Finals
            </h2>
            <picture class="img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-smash-1-3.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-bs-sport-smash-1-3.jpg' | asset_url }}" alt="Nitto ATP Finals" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               The event brings together the 8 best players in the world to end the sporting year on a high note. In linking its name to this prestigious tournament, Lacoste is reaffirming its commitment to the values of excellence that have inspired the brand since its beginnings.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sport-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               Lacoste on the green
            </h2>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="lacoste-sport-set-2" style="">
         <div class="offset-2 order-1 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-set-2.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-bs-sport-set-2.jpg' | asset_url }}" alt="Lacoste and golf" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-3 order-2 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               Lacoste and golf
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               The Lacoste family enjoy a long love affair with golf. An enthusiastic golfer himself, René marries golf champion Simone Thion de la Chaume, 13-time winner of the French Championships. Their daughter Catherine, the only Amateur to have won the US Open, also boasts an impressive number of wins, confirming the family’s longstanding passion for the game.
            </p>
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="lacoste-sport-chelem-2">
         <div class="cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <div class="embed-container no-mob no-tab">
               <iframe src="https://player.vimeo.com/video/218767362?background=1" width="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
               </iframe>
            </div>
            <picture class="l-vmargin--xsmall img-fill-width no-desk">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-chelem-2-1.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width no-desk" src="{{ 'mod-bs-sport-chelem-2-1.jpg' | asset_url }}" alt="Daniel Berger - All eyes on this young crocodile" width="100%" height="auto">
            </picture>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
                  Daniel Berger - All eyes on this young crocodile
               </h2>
               <p class="fs--medium text-grey l-vmargin--medium col-pr-2-10 col-mob-pr-0">
                  Daniel Berger is ranked 28th in the Official World Golf Rankings (end of 2017). The year saw the promising young professional retain his title at the FedEx St. Jude Classic, and, as part of the US Team at the Presidents Cup, contribute the winning point for the USA.
               </p>
<!--                <a class="btn-cta l-hmargin--small text-white fs--medium ff-normal" href="https://www.lacoste.com/gb/on-the-court/">
               Discover the selection
               </a> -->
            </div>
         </div>
         <div class="offset-2 offset-mt-1 cell-11 offset-1 no-tab no-mob ">
            <picture class="l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-chelem-2-2.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-bs-sport-chelem-2-2.jpg' | asset_url }}" alt="Daniel Berger - All eyes on this young crocodile" width="100%" height="auto">
            </picture>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-players l-vmargin-row-and-half" id="lacoste-sport-players-2">
         <div class="l-relative">
            <div class="swiper-container-players swiper-container-horizontal swiper-container-free-mode">
               <div class="swiper-wrapper" style="display: block;">
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-1">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-01.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-01.jpg' | asset_url }}" alt="Daniel Berger" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Daniel Berger
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-02.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-02.jpg' | asset_url }}" alt="Cristie Kerr" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Cristie Kerr
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-03.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-03.jpg' | asset_url }}" alt="Benjamin Herbert" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Benjamin Herbert
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-04.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-04.jpg' | asset_url }}" alt="Azahara Muñoz" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Azahara Muñoz
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-05.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-05.jpg' | asset_url }}" alt="Grégory Havret" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Grégory Havret
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-06.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-06.jpg' | asset_url }}" alt="Céline Boutier" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Céline Boutier
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-07.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-07.jpg' | asset_url }}" alt="Raphaël Jacquelin" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Raphaël Jacquelin
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-08.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-08.jpg' | asset_url }}" alt="Julien Guerrier" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Julien Guerrier
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-09.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-09.jpg' | asset_url }}" alt="José María Olazábal" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           José María Olazábal
                        </h3>
                     </div>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <div class="l-relative l-vmargin--medium">
                        <picture class="img-fill-width">
                           <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-players-2-10.jpg' | asset_url }}">
                           <img class="img-fill-width" src="{{ 'mod-bs-sport-players-2-10.jpg' | asset_url }}" alt="Camille Chevalier" width="100%" height="auto">
                        </picture>
                     </div>
                     <div class="flex flex--space-between flex-m--col">
                        <h3 class="fs--medium l-m-no-margin">
                           Camille Chevalier
                        </h3>
                     </div>
                  </div>
               </div>
               <div class="l-vmargin--large"></div>
               <div class="swiper-pagination no-desk swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
<!--                <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob" style="top: 250.5px;" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="false"></button> -->
<!--                <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob" style="top: 250.5px;" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></button> -->
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="lacoste-sport-set-3" style="">
         <div class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-set-3.png' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-bs-sport-set-3.png' | asset_url }}" alt="Three stars in the golfing firmament" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               Three stars in the golfing firmament
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               Holders of several world records which have rocketed them to the top of the golf rankings, brand ambassadors Thomas Levet, Patricia Meunier-Lebouc and Jean Van de Velde wear the Lacoste colours on and off the links.
            </p>
         </div>
      </div>
      <div class="l-vmargin-row-1 mcontent-smash grid flex-m--col " id="lacoste-sport-smash-2">
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               The Ryder Cup
            </h2>
            <picture class="img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-smash-2-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-bs-sport-smash-2-1.jpg' | asset_url }}" alt="The Ryder Cup" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               For the first time, Lacoste will be an official licensee of the Ryder Cup, contested at Le Golf National in September 2018. Lacoste will dress the European Team of the Junior Ryder Cup.
            </p>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               Lacoste Ladies Open de France
            </h2>
            <picture class="img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-smash-2-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-bs-sport-smash-2-2.jpg' | asset_url }}" alt="Lacoste Ladies Open de France" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               The Ladies Open de France will be organized in the Bordeaux region for the first time after being held in Chantaco for the last 6 years.  The brand is honoured to be a privileged partner of this golfing event since 2011, perpetuating Lacoste's relationship with this elegant and exacting sport.
            </p>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               Open de France
            </h2>
            <picture class="img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-smash-2-3.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-bs-sport-smash-2-3.jpg' | asset_url }}" alt="Open de France" width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               Every summer, the luxurious surroundings of the National Golf Course welcomes the Open de France, whichs pits the best players in the world against each other over four exciting days. Since 2003, Lacoste has been delighted to call itself Official Partner to this tournament, Europe’s oldest golfing Open.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sport-title-4">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               Sporting wardrobe
            </h2>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-sport-lift-1">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="display: block;">
                  <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-lift-1-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-sport-lift-1-1.jpg' | asset_url }}" alt="Shop now" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           For him
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           The Lacoste Sport Collection
                        </h3>
                        <a class="btn-cta  btn--icon" href="/collections/mens-sports-clothing">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-lift-1-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-sport-lift-1-2.jpg' | asset_url }}" alt="Shop now" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           For her
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           The Lacoste Sport Collection
                        </h3>
                        <a class="btn-cta  btn--icon" href="/collections/women-sport-clothing">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sport-title-5">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               Discover more
            </h2>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-sport-lift-2">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="display: block;">
                  <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-lift-2-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-sport-lift-2-1.jpg' | asset_url }}" alt="Read more" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           The polo savoir-faire
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           From design to crafting
                        </h3>
                        <a class="btn-cta  btn--icon" href="/pages/lacoste-savoir-faire">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-lift-2-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-sport-lift-2-2.jpg' | asset_url }}" alt="Read more" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           René Lacoste
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Who is (really) The Crocodile?
                        </h3>
                        <a class="btn-cta  btn--icon" href="/pages/rene-lacoste">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-sport-lift-3">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="swiper-slide cell-m-20 cell-11 cell-mt-20 offset-1 swiper-slide-active">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-lift-3-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-sport-lift-3-1.jpg' | asset_url }}" alt="Read more" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Key dates
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Lacoste heritage yesterday and today
                        </h3>
                        <a class="btn-cta  btn--icon" href="https://www.lacoste.com/gb/lacoste-brand/lacoste-history.html">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="swiper-slide cell-m-20 cell-11 cell-mt-20 offset-1 swiper-slide-next">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-sport-lift-3-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-sport-lift-3-2.jpg' | asset_url }}" alt="Read more" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           The Lacoste style
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Sport-inspired elegance
                        </h3>
                        <a class="btn-cta  btn--icon" href="https://www.lacoste.com/gb/lacoste-brand/lacoste-style.html">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="lacoste-sport">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>