<div class="clearfix row modular-content" style="" id="lacoste-crocodileinside">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates" data-tracking-page-category="brand" data-tracking-page-banner="Campagne_Crocodileinside">
      <div class="mcontent-court l-vmargin-row-and-half text-white  court-launch" id="lacoste-crocodileinside-court">
         <img src="{{ 'crocodileinside-court.jpg' | asset_url }}}" alt="A new episode" data-src="https://player.vimeo.com/video/336774138?title=0&amp;byline=0&amp;portrait=0" class="img-fill-width js-court-poster l-vmargin--xsmall " width="100%" height="auto">
         <div class="court-content cell-7 cell-mt-15 cell-m-21 offset-mt-4 offset-m-2">
            <h2 class="title--medium l-vmargin--medium">
               A new episode
            </h2>
            <p class="fs--medium l-vmargin--xlarge ">
               When everything is crumbling around you, you have two choices: the easy way out or the determined way forward. The new Lacoste campaign tells the story of this decisive moment – when taking a risk is the most beautiful thing to do. #crocodileinside
            </p>
            <button type="button" name="button" class="player-btn" style="top: 392.5px;">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="58px" height="58px" viewBox="277 367 58 58" enable-background="new 277 367 58 58" xml:space="preserve">
                  <path fill="#fff" class="button-play-bg" d="M306,423.5c-15.188,0-27.5-12.312-27.5-27.5s12.312-27.5,27.5-27.5s27.5,12.312,27.5,27.5
                     C333.478,411.179,321.179,423.478,306,423.5z"></path>
                  <path fill="#292929" class="button-play-border" d="M306,369c14.912,0,27,12.088,27,27s-12.088,27-27,27s-27-12.088-27-27
                     C279.022,381.097,291.097,369.022,306,369 M306,368c-15.464,0-28,12.536-28,28c0,15.464,12.536,28,28,28c15.464,0,28-12.536,28-28
                     C334,380.536,321.464,368,306,368L306,368z"></path>
                  <polygon fill="#292929" class="button-play-arrow" points="302.5,385.2 313.3,396 302.5,406.8 "></polygon>
                  <path class="button-play-arrow-border" fill="#292929" d="M303,386.42l9.58,9.58l-9.58,9.58V386.42 M302,384v24l12-12L302,384L302,384z"></path>
               </svg>
            </button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-crocodileinside-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               The Couple
            </h2>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-simone offset-1 cell-23 l-vmargin-row-and-half simone--right" id="lacoste-crocodileinside-simone-1">
         <div class="simone-content grid">
            <div class="cell-12 cell-mt-23 ">
               <picture class="pict img-fill-width l-block">
                  <source media="(max-width: 800px)" srcset="{{ 'crocodileinside-mobile-simone-1.jpg' | asset_url }}">
                  <source media="(min-width: 801px)" srcset="{{ 'crocodileinside-simone-1.jpg' | asset_url }}">
                  <img class="img-fill-width l-block" src="{{ 'crocodileinside-simone-1.jpg' | asset_url }}" alt="null" width="100%" height="auto">
               </picture>
            </div>
            <div class="simone-text-wrapper bg-grey text-black cell-12 cell-mt-23 padding-2 padding-m-1 ">
               <h3 class="title--medium l-vmargin--large">
                  Oulaya Amamra, as the bold woman
               </h3>
               <div class="fs--medium l-vmargin--large text-grey-light cell-6 cell-mt-23">
                  At first, the easy option beckons and the gulf between them widens. A sudden realization awakens her determination. She strengthens her resolve, ready to change her destiny.
               </div>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-simone offset-1 cell-23 l-vmargin-row-and-half simone--left" id="lacoste-crocodileinside-simone-2">
         <div class="simone-content grid">
            <div class="cell-12 cell-mt-23 offset-11 offset-mt-0">
               <picture class="pict img-fill-width l-block">
                  <source media="(max-width: 800px)" srcset="{{ 'crocodileinside-simone-mobile-2.jpg' | asset_url }}">
                  <source media="(min-width: 801px)" srcset="{{ 'crocodileinside-simone-2.jpg' | asset_url }}">
                  <img class="img-fill-width l-block" src="{{ 'crocodileinside-simone-2.jpg' | asset_url }}" alt="null" width="100%" height="auto">
               </picture>
            </div>
            <div class="simone-text-wrapper bg-grey text-black cell-12 cell-mt-23 padding-2 padding-m-1 ">
               <h3 class="title--medium l-vmargin--large">
                  Kévin Azaïs as the loyal man
               </h3>
               <div class="fs--medium l-vmargin--large text-grey-light cell-6 cell-mt-23">
                  Confused, passive, he does nothing, letting her get away. One look from him is enough to bring her back. His hand reaches out to his future.
               </div>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate js-mcontent-mousquetaires mcontent-mousquetaires l-vmargin-row-and-half" id="lacoste-crocodileinside-mousquetaire">
         <h2 class="js-strate-title cell-23 offset-1 title--medium l-vmargin--large text-black mousquetaires-title ">
            Steely Style
         </h2>
         <div class="js-swiper-container-mousquetaires swiper-container-mousquetaires swiper-container-horizontal swiper-container-free-mode">
            <div class="swiper-wrapper l-vmargin--large" style="display: block;">
               <div class="cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="js-tracking-data" href="https://lacoste.com.ph/collections/womens-shoes/products/womens-la-piquee-textile-sneakers-737cfa0016" data-tracking-category="BRAND">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(max-width: 800px)" data-srcset="{{ 'crocodileinside-mobile-mousquetaire-3.jpg' | asset_url }}" srcset="{{ 'crocodileinside-mobile-mousquetaire-3.jpg' | asset_url }}">
                        <source media="(min-width: 801px)" data-srcset="{{ 'crocodileinside-mousquetaire-3.jpg' | asset_url }}" srcset="{{ 'crocodileinside-mousquetaire-3.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'crocodileinside-mousquetaire-3.jpg' | asset_url }}" alt="La Piquée seamless trainers" width="100%" height="auto" src="{{ 'crocodileinside-mousquetaire-3.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" src="{{ 'crocodileinside-mousquetaire-3.jpg' | asset_url }}" alt="La Piqu&eacute;e seamless trainers" width="auto" height="auto" />
                     </noscript>
                     <div class="mousquetaires-content ">
                        <h2 class="title--medium l-hmargin--small">
                           La Piquée seamless trainers
                        </h2>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="" href="https://lacoste.com.ph/collections/women/products/mens-crew-neck-pima-cotton-jersey-t-shirt-th6709-s19?_pos=1&_sid=de481b7dc&_ss=r">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(max-width: 800px)" data-srcset="{{ 'crocodileinside-mobile-mousquetaire-5.jpg' | asset_url }}" srcset="{{ 'crocodileinside-mobile-mousquetaire-5.jpg' | asset_url }}">
                        <source media="(min-width: 801px)" data-srcset="{{ 'crocodileinside-mousquetaire-5.jpg' | asset_url }}" srcset="{{ 'crocodileinside-mousquetaire-5.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload" data-src="{{ 'crocodileinside-mousquetaire-5.jpg' | asset_url }}" alt="Cotton pima t-shirt" width="100%" height="auto" src="{{ 'crocodileinside-mousquetaire-5.jpg' | asset_url }}">
                     </picture>
                     <noscript>
                        <img class="noscript-content" src="{{ 'crocodileinside-mousquetaire-5.jpg' | asset_url }}" alt="Cotton pima t-shirt" width="auto" height="auto" />
                     </noscript>
                     <div class="mousquetaires-content ">
                        <h2 class="title--medium l-hmargin--small">
                           Cotton pima t-shirt
                        </h2>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
            </div>
<!--             <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></button> -->
<!--             <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button> -->
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="lacoste-crocodileinside-set" style="">
         <div class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(max-width: 800px)" srcset="{{ 'crocodileinside-mobile-set.jpg' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{ 'crocodileinside-set.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'crocodileinside-set.jpg' | asset_url }}" alt="Behind the Scenes" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               Behind the Scenes
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               How do you illustrate emotional turmoil? Go behind the scenes to discover the set design and construction.
            </p>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="lacoste-crocodileinside-champion-1">
         <div class="l-vmargin-row-and-half cell-11 cell-mt-19 cell-m-23 order-mt-2">
            <picture class="pict img-fill-width l-vmargin--xsmall lazyload">
               <source media="(min-width: 801px)" data-srcset="{{ 'crocodileinside-champion-1-1.jpg' | asset_url }}" srcset="{{ 'crocodileinside-champion-1-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall js-lazyload lazyload lazyloaded" data-src="{{ 'crocodileinside-champion-1-1.jpg' | asset_url }}" alt="" width="100%" height="auto" src="{{ 'crocodileinside-champion-1-1.jpg' | asset_url }}" data-was-processed="true">
            </picture>
            <noscript>
               <img class="noscript-content" src="{{ 'crocodileinside-champion-1-1.jpg' | asset_url }}" alt="" width="auto" height="auto" />
            </noscript>
            <p class="fs--small text-grey-light offset-mt-2">
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 offset-mt-6 order-mt-1">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'crocodileinside-champion-1-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'crocodileinside-champion-1-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
            </p>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="lacoste-crocodileinside-champion-2">
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 cell-m-23 offset-mt-0">
            <picture class="pict img-fill-width l-vmargin--xsmall lazyload">
               <source media="(min-width: 801px)" data-srcset="{{ 'crocodileinside-champion-2-1.jpg' | asset_url }}" srcset="{{ 'crocodileinside-champion-2-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall js-lazyload lazyload lazyloaded" data-src="{{ 'crocodileinside-champion-2-1.jpg' | asset_url }}" alt="" width="100%" height="auto" src="{{ 'crocodileinside-champion-2-1.jpg' | asset_url }}" data-was-processed="true">
            </picture>
            <noscript>
               <img class="noscript-content" src="{{ 'crocodileinside-champion-2-1.jpg' | asset_url }}" alt="" width="auto" height="auto" />
            </noscript>
            <p class="fs--small text-grey-light offset-mt-2">
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-11 offset-2 cell-mt-19 offset-mt-6 cell-m-19 offset-m-6">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'crocodileinside-champion-2-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'crocodileinside-champion-2-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
            </p>
         </div>
      </div>
      <div class="mcontent-court l-vmargin-row-and-half text-white  court-launch" id="lacoste-crocodileinside-court-2">
         <img src="{{ 'crocodileinside-court-2.jpg' | asset_url }}" alt="" data-src="https://player.vimeo.com/video/339098614?title=0&amp;byline=0&amp;portrait=0" class="img-fill-width js-court-poster l-vmargin--xsmall " width="100%" height="auto">
         <div class="court-content cell-7 cell-mt-15 cell-m-21 offset-mt-4 offset-m-2">
            <button type="button" name="button" class="player-btn" style="top: 392.5px;">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="58px" height="58px" viewBox="277 367 58 58" enable-background="new 277 367 58 58" xml:space="preserve">
                  <path fill="#fff" class="button-play-bg" d="M306,423.5c-15.188,0-27.5-12.312-27.5-27.5s12.312-27.5,27.5-27.5s27.5,12.312,27.5,27.5
                     C333.478,411.179,321.179,423.478,306,423.5z"></path>
                  <path fill="#292929" class="button-play-border" d="M306,369c14.912,0,27,12.088,27,27s-12.088,27-27,27s-27-12.088-27-27
                     C279.022,381.097,291.097,369.022,306,369 M306,368c-15.464,0-28,12.536-28,28c0,15.464,12.536,28,28,28c15.464,0,28-12.536,28-28
                     C334,380.536,321.464,368,306,368L306,368z"></path>
                  <polygon fill="#292929" class="button-play-arrow" points="302.5,385.2 313.3,396 302.5,406.8 "></polygon>
                  <path class="button-play-arrow-border" fill="#292929" d="M303,386.42l9.58,9.58l-9.58,9.58V386.42 M302,384v24l12-12L302,384L302,384z"></path>
               </svg>
            </button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-simone offset-1 cell-23 l-vmargin-row-and-half simone--left" id="lacoste-crocodileinside-simone-3">
         <div class="simone-content grid">
            <div class="cell-12 cell-mt-23 offset-11 offset-mt-0">
               <picture class="pict img-fill-width l-block">
                  <source media="(min-width: 801px)" srcset="{{ 'crocodileinside-spirit.jpg' | asset_url }}">
                  <img class="img-fill-width l-block" src="{{ 'crocodileinside-spirit.jpg' | asset_url }}" alt="null" width="100%" height="auto">
               </picture>
            </div>
            <div class="simone-text-wrapper bg-grey text-black cell-12 cell-mt-23 padding-2 padding-m-1 ">
               <h3 class="title--medium l-vmargin--large">
                  CreativeTeam
               </h3>
               <div class="fs--medium l-vmargin--large text-grey-light cell-6 cell-mt-23">
                  Directed by the French collective Megaforce, known for their powerfully gripping videos, the film shows how determination and an elegance of mind can triumph over adversity.
               </div>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-crocodileinside-lift">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="display: block;">
                  <a href="/collections/men" class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'crocodileinside-lift-1-2.jpg' | asset_url }}" srcset="{{ 'crocodileinside-lift-1-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'crocodileinside-lift-1-2.jpg' | asset_url }}" alt="null" width="100%" height="auto" src="{{ 'crocodileinside-lift-1-2.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" src="{{ 'crocodileinside-lift-1-2.jpg' | asset_url }}" alt="null" width="auto" height="auto" />
                     </noscript>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           All Lacoste for him
                        </h2>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="/collections/women" class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'crocodileinside-lift-1-1.jpg' |asset_url }}" srcset="{{ 'crocodileinside-lift-1-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'crocodileinside-lift-1-1.jpg' | asset_url }}" alt="null" width="100%" height="auto" src="{{ 'crocodileinside-lift-1-1.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" src="{{ 'crocodileinside-lift-1-1.jpg' | asset_url }}" alt="null" width="auto" height="auto" />
                     </noscript>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           All Lacoste for her
                        </h2>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="lacoste-crocodileinside">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>