<section class="js-modular-page page-section modular-section bg-white" data-tracking="">
   <div class="js-modular-layer js-modular--starter modular-layer modular--starter l-relative bg-white  no-cover" id="lacosteinside-renelacoste-starter" data-layer="layer_starter" data-tracking="">
      <div class="js-modular-push l-relative l-fill-height text-white" data-id="{{ page.handle }}" data-tracking="">
         <div class="l-relative modular--starter-cover-wrapper">
            <div class="l-block l-fill-height" data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-fill-height lazyload">
                  <picture class="pict modular--starter-cover lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-renelacoste-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-renelacoste-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1366&amp;impolicy=custom 1366w,{{ 'lacosteinside-renelacoste-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1680&amp;impolicy=custom 1680w,{{ 'lacosteinside-renelacoste-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1920&amp;impolicy=custom 1920w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 1366px,(min-width: 1367px) and (max-width: 1680px) 1680px,1920px">
                     <img alt="lacosteinside-renelacoste-starter-component-starter" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-starter-component-starter-desktop.jpg' | asset_url }}" class="js-modular--starter-cover modular--starter-cover js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-starter-component-starter-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-starter-component-starter" width="auto" height="auto" />
                  </noscript>
               </div>
            </div>
         </div>
         <div class="l-overlay grid pointer-none flex--justify-start flex--align-center flex-m--justify-start text-m-initial flex-m--align-end">
            <div class="cell-13 cell-mt-21 padding-1 l-vspaced-row-1 cell-m-25 padding-m-2   ">
               <div class="">
                  <h1 class="js-modular-title title--xxlarge  ">
                     René Lacoste, Rennaissance Man
                  </h1>
                  <div class=" js-modular-text fs--medium ">
                     International tennis champion, ingenious inventor and the man who inspired a whole new lifestyle. Discover the many faces of René Lacoste.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-bottom-row-small" id="lacosteinside-renelacoste-title-5" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-13 text-right cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <div class="overline text-grey-light ">
               Portrait of René Lacoste. © Underwood &amp; Underwood - Lacoste Archives / © Studio Piaz
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-renelacoste-title-1" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h2 class="title--xlarge text-black">
               Determined Champion
            </h2>
            <div class="text-grey fs--medium">
               <div>
                  <p>How René Lacoste followed his dream and forged his career.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-renelacoste-story-1">
      <div class="js-modular-push grid cell-25 flex-m--col bg-white l-padding-bottom-row-small " data-id="lacosteinside-renelacoste-story-1-component-story" data-tracking="" data-theme="text-black">
         <div class="cell-11 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--1 ">
               <div id="static-player-17d9cf51cff00a95941058c0e8" class="js-static-video-wrapper static-video-wrapper is-paused is-muted l-overflow-hidden is-classic l-ratio--1 bg-white is-ready" data-src-desktop="{{ 'lacosteinside-renelacoste-story-1-component-story.mp4' | file_url }}" data-src-mobile="{{ 'lacosteinside-renelacoste-story-1-component-story.mp4' | file_url }}" data-type="video/mp4" data-autoplay="false" data-background="false" data-staticvideo="bf72e238-78b2-44eb-86b9-6c89d811ab79">
                  <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto">
                     <source data-desktop="{{ 'lacosteinside-renelacoste-story-1-component-story.mp4' | file_url }}" data-mobile="{{ 'lacosteinside-renelacoste-story-1-component-story.mp4' | file_url }}" type="video/mp4">
                  </video>
                  <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                     <!---->
                     <button class="static-video-btn btn-play">
                        <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                        </svg>
                     </button>
                     <div class="static-video--time flex flex--justify-start l-relative">
                        <!---->0:00<!---->
                     </div>
                     <div class="flex l-fill-width l-fill-height flex--align-center">
                        <div class="static-video--total-timeline flex l-fill-width">
                           <div class="static-video--elapsed-timeline l-fill-height l-fill-width" style="transform: scale(NaN, 1)"></div>
                        </div>
                     </div>
                     <div class="static-video--time flex flex--justify-start l-relative">
                        <!---->NaN:aN<!---->
                     </div>
                     <button class="static-video-btn">
                        <svg role="presentation" aria-hidden="true" class="icon-svg icon-mute">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-sound"></use>
                        </svg>
                     </button>
                     <button class="static-video-btn">
                        <svg role="presentation" aria-hidden="true" class="icon-svg icon-fullscreen">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-expand"></use>
                        </svg>
                     </button>
                     <!---->
                  </div>
                  <div class="js-video-poster l-overlay poster">
                     <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                        <picture class="pict img-cover img-cover--top l-block lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-renelacoste-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-renelacoste-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-renelacoste-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                           <img alt="lacosteinside-renelacoste-story-1-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-story-1-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-story-1-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-story-1-component-story" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--[object Object] pointer-none"></div>
                     </div>
                     <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                        <svg role="presentation" class="icon-svg ">
                           <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                        </svg>
                     </div>
                  </div>
                  <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
                     <svg class="loader-icon">
                        <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                     </svg>
                  </div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-black">
                     Will of Steel
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>René Lacoste was not predestined for a sporting career. Yet aged 18, he made the crucial decision to focus entirely on his passion for tennis, training tirelessly to hone his strength, precision and concentration. Willing himself to be “as perfect as possible”. Never defeated, he transformed every loss into a win for his technique. An approach that proved effective: he won seven major singles tournaments, and played on the French team who took the Davis Cup in 1927 and 1928.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-renelacoste-story-2" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacosteinside-renelacoste-story-2-component-story" data-tracking="" data-theme="text-black">
         <div class="cell-11 order-1 order-m-0 offset-3 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--1 " data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay">
                  <picture class="pict img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-story-2-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-story-2-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-story-2-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-story-2-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-renelacoste-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-renelacoste-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-renelacoste-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                     <img alt="lacosteinside-renelacoste-story-2-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-story-2-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-story-2-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-story-2-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-black">
                     Foolproof Technique
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>René Lacoste's unflagging determination served his winning technique: study the game and his opponents to better exhaust and beat them. Hit the ball, push back whatever happens, perfect the smash with a tensed, bent arm. A perfectionist, he noted down his every move, which led to his 1928 book, Tennis. A veritable handbook for victory.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small" id="lacosteinside-renelacoste-blocks-1" data-layer="layer_blocks" data-tracking="">
      <div class="grid cell-25">
         <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
            <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-renelacoste-blocks-1-component-blocks-1" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacosteinside-renelacoste-blocks-1-component-blocks-1" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-1-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-blocks-1-component-blocks-1" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </div>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none ">
                  <div class="pointer-auto ">
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-m-0 cell-m-25 offset-1 cell-11">
            <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-renelacoste-blocks-1-component-blocks-2" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacosteinside-renelacoste-blocks-1-component-blocks-2" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-blocks-1-component-blocks-2-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-blocks-1-component-blocks-2" width="auto" height="auto" />
                     </noscript>
                  </div>
               </div>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none ">
                  <div class="pointer-auto ">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-bottom-row-small" id="lacosteinside-renelacoste-title-6" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <div class="overline text-grey-light ">
               US Championship in Forest Hills, 1927. © Lacoste Family Archives. Catherine Lacoste Collection
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-renelacoste-title-2" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h2 class="title--xlarge text-black">
               The creator of the polo
            </h2>
            <div class="text-grey fs--medium">
               <div>
                  <p>How René Lacoste revolutionized fashion and the tennis lifestyle in the 1920s.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-renelacoste-story-3" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-white l-padding-bottom-row-small " data-id="lacosteinside-renelacoste-story-3-component-story" data-tracking="" data-theme="text-black">
         <div class="cell-14 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--4-3 " data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay">
                  <picture class="pict img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-story-3-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-story-3-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-story-3-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-story-3-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w,{{ 'lacosteinside-renelacoste-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w,{{ 'lacosteinside-renelacoste-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=914&amp;impolicy=custom 914w,{{ 'lacosteinside-renelacoste-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                     <img alt="lacosteinside-renelacoste-story-3-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-story-3-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-story-3-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-story-3-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-black">
                     Stroke of Genius
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>Before Lacoste, tennis meant long-sleeve shirts, pleated trousers and belted waists. René Lacoste put comfort front and centre; early on he understood the need for clothing adapted to the task. Defying conventions, he shortened the sleeves of a typical tennis shirt to create the first comfortable polo. For the first time designs were embroidered with a signature crocodile, making them instantly recognizable.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-renelacoste-story-4" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-white l-padding-top-row-small " data-id="lacosteinside-renelacoste-story-4-component-story" data-tracking="" data-theme="text-black">
         <div class="cell-14 order-1 order-m-0 offset-1 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--4-3 " data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay">
                  <picture class="pict img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-story-4-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-story-4-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-story-4-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-story-4-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w,{{ 'lacosteinside-renelacoste-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w,{{ 'lacosteinside-renelacoste-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=914&amp;impolicy=custom 914w,{{ 'lacosteinside-renelacoste-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                     <img alt="lacosteinside-renelacoste-story-4-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-story-4-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-story-4-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-story-4-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-2 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-black">
                     The Start of the Sporting Lifestyle
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>Soon, René Lacoste was dressing friends and family in the polo shirt during international matches. Well ahead of his time, he designed the modern wardrobe: light, adaptable and highly desirable. The Lacoste fundamentals were firmly established.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-bottom-row-small" id="lacosteinside-renelacoste-title-7" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-13 text-right cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <div class="overline text-grey-light ">
               1933, René Lacoste, captain of the French team, advises Jacques Brugnon and Jean Borotra. © All rights reserved
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-renelacoste-title-3" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h2 class="title--xlarge text-black">
               The astute inventor
            </h2>
            <div class="text-grey fs--medium">
               <div>
                  <p>How René Lacoste brought his ideas vividly to life.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-renelacoste-story-5" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-black--wide  " data-id="lacosteinside-renelacoste-story-5-component-story" data-tracking="" data-theme="text-white">
         <div class="cell-11 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--1 " data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay">
                  <picture class="pict img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-story-5-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-story-5-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-story-5-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-story-5-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-story-5-component-story-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-renelacoste-story-5-component-story-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-renelacoste-story-5-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-story-5-component-story-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-renelacoste-story-5-component-story-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                     <img alt="lacosteinside-renelacoste-story-5-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-story-5-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-story-5-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-story-5-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-white">
                     The man behind the metal racket
                  </h2>
                  <div class="text-grey-lighter  fs--medium">
                     <div>
                        <p>His mantra? Never give up. René Lacoste had a million ideas to improve his game and make practice more comfortable – and it’s these that made him such a unique player. From the start, he sculpted the handle of his racket and covered it with surgical tape to get a better grip. Then he came up with a lighter and easier to handle racket: the metal racket.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-renelacoste-story-6" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-white l-padding-top-row-large " data-id="lacosteinside-renelacoste-story-6-component-story" data-tracking="" data-theme="text-black">
         <div class="cell-11 order-1 order-m-0 offset-3 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--1 " data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay">
                  <picture class="pict img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-story-6-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-story-6-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-story-6-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-story-6-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-story-6-component-story-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-renelacoste-story-6-component-story-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-renelacoste-story-6-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-story-6-component-story-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-renelacoste-story-6-component-story-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                     <img alt="lacosteinside-renelacoste-story-6-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-story-6-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-story-6-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-story-6-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-black">
                     The restless inventor
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>The more he practiced, the more his ideas sparked. He continued to innovate, filing more than thirty patents over his lifetime. Among his famous inventions: a machine that fires tennis balls with calibrated force to help a player practice alone. Inventions that improved his game as well as that of all the generations of tennis players that followed.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
  <div class="js-modular-layer modular-layer l-relative bg-white l-padding-bottom-row-small" id="lacosteinside-renelacoste-title-8" data-layer="layer_title">
     <div class="js-modular-push offset-13 text-right cell-11 cell-m-21 offset-m-2 ">
        <div class="">
           <div class="overline text-grey-light ">
              René Lacoste invented the tennis ball launcher machine in 1927. © Keystone
           </div>
        </div>
     </div>
  </div>
   <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-renelacoste-blocks-2" data-layer="layer_blocks" data-tracking="">
      <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
         <h2 class="js-modular-title title--xlarge text-black">
            Want to find out more?
         </h2>
         <div class="text-grey js-modular-text fs--medium">
            Everything you always wanted to know about Lacoste but were afraid to ask.
         </div>
      </div>
      <div class="grid cell-25">
         <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
            <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-renelacoste-blocks-2-component-blocks-1" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacosteinside-renelacoste-blocks-2-component-blocks-1" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-1-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                  </div>
               </div>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge ">
                        Once Upon a Crocodile
                     </h2>
                  </div>
                  <a class="btn-cta  l-hmargin--small pointer-auto fs--medium ff-normal" href="/pages/story" data-type="content" data-tag-id="modular.onPromoClick" data-replace="">
                  Discover his story
                  </a>
               </div>
            </div>
         </div>
         <div class="offset-m-0 cell-m-25 offset-1 cell-11">
            <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-renelacoste-blocks-2-component-blocks-2" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacosteinside-renelacoste-blocks-2-component-blocks-2" width="100%" height="auto" data-src="{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'lacosteinside-renelacoste-blocks-2-component-blocks-2-desktop.jpg' | asset_url }}" alt="lacosteinside-renelacoste-blocks-2-component-blocks-2" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </div>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge ">
                        Making Magic
                     </h2>
                  </div>
                  <a class="btn-cta  l-hmargin--small pointer-auto fs--medium ff-normal" href="/pages/savoir-faire" data-type="content" data-tag-id="modular.onPromoClick" data-replace="">
                  Lacoste Savoir-Faire
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>