<div class="clearfix row modular-content" style="background-color: #f4f4f4;" id="novak-djokovic-collection">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates">
     <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="about-lacoste-nav">
         <div class="banner-nav-bg">
         </div>
         <div class="l-relative ">
            <div class="l-relative flex flex--col flex--centered text-center">
               <h2 class="banner-nav-title title--xlarge ff-bold l-vmargin--large">
                  Who is Lacoste?
               </h2>
            </div>
            <div class="js-banner-nav banner-nav">
               {% for link in linklists.about-lacoste.links %}
               <a class="js-banner-nav-item banner-nav-item fs--small " href= "{{ link.url }}">{{ link.title }}</a>
               {% endfor %}
               </a>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate l-overflow-hidden l-vmargin-row-and-half mcontent-ace" id="novak-djokovic-collection-ace">
         <div class="l-relative">
            <div class="js-swiper-ace cell-23 offset-1 l-overflow-hidden">
               <div class="swiper-wrapper" style="display: block;">
                  <div class="">
                     <picture class="pict img-fill-width l-vmargin-xsmall">
                        <source media="(max-width: 800px)" srcset="{{ 'mod-novak-djokovic-collection-ace-desk-v1.jpg' | asset_url }}">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-novak-djokovic-collection-ace-desk-v1.jpg' | asset_url }}">
                        <img class="img-fill-width l-vmargin-xsmall" src="{{ 'mod-novak-djokovic-collection-ace-desk-v1.jpg' | asset_url }}" alt="Lacoste X Novak Djokovic: the crocodile has a new skin." width="100%" height="auto">
                     </picture>
                     <div class="ace-content cell-7 cell-mt-21 offset-3 offset-mt-1 text-white text-m-left">
                        <h2 class="title--xlarge l-vmargin--medium cell-7 cell-mt-21">
                           Lacoste X Novak Djokovic: the crocodile has a new skin.
                        </h2>
                        <p class="fs--medium l-vmargin--large ">
                           New season, new collection: discover the clothes specially designed for Novak Djokovic by Lacoste.
                        </p>
                        <a class="btn-cta l-hmargin--small   fs--medium ff-normal" href="https://lacoste.com.ph/collections/novak-djokovic">
                        Explore
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-pagination js-swiper-pagination-ace"></div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="novak-djokovic-collection-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               What is crocodile style?
            </h2>
            <p class="fs--medium l-vmargin--large text-grey">
               New season, new collection: discover the clothes specially designed for Novak Djokovic by Lacoste.
            </p>
            <a class="btn-cta  text-white l-hmargin--small fs--medium ff-normal" href="https://lacoste.com.ph/collections/novak-djokovic">
            Browse
            </a>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="novak-djokovic-collection-lift">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="display: block;">
                  <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-novak-djokovic-collection-lift-1-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-novak-djokovic-collection-lift-1-1.jpg' | asset_url }}" alt="Discover the collection" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           The Support with Style Collection:
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           For those who share the crocodile’s passion.
                        </h3>
                        <a class="btn-cta  btn--icon" href="https://lacoste.com.ph/collections/novak-djokovic-sws">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-novak-djokovic-collection-lift-1-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-novak-djokovic-collection-lift-1-2.jpg' | asset_url}}" alt="Discover the collection" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           The Tournament Collection:
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           For those who share the crocodile’s game.
                        </h3>
                        <a class="btn-cta  btn--icon" href="https://lacoste.com.ph/collections/novak-djokovic-tournament">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="novak-djokovic-collection-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               Performance is a style. Style is a performance.
            </h2>
            <p class="fs--medium l-vmargin--large text-grey">
               Get both with the Lacoste X Novak Djokovic Collection.
            </p>
            <a class="btn-cta  text-white l-hmargin--small fs--medium ff-normal" href="https://lacoste.com.ph/collections/novak-djokovic">
            Shop the collection
            </a>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="novak-djokovic-collection-set" style="">
         <a href="https://lacoste.com.ph/products/mens-lacoste-sport-x-novak-djokovic-print-jersey-polo-shirt-dh7973-f19" class="offset-2 order-1 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-novak-djokovic-collection-set-desk-v4.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-novak-djokovic-collection-set-desk-v4.jpg' | asset_url }}" alt="Spotted in Australia: a rare species of crocodile" width="100%" height="auto">
            </picture>
         </a>
         <div class="offset-3 order-2 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               Novak Djokovic, his outfit for America
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               Lacoste's collection is designed to keep cool under the heated pressure of a major match. Created with and for the champion, it's also for those who live their love for the game to the fullest.
            </p>
            <a class="btn-cta l-hmargin--large l-vmargin--small text-white  fs--medium ff-normal" href="https://lacoste.com.ph/products/mens-lacoste-sport-x-novak-djokovic-print-jersey-polo-shirt-dh7973-f19">
            What's he wearing?
            </a>
         </div>
      </div>
      <!-- Strate //novak-djokovic-collection-title-3 disabled -->
      <!-- Strate //novak-djokovic-collection-court disabled -->
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="novak-djokovic-collection">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>