<div class="clearfix row modular-content" style="" id="fashion-show-aw19">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates" data-tracking-page-category="brand" data-tracking-page-banner="Fashionshow_aw19">
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="fashion-show-aw19-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               A New Era Begins: Lacoste Autumn-Winter 2019
            </h2>
         </div>
      </div>
      <div class="mcontent-court l-vmargin-row-and-half text-black  court-launch" id="fashion-show-aw19-court">
         <img src="{{ 'mod-fashion-show-aw19-court.jpg' | asset_url }}" alt="" data-src="https://player.vimeo.com/video/321620776?title=0&amp;byline=0&amp;portrait=0" class="img-fill-width js-court-poster l-vmargin--xsmall " width="100%" height="auto">
         <div class="court-content cell-7 cell-mt-15 cell-m-21 offset-mt-4 offset-m-2">
            <button type="button" name="button" class="player-btn" style="top: 129.5px;">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="58px" height="58px" viewBox="277 367 58 58" enable-background="new 277 367 58 58" xml:space="preserve">
                  <path fill="#fff" class="button-play-bg" d="M306,423.5c-15.188,0-27.5-12.312-27.5-27.5s12.312-27.5,27.5-27.5s27.5,12.312,27.5,27.5
                     C333.478,411.179,321.179,423.478,306,423.5z"></path>
                  <path fill="#292929" class="button-play-border" d="M306,369c14.912,0,27,12.088,27,27s-12.088,27-27,27s-27-12.088-27-27
                     C279.022,381.097,291.097,369.022,306,369 M306,368c-15.464,0-28,12.536-28,28c0,15.464,12.536,28,28,28c15.464,0,28-12.536,28-28
                     C334,380.536,321.464,368,306,368L306,368z"></path>
                  <polygon fill="#292929" class="button-play-arrow" points="302.5,385.2 313.3,396 302.5,406.8 "></polygon>
                  <path class="button-play-arrow-border" fill="#292929" d="M303,386.42l9.58,9.58l-9.58,9.58V386.42 M302,384v24l12-12L302,384L302,384z"></path>
               </svg>
            </button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="fashion-show-aw19-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               A New Creative Director
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               Creative Director Louise Trotter comes to Lacoste with a talent for defining elegant yet relaxed silhouettes for men and women. For her first show, she was inspired by some of the brand’s historic figures: René Lacoste, his golf champion wife, Simone Thion de la Chaume, and his tennis partner and friend, Suzanne Lenglen.
            </p>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="fashion-show-aw19-champion-1">
         <div class="l-vmargin-row-and-half cell-11 cell-mt-19 cell-m-23 order-mt-2">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-champion-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-fashion-show-aw19-champion-2.jpg' | asset_url }}" alt="Freedom, elegance and modernity: René Lacoste and his sporting lifestyle, embodied by the crocodile emblem. Simone Thion de la Chaume, René Lacoste, Suzanne Lenglen." width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
               Freedom, elegance and modernity: René Lacoste and his sporting lifestyle, embodied by the crocodile emblem. Simone Thion de la Chaume, René Lacoste, Suzanne Lenglen.
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 offset-mt-6 order-mt-1">
            <picture class="pict img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-champion-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-fashion-show-aw19-champion-1.jpg' | asset_url }}" alt="Louise Trotter, Lacoste Creative Director." width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
               Louise Trotter, Lacoste Creative Director.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="fashion-show-aw19-title-3">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               3 Autumn-Winter Looks and Accessories
            </h2>
         </div>
      </div>
      <div class="l-vmargin-row-1 mcontent-smash grid flex-m--col " id="fashion-show-aw19-smash-1">
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               René today.
            </h2>
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-smash1-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-fashion-show-aw19-smash1-1.jpg' | asset_url }}" alt="René today." width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               Innovative and elegant.
            </p>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               Simone today.
            </h2>
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-smash1-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-fashion-show-aw19-smash1-2.jpg' | asset_url }}" alt="Simone today." width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               Confident and feminine.
            </p>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <h2 class="title--medium l-vmargin--large">
               Suzanne today.
            </h2>
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-smash1-3.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-fashion-show-aw19-smash1-3.jpg' | asset_url }}" alt="Suzanne today." width="100%" height="auto">
            </picture>
            <p class="fs--medium text-grey l-vmargin--large">
               Free and contemporary.
            </p>
         </div>
      </div>
      <div class="l-vmargin-row-1 mcontent-smash grid flex-m--col " id="fashion-show-aw19-smash-2">
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-smash2-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-fashion-show-aw19-smash2-1.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-smash2-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-fashion-show-aw19-smash2-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
         </div>
         <div class="smash-container cell-7 offset-1 cell-mt-23 text-black l-vmargin-row-1 l-vmargin-row-m-2">
            <picture class="pict img-fill-width l-vmargin--small">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-smash2-3.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--small" src="{{ 'mod-fashion-show-aw19-smash2-3.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="fashion-show-aw19-title-4">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               Reinvented Tennis Court
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               Guests plunge into a long green tunnel, and emerge into a world inspired by tennis.
            </p>
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="fashion-show-aw19-chelem">
         <div class="cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <picture class="pict l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-chelem-1.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-fashion-show-aw19-chelem-1.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
            <p class="fs--small l-vmargin--xxlarge cell-m-21 offset-mt-1 text-grey-light">
               The Lacoste show is at the home of French champions, the Tennis Club de Paris, founded in 1895. © Mathieu Baumer
            </p>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
               </h2>
            </div>
         </div>
         <div class="offset-2 offset-mt-1 cell-11 offset-1 no-tab no-mob ">
            <picture class="pict l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-chelem-2.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-fashion-show-aw19-chelem-2.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
            <p class="fs--small l-vmargin--xxlarge cell-m-21 offset-mt-1 text-grey-light">
               © Mathieu Baumer
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-nelson l-relative l-vmargin-row-and-half grid text-black" id="fashion-show-aw19-nelson">
         <div class="cell-15 offset-5 cell-mt-17 offset-mt-4 cell-m-21 offset-m-2 l-heighiest-wrapper text-center">
            <div class="l-heighiest-item valign-middle">
               <picture class="pict img-auto">
                  <source media="(min-width: 801px)" srcset="{{ 'mod-fashion-show-aw19-nelson.png' | asset_url }}">
                  <img class="img-auto" src="{{ 'mod-fashion-show-aw19-nelson.png' | asset_url }}" alt="null" width="auto" height="auto">
               </picture>
            </div>
            <div class="l-heighiest-item valign-middle">
               <h2 class="title--large">
                  "Community, tenacity, fair play – I wanted to reconnect with René’s values in this first collection." Louise Trotter
               </h2>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="fashion-show-aw19-title-5">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               Front Of House &amp; Behind The Scenes
            </h2>
         </div>
      </div>
      <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1" id="fashion-show-aw19-sport-1">
         <img class="cell-7" src="{{ 'mod-fashion-show-aw19-sport1-1.jpg' | asset_url }}" alt="image1">
         <img class="cell-7 offset-1" src="{{ 'mod-fashion-show-aw19-sport1-2.jpg' | asset_url }}" alt="image2">
         <img class="cell-7 offset-1" src="{{ 'mod-fashion-show-aw19-sport1-3.jpg' | asset_url }}" alt="image3">
      </div>
      <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1" id="fashion-show-aw19-sport-2">
         <img class="cell-7" src="{{ 'mod-fashion-show-aw19-sport2-1.jpg' | asset_url }}" alt="image1">
         <img class="cell-7 offset-1" src="{{ 'mod-fashion-show-aw19-sport2-2.jpg' | asset_url }}" alt="image2">
         <img class="cell-7 offset-1" src="{{ 'mod-fashion-show-aw19-sport2-3.jpg' | asset_url }}" alt="image3">
      </div>
      <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1" id="fashion-show-aw19-sport-3">
         <img class="cell-7" src="{{ 'mod-fashion-show-aw19-sport3-1.jpg' | asset_url }}" alt="image1">
         <img class="cell-7 offset-1" src="{{ 'mod-fashion-show-aw19-sport3-2.jpg' | asset_url }}" alt="image2">
         <img class="cell-7 offset-1" src="{{ 'mod-fashion-show-aw19-sport3-3.jpg' | asset_url }}" alt="image3">
      </div>
     <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1" id="fashion-show-aw19-sport-4">
       <img class="cell-7" src="{{ 'mod-fashion-show-aw19-sport4-1.jpg' | asset_url }}" alt="image1">
       <img class="cell-7 offset-1" src="{{ 'mod-fashion-show-aw19-sport4-2.jpg' | asset_url }}" alt="image2">
       <img class="cell-7 offset-1" src="{{ 'mod-fashion-show-aw19-sport4-3.jpg' | asset_url }}" alt="image3">
     </div>
      <!-- Strate //fashion-show-aw19-sport-4 disabled -->
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="fashion-show-aw19">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>