<section class="js-modular-page page-section modular-section bg-white" data-tracking="">
   <div class="js-modular-layer js-modular--starter modular-layer modular--starter l-relative bg-white l-padding-bottom-row-small no-cover" id="lacosteinside-savoirfaire-starter" data-layer="layer_starter" data-tracking="">
      <div class="js-modular-push l-relative l-fill-height " data-id="lacosteinside-savoirfaire-starter-component-starter" data-tracking="">
         <div class="l-relative modular--starter-cover-wrapper">
            <div class="l-block l-fill-height" data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-fill-height lazyload">
                  <picture class="pict modular--starter-cover lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-savoirfaire-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-savoirfaire-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-savoirfaire-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1366&amp;impolicy=custom 1366w,{{ 'lacosteinside-savoirfaire-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1680&amp;impolicy=custom 1680w,{{ 'lacosteinside-savoirfaire-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1920&amp;impolicy=custom 1920w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 1366px,(min-width: 1367px) and (max-width: 1680px) 1680px,1920px">
                     <img alt="lacosteinside-savoirfaire-starter-component-starter" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-starter-component-starter-desktop.jpg' | asset_url }}" class="js-modular--starter-cover modular--starter-cover js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-starter-component-starter-desktop.jpg' | asset_url }}" alt="lacosteinside-savoirfaire-starter-component-starter" width="auto" height="auto" />
                  </noscript>
                  <picture class="lqip pointer-none l-block"></picture>
               </div>
            </div>
         </div>
         <div class="l-overlay grid pointer-none flex--justify-start flex--align-end flex-m--justify-start text-m-initial flex-m--align-end">
            <div class="cell-13 cell-mt-21 padding-1 l-vspaced-row-1 cell-m-25 padding-m-2   ">
               <div class="">
                  <h1 class="js-modular-title title--xxlarge  text-black">
                     Making Magic
                  </h1>
                  <div class="text-grey js-modular-text fs--medium ">
                     The secrets of Lacoste’s unique savoir-faire.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-savoirfaire-push-1" data-layer="layer_push_tiles" data-tracking="">
      <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
         <h2 class="js-modular-title title--xlarge text-black">
            The Polo: 4 Steps for 1 Shirt
         </h2>
         <div class="text-grey js-modular-text fs--medium">
            Before it can add elegance to your style, the Lacoste polo goes through these four stages.
         </div>
      </div>
      <div class="grid cell-25">
         <div class="offset-1 offset-m-2 cell-m-21 cell-5 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-savoirfaire-push-1-component-tile-basic-1" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div id="static-player-b2b81a195b49eedc84333004d1" class="js-static-video-wrapper static-video-wrapper is-paused is-muted l-overflow-hidden is-classic l-ratio--1 bg-white is-ready" data-src-desktop="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1.mp4' | file_url }}" data-src-mobile="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1.mp4' | file_url }}" data-type="video/mp4" data-autoplay="false" data-background="false" data-staticvideo="a58cc637-4e2f-418c-85b5-86b798df71af">
                        <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto">
                           <source data-desktop="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1.mp4' | file_url }}" data-mobile="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1.mp4' | file_url }}" type="video/mp4">
                        </video>
                        <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                          {% include 'static-video-controls' %}
                        </div>
                        <div class="js-video-poster l-overlay poster">
                           <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                              <picture class="pict img-cover img-cover--top l-block lazyload">
                                 <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                                 <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=244&amp;impolicy=custom 244w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=32O&amp;impolicy=custom 32Ow,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w">
                                 <img alt="null" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                              </picture>
                              <noscript>
                                 <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}" alt="null" width="auto" height="auto" />
                              </noscript>
                              <div class="lqip l-ratio--1 pointer-none"></div>
                           </div>
                           <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                              </svg>
                           </div>
                        </div>
                        <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
                           <svg class="loader-icon">
                              <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                           </svg>
                        </div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The knitting
                        </h3>
                        <div class="text-grey fs--medium">
                           A knitting machine is composed of no less than 2500 needles.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-5 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-savoirfaire-push-1-component-tile-basic-2" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div id="static-player-943753cc0f6c98114c8cfb573d" class="js-static-video-wrapper static-video-wrapper is-paused is-muted l-overflow-hidden is-classic l-ratio--1 bg-white is-ready" data-src-desktop="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2.mp4' | file_url }}" data-src-mobile="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2.mp4' | file_url }}" data-type="video/mp4" data-autoplay="false" data-background="false" data-staticvideo="612b8275-cb02-4324-8c36-c8bc99c2d7d5">
                        <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto">
                           <source data-desktop="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2.mp4' | file_url }}" data-mobile="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2.mp4' | file_url }}" type="video/mp4">
                        </video>
                        <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                           {% include 'static-video-controls' %}
                        </div>
                        <div class="js-video-poster l-overlay poster">
                           <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                              <picture class="pict img-cover img-cover--top l-block lazyload">
                                 <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                                 <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=244&amp;impolicy=custom 244w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=32O&amp;impolicy=custom 32Ow,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w" sizes="(min-width: 768px) and (max-width: 1024px) 244px,(min-width: 1025px) and (max-width: 1190px) 244px,(min-width: 1191px) and (max-width: 1366px) 295px,(min-width: 1367px) and (max-width: 1680px) 320px,375px">
                                 <img alt="null" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                              </picture>
                              <noscript>
                                 <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}" alt="null" width="auto" height="auto" />
                              </noscript>
                              <div class="lqip l-ratio--1 pointer-none"></div>
                           </div>
                           <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                              </svg>
                           </div>
                        </div>
                        <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
                           <svg class="loader-icon">
                              <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                           </svg>
                        </div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The dyeing
                        </h3>
                        <div class="text-grey fs--medium">
                           The dyeing process lasts 9 hours on average.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-5 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-savoirfaire-push-1-component-tile-basic-3" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div id="static-player-3e11ca9d035ee7d68a6cc660e7" class="js-static-video-wrapper static-video-wrapper is-paused is-muted l-overflow-hidden is-classic l-ratio--1 bg-white is-ready" data-src-desktop="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3.mp4' | file_url }}" data-src-mobile="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3.mp4' | file_url }}" data-type="video/mp4" data-autoplay="false" data-background="false" data-staticvideo="33481a87-34f1-40a2-8e65-ebab33645ede">
                        <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto">
                           <source data-desktop="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3.mp4' | file_url }}" data-mobile="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3.mp4' | file_url }}" type="video/mp4">
                        </video>
                        <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                           {% include 'static-video-controls' %}
                        </div>
                        <div class="js-video-poster l-overlay poster">
                           <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                              <picture class="pict img-cover img-cover--top l-block lazyload">
                                 <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                                 <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=244&amp;impolicy=custom 244w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=32O&amp;impolicy=custom 32Ow,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w" sizes="(min-width: 768px) and (max-width: 1024px) 244px,(min-width: 1025px) and (max-width: 1190px) 244px,(min-width: 1191px) and (max-width: 1366px) 295px,(min-width: 1367px) and (max-width: 1680px) 320px,375px">
                                 <img alt="null" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                              </picture>
                              <noscript>
                                 <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}" alt="null" width="auto" height="auto" />
                              </noscript>
                              <div class="lqip l-ratio--1 pointer-none"></div>
                           </div>
                           <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                              </svg>
                           </div>
                        </div>
                        <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
                           <svg class="loader-icon">
                              <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                           </svg>
                        </div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile’s seal
                        </h3>
                        <div class="text-grey fs--medium">
                           It requires 1200 stitches.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-5  ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-savoirfaire-push-1-component-tile-basic-4" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div id="static-player-1cdbef34fa7ef4562592a1b478" class="js-static-video-wrapper static-video-wrapper is-paused is-muted l-overflow-hidden is-classic l-ratio--1 bg-white is-ready" data-src-desktop="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4.mp4' | file_url }}" data-src-mobile="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4.mp4' | file_url }}" data-type="video/mp4" data-autoplay="false" data-background="false" data-staticvideo="01e86cac-5ada-463f-9ce0-cb98b8effc06">
                        <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto">
                           <source data-desktop="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4.mp4' | file_url }}" data-mobile="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4.mp4' | file_url }}" type="video/mp4">
                        </video>
                        <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                           {% include 'static-video-controls' %}
                        </div>
                        <div class="js-video-poster l-overlay poster">
                           <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                              <picture class="pict img-cover img-cover--top l-block lazyload">
                                 <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                                 <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=244&amp;impolicy=custom 244w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=32O&amp;impolicy=custom 32Ow,{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w" sizes="(min-width: 768px) and (max-width: 1024px) 244px,(min-width: 1025px) and (max-width: 1190px) 244px,(min-width: 1191px) and (max-width: 1366px) 295px,(min-width: 1367px) and (max-width: 1680px) 320px,375px">
                                 <img alt="null" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                              </picture>
                              <noscript>
                                 <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-push-1-component-tile-basic-4-desktop.jpg' | asset_url }}" alt="null" width="auto" height="auto" />
                              </noscript>
                              <div class="lqip l-ratio--1 pointer-none"></div>
                           </div>
                           <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                              </svg>
                           </div>
                        </div>
                        <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
                           <svg class="loader-icon">
                              <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                           </svg>
                        </div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The assembly
                        </h3>
                        <div class="text-grey fs--medium">
                           The polo undergoes 25 quality control checks. When finished it weighs 230g.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-savoirfaire-push-2" data-layer="layer_push_tiles" data-tracking="">
      <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
         <h2 class="js-modular-title title--xlarge text-black">
            Material Evidence
         </h2>
         <div class="text-grey js-modular-text fs--medium">
            Petit Pique or diamond weave taffeta? Discover the iconic Lacoste materials.
         </div>
      </div>
      <div class="grid cell-25">
         <div class="offset-1 offset-m-2 cell-m-21 cell-11 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-savoirfaire-push-2-component-tile-basic-1" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--4-3  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                           <img alt="lacosteinside-savoirfaire-push-2-component-tile-basic-1" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}" alt="lacosteinside-savoirfaire-push-2-component-tile-basic-1" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--4-3 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           Petit Piqué
                        </h3>
                        <div class="text-grey fs--medium">
                           Created by René Lacoste, the emblematic Petit Piqué is made of fibres knit together at two different levels of tension. The result? A finely honeycombed fabric that enables air to circulate freely. Breathable and lightweight, this fabric ensures comfort, ease of movement and elegance.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-11  ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-savoirfaire-push-2-component-tile-basic-2" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--4-3  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                           <img alt="lacosteinside-savoirfaire-push-2-component-tile-basic-2" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}" alt="lacosteinside-savoirfaire-push-2-component-tile-basic-2" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--4-3 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           Diamond Weave Taffeta
                        </h3>
                        <div class="text-grey fs--medium">
                           Made in the 90s, this hard-wearing fabric lends Lacoste’s tracksuits and caps a solid criss-crossed weave. Designed for freedom of movement, it is supple and lightweight, dries very quickly and doesn’t crease. Lined with jersey or cotton, this is clothing for sport or comfort. Its diamond motif gives a bright, quilted texture, the signature of Lacoste’s priceless know-how.
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-savoirfaire-story" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacosteinside-savoirfaire-story-component-story" data-tracking="" data-theme="text-black">
         <div class="cell-11 order-1 order-m-0 offset-3 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--1 " data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                  <picture class="pict img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-story-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-story-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-story-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-savoirfaire-story-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-story-component-story-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-savoirfaire-story-component-story-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-savoirfaire-story-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-savoirfaire-story-component-story-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-savoirfaire-story-component-story-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                     <img alt="lacosteinside-savoirfaire-story-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-story-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-story-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-savoirfaire-story-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-black">
                     Troyes, France in three key numbers
                  </h2>
                 <div class="text-grey  fs--medium">
                   <div>
                     <p>160 kilometres, the distance between the French knitwear capital and Paris. It’s not surprising then, that this is where René Lacoste established a manufacturing base to make the first polos.</p>
                   </div>
                   <br>
                   <div>
                     <p>500 people, the number of employees in the Troyes factories. There are various jobs to do, from pattern makers to garment-makers and knitting or dyeing machine operators. Coordinated effort from all of these experts results in your Lacoste polo.</p>
                   </div>
                   <br>
                   <div>
                     <p>40 minutes, the average length of time required by a garment-maker to assemble your polo like a puzzle.</p>
                   </div>
                 </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-savoirfaire-blocks" data-layer="layer_blocks" data-tracking="">
      <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
         <h2 class="js-modular-title title--xlarge text-black">
            Tracking the Crocodile
         </h2>
         <div class="text-grey js-modular-text fs--medium">
            Everything you always wanted to know about Lacoste but were afraid to ask.
         </div>
      </div>
      <div class="grid cell-25">
<!--          <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
            <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-savoirfaire-blocks-component-blocks-1" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacosteinside-savoirfaire-blocks-component-blocks-1" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-blocks-component-blocks-1-desktop.jpg' | asset_url }}" alt="lacosteinside-savoirfaire-blocks-component-blocks-1" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </div>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge ">
                        The latest Lacoste Fashion Show
                     </h2>
                  </div>
                  <a class="btn-cta  l-hmargin--small pointer-auto fs--medium ff-normal" href="/pages/the-lacoste-autumn-winter-2019" data-type="content" data-tag-id="modular.onPromoClick" data-replace="">
                  Watch video
                  </a>
               </div>
            </div>
         </div> -->
         <div class="offset-m-0 cell-m-25 offset-1 cell-11">
            <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-savoirfaire-blocks-component-blocks-2" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacosteinside-savoirfaire-blocks-component-blocks-2" width="100%" height="auto" data-src="{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'lacosteinside-savoirfaire-blocks-component-blocks-2-desktop.jpg' | asset_url }}" alt="lacosteinside-savoirfaire-blocks-component-blocks-2" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </div>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge ">
                        #MyLacostePolo
                     </h2>
                  </div>
                  <a class="btn-cta  l-hmargin--small pointer-auto fs--medium ff-normal" href="/pages/mylacostepolo" data-type="content" data-tag-id="modular.onPromoClick" data-replace="">
                  Get inspired
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>