<div class="clearfix row modular-content" style="background-image: url(&quot;/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dwb5e2c0b5/loyalty-lecourt/bg_fid_level_1.jpg&quot;);background-color: #F4F4F4;" id="exclusive-content-may-19">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates">
      <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="loyalty-exclusive-content-nav">
         <div class="banner-nav-bg">
         </div>
         <div class="l-relative ">
            <div class="l-relative flex flex--col flex--centered text-center">
            </div>
            <div class="js-banner-nav banner-nav">
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/account">
               <span>
               My profile
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/lacoste-rewards">
               <span>
               My rewards
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/account#customer-orders">
               <span>
               My online orders &amp; returns
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/contact-us">
               <span>
               Customer Service
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small  is-active" href="/pages/exclusive-content-may">
               <span>
               Exclusive Content
               </span>
               </a>
            </div>
         </div>
      </div>
      <style>
         #loyalty-exclusive-content-nav {
         background: white;
         margin: 160px 80px 0;
         width: calc(100% - 160px);
         padding-left: 40px;
         padding-bottom: 10px;
         }
         .modular-content {
         background-size: 100%;
         }
         .banner-nav .banner-nav-item a {
         font-family: 'LacosteSansCondensedBold';
         font-size: 15px;
         text-transform: uppercase;
         color: #999999;
         padding-bottom: 10px;
         }
         .banner-nav .banner-nav-item a.current {
         color: #292929;
         border-bottom: 2px solid #292929;
         }
         .lp-anna-header {
         background: #fff;
         width: calc(100% - 160px);
         margin-left: 80px;
         margin-right: 80px;
         text-transform: none;
         padding: 20px 60px;
         margin-bottom:60px;
         margin-top: 0;
         }
         .banner-nav {
         background: #fff;
         text-align: left;
         }
         .full-width-80 {
         padding: 0 80px;
         }
         @media screen and (max-width: 1280px) {
         #loyalty-exclusive-content-nav {
         margin: 80px 20px 0;
         width: calc(100% - 40px);
         padding-left: 30px;
         padding-bottom: 0;
         }
         .lp-anna-header {
         width: calc(100% - 40px);
         margin: 0 20px 20px;
         padding: 20px 30px;
         }
         }
         .banner-nav .banner-nav-item.is-active span {
         text-decoration: underline;
         }
      </style>
      <p class="lp-anna-header">
         Exclusive content to learn more about the Lacoste spirit and know-how.
      </p>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="content-may-set1" style="">
         <a href="/collections/lacoste-live" class="offset-2 order-1 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-may-set-1.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-exclusifs-may-set-1.jpg' | asset_url }}" alt="ELEGANT MOVES" width="100%" height="auto">
            </picture>
         </a>
         <div class="offset-3 order-2 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               ELEGANT MOVES
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               What to wear at a festival<br><br>You can dress for a festival and still be chic. Your presence alone will lend a touch of the French Riviera – a sunny joie de vivre, a summery elegance inspired by the 1960s. <br><br>For him, the Riviera polo teamed with bleached jeans and casual sneakers to complete the look. The polo in ice cotton piqué will ensure you look and feel cool, despite the heat. Developed by René Lacoste himself to cope with the sweltering temperatures of the American tournaments, it’s as light and airy as a tennis net. <br><br>For her, the polo takes the form of a long dress, worn with flat sandals on the feet and retro shades balanced on the nose for an elegant twist on the look. Stand out from the crowd in style.
            </p>
            <a class="btn-cta l-hmargin--large l-vmargin--small text-white  fs--medium ff-normal" href="/collections/lacoste-live">
            Discover
            </a>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="content-may-spirit1">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-may-spirit-1.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-exclusifs-may-spirit-1.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="content-may-set2" style="">
         <a href="/collections/women-lacoste-live" class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-may-set-2.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-exclusifs-may-set-2.jpg' | asset_url }}" alt="PLAY IT COLOURFUL" width="100%" height="auto">
            </picture>
         </a>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               PLAY IT COLOURFUL
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               The art of mixing prints <br><br>Mix and remix. Lacoste L!ve and Opening Ceremony have collaborated on a second collection. <br><br>Inspired by Lacoste’s archives and redesigned by the explosively creative label, this joint wardrobe is all about prints. Every pairing is permitted; all combinations are winners. <br><br>Like here, for example, with the Lacoste name emblazoned across sky blue jeans, worn with an outlined scale-motif tee in sand yellow. Lacoste L!ve x Opening Ceremony – it’s a match.
            </p>
            <a class="btn-cta l-hmargin--large l-vmargin--small text-white  fs--medium ff-normal" href="/collections/women-lacoste-live">
            Discover
            </a>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="content-may-spirit2">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-may-spirit-2.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-exclusifs-may-spirit-2.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="content-may-set3" style="">
         <a href="/collections/caps-hats" class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-may-set-3.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-exclusifs-may-set-3.jpg' | asset_url }}" alt="CROCODILE DANDY" width="100%" height="auto">
            </picture>
         </a>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               CROCODILE DANDY
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               Hats off to Roland Garros  <br><br>You’ve arrived! You parade conspicuously between the Philippe Chatrier and Suzanne Lenglen courts. <br><br>Here, it’s mandatory to wear a hat, whether it's a baseball cap, a bob hat or a flat cap – choose the coverage that suits you best. Most importantly, it will prevent sunstroke. It will also let you punctuate the highlights of the match with elegance. So, when the players enter the court, raise it in respect. May the best wo/man win! <br><br>Lift it again to hail the first winning return of serve. And again, for the match point, in honour of both the winner and their opponent. In tennis, good sportsmanship is always the champion.
            </p>
            <a class="btn-cta l-hmargin--large l-vmargin--small text-white  fs--medium ff-normal" href="/collections/caps-hats">
            Shop Men
            </a>
            <a class="btn-cta text-white  fs--medium ff-normal" href="/collections/women-caps-hats">
            Shop Women
            </a>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="content-may-spirit3">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-may-spirit-3.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-exclusifs-may-spirit-3.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="content-may-set4" style="">
         <div class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-may-set-4.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-exclusifs-may-set-4.jpg' | asset_url }}" alt="PLAY IT LIKE RENÉ" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               PLAY IT LIKE RENÉ
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               The tennis ball machine<br><br>René Lacoste was always a perfectionist. The secret behind his powerful and perfectly controlled game was hours of training, with or without an opponent. <br><br>In 1927, already celebrated for his back hand, the “Crocodile” wanted to improve his smash. An insatiable inventor, he designed the first hand-cranked tennis ball machine. <br><br>The balls kept coming, and Lacoste was ready for them, racket in hands. It was a masterstroke, at the age of just 23.
            </p>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="content-may-spirit4">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-exclusifs-may-spirit-4.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-exclusifs-may-spirit-4.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="exclusive-content-may-19">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>