<div class="clearfix row modular-content" style="background-color: #f4f4f4;" id="about-lacoste">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates">
      <div class="mcontent-fairplay grid" id="about-lacoste-fairplay-1">
         <a href="/pages/rene-lacoste" class="fairplay-bigbox l-vmargin-row-and-half cell-9 cell-mt-23 order-1 offset-1 order-m-1">
            <picture class="img-fill-width">
               <source media="(min-width: 801px)" data-srcset="{{ 'mod-bs-home-fairplay-1-1.jpg' | asset_url }}">
               <img class="img-fill-width lazyload" data-src="{{ 'mod-bs-home-fairplay-1-1.jpg' | asset_url }}" alt="René Lacoste" width="100%" height="auto">
            </picture>
            <div class="fairplay-content text-white cell-7 offset-1 cell-mt-21 offset-mt-1 text-center">
               <h2 class="title--medium l-vmargin--medium">
                  René Lacoste
               </h2>
               <p class="fs--medium l-vmargin--medium  no-mob">
                  Who is (really) The Crocodile?
               </p>
               <button class="btn-cta no-tab no-mob ${ctaColor1Class} btn--icon">
                  <svg role="presentation" class="icon-svg ">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                  </svg>
               </button>
            </div>
         </a>
         <div class="cell-13 cell-mt-23 flex flex--col flex--space-between l-vmargin-row-and-half offset-1 order-2 offset-1 order-m-2">
            <a href="/pages/crocodile-inside" class="fairplay-smallbox l-vmargin-row-mt-2">
               <picture class="img-fill-width">
                  <source media="(min-width: 801px)" data-srcset="{{ 'mod-bs-home-fairplay-1-2.jpg' | asset_url }}">
                  <img class="img-fill-width lazyload" data-src="{{ 'mod-bs-home-fairplay-1-2.jpg' | asset_url }}" alt="The new crocodile" width="100%" height="auto">
               </picture>
               <div class="fairplay-content text-black cell-5 offset-1 cell-mt-11 offset-mt-1 cell-m-9 offset-m-2 text-center">
                  <h2 class="title--medium l-vmargin--medium">
                     Crocodile Inside
                  </h2>
                  <p class="fs--medium l-vmargin--medium text-grey no-mob">
                     A New Lacoste Story
                  </p>
                  <button class="btn-cta no-tab no-mob ${ctaColor2Class} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
            <a href="/pages/lacoste-history" class="fairplay-smallbox">
               <picture class="img-fill-width">
                  <source media="(min-width: 801px)" data-srcset="{{ 'mod-bs-home-fairplay-1-3.jpg' | asset_url }}">
                  <img class="img-fill-width lazyload" data-src="{{ 'mod-bs-home-fairplay-1-3.jpg' | asset_url }}" alt="Key dates" width="100%" height="auto">
               </picture>
               <div class="fairplay-content text-white cell-5 offset-1 cell-mt-11 offset-mt-1 cell-m-9 offset-m-2 text-center">
                  <h2 class="title--medium l-vmargin--medium">
                     Key dates
                  </h2>
                  <p class="fs--medium l-vmargin--medium  no-mob">
                     Lacoste heritage yesterday and today
                  </p>
                  <button class="btn-cta no-tab no-mob ${ctaColor3Class} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
         </div>
      </div>
      <div class="mcontent-fairplay grid" id="about-lacoste-fairplay-2">
         <a href="/pages/the-lacoste-autumn-winter-2019" class="fairplay-bigbox l-vmargin-row-and-half cell-9 cell-mt-23 offset-1 order-2 cell-4 offset-1 order-m-1">
            <picture class="img-fill-width">
               <source media="(min-width: 801px)" data-srcset="{{ 'about-lacoste-fairplay-2-1..jpg' | asset_url }}">
               <img class="img-fill-width lazyload" data-src="{{ 'about-lacoste-fairplay-2-1..jpg' | asset_url }}" alt="The Lacoste style" width="100%" height="auto">
            </picture>
            <div class="fairplay-content cell-7 offset-1 cell-mt-21 offset-mt-1 text-center" style="color: #000">
               <h2 class="title--medium l-vmargin--medium">
                  The Fashion Show
               </h2>
               <p class="fs--medium l-vmargin--medium no-mob">
                  Behind the Scenes
               </p>
               <button class="btn-cta no-tab no-mob ${ctaColor1Class} btn--icon">
                  <svg role="presentation" class="icon-svg ">
                     <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                  </svg>
               </button>
            </div>
         </a>
         <div class="cell-13 cell-mt-23 flex flex--col flex--space-between l-vmargin-row-and-half order-1 offset-1 order-m-2">
            <a href="/pages/novak-djokovic-collection" class="fairplay-smallbox l-vmargin-row-mt-2">
               <picture class="img-fill-width">
                  <source media="(min-width: 801px)" data-srcset="{{ 'mod-bs-home-fairplay-2-2.jpg' | asset_url }}">
                  <img class="img-fill-width lazyload" data-src="{{ 'mod-bs-home-fairplay-2-2.jpg' | asset_url }}" alt="Sport and Elegance" width="100%" height="auto">
               </picture>
               <div class="fairplay-content text-white cell-5 offset-1 cell-mt-11 offset-mt-1 cell-m-9 offset-m-2 text-center">
                  <h2 class="title--medium l-vmargin--medium">
                     Novak Djokovic
                  </h2>
                  <p class="fs--medium l-vmargin--medium  no-mob">
                     The crocodile style
                  </p>
                  <button class="btn-cta no-tab no-mob ${ctaColor2Class} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
            <a href="/pages/lacoste-savoir-faire" class="fairplay-smallbox">
               <picture class="img-fill-width">
                  <source media="(min-width: 801px)" data-srcset="{{ 'mod-bs-home-fairplay-2-3.jpg' | asset_url }}">
                  <img class="img-fill-width lazyload" data-src="{{ 'mod-bs-home-fairplay-2-3.jpg' | asset_url }}" alt="The polo savoir-faire" width="100%" height="auto">
               </picture>
               <div class="fairplay-content text-black cell-5 offset-1 cell-mt-11 offset-mt-1 cell-m-9 offset-m-2 text-center">
                  <h2 class="title--medium l-vmargin--medium">
                     The polo savoir-faire
                  </h2>
                  <p class="fs--medium l-vmargin--medium text-grey no-mob">
                     From design to crafting
                  </p>
                  <button class="btn-cta no-tab no-mob ${ctaColor3Class} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="about-lacoste">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>