<div class="clearfix row modular-content" style="background-image: url(&quot;{{ 'bg_fid_level_1.jpg' | asset_url }}&quot;);background-color: #F4F4F4;" id="exclusive-content-march">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates">
      <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="loyalty-exclusive-content-nav">
         <div class="banner-nav-bg">
         </div>
         <div class="l-relative ">
            <div class="l-relative flex flex--col flex--centered text-center">
            </div>
            <div class="js-banner-nav banner-nav">
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/account">
               <span>
               My profile
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/lacoste-rewards">
               <span>
               My rewards
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/account#customer-orders">
               <span>
               My online orders &amp; returns
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/contact-us">
               <span>
               Customer Service
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small  is-active" href="/pages/exclusive-content-march">
               <span>
               Exclusive Content
               </span>
               </a>
            </div>
         </div>
      </div>
      <style>
         #loyalty-exclusive-content-nav {
         background: white;
         margin: 160px 80px 0;
         width: calc(100% - 160px);
         padding-left: 40px;
         padding-bottom: 10px;
         }
         .modular-content {
         background-size: 100%;
         }
         .banner-nav .banner-nav-item a {
         font-family: 'LacosteSansCondensedBold';
         font-size: 15px;
         text-transform: uppercase;
         color: #999999;
         padding-bottom: 10px;
         }
         .banner-nav .banner-nav-item a.current {
         color: #292929;
         border-bottom: 2px solid #292929;
         }
         .lp-anna-header {
         background: #fff;
         width: calc(100% - 160px);
         margin-left: 80px;
         margin-right: 80px;
         text-transform: none;
         padding: 20px 60px;
         margin-bottom:60px;
         margin-top: 0;
         }
         .banner-nav {
         background: #fff;
         text-align: left;
         }
         .full-width-80 {
         padding: 0 80px;
         }
         @media screen and (max-width: 1280px) {
         #loyalty-exclusive-content-nav {
         margin: 80px 20px 0;
         width: calc(100% - 40px);
         padding-left: 30px;
         padding-bottom: 0;
         }
         .lp-anna-header {
         width: calc(100% - 40px);
         margin: 0 20px 20px;
         padding: 20px 30px;
         }
         }
         .banner-nav .banner-nav-item.is-active span {
         text-decoration: underline;
         }
      </style>
      <p class="lp-anna-header">
         Exclusive content to learn more about the Lacoste spirit and know-how.
      </p>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="loyalty-exclusive-content-march-set1" style="">
         <a href="https://www.lacoste.com/gb/lacoste/women/clothing/dresses-skirts/" class="offset-2 order-1 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-set-1.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-contenusexclusifs-march-set-1.jpg' | asset_url }}" alt="LES MUST DU CROCO" width="100%" height="auto">
            </picture>
         </a>
         <div class="offset-3 order-2 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               LES MUST DU CROCO
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               The polo dress<br><br>A Lacoste icon and a wardrobe must-have, you can’t go wrong with the ever stylish polo dress. You’ve worn it in every situation for that effortless understated look. <br><br>Now, try wearing it differently, unexpectedly. You decide how far to button it up. Try it with a belt, or worn loosely. <br><br>The polo dress can look bohemian, but it’s always perfectly chic. And you’ll score points for being bold.
            </p>
            <a class="btn-cta l-hmargin--large l-vmargin--small text-white  fs--medium ff-normal" href="https://www.lacoste.com/gb/lacoste/women/clothing/dresses-skirts/">
            Discover
            </a>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="loyalty-exclusive-content-march-spirit2">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-spirit-2.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-contenusexclusifs-march-spirit-2.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="loyalty-exclusive-content-march-set2" style="">
         <div class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-set-2.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-contenusexclusifs-march-set-2.jpg' | asset_url }}" alt="CROCODILE DANDY" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               CROCODILE DANDY
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               How to escape from the cinema when the film’s bad <br><br>How bad? Is it really unbearable? If you’re attending the opening screening at the Cannes Film Festival, you'd be advised to sit tight. But if you really must leave, remember the film-goer’s etiquette. <br><br>Rule number one: does your companion agree? <br><br>Rule number two: if you’ve decided to leave, do it with confidence, in a dignified, orderly fashion. <br><br>Rule number three: there’s no need for commentary – leave that to the critics. You didn’t like it, so you didn’t stay. There’ll be no rematch.
            </p>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="loyalty-exclusive-content-march-spirit3">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-spirit-3.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-contenusexclusifs-march-spirit-3.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="loyalty-exclusive-content-march-set3" style="">
         <a href="https://www.lacoste.com/gb/lacoste/men/shoes/trainers/" class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-set-3.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-contenusexclusifs-march-set-3.jpg' | asset_url }}" alt="PLAY BY THE RULES" width="100%" height="auto">
            </picture>
         </a>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               PLAY BY THE RULES
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               No need to ditch the trainers for a work meeting<br><br>Just because you've got a work meeting, there’s no need to go completely formal. You can be cool and stylish, elegant yet sporty. Look at the success of sportswear, which in recent years has been a regular feature of the catwalks and front rows at fashion weeks. <br><br>So for your meeting, don a pair of black chinos with a grey polo shirt buttoned all the way to the top. And to stand out from the crowd, slip on these trainers inspired by the 1990 originals, with a splash of crocodile green. <br><br>A jacket? It’s up to you.
            </p>
            <a class="btn-cta l-hmargin--large l-vmargin--small text-white  fs--medium ff-normal" href="https://www.lacoste.com/gb/lacoste/men/shoes/trainers/">
            Discover
            </a>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="loyalty-exclusive-content-march-spirit4">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-spirit-4.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-contenusexclusifs-march-spirit-4.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="loyalty-exclusive-content-march-set4" style="">
         <div class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-set-4.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-contenusexclusifs-march-set-4.jpg' | asset_url }}" alt="À LA FRANÇAISE" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               À LA FRANÇAISE
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               Relaxing the suit<br><br>As time goes by, it gets more relaxed. Materials are more fluid. The cut is looser and allows for more movement. <br><br>It can be worn at any occasion. As you like it. With a shirt or polo. Perhaps some petit piqué trainers to make a change from leather. A backpack instead of a briefcase. <br><br>For an interview, your niece’s wedding, or just out for a drink. How about wearing a suit today?
            </p>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right " id="loyalty-exclusive-content-march-spirit5">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <picture class="pict img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-spirit-5.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-leclublacoste-contenusexclusifs-march-spirit-5.jpg' | asset_url }}" alt="null" width="100%" height="auto">
            </picture>
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-set l-vmargin-row-and-half l-vmargin-row-m-2 grid flex--align-center text-black " id="loyalty-exclusive-content-march-set5" style="">
         <div class="offset-3 order-2 cell-8 cell-mt-21 offset-mt-2 order-mt-2 ">
            <picture class="pict img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-leclublacoste-contenusexclusifs-march-set-5.jpg' | asset_url }}">
               <img class="img-fill-width" src="{{ 'mod-leclublacoste-contenusexclusifs-march-set-5.jpg' | asset_url }}" alt="PLAY BY THE RULES" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 order-1 cell-9 cell-mt-21 offset-mt-2 order-mt-1 l-vmargin--xxlarge ">
            <h2 class="title--medium l-vmargin--large">
               PLAY BY THE RULES
            </h2>
            <p class="fs--medium text-grey l-vmargin--large">
               The racket, revised and reinvented by René Lacoste <br><br>“Inventor! It’s the profession I would put on my business card. I’ve invented all my life!” And reinvented. Between 1960 and 1980, the tennis racket was transformed. And René Lacoste had a major hand in shaping this change.<br><br>No less then 20 patents filed in two decades, and some changes that initially caused consternation on the courts. 1961: the wooden racket becomes metal. 1988: the Equijet has shorter cross-strings in the centre. 2015: the LT12 combines graphite with wood: good for absorbing vibrations, shot precision and powerful strokes. <br><br>The racket changes, and so does the game.
            </p>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="exclusive-content-march">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>