
<section class="js-modular-page page-section modular-section bg-white">
  <div class="js-modular-layer js-modular--starter modular--starter l-relative bg-white  is-cover js-cover l-main-height--static" id="lacosteinside-mylacostepolo-starter" data-layer="layer_starter">
    <div class="js-modular-push l-relative l-fill-height text-white" data-id="lacosteinside-mylacostepolo-starter-component-starter" data-tracking="">
      <div class="l-relative modular--starter-cover-wrapper">
        <div class="l-block l-fill-height" data-tracking="">
          <div id="static-player-e9c5a789537b2284d0edbad5b1" class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background l-overlay is-loaded is-ready" data-src-desktop="{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.mp4' | file_url }}" data-src-mobile="{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.mp4' | file_url }}" data-type="video/mp4" data-autoplay="true" data-background="true" data-staticvideo="0cbf2ef3-047d-448e-95a5-d1157edcd367">
            <video playsinline="true" muted="true" class="js-static-video static-video l-block img-cover" width="100%" height="auto" loop="&quot;true&quot;" autoplay="&quot;autoplay&quot;">
              <source data-desktop="{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.mp4' | file_url }}" data-mobile="{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.mp4' | file_url }}" type="video/mp4">
            </video>
            <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
              <!---->
              <button class="static-video-btn btn-play">
                <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                </svg>
              </button>
              <!---->
            </div>
            <div class="js-video-poster l-overlay poster">
              <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                <picture class="pict img-cover img-cover--top l-block lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px" srcset="{{ 'lacosteinside-mylacostepolo-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1366&amp;impolicy=custom 1366w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1680&amp;impolicy=custom 1680w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1920&amp;impolicy=custom 1920w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 1366px,(min-width: 1367px) and (max-width: 1680px) 1680px,1920px" srcset="{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1366&amp;impolicy=custom 1366w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1680&amp;impolicy=custom 1680w,{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}?imwidth=1920&amp;impolicy=custom 1920w">
                  <img alt="lacosteinside-mylacostepolo-starter-component-starter" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-zoom-url="null" data-was-processed="true">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-starter-component-starter-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-starter-component-starter" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
              </div>
              <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                <svg role="presentation" class="icon-svg ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                </svg>
              </div>
            </div>
            <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
              <svg class="loader-icon">
                <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
              </svg>
            </div>
          </div>
        </div>
        <a href="#lacosteinside-mylacostepolo-title-1" class="js-btn-scroll btn-scroll is-animated ">
          <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use>
          </svg>
        </a>
      </div>
      <div class="l-overlay grid pointer-none flex--justify-center text-center flex--align-center flex-m--justify-center text-m-center flex-m--align-center">
        <div class="cell-13 cell-mt-21 padding-1 l-vspaced-row-1 cell-m-25 padding-m-2   ">
          <div class="">
            <h1 class="title--xxlarge  ">
              #MyLacostePolo
            </h1>
            <div class=" fs--medium ">
              Five ways to wear your Lacoste polo shirt.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative bg-white l-padding-top-row-large" id="lacosteinside-mylacostepolo-title-1" data-layer="layer_title">
    <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
      <div class="">
        <h2 class="title--xlarge text-black">
          01. Close to your body
        </h2>
        <div class="text-grey fs--medium">
          <div>
            <p>A polo shirt that suits your figure perfectly.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative" id="lacosteinside-mylacostepolo-story-1" data-layer="layer_story">
    <div class="js-modular-push grid cell-25 bg-white l-padding-top-row-small l-padding-bottom-row-small" data-id="lacosteinside-mylacostepolo-story-1-component-story" data-tracking="">
      <div class="cell-14 cell-m-25 offset-m-0">
        <div class="l-block l-relative l-ratio--4-3 l-ratio-m--1" data-tracking="">
          <div id="static-player-934e812fa040d878e51daef098" class="js-static-video-wrapper static-video-wrapper is-paused is-muted l-overflow-hidden is-classic l-ratio--4-3 l-ratio-m--1 bg-white is-ready" data-src-desktop="https://static1.lacoste.com/videos/marketing/lacosteinside-mylacostepolo-story-1-component-story-desktop.mp4" data-src-mobile="https://static1.lacoste.com/videos/marketing/lacosteinside-mylacostepolo-story-1-component-story-mobile.mp4" data-type="video/mp4" data-autoplay="false" data-background="false" data-staticvideo="8b3301b1-6c02-4d68-a6dc-87ed6388b504">
            <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto">
              <source data-desktop="{{ 'media.io_lacosteinside-mylacostepolo-story-1-component-story-desktop.mp4' | file_url }}" data-mobile="{{ 'media.io_lacosteinside-mylacostepolo-story-1-component-story-desktop.mp4' | file_url }}" type="video/mp4">
            </video>
            <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
              {% include 'static-video-controls' %}
            </div>
            <div class="js-video-poster l-overlay poster">
              <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                <picture class="pict img-cover img-cover--top l-block lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-mylacostepolo-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w,{{ 'lacosteinside-mylacostepolo-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w,{{ 'lacosteinside-mylacostepolo-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=914&amp;impolicy=custom 914w,{{ 'lacosteinside-mylacostepolo-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                  <img alt="lacosteinside-mylacostepolo-story-1-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-story-1-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-zoom-url="null" data-was-processed="true">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-story-1-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-story-1-component-story" width="auto" height="auto" />
                </noscript>
                <div class="lqip l-ratio--[object Object] pointer-none"></div>
              </div>
              <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                <svg role="presentation" class="icon-svg ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                </svg>
              </div>
            </div>
            <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
              <svg class="loader-icon">
                <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
        <div>
          <div class="l-vmargin--large">
            <h2 class="title--xlarge text-black">
              Always just right
            </h2>
            <div class="text-grey fs--medium">
              "A polo shirt fits any situation. If I want a smarter look, I choose one with a crocodile in the same shade and tuck the shirt into my trousers." Matthieu Maury, producer
            </div>
          </div>
          <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto fs--medium ff-normal " href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-s20" data-type="product" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:0}">
            See this polo shirt
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-mylacostepolo-push-1" data-layer="layer_push_tiles">
    <div class="grid cell-25 flex-l--center">
      <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-m-3 ">
        <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-1-component-tile-basic-1">
          <a href="https://lacoste.com.ph/products/boys-polo-pique-pj2909-f19" class="  flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:1}" data-tracking="" data-type="">
            <div class="l-relative l-ratio--5-7  l-vmargin--small">
              <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                <picture class="pict l-block img-cover img-cover--center lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                  <img alt="lacosteinside-mylacostepolo-push-1-component-tile-basic-1" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null" data-was-processed="true">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-1-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-1-component-tile-basic-1" width="auto" height="auto" />
                </noscript>
                <div class="lqip l-ratio--5-7 pointer-none"></div>
              </div>
            </div>
            <div class="">
              <div class="l-vmargin--small  ">
                <div class="overline text-grey-light l-vmargin--xsmall">
                  Margaux Doiteau, photo stylist
                </div>
                <h3 class="title--large l-vmargin--xsmall text-black">
                  Crop top
                </h3>
                <div class="text-grey fs--medium">
                  "Polo shirts allow you to stretch conventions. I wear the size for 8 year olds to turn it into a really fitted crop top."
                </div>
              </div>
              <span class="reverse-link fs--medium text-grey">
                See this polo shirt
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-m-3 ">
        <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-1-component-tile-basic-2">
          <a href="https://lacoste.com.ph/collections/womens-slim-fit-polos/products/womens-lacoste-slim-fit-stretch-mini-cotton-pique-polo-shirt-pf7845-f19" class="  flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:2}" data-tracking="" data-type="">
            <div class="l-relative l-ratio--5-7  l-vmargin--small">
              <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                <picture class="pict l-block img-cover img-cover--center lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                  <img alt="lacosteinside-mylacostepolo-push-1-component-tile-basic-2" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null" data-was-processed="true">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-2-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-1-component-tile-basic-2" width="auto" height="auto" />
                </noscript>
                <div class="lqip l-ratio--5-7 pointer-none"></div>
              </div>
            </div>
            <div class="">
              <div class="l-vmargin--small  ">
                <div class="overline text-grey-light l-vmargin--xsmall">
                  Marjory Boulnois, product manager
                </div>
                <h3 class="title--large l-vmargin--xsmall text-black">
                  With a suit
                </h3>
                <div class="text-grey fs--medium">
                  A polo shirt worn under a slightly oversized men's suit hints at your body shape. Add a few colourful details to be completely in command of your style.
                </div>
              </div>
              <span class="reverse-link fs--medium text-grey">
                See this polo shirt
              </span>
            </div>
          </a>
        </div>
      </div>
      <!--          <div class="offset-1 offset-m-2 cell-m-21 cell-7  ">
<div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-1-component-tile-basic-3" data-tracking="{&quot;fg&quot;:&quot;all&quot;,&quot;ft&quot;:&quot;lacoste-inside&quot;,&quot;fd&quot;:&quot;20191008&quot;,&quot;fl&quot;:&quot;lacosteinside-mylacostepolo&quot;,&quot;fz&quot;:&quot;brand&quot;}">
<a href="#" class="  flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:3}" data-tracking="" data-type="">
<div class="l-relative l-ratio--5-7  l-vmargin--small">
<div class="js-lazyload-wrapper with-placeholder l-overlay">
<picture class="pict l-block img-cover img-cover--center lazyload">
<source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px" srcset="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w">
<source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px" srcset="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w">
<img alt="lacosteinside-mylacostepolo-push-1-component-tile-basic-3" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null" data-was-processed="true">
</picture>
<noscript>
<img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-1-component-tile-basic-3-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-1-component-tile-basic-3" width="auto" height="auto" />
</noscript>
<div class="lqip l-ratio--5-7 pointer-none"></div>
</div>
</div>
<div class="">
<div class="l-vmargin--small  ">
<div class="overline text-grey-light l-vmargin--xsmall">
Karim Khouader, dancer
</div>
<h3 class="title--large l-vmargin--xsmall text-black">
In motion
</h3>
<div class="text-grey fs--medium">
"A dancer's clothes are part of their demeanour. I like to wear a fitted polo shirt to embody my movements even better."
</div>
</div>
<span class="reverse-link fs--medium text-grey">
See this polo shirt
</span>
</div>
</a>
</div>
</div> -->
    </div>
  </div>
  <div class="js-modular-layer l-relative bg-white l-padding-top-row-small" id="lacosteinside-mylacostepolo-title-2" data-layer="layer_title">
    <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
      <div class="">
        <h2 class="title--xlarge text-black">
          02. Think oversize
        </h2>
        <div class="text-grey fs--medium">
          <div>
            <p>Make a statement with an XXL polo shirt for limitless style.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative" id="lacosteinside-mylacostepolo-story-2" data-layer="layer_story">
    <div class="js-modular-push grid cell-25 bg-white l-padding-top-row-small l-padding-bottom-row-small" data-id="lacosteinside-mylacostepolo-story-2-component-story">
      <div class="cell-14 cell-m-25 offset-m-0">
        <div class="l-block l-relative l-ratio--4-3 l-ratio-m--1" data-tracking="">
          <div id="static-player-b93f9c61e45a42af8c59228124" class="js-static-video-wrapper static-video-wrapper is-paused is-muted l-overflow-hidden is-classic l-ratio--4-3 l-ratio-m--1 bg-white is-ready" data-src-desktop="https://static1.lacoste.com/videos/marketing/lacosteinside-mylacostepolo-story-2-component-story-desktop.mp4" data-src-mobile="https://static1.lacoste.com/videos/marketing/lacosteinside-mylacostepolo-story-2-component-story-mobile.mp4" data-type="video/mp4" data-autoplay="false" data-background="false" data-staticvideo="4bce50e5-06cb-4120-b806-46928ac2d201">
            <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto">
              <source data-desktop="{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.mp4' | file_url }}" data-mobile="{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.mp4' | file_url }}" type="video/mp4">
            </video>
            <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
              {% include 'static-video-controls' %}
            </div>
            <div class="js-video-poster l-overlay poster">
              <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                <picture class="pict img-cover img-cover--top l-block lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w,{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w,{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=914&amp;impolicy=custom 914w,{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                  <img alt="lacosteinside-mylacostepolo-story-2-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-zoom-url="null" data-was-processed="true">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-story-2-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-story-2-component-story" width="auto" height="auto" />
                </noscript>
                <div class="lqip l-ratio--[object Object] pointer-none"></div>
              </div>
              <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                <svg role="presentation" class="icon-svg ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                </svg>
              </div>
            </div>
            <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
              <svg class="loader-icon">
                <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
        <div>
          <div class="l-vmargin--large">
            <h2 class="title--xlarge text-black">
              Full dimensions
            </h2>
            <div class="text-grey fs--medium">
              "When I was little, I was already wearing an adult polo shirt that was really big on me. It's my way of feeling feminine: not too female but not too tomboy either – smack bang between the two." Carmel Loanga, dancer.
            </div>
          </div>
          <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto fs--medium ff-normal " href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-s20" data-type="product" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:4}">
            See this polo shirt
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-mylacostepolo-push-2" data-layer="layer_push_tiles">
    <div class="grid cell-25">
      <div class="offset-1 offset-m-2 cell-m-21 cell-11 l-vmargin-row-m-3 ">
        <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-2-component-tile-basic-1">
          <a href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-s20" class="  flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:5}" data-tracking="" data-type="">
            <div class="l-relative l-ratio--1 l-ratio-m--5-7 l-vmargin--small">
              <div class="js-lazyload-wrapper with-placeholder l-overlay">
                <picture class="pict l-block img-cover img-cover--center">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                  <img alt="lacosteinside-mylacostepolo-push-2-component-tile-basic-1" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-1-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-2-component-tile-basic-1" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
              </div>
            </div>
            <div class="">
              <div class="l-vmargin--small  ">
                <div class="overline text-grey-light l-vmargin--xsmall">
                  Romain Blanquet-Ferrero, production director
                </div>
                <h3 class="title--large l-vmargin--xsmall text-black">
                  Large format
                </h3>
                <div class="text-grey fs--medium">
                  To transport the polo shirt into the realm of streetwear, wear it in extra large and combine it with other loose items of clothing.
                </div>
              </div>
              <span class="reverse-link fs--medium text-grey">
                See this polo shirt
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="offset-1 offset-m-2 cell-m-21 cell-11  ">
        <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-2-component-tile-basic-2">
          <a href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-s20" class="  flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:6}" data-tracking="" data-type="">
            <div class="l-relative l-ratio--1 l-ratio-m--5-7 l-vmargin--small">
              <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                <picture class="pict l-block img-cover img-cover--center lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                  <img alt="lacosteinside-mylacostepolo-push-2-component-tile-basic-2" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-2-component-tile-basic-2-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-2-component-tile-basic-2" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
              </div>
            </div>
            <div class="">
              <div class="l-vmargin--small  ">
                <div class="overline text-grey-light l-vmargin--xsmall">
                  Martial Billard, stylist
                </div>
                <h3 class="title--large l-vmargin--xsmall text-black">
                  Perfectly matched
                </h3>
                <div class="text-grey fs--medium">
                  "When I get dressed, I choose my trousers first. A loose-fitting polo shirt goes well in 99% of cases."
                </div>
              </div>
              <span class="reverse-link fs--medium text-grey">
                See this polo shirt
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative bg-white l-padding-top-row-small" id="lacosteinside-mylacostepolo-title-3" data-layer="layer_title">
    <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
      <div class="">
        <h2 class="title--xlarge text-black">
          03. Dare to superimpo(lo)se
        </h2>
        <div class="text-grey fs--medium">
          <div>
            <p>Wear a polo shirt over anything.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative" id="lacosteinside-mylacostepolo-story-3" data-layer="layer_story">
    <div class="js-modular-push grid cell-25 bg-white l-padding-top-row-small l-padding-bottom-row-small" data-id="lacosteinside-mylacostepolo-story-3-component-story">
      <div class="cell-14 cell-m-25 offset-m-0">
        <div class="l-block l-relative l-ratio--4-3 l-ratio-m--1" data-tracking="">
          <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
            <picture class="pict img-cover img-cover--center lazyload">
              <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-story-3-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-story-3-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-story-3-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-mylacostepolo-story-3-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
              <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w,{{ 'lacosteinside-mylacostepolo-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w,{{ 'lacosteinside-mylacostepolo-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=914&amp;impolicy=custom 914w,{{ 'lacosteinside-mylacostepolo-story-3-component-story-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
              <img alt="lacosteinside-mylacostepolo-story-3-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-story-3-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
            </picture>
            <noscript>
              <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-story-3-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-story-3-component-story" width="auto" height="auto" />
            </noscript>
            <div class="lqip l-ratio--[object Object] pointer-none"></div>
          </div>
        </div>
      </div>
      <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
        <div>
          <div class="l-vmargin--large">
            <h2 class="title--xlarge text-black">
              Two-in-one
            </h2>
            <div class="text-grey fs--medium">
              "A polo shirt can easily be reinvented because of its collar. I like to wear them in twos and button the tabs to keep them together. With all the colours available, the options are endless!" Jacques-Alix Brice, dancer.
            </div>
          </div>
          <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto fs--medium ff-normal " href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-f19?_pos=2&_sid=abd2b9d8a&_ss=r" data-type="product" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:7}">
            See polo shirt in fountain 
          </a>
          <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto fs--medium ff-normal " href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-s19" data-type="product" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:8}">
            See polo shirt in red
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-mylacostepolo-push-3" data-layer="layer_push_tiles">
    <div class="grid cell-25">
      <div class="offset-1 offset-m-2 cell-m-21 cell-11 l-vmargin-row-m-3 ">
        <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-3-component-tile-basic-1">
          <a href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-s20" class="  flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:9}" data-tracking="" data-type="">
            <div class="l-relative l-ratio--1 l-ratio-m--5-7 l-vmargin--small">
              <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                <picture class="pict l-block img-cover img-cover--center lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                  <img alt="lacosteinside-mylacostepolo-push-3-component-tile-basic-1" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-1-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-3-component-tile-basic-1" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
              </div>
            </div>
            <div class="">
              <div class="l-vmargin--small  ">
                <div class="overline text-grey-light l-vmargin--xsmall">
                  Jonathan Baudet-Botella, art director
                </div>
                <h3 class="title--large l-vmargin--xsmall text-black">
                  Size interplay
                </h3>
                <div class="text-grey fs--medium">
                  Size 4 worn over a size 5: create extra length underneath on the hips, and longer sleeves that you can turn up to show the other side.
                </div>
              </div>
              <span class="reverse-link fs--medium text-grey">
                See this polo shirt
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="offset-1 offset-m-2 cell-m-21 cell-11  ">
        <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-3-component-tile-basic-2">
          <a href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-s20" class="  flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:10}" data-tracking="" data-type="">
            <div class="l-relative l-ratio--1 l-ratio-m--5-7 l-vmargin--small">
              <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                <picture class="pict l-block img-cover img-cover--center lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                  <img alt="lacosteinside-mylacostepolo-push-3-component-tile-basic-2" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-3-component-tile-basic-2-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-3-component-tile-basic-2" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
              </div>
            </div>
            <div class="">
              <div class="l-vmargin--small  ">
                <div class="overline text-grey-light l-vmargin--xsmall">
                  Yohan Burel, photographer
                </div>
                <h3 class="title--large l-vmargin--xsmall text-black">
                  Indoors, outdoors
                </h3>
                <div class="text-grey fs--medium">
                  Choose an extra-large size and wear the crocodile on a hoodie or a fleece sweatshirt.
                </div>
              </div>
              <span class="reverse-link fs--medium text-grey">
                See this polo shirt
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative bg-white l-padding-top-row-small" id="lacosteinside-mylacostepolo-title-4" data-layer="layer_title">
    <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
      <div class="">
        <h2 class="title--xlarge text-black">
          04. Be part of the best matches
        </h2>
        <div class="text-grey fs--medium">
          <div>
            <p>Good ideas for a perfectly worn polo shirt.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative" id="lacosteinside-mylacostepolo-story-4" data-layer="layer_story">
    <div class="js-modular-push grid cell-25 bg-white l-padding-top-row-small l-padding-bottom-row-small" data-id="lacosteinside-mylacostepolo-story-4-component-story">
      <div class="cell-14 cell-m-25 offset-m-0">
        <div class="l-block l-relative l-ratio--4-3 l-ratio-m--1" data-tracking="">
          <div id="static-player-c3c350ffb69324dc1901a71802" class="js-static-video-wrapper static-video-wrapper is-paused is-muted l-overflow-hidden is-classic l-ratio--4-3 l-ratio-m--1 bg-white is-ready" data-src-desktop="https://static1.lacoste.com/videos/marketing/lacosteinside-mylacostepolo-story-4-component-story-desktop.mp4" data-src-mobile="https://static1.lacoste.com/videos/marketing/lacosteinside-mylacostepolo-story-4-component-story-mobile.mp4" data-type="video/mp4" data-autoplay="false" data-background="false" data-staticvideo="0f8e81ec-800b-485b-b891-ea20bb061a81">
            <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto">
              <source data-desktop="{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.mp4' | file_url }}" data-mobile="{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.mp4' | file_url }}" type="video/mp4">
            </video>
            <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
              {% include 'static-video-controls' %}
            </div>
            <div class="js-video-poster l-overlay poster">
              <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                <picture class="pict img-cover img-cover--top l-block lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-story-4-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-story-4-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-story-4-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-mylacostepolo-story-4-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w,{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w,{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=914&amp;impolicy=custom 914w,{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                  <img alt="lacosteinside-mylacostepolo-story-4-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-zoom-url="null">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-story-4-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-story-4-component-story" width="auto" height="auto" />
                </noscript>
                <div class="lqip l-ratio--[object Object] pointer-none"></div>
              </div>
              <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                <svg role="presentation" class="icon-svg ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                </svg>
              </div>
            </div>
            <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
              <svg class="loader-icon">
                <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
        <div>
          <div class="l-vmargin--large">
            <h2 class="title--xlarge text-black">
              Preferred materials
            </h2>
            <div class="text-grey fs--medium">
              "For me, a polo shirt should be worn in its natural form. I always combine them with well-made garments made from soft leather or thick, raw denim, for example."  Somalia Barro, photo stylist.
            </div>
          </div>
          <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto fs--medium ff-normal " href="https://lacoste.com.ph/products/womens-lacoste-classic-fit-soft-cotton-petit-pique-polo-shirt-pf7839-s20" data-type="product" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:11}">
            See this polo shirt
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="js-modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-mylacostepolo-push-4" data-layer="layer_push_tiles">
    <div class="grid cell-25">
      <div class="offset-1 offset-m-2 cell-m-21 cell-11 l-vmargin-row-m-3 ">
        <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-4-component-tile-basic-1">
          <a href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-f18" class="  flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:12}" data-tracking="" data-type="">
            <div class="l-relative l-ratio--1 l-ratio-m--5-7 l-vmargin--small">
              <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                <picture class="pict l-block img-cover img-cover--center lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                  <img alt="lacosteinside-mylacostepolo-push-4-component-tile-basic-1" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-1-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-4-component-tile-basic-1" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
              </div>
            </div>
            <div class="">
              <div class="l-vmargin--small  ">
                <div class="overline text-grey-light l-vmargin--xsmall">
                  Olsen Brothers, DJs
                </div>
                <h3 class="title--large l-vmargin--xsmall text-black">
                  Bank on both colours
                </h3>
                <div class="text-grey fs--medium">
                  The polo shirt comes in an entire palette of colours. Use it to coordinate your shirt with your trainers or jacket. Do details mean a lot to you? Adapt your crocodile(s) to fit your look too!
                </div>
              </div>
              <span class="reverse-link fs--medium text-grey">
                See this polo shirt
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="offset-1 offset-m-2 cell-m-21 cell-11  ">
        <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-mylacostepolo-push-4-component-tile-basic-2">
          <a href="https://lacoste.com.ph/products/lacoste-l1212-polo-shirt-l1212-f19" class="flex--col flex--grow" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:13}" data-tracking="" data-type="">
            <div class="l-relative l-ratio--1 l-ratio-m--5-7 l-vmargin--small">
              <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                <picture class="pict l-block img-cover img-cover--center lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                  <img alt="lacosteinside-mylacostepolo-push-4-component-tile-basic-2" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-push-4-component-tile-basic-2-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-push-4-component-tile-basic-2" width="auto" height="auto" />
                </noscript>
                <picture class="lqip pointer-none l-block"></picture>
              </div>
            </div>
            <div class="">
              <div class="l-vmargin--small  ">
                <div class="overline text-grey-light l-vmargin--xsmall">
                  Alex Lafarge, café manager
                </div>
                <h3 class="title--large l-vmargin--xsmall text-black">
                  The surprise effect
                </h3>
                <div class="text-grey fs--medium">
                  A polo shirt is less predictable than a T-shirt or thin jumper, and can also go under a shirt or overshirt. It's a good idea to do up the buttons on the collar.
                </div>
              </div>
              <span class="reverse-link fs--medium text-grey">
                See this polo shirt
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
   <div class="js-modular-layer l-relative bg-white l-padding-top-row-small" id="lacosteinside-mylacostepolo-title-3" data-layer="layer_title" data-tracking="{&quot;fg&quot;:&quot;all&quot;,&quot;ft&quot;:&quot;lacoste-inside&quot;,&quot;fd&quot;:&quot;20191008&quot;,&quot;fl&quot;:&quot;lacosteinside-mylacostepolo&quot;,&quot;fz&quot;:&quot;brand&quot;}">
      <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h2 class="title--xlarge text-black">
               05. Personalise your polo shirt
            </h2>
            <div class="text-grey fs--medium">
               <div>
                  <p>A loyalty reward for the crème de la crème players of Le Club Lacoste.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer l-relative" id="lacosteinside-mylacostepolo-story-3">
      <div class="js-modular-push grid cell-25 bg-white l-padding-top-row-small l-padding-bottom-row-small" data-id="lacosteinside-mylacostepolo-story-3-component-story">
         <div class="cell-14 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--4-3 l-ratio-m--1" data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay">
                  <picture class="pict img-cover img-cover--center">
                     <source media="(max-width: 767px)" data-srcset="{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '320x' }} 320w,{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '375x' }} 375w,{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '414x' }},{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '594x' }} 594w,{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '640x' }} 640w,{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '767x' }}? 767w,{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '914x' }} 914w,{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                     <img alt="lacosteinside-mylacostepolo-story-3-component-story" width="100%" height="auto" data-src="{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: 'master' }}" class="img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
                  </picture>
                  <noscript>
                     <img class="noscript-content" src="{{ 'l1212_bordeaux_476_4.jpg' | file_img_url: 'master' }}" alt="lacosteinside-mylacostepolo-story-3-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class="title--xlarge text-black">
                     Spell it out
                  </h2>
                  <div class="text-grey fs--medium">
                     Your colors, your initials embroidered on a sleeve of your own L.12.12. polo.
                  </div>
               </div>
               <a class="reverse-link l-hmargin--small l-vmargin--small pointer-auto fs--medium ff-normal" href="https://lacoste.com.ph/pages/le-club-lacoste">
               	Learn More About Le Club Lacoste 
               </a>
            </div>
         </div>
      </div>
   </div>
  <div class="js-modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-mylacostepolo-blocks" data-layer="layer_blocks">
    <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
      <h2 class="title--xlarge text-black">
        Tracking the Crocodile
      </h2>
      <div class="text-grey fs--medium">
        Everything you always wanted to know about Lacoste but were afraid to ask.
      </div>
    </div>
    <div class="grid cell-25">
<!--       <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
        <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-mylacostepolo-blocks-component-blocks-1">
          <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
            <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
              <picture class="pict img-cover img-cover--center lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                <img alt="lacosteinside-mylacostepolo-blocks-component-blocks-1" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-1-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-blocks-component-blocks-1" width="auto" height="auto" />
              </noscript>
              <picture class="lqip pointer-none l-block"></picture>
            </div>
          </div>
          <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none text-white">
            <div class="pointer-auto l-vmargin--large">
              <h2 class="title--xlarge ">
                The latest Lacoste Fashion Show
              </h2>
            </div>
            <a class="btn-cta  l-hmargin--small pointer-auto fs--medium ff-normal" href="/pages/the-lacoste-autumn-winter-2019" data-type="content" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:18}">
              Watch video
            </a>
          </div>
        </div>
      </div> -->
      <div class="offset-m-0 cell-m-25 offset-1 cell-11">
        <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-mylacostepolo-blocks-component-blocks-2">
          <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
            <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
              <picture class="pict img-cover img-cover--center lazyload">
                <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                <img alt="lacosteinside-mylacostepolo-blocks-component-blocks-2" width="100%" height="auto" data-src="{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-zoom-url="null">
              </picture>
              <noscript>
                <img class="noscript-content" src="{{ 'lacosteinside-mylacostepolo-blocks-component-blocks-2-desktop.jpg' | asset_url }}" alt="lacosteinside-mylacostepolo-blocks-component-blocks-2" width="auto" height="auto" />
              </noscript>
              <picture class="lqip pointer-none l-block"></picture>
            </div>
          </div>
          <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none text-white">
            <div class="pointer-auto l-vmargin--large">
              <h2 class="title--xlarge ">
                Making Magic
              </h2>
            </div>
            <a class="btn-cta  l-hmargin--small pointer-auto fs--medium ff-normal" href="/pages/savoir-faire" data-type="content" data-tag-id="modular.onPromoClick" data-replace="{&quot;%index%&quot;:19}">
              Lacoste Savoir-Faire
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>