<section class="js-modular-page page-section modular-section bg-white" data-tracking="">
   <div class="js-modular-layer js-modular--starter modular-layer modular--starter l-relative bg-white  no-cover" id="lacosteinside-story-starter-1" data-layer="layer_starter" data-tracking="">
      <div class="js-modular-push l-relative l-fill-height " data-id="lacosteinside-story-starter-1-component-starter" data-tracking="">
         <div class="l-relative modular--starter-cover-wrapper">
            <div class="l-block l-fill-height" data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-fill-height lazyload">
                  <picture class="pict modular--starter-cover lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-starter-1-component-starter-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-starter-1-component-starter-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-starter-1-component-starter-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-story-starter-1-component-starter-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-starter-1-component-starter-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-story-starter-1-component-starter-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-story-starter-1-component-starter-desktop.jpg' | asset_url }}?imwidth=1366&amp;impolicy=custom 1366w,{{ 'lacosteinside-story-starter-1-component-starter-desktop.jpg' | asset_url }}?imwidth=1680&amp;impolicy=custom 1680w,{{ 'lacosteinside-story-starter-1-component-starter-desktop.jpg' | asset_url }}?imwidth=1920&amp;impolicy=custom 1920w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 1366px,(min-width: 1367px) and (max-width: 1680px) 1680px,1920px">
                     <img alt="lacosteinside-story-starter-1-component-starter" width="100%" height="auto" data-src="{{ 'lacosteinside-story-starter-1-component-starter-desktop.jpg' | asset_url }}" class="js-modular--starter-cover modular--starter-cover js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-story-starter-1-component-starter-desktop.jpg' | asset_url }}" alt="lacosteinside-story-starter-1-component-starter" width="auto" height="auto" />
                  </noscript>
                  <picture class="lqip pointer-none l-block"></picture>
               </div>
            </div>
         </div>
         <div class="l-overlay grid pointer-none flex--justify-center text-center flex--align-center flex-m--justify-center text-m-center flex-m--align-center">
            <div class="cell-13 cell-mt-21 padding-1 l-vspaced-row-1 cell-m-25 padding-m-2   ">
               <div class="">
                  <h1 class="js-modular-title title--xxlarge  text-black">
                     Once Upon A Crocodile
                  </h1>
                  <div class="text-grey js-modular-text fs--medium ">
                     Just how well do you know the croc? From his birth in 1923 to modern day, learn his history.
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-bottom-row-small" id="lacosteinside-story-title-3" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-13 text-right cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <div class="overline text-grey-light ">
               Photograph of an original sketch by Robert George dated 1927. © All rights reserved
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-story-title-1" data-layer="" data-tracking="">
      <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h2 class="title--xlarge text-black">
               The Birth of A Crocodile
            </h2>
            <div class="text-grey fs--medium">
               <div>
                  <p>A story of a bet, a journalist and a most tenacious player.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-story-story-1" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-black--wide  " data-id="lacosteinside-story-story-1-component-story" data-tracking="" data-theme="text-white">
         <div class="cell-11 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--1 " data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                  <picture class="pict img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-story-story-1-component-story-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'lacosteinside-story-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-story-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-story-story-1-component-story-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                     <img alt="lacosteinside-story-story-1-component-story" width="100%" height="auto" data-src="{{ 'lacosteinside-story-story-1-component-story-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" data-src="{{ 'lacosteinside-story-story-1-component-story-desktop.jpg' | asset_url }}" alt="lacosteinside-story-story-1-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-white">
                     The crocodile’s first steps
                  </h2>
                  <div class="text-grey-lighter  fs--medium">
                     <div>
                        <p>Boston, 1923. Young tennis prodigy René Lacoste is 19 and likes a challenge. His team captain promises him the crocodile leather suitcase the player admired in a store window if he wins his upcoming match. René doesn’t win but he had the determination of the crocodile on court, which is why an American journalist gave him this nickname.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative bg-white l-padding-bottom-row-small" id="lacosteinside-story-title-4" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-1 text-left cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <div class="overline text-grey-light ">
               René Lacoste in Wimbledon in 1928. © Lacoste Archives. Jacques Brugnon Collection
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer modular-layer l-relative " id="lacosteinside-story-story-2" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push grid cell-25 flex-m--col bg-white l-padding-top-row-small " data-id="lacosteinside-story-story-2-component-story" data-tracking="" data-theme="text-black">
        <div class="cell-11 order-1 order-m-0 offset-3 cell-m-25 offset-m-0">
          <div class="l-block l-relative l-ratio--1 ">
            <div id="static-player-7701f7543dfbe4262b27dba312" class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background l-ratio--1 bg-white is-loaded is-ready" data-src-desktop="{{ 'CrocoVintage.mp4' | file_url }}" data-src-mobile="{{ 'CrocoVintage.mp4' | file_url }}" data-type="video/mp4" data-autoplay="true" data-background="true" data-staticvideo="bca91893-b9ba-4375-8fa5-fb28e970a535">
              <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto" loop="&quot;true&quot;" autoplay="&quot;autoplay&quot;">
                <source data-desktop="{{ 'CrocoVintage.mp4' | file_url }}" data-mobile="{{ 'CrocoVintage.mp4' | file_url }}" type="video/mp4">
              </video>
              <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
                <!---->
                <button class="static-video-btn btn-play">
                  <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                  </svg>
                </button>
                <!---->
              </div>
              <div class="js-video-poster l-overlay poster">
                <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                  <picture class="pict img-cover img-cover--top l-block lazyload">
                    <source media="(max-width: 767px)" data-srcset="{{ 'crocovintage.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'crocovintage.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'crocovintage.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'crocovintage.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                    <source media="(min-width: 768px)" data-srcset="{{ 'crocovintage.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'crocovintage.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w,{{ 'crocovintage.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'crocovintage.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'crocovintage.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 457px,(min-width: 1025px) and (max-width: 1190px) 524px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                    <img alt="lacosteinside-story-story-2-component-story" width="100%" height="auto" data-src="{{ 'crocovintage.jpg' | asset_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                    <img class="noscript-content" src="{{ 'crocovintage.jpg' | asset_url }}" alt="lacosteinside-story-story-2-component-story" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
                </div>
                <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                  <svg role="presentation" class="icon-svg ">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                  </svg>
                </div>
              </div>
              <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center bg-black--wide">
                <svg class="loader-icon">
                  <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
                </svg>
              </div>
            </div>
          </div>
        </div>
         <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="">
                  <h2 class=" title--xlarge text-black">
                     The crocodile becomes a symbol
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>The crocodile takes shape in 1927 under the pen of designer Robert George. An early fan of customization, René Lacoste immediately has it embroidered on his blazers. A few years later, the polo sees the light of day. The crocodile over the heart makes Lacoste the first brand to display a visible logo on an article of clothing.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
<!--    <div class="js-modular-layer modular-layer l-relative bg-white l-padding-bottom-row-small" id="lacosteinside-story-title-5" data-layer="layer_title" data-tracking="">
      <div class="js-modular-push offset-13 text-right cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <div class="overline text-grey-light ">
               Portrait of René Lacoste. © Getty Images
            </div>
         </div>
      </div>
   </div> -->
   <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-story-push" data-layer="layer_push_tiles" data-tracking="">
      <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
         <h2 class="js-modular-title title--xlarge text-black">
            The crocodile’s evolution through different ad campaigns
         </h2>
         <div class="text-grey js-modular-text fs--medium">
            Follow the croc: Lacoste advertising archives from 1933.
         </div>
      </div>
      <div class="grid cell-25">
         <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-1 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-1-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-1-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-1" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-1-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-1-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-1" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © Lacoste Archives
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile's elegance
                        </h3>
                        <div class="text-grey fs--medium">
                           1933
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-1 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-story-push-component-tile-basic-2" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-2-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-2-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-2" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-2-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-2-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-2" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © Lacoste Archives
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile's character
                        </h3>
                        <div class="text-grey fs--medium">
                           1958
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-1 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-story-push-component-tile-basic-3" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-3-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-3-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-3" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-3-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-3-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-3" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © SNIP / © Lacoste Archives
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile's cheekiness
                        </h3>
                        <div class="text-grey fs--medium">
                           1960
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-1 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-story-push-component-tile-basic-4" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-4-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-4-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-4-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-4-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-4-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-4" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-4-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-4-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-4" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © SNIP / © Lacoste Archives
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile's dialect
                        </h3>
                        <div class="text-grey fs--medium">
                           1969
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-1 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-story-push-component-tile-basic-5" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-5-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-5-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-5-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-5-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-5-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-5-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-5-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-5-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-5-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-5" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-5-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-5-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-5" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © SNIP / © Lacoste Archives
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile’s break
                        </h3>
                        <div class="text-grey fs--medium">
                           1973
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-1 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-story-push-component-tile-basic-6" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-6-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-6-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-6-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-6-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-6-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-6-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-6-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-6-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-6-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-6" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-6-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-6-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-6" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © SNIP / © Lacoste Archives
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile’s femininity
                        </h3>
                        <div class="text-grey fs--medium">
                           1975
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-story-push-component-tile-basic-7" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-7-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-7-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-7-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-7-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-7-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-7-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-7-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-7-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-7-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-7" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-7-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-7-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-7" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © All rights reserved
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile's shirt
                        </h3>
                        <div class="text-grey fs--medium">
                           1980
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-7 l-vmargin-row-m-3 ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-story-push-component-tile-basic-8" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-8-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-8-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-8-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-8-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-8-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-8-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-8-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-8-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-8-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-8" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-8-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-8-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-8" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © SNIP 4 / © Lacoste Archives
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile's family
                        </h3>
                        <div class="text-grey fs--medium">
                           1989
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-1 offset-m-2 cell-m-21 cell-7  ">
            <div class="js-modular-push l-relative flex bg-white  component-push-basic" data-id="lacosteinside-story-push-component-tile-basic-9" data-tracking="">
               <div class=" flex--col flex--grow" data-tracking="">
                  <div class="l-relative l-ratio--1  l-vmargin--small">
                     <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                        <picture class="pict l-block img-cover img-cover--center lazyload">
                           <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-9-mobile.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-9-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-9-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-9-mobile.jpg' | asset_url }}?imwidth=640&amp;impolicy=custom 640w" sizes="(max-width: 320px) 295px,(min-width: 321px) and (max-width: 375px) 320px,(min-width: 376px) and (max-width: 414px) 375px,(min-width: 415px) and (max-width: 767px) 640px">
                           <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-push-component-tile-basic-9-desktop.jpg' | asset_url }}?imwidth=295&amp;impolicy=custom 295w,{{ 'lacosteinside-story-push-component-tile-basic-9-desktop.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-push-component-tile-basic-9-desktop.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-push-component-tile-basic-9-desktop.jpg' | asset_url }}?imwidth=457&amp;impolicy=custom 457w,{{ 'lacosteinside-story-push-component-tile-basic-9-desktop.jpg' | asset_url }}?imwidth=524&amp;impolicy=custom 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                           <img alt="lacosteinside-story-push-component-tile-basic-9" width="100%" height="auto" data-src="{{ 'lacosteinside-story-push-component-tile-basic-9-desktop.jpg' | asset_url }}" class="l-block img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                        </picture>
                        <noscript>
                           <img class="noscript-content" data-src="{{ 'lacosteinside-story-push-component-tile-basic-9-desktop.jpg' | asset_url }}" alt="lacosteinside-story-push-component-tile-basic-9" width="auto" height="auto" />
                        </noscript>
                        <div class="lqip l-ratio--1 pointer-none"></div>
                     </div>
                  </div>
                  <div class="">
                     <div class="  ">
                        <div class="overline text-grey-light l-vmargin--xsmall">
                           © Dassas
                        </div>
                        <h3 class="title--large l-vmargin--xsmall text-black">
                           The crocodile's creativity
                        </h3>
                        <div class="text-grey fs--medium">
                           1993
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   {% section 'page-inside-story-2' %}
   
   <div class="js-modular-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacosteinside-story-blocks" data-layer="layer_blocks" data-tracking="">
      <div class="l-vmargin--large padding-1 padding-m-2 cell-13 cell-mt-21 cell-m-25">
         <h2 class="js-modular-title title--xlarge text-black">
            Tracking the Crocodile
         </h2>
         <div class="text-grey js-modular-text fs--medium">
            Everything you always wanted to know about Lacoste but were afraid to ask
         </div>
      </div>
      <div class="grid cell-25">
         <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
            <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-story-blocks-component-blocks-1" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-story-blocks-component-blocks-1-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-story-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-story-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-story-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-story-blocks-component-blocks-1-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacosteinside-story-blocks-component-blocks-1" width="100%" height="auto" data-src="{{ 'lacosteinside-story-blocks-component-blocks-1-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'lacosteinside-story-blocks-component-blocks-1-desktop.jpg' | asset_url }}" alt="lacosteinside-story-blocks-component-blocks-1" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </div>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge ">
                        René Lacoste
                     </h2>
                  </div>
                  <a class="btn-cta  l-hmargin--small pointer-auto fs--medium ff-normal" href="/pages/rene-lacoste" data-type="content" data-tag-id="modular.onPromoClick" data-replace="">
                  Meet the Croc
                  </a>
               </div>
            </div>
         </div>
<!--         <div class="offset-m-0 cell-m-25 offset-1 cell-11">
            <div class="js-modular-push l-relative l-fill-height" data-id="lacosteinside-story-blocks-component-blocks-2" data-tracking="">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacosteinside-story-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=320&amp;impolicy=custom 320w,{{ 'lacosteinside-story-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=375&amp;impolicy=custom 375w,{{ 'lacosteinside-story-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=414&amp;impolicy=custom 414w,{{ 'lacosteinside-story-blocks-component-blocks-2-mobile.jpg' | asset_url }}?imwidth=767&amp;impolicy=custom 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacosteinside-story-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1024&amp;impolicy=custom 1024w,{{ 'lacosteinside-story-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=1190&amp;impolicy=custom 1190w,{{ 'lacosteinside-story-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=594&amp;impolicy=custom 594w,{{ 'lacosteinside-story-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=732&amp;impolicy=custom 732w,{{ 'lacosteinside-story-blocks-component-blocks-2-desktop.jpg' | asset_url }}?imwidth=838&amp;impolicy=custom 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacosteinside-story-blocks-component-blocks-2" width="100%" height="auto" data-src="{{ 'lacosteinside-story-blocks-component-blocks-2-desktop.jpg' | asset_url }}" class="img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" data-src="{{ 'lacosteinside-story-blocks-component-blocks-2-desktop.jpg' | asset_url }}" alt="lacosteinside-story-blocks-component-blocks-2" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </div>
               <div class="l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2 flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge ">
                        #CrocodileInside, the latest Lacoste campaign
                     </h2>
                  </div>
                  <a class="btn-cta  l-hmargin--small pointer-auto fs--medium ff-normal" href="/pages/crocodile-inside" data-type="content" data-tag-id="modular.onPromoClick" data-replace="">
                  Watch now
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div> -->
</section>