<div class="clearfix row modular-content" style="background-color: #f4f4f4;" id="lacoste-style">
   <!-- STRATES -->
   <div class="mcontent-all-strates">
      <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="about-lacoste-nav">
         <div class="banner-nav-bg">
         </div>
         <div class="l-relative ">
            <div class="l-relative flex flex--col flex--centered text-center">
               <h2 class="banner-nav-title title--xlarge ff-bold l-vmargin--large">
                  Lacoste since 1933
               </h2>
            </div>
            <div class="js-banner-nav banner-nav">
               {% for link in linklists.about-lacoste.links %}
               <a class="js-banner-nav-item banner-nav-item fs--small " href= "{{ link.url }}">{{ link.title }}</a>
               {% endfor %}
               </a>
            </div>
         </div>
      </div>
      <div class="l-vmargin-row-and-half mcontent-spirit flex spirit-right spirit-video" id="lacoste-style-spirit">
         <div class="spirit-image cell-17 cell-mt-18 offset-mt-0 offset-1 order-1 order-mt-1">
            <style>.mcontent-spirit .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-spirit .embed-container iframe, .mcontent-spirit .embed-container object, .mcontent-spirit .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
            <div class="embed-container l-vmargin--xsmall no-mob no-tab">
               <iframe src="https://player.vimeo.com/video/218777929?background=1" width="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
               </iframe>
            </div>
            <img src="{{ 'mod-bs-style-spirit.jpg' | asset_url }}" class="img-fill-width no-desk" alt="The Lacoste style
               Sport-inspired elegance" width="100%" height="auto">
         </div>
         <div class="spirit-content cell-7 cell-mt-17 text-black offset-mt-6 order-2 order-mt-2 ">
            <span class="fs--small">&nbsp;</span>
            <h2 class="title--xlarge spirit-title l-vmargin--large">
               The Lacoste style<br>Sport-inspired elegance
            </h2>
            <p class="fs--xlarge fs-mt--medium text-grey l-vmargin--large">
               Pieces to wear on the court as in the streets, a wardrobe inspired by sport, a resolutely modern appeal. Lacoste innovates for style and freedom of movement.
            </p>
         </div>
      </div>
      <style>.mcontent-match .embed-container {display: block; width: 100%; position: relative;padding-bottom: 100%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-match .embed-container iframe, .mcontent-match .embed-container object, .mcontent-match .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-match l-relative l-vmargin-row-and-half flex match-right " id="lacoste-style-match-1">
         <div class="match-bigblock order-2 cell-12 cell-mt-13 cell-m-14">
            <picture class="img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-style-match-1-1.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-bs-style-match-1-1.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
         </div>
         <div class="match-smallblock offset-2 offset-mt-1 order-1 cell-11 cell-mt-12 cell-m-11">
            <span class="fs--small">&nbsp;</span>
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{'mod-bs-style-match-1-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{'mod-bs-style-match-1-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
         </div>
      </div>
      <div class="l-relative l-vmargin-row-and-half mcontent-quote grid text-black quote-left" id="lacoste-style-quote">
         <div class="cell-11 cell-mt-23 offset-mt-1 order-mt-1 order-2">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-bs-style-quote.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-bs-style-quote.jpg' | asset_url }}" alt="René Lacoste" width="100%" height="auto">
            </picture>
         </div>
         <div class="quote-container bg-grey l-vspaced-row-2 cell-10 padding-2 cell-mt-21 offset-mt-2 padding-mt-3 order-mt-2 order-1 offset-3 ">
            <h2 class="title--xlarge ff-bold l-vmargin--large">
               Without elegance, playing and winning aren’t enough.
            </h2>
            <footer class="fs--medium text-grey">
               René Lacoste<br>
            </footer>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-style-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               Sport and style: a unique attire<br>
               <style>.mcontent-sport > img:not(:first-of-type) {margin-left: calc(100% / 23);}</style>
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               The essence of the brand? An iconic wardrobe, contemporary and urban, inspired by sport and French elegance.
            </p>
         </div>
      </div>
      <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1" id="lacoste-style-sport-1">
         <img class="cell-7" src="{{ 'mod-bs-style-sport-1-1.jpg' | asset_url }}" alt="image1">
         <img class="cell-7 offset-1" src="{{ 'mod-bs-style-sport-1-2.jpg' | asset_url }}" alt="image2">
         <img class="cell-7 offset-1" src="{{ 'mod-bs-style-sport-1-3.jpg' | asset_url }}" alt="image3">
      </div>
      <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1" id="lacoste-style-sport-2">
         <img class="cell-7" src="{{ 'mod-bs-style-sport-2-1.jpg' | asset_url }}" alt="image1">
         <img class="cell-7 offset-1" src="{{ 'mod-bs-style-sport-2-2.jpg' | asset_url }}" alt="image2">
         <img class="cell-7 offset-1" src="{{ 'mod-bs-style-sport-2-3.jpg' | asset_url }}" alt="image3">
      </div>
      <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1" id="lacoste-style-sport-3">
         <img class="cell-7" src="{{ 'mod-bs-style-sport-3-1.jpg' | asset_url }}" alt="image1">
         <img class="cell-7 offset-1" src="{{ 'mod-bs-style-sport-3-2.jpg' | asset_url }}" alt="image2">
         <img class="cell-7 offset-1" src="{{ 'mod-bs-style-sport-3-3.jpg' | asset_url }}" alt="image3">
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-style-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               A timeless style since 1933
            </h2>
         </div>
      </div>
      <style>.mcontent-match .embed-container {display: block; width: 100%; position: relative;padding-bottom: 100%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-match .embed-container iframe, .mcontent-match .embed-container object, .mcontent-match .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-match l-relative l-vmargin-row-and-half flex match-left match-video" id="lacoste-style-match-2">
         <div class="match-bigblock offset-2 offset-mt-1 order-1 cell-12 cell-mt-13 cell-m-14">
            <div class="embed-container l-vmargin--xsmall no-mob no-tab">
               <iframe src="https://player.vimeo.com/video/256416217?background=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
               </iframe>
            </div>
            <img src="null" class="no-desk img-fill-width valign-middle l-vmargin--xsmall" width="100%" height="auto" alt="">
         </div>
         <div class="match-smallblock order-2 cell-11 cell-mt-12 cell-m-11">
            <span class="fs--small">&nbsp;</span>
            <div class="embed-container l-vmargin--xsmall no-mob no-tab">
               <iframe src="https://player.vimeo.com/video/256416521?background=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
               </iframe>
            </div>
            <img src="null" class="no-desk img-fill-width valign-middle l-vmargin--xsmall" width="100%" height="auto" alt="">
         </div>
      </div>
      <!-- Strate //lacoste-style-title-3 disabled -->
      <!-- Strate //lacoste-style-chelem disabled -->
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-style-title-4">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               Discover more
            </h2>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-style-lift-1">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="display: block;">
                  <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-style-lift-1-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-style-lift-1-1.jpg' | asset_url }}" alt="Read more" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Sport and Elegance
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           From the court to the green
                        </h3>
                        <a class="btn-cta  btn--icon" href="/collections/lacoste-sport">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="cell-m-20 cell-11 cell-mt-20 offset-1">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-style-lift-1-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-style-lift-1-2.jpg' | asset_url }}" alt="Read more" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           The polo savoir-faire
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           From design to crafting
                        </h3>
                        <a class="btn-cta  btn--icon" href="/pages/lacoste-savoir-faire">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-style-lift-2">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="swiper-slide cell-m-20 cell-11 cell-mt-20 offset-1 swiper-slide-active">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-style-lift-2-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-style-lift-2-1.jpg' | asset_url }}" alt="Read more" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           René Lacoste
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Who is (really) The Crocodile?
                        </h3>
                        <a class="btn-cta  btn--icon" href="https://www.lacoste.com/gb/lacoste-brand/rene-lacoste.html">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="swiper-slide cell-m-20 cell-11 cell-mt-20 offset-1 swiper-slide-next">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-bs-style-lift-2-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-bs-style-lift-2-2.jpg' | asset_url }}" alt="Read more" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Key dates
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Lacoste heritage yesterday and today
                        </h3>
                        <a class="btn-cta  btn--icon" href="https://www.lacoste.com/gb/lacoste-brand/lacoste-history.html">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="lacoste-style">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>