<div class="clearfix row modular-content" style="background-image: url(&quot;{{ 'mod-camp-bkg.png' | asset_url }}&quot;);background-color: #f4f4f4;" id="timeless-elegance">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates">
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="timeless-elegance-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               The Lacoste Polo, elegance through the years<br>
               <style>.mcontent-sport > img:not(:first-of-type) {margin-left: calc(100% / 23);}</style>
            </h2>
            <p class="fs--medium l-vmargin--large text-grey">
               Designed by René Lacoste, the legendary polo shirt is unique; its style is timeless. The polo's singular character is captured by Timeless Elegance, the new film from Lacoste.
            </p>
            <a class="btn-cta  text-white l-hmargin--small fs--medium ff-normal" href="/pages/lacoste-savoir-faire">
            Find out more
            </a>
         </div>
      </div>
      <div class="mcontent-court l-vmargin-row-and-half text-white  court-launch" id="timeless-elegance-court">
         <img src="{{ 'mod-camp-court.jpg' | asset_url }}" alt="Lacoste brand film: Timeless Elegance" data-src="https://player.vimeo.com/video/218021754?title=0&amp;byline=0&amp;portrait=0" class="img-fill-width js-court-poster l-vmargin--xsmall " width="100%" height="auto">
         <div class="court-content cell-7 cell-mt-15 cell-m-21 offset-mt-4 offset-m-2">
            <h2 class="title--medium l-vmargin--medium">
               Lacoste brand film: Timeless Elegance
            </h2>
            <p class="fs--medium l-vmargin--xlarge ">
               A story of an epic journey and love at first sight. The hero embarks on a turbulent quest throughout the decades: the style evolves, but the polo maintains its inalterable elegance.
            </p>
            <button type="button" name="button" class="player-btn">
               <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="58px" height="58px" viewBox="277 367 58 58" enable-background="new 277 367 58 58" xml:space="preserve">
                  <path fill="#fff" class="button-play-bg" d="M306,423.5c-15.188,0-27.5-12.312-27.5-27.5s12.312-27.5,27.5-27.5s27.5,12.312,27.5,27.5
                     C333.478,411.179,321.179,423.478,306,423.5z"></path>
                  <path fill="#292929" class="button-play-border" d="M306,369c14.912,0,27,12.088,27,27s-12.088,27-27,27s-27-12.088-27-27
                     C279.022,381.097,291.097,369.022,306,369 M306,368c-15.464,0-28,12.536-28,28c0,15.464,12.536,28,28,28c15.464,0,28-12.536,28-28
                     C334,380.536,321.464,368,306,368L306,368z"></path>
                  <polygon fill="#292929" class="button-play-arrow" points="302.5,385.2 313.3,396 302.5,406.8 "></polygon>
                  <path class="button-play-arrow-border" fill="#292929" d="M303,386.42l9.58,9.58l-9.58,9.58V386.42 M302,384v24l12-12L302,384L302,384z"></path>
               </svg>
            </button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="timeless-elegance-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               The polo as a movie star
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               The new brand film from Lacoste celebrates the French savoir faire and timeless polo elegance that has effortlessly shifted through the decades, from its conception in 1933 to the present day.
            </p>
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="timeless-elegance-chelem-1">
         <div class="cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <picture class="l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-chelem-1-1.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-camp-chelem-1-1.jpg' | asset_url }}" alt="The polo: savoir-faire and quality since 1933" width="100%" height="auto">
            </picture>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
                  The polo: savoir-faire and quality since 1933
               </h2>
               <p class="fs--medium text-grey l-vmargin--medium col-pr-2-10 col-mob-pr-0">
                  The secret behind the polo shirt, invented by no other than René Lacoste himself, is its unique fabric - the petit piqué. Light, airy and resilient, it introduced the revolutionary knitting technique and unique know-how for an absolute freedom of movement.
               </p>
               <a class="btn-cta l-hmargin--small text-white fs--medium ff-normal" href="https://www.lacoste.com/gb/polos/all-polos/">
               Shop the polos
               </a>
            </div>
         </div>
         <div class="offset-2 offset-mt-1 cell-11 offset-1 no-tab no-mob ">
            <picture class="l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-chelem-1-2.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-camp-chelem-1-2.jpg' | asset_url }}" alt="The polo: savoir-faire and quality since 1933" width="100%" height="auto">
            </picture>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="timeless-elegance-champion-1">
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 cell-m-23 offset-mt-0">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-champion-1-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-1-1.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-11 offset-2 cell-mt-19 offset-mt-6 cell-m-19 offset-m-6">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-champion-1-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-1-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
            </p>
         </div>
      </div>
      <div class="mcontent-sport l-vmargin-row-and-half grid flex--align-start offset-1" id="timeless-elegance-sport">
         <img class="cell-7" src="{{ 'mod-camp-sport-1.jpg' | asset_url }}" alt="image1">
         <img class="cell-7 offset-1" src="{{ 'mod-camp-sport-2.jpg' | asset_url }}" alt="image2">
         <img class="cell-7 offset-1" src="{{ 'mod-camp-sport-3.jpg' | asset_url }}" alt="image3">
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="timeless-elegance-champion-2">
         <div class="l-vmargin-row-and-half cell-11 cell-mt-19 cell-m-23 order-mt-2">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-champion-2-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-2-1.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 offset-mt-6 order-mt-1">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-champion-2-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-2-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="timeless-elegance-title-3">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               Timeless elegance
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               From a fatal encounter to a beautiful quest
            </p>
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="timeless-elegance-chelem-2">
         <div class="cell-11 offset-1 no-tab no-mob ">
            <picture class="l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-chelem-2-1.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-camp-chelem-2-1.jpg' | asset_url }}" alt="The background" width="100%" height="auto">
            </picture>
         </div>
         <div class="offset-2 offset-mt-1 cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <picture class="l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-chelem-2-2.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-camp-chelem-2-2.jpg' | asset_url }}" alt="The background" width="100%" height="auto">
            </picture>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
                  The background
               </h2>
               <p class="fs--medium text-grey l-vmargin--medium col-pr-2-10 col-mob-pr-0">
                  Directed by Seb Edwards, the new Lacoste film captures again the rare, yet vital, human emotion with all the more grandeur and romance as the frantic quest takes place over eight decades, reminding us that life itself is a beautiful sport.
               </p>
            </div>
         </div>
      </div>
      <style>.mcontent-match .embed-container {display: block; width: 100%; position: relative;padding-bottom: 100%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-match .embed-container iframe, .mcontent-match .embed-container object, .mcontent-match .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-match l-relative l-vmargin-row-and-half flex match-right " id="timeless-elegance-match-1">
         <div class="match-bigblock order-2 cell-12 cell-mt-13 cell-m-14">
            <picture class="img-fill-width valign-middle l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-match-1-1.jpg' | asset_url }}">
               <img class="img-fill-width valign-middle l-vmargin--xsmall" src="{{ 'mod-camp-match-1-1.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
         </div>
         <div class="match-smallblock offset-2 offset-mt-1 order-1 cell-11 cell-mt-12 cell-m-11">
            <span class="fs--small">&nbsp;</span>
            <div class="embed-container l-vmargin--xsmall no-mob no-tab">
               <iframe src="https://player.vimeo.com/video/219348682?background=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
               </iframe>
            </div>
            <img src="null" class="no-desk img-fill-width valign-middle l-vmargin--xsmall" width="100%" height="auto" alt="">
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="timeless-elegance-chelem-3">
         <div class="cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <picture class="l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-chelem-3-1.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-camp-chelem-3-1.jpg' | asset_url }}" alt="The setting" width="100%" height="auto">
            </picture>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
                  The setting
               </h2>
               <p class="fs--medium text-grey l-vmargin--medium col-pr-2-10 col-mob-pr-0">
                  The couple, played by Damien Chapelle and Dorcas Coppin, is seen in spectacular settings: a 1930s Parisian train station brought to life by 250 extras, authentic trains from each decade and authentic style put together by celebrated costume designer Madeline Fontaine, magnified by a cinematic soundtrack by Max Richter.
               </p>
            </div>
         </div>
         <div class="offset-2 offset-mt-1 cell-11 offset-1 no-tab no-mob ">
            <picture class="l-vmargin--xsmall img-fill-width">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-chelem-3-2.jpg' | asset_url }}">
               <img class="l-vmargin--xsmall img-fill-width" src="{{ 'mod-camp-chelem-3-2.jpg' | asset_url }}" alt="The setting" width="100%" height="auto">
            </picture>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="timeless-elegance-title-4">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               The making-of
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               Go behind the scenes of the new Lacoste film
            </p>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="timeless-elegance-champion-3">
         <div class="l-vmargin-row-and-half cell-11 cell-mt-19 cell-m-23 order-mt-2">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw944f1492/ss17/mods/campagne/mod-camp-champion-3-1.jpg">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-3-1.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 offset-mt-6 order-mt-1">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="/on/demandware.static/Sites-GB-Site/Library-Sites-LacosteContent/en/dw73d74d75/ss17/mods/campagne/mod-camp-champion-3-2.jpg">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-3-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
            </p>
         </div>
      </div>
      <style>.mcontent-match .embed-container {display: block; width: 100%; position: relative;padding-bottom: 100%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-match .embed-container iframe, .mcontent-match .embed-container object, .mcontent-match .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-match l-relative l-vmargin-row-and-half flex match-left match-video" id="timeless-elegance-match-2">
         <div class="match-bigblock offset-2 offset-mt-1 order-1 cell-12 cell-mt-13 cell-m-14">
            <div class="embed-container l-vmargin--xsmall no-mob no-tab">
               <iframe src="https://player.vimeo.com/video/219348627?background=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
               </iframe>
            </div>
            <img src="null" class="no-desk img-fill-width valign-middle l-vmargin--xsmall" width="100%" height="auto" alt="">
         </div>
         <div class="match-smallblock order-2 cell-11 cell-mt-12 cell-m-11">
            <span class="fs--small">&nbsp;</span>
            <div class="embed-container l-vmargin--xsmall no-mob no-tab">
               <iframe src="https://player.vimeo.com/video/219348573?background=1" width="100%" height="100%" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="">
               </iframe>
            </div>
            <img src="null" class="no-desk img-fill-width valign-middle l-vmargin--xsmall" width="100%" height="auto" alt="">
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="timeless-elegance-champion-4">
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 cell-m-23 offset-mt-0">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-champion-4-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-4-1.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-11 offset-2 cell-mt-19 offset-mt-6 cell-m-19 offset-m-6">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-champion-4-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-4-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
            </p>
         </div>
      </div>
      <div class="offset-1 offset-mt-0 cell-23 cell-mt-25 mcontent-champion grid " id="timeless-elegance-champion-5">
         <div class="l-vmargin-row-and-half cell-11 cell-mt-19 cell-m-23 order-mt-2">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-champion-5-1.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-5-1.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light offset-mt-2">
            </p>
         </div>
         <div class="l-vmargin-row-and-half cell-8 offset-2 cell-mt-19 offset-mt-6 order-mt-1">
            <picture class="img-fill-width l-vmargin--xsmall">
               <source media="(min-width: 801px)" srcset="{{ 'mod-camp-champion-5-2.jpg' | asset_url }}">
               <img class="img-fill-width l-vmargin--xsmall" src="{{ 'mod-camp-champion-5-2.jpg' | asset_url }}" alt="" width="100%" height="auto">
            </picture>
            <p class="fs--small text-grey-light">
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="timeless-elegance-title-5">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               The polo today
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               From 1933 to the present day, the polo has evolved but kept it's recognizeable relaxed elegance.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="timeless-elegance-lift-1">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="swiper-slide cell-m-20 cell-11 cell-mt-20 offset-1 swiper-slide-active">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-camp-lift-1-1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-camp-lift-1-1.jpg' | asset_url }}" alt="Shop now" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Collection for her
                        </h2>
                        <a class="btn-cta  btn--icon" href="/collections/womens-polos">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="swiper-slide cell-m-20 cell-11 cell-mt-20 offset-1 swiper-slide-next">
                     <picture class="img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-camp-lift-1-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{ 'mod-camp-lift-1-2.jpg' | asset_url }}" alt="Shop now" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Collection for him
                        </h2>
                        <a class="btn-cta  btn--icon" href="/collections/mens-polo">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="timeless-elegance-title-6">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               Discover also
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               The latest news from Lacoste
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate l-overflow-hidden l-vmargin-row-and-half mcontent-ace" id="timeless-elegance-ace">
         <div class="l-relative">
            <div class="js-swiper-ace cell-23 offset-1 l-overflow-hidden">
               <div class="swiper-wrapper">
                  <div class="swiper-slide ">
                     <picture class="img-fill-width l-vmargin-xsmall">
                        <source media="(min-width: 801px)" srcset="{{ 'mod-camp-ace.jpg' | asset_url }}">
                        <img class="img-fill-width l-vmargin-xsmall" src="{{ 'mod-camp-ace.jpg' | asset_url }}" alt="Lacoste 85th Anniversary Re-Editions" width="100%" height="auto">
                     </picture>
                     <div class="ace-content cell-7 cell-mt-21 offset-3 offset-mt-1 text-white text-m-left">
                        <h2 class="title--medium l-vmargin--medium cell-7 cell-mt-21">
                           Lacoste 85th Anniversary Re-Editions
                        </h2>
                        <p class="fs--medium l-vmargin--large ">
                           Celebrate Lacoste’s 85th anniversary with a journey through time.<br>The crocodile brand is re-editing 15 popular pieces from every decade of its existence. Clothes that come straight from the archives, yet are truly timeless.
                        </p>
                        <a class="btn-cta l-hmargin--small   fs--medium ff-normal" href="/pages/lacoste-is-85">
                        Explore Anniversary Editions
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper-pagination js-swiper-pagination-ace"></div>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="timeless-elegance">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>