<div class="clearfix row modular-content" style="background-color: #f4f4f4;" id="men">
   <!-- STRATES -->
   <div class="mcontent-all-strates" data-tracking-page-category="gender" data-tracking-page-banner="Gender_Men">
      <div class="l-vmargin-row-and-half js-mcontent-strate mcontent-strate mcontent-starter starter--left" id="gender-men-starter">
         <picture class="pict starter-image img-fill-width">
           <source media="(max-width: 800px)" srcset="{{ 'Gender_Starter_Kids_Mobile.jpg' | asset_url }}">
           <source media="(min-width: 801px)" srcset="{{ 'Gender_Starter_Kids.jpg' | asset_url }}">
           <img class="starter-image img-fill-width" src="{{ 'Gender_Starter_Kids.jpg' | asset_url }}" alt="Spring-Summer 2019 Collection" width="100%" height="auto">
        </picture>
         <div class="grid starter-content">
            <header class="js-starter-header l-relative text-white cell-14 cell-m-16 offset-2 ">
               <h1 class="starter-title ff-bold">
                  <a href="https://www.lacoste.com/gb/preview-spring-summer-collection/men/" class="js-tracking-data" data-tracking-category="Gender_Men" data-tracking-banner="fb:1;fc:Category;fg:Men;ft:NewCollectionSS19;fd:22012019;fl:Starter;fe:Btn">
                  Spring-Summer 2019 Collection
                  </a>
               </h1>
               <a href="https://www.lacoste.com/gb/preview-spring-summer-collection/men/" class="btn-cta fs--medium  js-tracking-data" data-tracking-category="Gender_Men" data-tracking-banner="fb:1;fc:Category;fg:Men;ft:NewCollectionSS19;fd:22012019;fl:Starter;fe:Btn">
               Shop now
               </a>
            </header>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate js-mcontent-mousquetaires mcontent-mousquetaires l-vmargin-row-and-half" id="gender-men-mousquetaire">
         <h2 class="js-strate-title cell-23 offset-1 title--medium l-vmargin--large mousquetaires-title text-white">
            New Spring/Summer 2019 Collection
         </h2>
         <div class="js-swiper-container-mousquetaires swiper-container-mousquetaires swiper-container-horizontal swiper-container-free-mode">
            <div class="swiper-wrapper l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);">
               <div class="swiper-slide cell-6 cell-mt-9 cell-m-18 offset-1 swiper-slide-active">
                  <a class="js-tracking-data" href="https://www.lacoste.com/gb/casual-elegant-selection-men/" data-tracking-category="Gender_Men" data-tracking-banner="fb:2;fc:Category;fg:Men;ft:CasualElegant;fd:20181114;fl:Mousquetaire;fe:Btn1">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'Gender_Mousq_Man1.jpg' | asset_url }}" srcset="{{ 'Gender_Mousq_Man1.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'Gender_Mousq_Man1.jpg' | asset_url }}" alt="Casual Elegant Selection" width="100%" height="auto" src="{{ 'Gender_Mousq_Man1.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <div class="mousquetaires-content text-white">
                        <h2 class="title--medium l-hmargin--small">
                           Casual Elegant Selection
                        </h2>
                        <button class="btn-cta text-white btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-slide cell-6 cell-mt-9 cell-m-18 offset-1 swiper-slide-next">
                  <a class="js-tracking-data" href="https://www.lacoste.com/gb/casual-selection-men/" data-tracking-category="Gender_Men" data-tracking-banner="fb:2;fc:Category;fg:Men;ft:Casual;fd:20181012;fl:Mousquetaire;fe:Btn2">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'Gender_Mousq_Man4.jpg' | asset_url }}" srcset="{{ 'Gender_Mousq_Man4.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'Gender_Mousq_Man4.jpg' | asset_url }}" alt="Casual Selection" width="100%" height="auto" src="{{ 'Gender_Mousq_Man4.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <div class="mousquetaires-content text-white">
                        <h2 class="title--medium l-hmargin--small">
                           Casual Selection
                        </h2>
                        <button class="btn-cta text-white btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-slide cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="js-tracking-data" href="https://www.lacoste.com/gb/sport-inspired-selection-men/" data-tracking-category="Gender_Men" data-tracking-banner="fb:2;fc:Category;fg:Men;ft:SportInspired;fd:20181114;fl:Mousquetaire;fe:Btn3">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'Gender_Mousq_Man3.jpg' | asset_url }}" srcset="{{ 'Gender_Mousq_Man3.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'Gender_Mousq_Man3.jpg' | asset_url }}" alt="Sport Inspired Selection" width="100%" height="auto" src="{{ 'Gender_Mousq_Man3.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <div class="mousquetaires-content text-white">
                        <h2 class="title--medium l-hmargin--small">
                           Sport Inspired Selection
                        </h2>
                        <button class="btn-cta text-white btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-slide cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="js-tracking-data" href="https://www.lacoste.com/gb/classic-selection-men/" data-tracking-category="Gender_Men" data-tracking-banner="fb:2;fc:Category;fg:Men;ft:Classic;fd:20181012;fl:Mousquetaire;fe:Btn4">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'Gender_Mousq_Man2.jpg' | asset_url }}" srcset="{{ 'Gender_Mousq_Man2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'Gender_Mousq_Man2.jpg' | asset_url }}" alt="Classic Selection" width="100%" height="auto" src="{{ 'Gender_Mousq_Man2.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <div class="mousquetaires-content text-white">
                        <h2 class="title--medium l-hmargin--small">
                           Classic Selection
                        </h2>
                        <button class="btn-cta text-white btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-slide cell-6 cell-mt-9 cell-m-18 offset-1">
                  <a class="js-tracking-data" href="https://www.lacoste.com/gb/performance-selection-men/" data-tracking-category="Gender_Men" data-tracking-banner="fb:2;fc:Category;fg:Men;ft:Performance;fd:20181012;fl:Mousquetaire;fe:Btn5">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'Gender_Mousq_Man5.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload" data-src="{{ 'Gender_Mousq_Man5.jpg' | asset_url }}"  src="{{ 'Gender_Mousq_Man5.jpg' | asset_url }}" alt="Performance Selection" width="100%" height="auto">
                     </picture>
                     <div class="mousquetaires-content text-white">
                        <h2 class="title--medium l-hmargin--small">
                           Performance Selection
                        </h2>
                        <button class="btn-cta text-white btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-simone offset-1 cell-23 l-vmargin-row-and-half simone--left" id="gender-men-simone">
         <h2 class="title--medium l-vmargin--large text-black no-mob ">
            Spring-Summer 2019
         </h2>
         <div class="simone-content grid">
            <a class="cell-12 cell-mt-23 offset-11 offset-mt-0 js-tracking-data" href="https://www.lacoste.com/gb/motion-men/" data-tracking-category="Gender_Men" data-tracking-banner="fb:3;fc:Category;fg:Men;ft:Motion;fd:20190129;fl:Simone;fe:Btn">
               <picture class="pict img-fill-width l-block">
                  <source media="(max-width: 800px)" srcset="{{ 'Strate-Men-Simone-Desk.jpg' | asset_url }}">
                  <source media="(min-width: 801px)" srcset="{{ 'Strate-Men-Simone-Desk.jpg' | asset_url }}">
                  <img class="img-fill-width l-block" src="{{ 'Strate-Men-Simone-Desk.jpg' | asset_url }}" alt="Spring-Summer 2019" width="100%" height="auto">
               </picture>
            </a>
            <div class="simone-text-wrapper bg-grey text-black cell-12 cell-mt-23 padding-2 padding-m-1 ">
               <h3 class="title--medium l-vmargin--large">
                  New Collection "Lacoste Motion"
               </h3>
               <div class="fs--medium l-vmargin--large text-grey-light cell-6 cell-mt-23">
                  Discover magic materials conceived for travel : wrinkle-free, lightweight and water-resistant.
               </div>
               <a class="btn-cta text-white fs--medium ff-normal js-tracking-data" href="https://www.lacoste.com/gb/motion-men/" data-tracking-category="Gender_Men" data-tracking-banner="fb:3;fc:Category;fg:Men;ft:Motion;fd:20190129;fl:Simone;fe:Btn">
               Discover
               </a>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-coupe cell-23 offset-1 l-vmargin-row-and-half" id="gender-men-coupe">
         <h2 class="title--medium l-vmargin--large text-black no-mob ">
            Men's Collection
         </h2>
         <div class="coupe-content">
            <a class="l-relative coupe-item l-vmargin--xlarge cell-5 js-tracking-data cell-mt-23" href="https://www.lacoste.com/gb/lacoste/men/clothing/" data-tracking-category="Gender_Men" data-tracking-banner="fb:4;fc:Category;fg:Men;ft:Clothing;fd:20181114;fl:Coupe;fe:Btn">
               <picture class="pict img-fill-width lazyload">
                  <source media="(max-width: 800px)" data-srcset="{{ 'Gender-Coupe-Man-mob1.jpg' | asset_url }}" srcset="{{ 'Gender-Coupe-Man-mob1.jpg' | asset_url }}">
                  <source media="(min-width: 801px)" data-srcset="{{ 'Coupe_Man1.jpg' | asset_url }}" srcset="{{ 'Coupe_Man1.jpg' | asset_url }}">
                  <img class="img-fill-width js-lazyload lazyload lazyloaded" data-src="{{ 'Coupe_Man1.jpg' | asset_url }}" alt="Clothing" width="100%" height="auto" src="{{ 'Coupe_Man1.jpg' | asset_url }}" data-was-processed="true">
               </picture>
               <div class="coupe-text-wrapper l-overlay cell-mt-12 offset-mt-2 text-black">
                  <h3 class="fs--medium text-grey">
                     All the collection
                  </h3>
                  <h2 class="title--medium text-black l-vmargin--small">
                     Clothing
                  </h2>
                  <button class="btn-cta no-tab no-mob ${btnClass} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
            <a class="l-relative coupe-item l-vmargin--xlarge cell-5 js-tracking-data cell-mt-23" href="https://www.lacoste.com/gb/lacoste/men/shoes/" data-tracking-category="Gender_Men" data-tracking-banner="fb:4;fc:Category;fg:Men;ft:Shoes;fd:20181114;fl:Coupe;fe:Btn">
               <picture class="pict img-fill-width lazyload">
                  <source media="(max-width: 800px)" data-srcset="{{ 'Gender-Coupe-Man-mob2.jpg' | asset_url }}" srcset="{{ 'Gender-Coupe-Man-mob2.jpg' | asset_url }}">
                  <source media="(min-width: 801px)" data-srcset="{{ 'Coupe_Man2.jpg' | asset_url }}" srcset="{{ 'Coupe_Man2.jpg' | asset_url }}">
                  <img class="img-fill-width js-lazyload lazyload lazyloaded" data-src="{{ 'Coupe_Man2.jpg' | asset_url }}" alt="Shoes" width="100%" height="auto" src="{{ 'Coupe_Man2.jpg' | asset_url }}" data-was-processed="true">
               </picture>
               <div class="coupe-text-wrapper l-overlay cell-mt-12 offset-mt-2 text-black">
                  <h3 class="fs--medium text-grey">
                     All the collection
                  </h3>
                  <h2 class="title--medium text-black l-vmargin--small">
                     Shoes
                  </h2>
                  <button class="btn-cta no-tab no-mob ${btnClass} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
            <a class="l-relative coupe-item l-vmargin--xlarge cell-5 js-tracking-data cell-mt-23" href="https://www.lacoste.com/gb/lacoste/men/leather-goods/" data-tracking-category="Gender_Men" data-tracking-banner="fb:4;fc:Category;fg:Men;ft:LeatherGoods;fd:20181114;fl:Coupe;fe:Btn">
               <picture class="pict img-fill-width lazyload">
                  <source media="(max-width: 800px)" data-srcset="{{ 'Gender-Coupe-Man-mob3.jpg' | asset_url }}" srcset="{{ 'Gender-Coupe-Man-mob3.jpg' | asset_url }}">
                  <source media="(min-width: 801px)" data-srcset="{{ 'Coupe_Man3.jpg' | asset_url }}" srcset="{{ 'Coupe_Man3.jpg' | asset_url }}">
                  <img class="img-fill-width js-lazyload lazyload lazyloaded" data-src="{{ 'Coupe_Man3.jpg' | asset_url }}" alt="Leather Goods" width="100%" height="auto" src="{{ 'Coupe_Man3.jpg' | asset_url }}" data-was-processed="true">
               </picture>
               <div class="coupe-text-wrapper l-overlay cell-mt-12 offset-mt-2 text-black">
                  <h3 class="fs--medium text-grey">
                     All the collection
                  </h3>
                  <h2 class="title--medium text-black l-vmargin--small">
                     Leather Goods
                  </h2>
                  <button class="btn-cta no-tab no-mob ${btnClass} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
            <a class="l-relative coupe-item l-vmargin--xlarge cell-5 js-tracking-data cell-mt-23" href="https://www.lacoste.com/gb/lacoste/men/accessories/" data-tracking-category="Gender_Men" data-tracking-banner="fb:4;fc:Category;fg:Men;ft:Accessories;fd:20181114;fl:Coupe;fe:Btn">
               <picture class="pict img-fill-width lazyload">
                  <source media="(max-width: 800px)" data-srcset="{{ 'Gender-Coupe-Man-mob4.jpg' | asset_url }}" srcset="{{ 'Gender-Coupe-Man-mob4.jpg' | asset_url }}g">
                  <source media="(min-width: 801px)" data-srcset="{{ 'Coupe_Man4.jpg' | asset_url }}" srcset="{{ 'Coupe_Man4.jpg' | asset_url }}">
                  <img class="img-fill-width js-lazyload lazyload lazyloaded" data-src="{{ 'Coupe_Man4.jpg' | asset_url }}" alt="Accessories" width="100%" height="auto" src="{{ 'Coupe_Man4.jpg' | asset_url }}" data-was-processed="true">
               </picture>
               <div class="coupe-text-wrapper l-overlay cell-mt-12 offset-mt-2 text-black">
                  <h3 class="fs--medium text-grey">
                     All the collection
                  </h3>
                  <h2 class="title--medium text-black l-vmargin--small">
                     Accessories
                  </h2>
                  <button class="btn-cta no-tab no-mob ${btnClass} btn--icon">
                     <svg role="presentation" class="icon-svg ">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                     </svg>
                  </button>
               </div>
            </a>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="gender-men-lift">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="swiper-wrapper l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="swiper-slide cell-m-20 cell-7 cell-mt-20 offset-1 swiper-slide-active">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'Strate-Lift-2-Desk_mini.jpg' | asset_url }}" srcset="{{ 'Strate-Lift-2-Desk_mini.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'Strate-Lift-2-Desk_mini.jpg' | asset_url }}" alt="null" width="100%" height="auto" src="{{ 'Strate-Lift-2-Desk_mini.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           Create your polo
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Your croc, colours and initials
                        </h3>
                        <a class="btn-cta js-tracking-data btn--icon js-tracking-data" href="https://www.lacoste.com/gb/customise-your-polo.html" data-tracking-category="Gender_Men" data-tracking-banner="fb:5;fc:Content;fg:Men;ft:PoloCustoFW18;fd:20181114;fl:Lift;fe:Btn">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="swiper-slide cell-m-20 cell-7 cell-mt-20 offset-1 swiper-slide-next">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'Strate-Lift-3-Desk_mini.jpg' | asset_url }}" srcset="{{ 'Strate-Lift-3-Desk_mini.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'Strate-Lift-3-Desk_mini.jpg' | asset_url }}" alt="null" width="100%" height="auto" src="{{ 'Strate-Lift-3-Desk_mini.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           Winter Selection
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Styles to beat the chill
                        </h3>
                        <a class="btn-cta js-tracking-data btn--icon js-tracking-data" href="https://www.lacoste.com/gb/winter-selection-men/" data-tracking-category="Gender_Men" data-tracking-banner="fb:5;fc:Category;fg:Men;ft:WinterSelectionFW18;fd:20181114;fl:Lift;fe:Btn">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
                  <div class="swiper-slide cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block lazyload">
                        <source media="(min-width: 801px)" data-srcset="{{ 'Strate-Lift-4-Desk_mini.jpg' | asset_url }}" srcset="{{ 'Strate-Lift-4-Desk_mini.jpg' | asset_url }}">
                        <img class="img-fill-width l-block js-lazyload lazyload lazyloaded" data-src="{{ 'Strate-Lift-4-Desk_mini.jpg' | asset_url }}" alt="null" width="100%" height="auto" src="{{ 'Strate-Lift-4-Desk_mini.jpg' | asset_url }}" data-was-processed="true">
                     </picture>
                     <div class="lift-content text-black">
                        <h2 class="title--medium l-vmargin--large">
                           Lacoste Fragrances
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Fall-Winter Collection
                        </h3>
                        <a class="btn-cta js-tracking-data btn--icon js-tracking-data" href="https://www.lacoste.com/gb/lacoste/men/accessories/fragrance/" data-tracking-category="Gender_Men" data-tracking-banner="fb:5;fc:Category;fg:Men;ft:FragrancesFW18;fd:20181114;fl:Lift;fe:Btn">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </a>
                     </div>
                  </div>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="mcontent-products l-vmargin-row-and-half" id="gender-men-product-list">
         <h2 class="ff-bold title--medium l-vmargin--large text-black no-mob padding-1 ">
            New Collection Spring-Summer 2019
         </h2>
         <section class="js-product-list is-revealed" data-cid="Hidden_Preview_Men" data-first-page="9" data-first-page-mobile="12" data-disable-content="true" data-disable-filters="true" data-disable-pagination="true" data-source="default">
            <div data-reactroot="">
               <div class="l-relative">
                  <ul class="grid">
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="37CMA0008-4C1">
                           <a href="https://www.lacoste.com/gb/lacoste/men/shoes/trainers/men%27s-chaymon-embossed-leather-trainers/37CMA0008.html?color=4C1">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ '37CMA0008_4C1_01.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="{{ '37CMA0008_4C1_01.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <div class="ff-normal fs--small text-white"><span class="item-flag l-hmargin--small l-vmargin--xsmall">New Arrival</span></div>
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/shoes/trainers/men%27s-chaymon-embossed-leather-trainers/37CMA0008.html?color=4C1" class="js-product-name product-box-link">Men's Chaymon Embossed Leather Trainers</a></div>
                                    <div class="flex flex--align-center ff-normal fs--medium">
                                       <ul class="product-box-swatches"></ul>
                                       <span>+ 2 colors</span>
                                    </div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="90" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£90.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="AH3366-00-D8S">
                           <a href="https://www.lacoste.com/gb/lacoste/men/clothing/knitwear/men%27s-crew-neck-cotton-and-cashmere-sweater/AH3366-00.html?color=D8S">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ 'AH3366_D8S_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="{{ 'AH3366_D8S_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <div class="ff-normal fs--small text-white"><span class="item-flag l-hmargin--small l-vmargin--xsmall">New Arrival</span></div>
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/clothing/knitwear/men%27s-crew-neck-cotton-and-cashmere-sweater/AH3366-00.html?color=D8S" class="js-product-name product-box-link">Men's Crew Neck Cotton And Cashmere Sweater</a></div>
                                    <div class="flex flex--align-center ff-normal fs--medium">
                                       <ul class="product-box-swatches"></ul>
                                       <span>+ 1 color</span>
                                    </div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="150" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£150.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="SH3517-00-Y5J">
                           <a href="https://www.lacoste.com/gb/lacoste/men/clothing/sweatshirts/men%27s-lacoste-sport-contrast-panels-hooded-fleece-zip-sweatshirt/SH3517-00.html?color=Y5J">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ 'SH3517_Y5J_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="{{ 'SH3517_Y5J_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <div class="ff-normal fs--small text-white"><span class="item-flag l-hmargin--small l-vmargin--xsmall">New Arrival</span></div>
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/clothing/sweatshirts/men%27s-lacoste-sport-contrast-panels-hooded-fleece-zip-sweatshirt/SH3517-00.html?color=Y5J" class="js-product-name product-box-link">Men's Lacoste SPORT Contrast Panels Hooded Fleece Zip Sweatshirt</a></div>
                                    <div class="flex flex--align-center ff-normal fs--medium">
                                       <ul class="product-box-swatches"></ul>
                                       <span>+ 1 color</span>
                                    </div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="110" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£110.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="SH3532-00-9VL">
                           <a href="https://www.lacoste.com/gb/lacoste/men/clothing/sweatshirts/men%27s-lacoste-sport-hooded-colourblock-two-ply-fleece-zip-sweatshirt/SH3532-00.html?color=9VL">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ 'SH3532_9VL_20.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="{{ 'SH3532_9VL_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <div class="ff-normal fs--small text-white"><span class="item-flag l-hmargin--small l-vmargin--xsmall">New Arrival</span></div>
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/clothing/sweatshirts/men%27s-lacoste-sport-hooded-colourblock-two-ply-fleece-zip-sweatshirt/SH3532-00.html?color=9VL" class="js-product-name product-box-link">Men's Lacoste SPORT Hooded Colourblock Two-Ply Fleece Zip Sweatshirt</a></div>
                                    <div class="flex flex--align-center ff-normal fs--medium">
                                       <ul class="product-box-swatches"></ul>
                                       <span>+ 1 color</span>
                                    </div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="140" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£140.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="RK3862-00-8VJ">
                           <a href="https://www.lacoste.com/gb/lacoste/men/accessories/caps-hats/men%27s-lacoste-live-mesh-panels-iridescent-cap/RK3862-00.html?color=8VJ">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ 'RK3862_8VJ_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="https:{{ 'RK3862_8VJ_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <div class="ff-normal fs--small text-white"><span class="item-flag l-hmargin--small l-vmargin--xsmall">New Arrival</span></div>
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/accessories/caps-hats/men%27s-lacoste-live-mesh-panels-iridescent-cap/RK3862-00.html?color=8VJ" class="js-product-name product-box-link">Men's Lacoste LIVE Mesh Panels Iridescent Cap</a></div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="40" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£40.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="SH4371-00-89Q">
                           <a href="https://www.lacoste.com/gb/lacoste/men/clothing/sweatshirts/men%27s-crew-neck-colourblock-pique-fleece-sweatshirt/SH4371-00.html?color=89Q">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ 'SH4371_89Q_20.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="{{ 'SH4371_89Q_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <div class="ff-normal fs--small text-white"><span class="item-flag l-hmargin--small l-vmargin--xsmall">New Arrival</span></div>
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/clothing/sweatshirts/men%27s-crew-neck-colourblock-pique-fleece-sweatshirt/SH4371-00.html?color=89Q" class="js-product-name product-box-link">Men's Crew Neck Colourblock Piqué Fleece Sweatshirt</a></div>
                                    <div class="flex flex--align-center ff-normal fs--medium">
                                       <ul class="product-box-swatches"></ul>
                                       <span>+ 2 colors</span>
                                    </div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="130" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£130.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="SH3781-00-HA7">
                           <a href="https://www.lacoste.com/gb/lacoste/men/clothing/sweatshirts/men%27s-lacoste-live-crew-neck-paisley-print-fleece-sweatshirt/SH3781-00.html?color=HA7">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ 'SH3781_HA7_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="{{ 'SH3781_HA7_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <div class="ff-normal fs--small text-white"><span class="item-flag l-hmargin--small l-vmargin--xsmall">New Arrival</span></div>
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/clothing/sweatshirts/men%27s-lacoste-live-crew-neck-paisley-print-fleece-sweatshirt/SH3781-00.html?color=HA7" class="js-product-name product-box-link">Men's Lacoste LIVE Crew Neck Paisley Print Fleece Sweatshirt</a></div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="115" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£115.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="37CMA0018-312">
                           <a href="https://www.lacoste.com/gb/lacoste/men/shoes/flip-flops-summer-shoes/men%27s-croco-slide-rubber-slides/37CMA0018.html?color=312">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ '37CMA0018_312_01.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="{{ '37CMA0018_312_01.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <div class="ff-normal fs--small text-white"><span class="item-flag l-hmargin--small l-vmargin--xsmall">New Arrival</span></div>
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/shoes/flip-flops-summer-shoes/men%27s-croco-slide-rubber-slides/37CMA0018.html?color=312" class="js-product-name product-box-link">Men's Croco Slide Rubber Slides</a></div>
                                    <div class="flex flex--align-center ff-normal fs--medium">
                                       <ul class="product-box-swatches"></ul>
                                       <span>+ 2 colors</span>
                                    </div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="25" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£25.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="cell-7 cell-m-11 offset-1 l-vmargin-row-1">
                        <div class="product-box" data-pid="PH4014-00-AEE">
                           <a href="https://www.lacoste.com/gb/lacoste/men/clothing/polos/short-sleeves/men%27s-slim-fit-lacoste-polo-shirt-in-stretch-petit-pique/PH4014-00.html?color=AEE">
                              <div class="product-box-image-wrapper is-loaded"><img class="product-box-image" src="{{ 'PH4014_AEE_20.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"><img class="product-box-image product-box-image-hover" src="{{ 'PH4014_AEE_24.jpg' | asset_url }}?sw=460&amp;sh=460&amp;sm=fit" width="100%" height="auto"></div>
                           </a>
                           <div class="js-product-datas">
                              <!-- react-empty: 201 -->
                              <div class="product-box-infos">
                                 <div class="flex--grow">
                                    <div class="ff-normal fs--medium"><a href="https://www.lacoste.com/gb/lacoste/men/clothing/polos/short-sleeves/men%27s-slim-fit-lacoste-polo-shirt-in-stretch-petit-pique/PH4014-00.html?color=AEE" class="js-product-name product-box-link">Men's Slim fit Lacoste Polo Shirt in stretch petit piqué</a></div>
                                    <div class="flex flex--align-center ff-normal fs--medium">
                                       <ul class="product-box-swatches"></ul>
                                       <span>+ 8 colors</span>
                                    </div>
                                 </div>
                                 <div class="product-box-price-wrapper">
                                    <div data-uprice="90" data-currency-code="GBP" class="ff-bold fs--medium">
                                       <div>
                                          <div class="nowrap js-product-price" title="Sale Price">£90.00</div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </li>
                     <li class="offset-1 cell-7 cell-m-11"></li>
                  </ul>
               </div>
            </div>
         </section>
         <div class="btn-container tac">
            <a class="btn-cta text-white fs--medium ff-bold" href="https://www.lacoste.com/gb/preview-spring-summer-collection/men/">
            Shop now
            </a>
         </div>
         <script type="text/javascript">
            $(document).ready(function(){
            Lacoste.productList.init();
            Lacoste.tracking.plp.init();
            });
         </script>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="men">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>