<section class="js-promotions-section js-modular-section page-section modular-section bg-white">
  <div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small">
    {% section 'polo-header-settings' %}
  </div>
  <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-polo-shop-story-1">
	{% section 'polo-layer-story-settings' %}
  </div>
  <div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-slider-tiles-1">
    {% section 'polo-layer-slide' %}
  </div>
  {%- comment -%}
  <div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-polo-shop-push-1" data-layer="layer_push_tiles">
  	{% section 'polo-layer-push-tiles-settings' %}
  </div>
  {%- endcomment -%}
  {% section 'polo-layer-slider-tiles-settings' %}
  {%- comment -%}
  {% section 'polo-layer-push-tiles2-settings' %}
  <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-polo-shop-story-2" data-layer="layer_story">
    <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-id="lacoste-polo-shop-story-2-component-1" data-theme="text-black">
      <div class="cell-14 order-1 order-m-0 offset-1 cell-m-25 offset-m-0">
        <div class="l-block l-relative l-ratio--4-3 " data-tracking="">
          <div id="static-player-81ee7ce2cd4981cb83401c8600" class="js-static-video-wrapper static-video-wrapper is-muted l-overflow-hidden is-background l-ratio--4-3 bg-white is-loaded is-paused is-ready" data-src-desktop="{{ 'lacoste-polo-shop-story-2-component-1-desktop-videov2.mp4' | file_url }}" data-src-mobile="null" data-type="video/mp4" data-autoplay="true" data-background="true" data-staticvideo="59713596-7cd0-40e0-862d-9546979c4634">
            <video playsinline="true" muted="true" class="js-static-video static-video l-block l-overlay" width="100%" height="auto" loop="&quot;true&quot;" autoplay="&quot;autoplay&quot;">
              <source data-mobile="{{ 'lacoste-polo-shop-story-2-component-1-desktop-videov2.mp4' | file_url }}" data-desktop="{{ 'lacoste-polo-shop-story-2-component-1-desktop-videov2.mp4' | file_url }}" type="video/mp4">
            </video>
            <div class="js-video-controls static-video-controls text-white flex flex--space-between flex--align-center">
              <!---->
              <button class="static-video-btn btn-play">
                <svg role="presentation" aria-hidden="true" class="icon-svg icon-play">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                </svg>
                <!---->
              </button>
              <!---->
            </div>
            <div class="js-video-poster l-overlay poster">
              <div class="js-lazyload-wrapper with-placeholder l-block lazyload">
                <picture class="pict img-cover img-cover--top l-block lazyload">
                  <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                  <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '640x' }} 640w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '767x' }} 767w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '914x' }} 914w,{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 594px,(min-width: 1025px) and (max-width: 1190px) 640px,(min-width: 1191px) and (max-width: 1366px) 767px,(min-width: 1367px) and (max-width: 1680px) 914px,1024px">
                  <img alt="lacoste-polo-shop-story-2-component-1" width="100%" height="auto" data-src="{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url }}" class="img-cover img-cover--top l-block js-lazyload lazyload">
                </picture>
                <noscript>
                  <img class="noscript-content" src="{{ 'lacoste-polo-shop-story-2-component-1-desktop-image.jpg' | file_img_url }}" alt="lacoste-polo-shop-story-2-component-1" width="auto" height="auto" />
                </noscript>
                <div class="lqip l-ratio--[object Object] pointer-none"></div>
              </div>
              <div class="btn-big-play l-overlay flex flex--justify-center flex--align-center text-white">
                <svg role="presentation" class="icon-svg ">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play-pause"></use>
                </svg>
              </div>
            </div>
            <div class="static-video-loader l-overlay flex flex--justify-center flex--align-center">
              <svg class="loader-icon">
                <circle class="loader-circle" cx="50" cy="50" r="20" fill="none" stroke-width="5" stroke-miterlimit="10"></circle>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-8 padding-1 offset-2 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
        <div>
          <div class="l-vmargin--large">
            <h2 class=" title--xlarge text-black">
              Personalise your polo
            </h2>
            <div class="text-grey  fs--medium">
              <div>
                <p>Colours, crocodile, initials...personalise your polo.</p>
              </div>
            </div>
          </div>
<!--           <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal" href="/gb/customise-your-polo.html" data-type="content" data-tag-id="promotions.onPromoClick">
            Create your own
          </a> -->
        </div>
      </div>
    </div>
  </div>
  {%- endcomment -%}
  {% section 'polo-slider-block-settings' %}
</section>