<div class="lacoste-container-fluid brand-protection-container">
   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-12">
        <div class="lacoste-col-inner-wrap lacoste-col-desc-wrap">
         <div class="lacoste-col-desc">
         	<div class="lacoste-col-desc-inner">           
            	<h2>Lacoste, an authentic and protected brand</h2>
            	<p>Discover how Lacoste fights against counterfeit products</p>
         	</div>
         </div>
         <img src="{{'starterDesktop.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
         <img src="{{'StarterMobile.jpg' | asset_url}}" alt="" class="lacoste-mobile-show">
        </div>
      </div>
   </div>

   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-6">
         <div class="lacoste-col-inner authenticity mobile-sort-order">
             <div class="lacoste-col-content">
              <h2>Lacoste, authenticity since 1933</h2>
              <p>The heritage of Lacoste is that of René Lacoste, legendary champion of French tennis who created the polo, the famous shirt in petit piqué that revolutionised the world of sport and fashion. He founded the brand that today is synonymous with elegance and also with savoir-faire, innovation and authenticity.</p>
              <br>
              <br>
             </div>
            <img src="{{'visualStory2.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
           <div><img src="{{'visualStoryMobile2.jpg' | asset_url}}" alt="" class="lacoste-mobile-show mobile-order-top"></div>
         </div>
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6">
         <div class="lacoste-col-inner-wrap">
            <img src="{{'visualStory1.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
            <img src="{{'visualStoryMobile1.jpg' | asset_url}}" alt="" class="lacoste-mobile-show">
         </div>
      </div>
   </div>

   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-6">
         <img src="{{'storyDesktop_1.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
         <img src="{{'storyMobile_1.jpg' | asset_url}}" alt="" class="lacoste-mobile-show">
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner-wrap lacoste-col-text-wrap-middle">
         <div class="lacoste-col-text-middle">
              <div class="lacoste-col-text-inner-middle">
                 <h2>Protect Lacoste and its ecosystem</h2>
                <p>Since it was founded, Lacoste has been actively committed to protecting its brand. This is a tireless engagement with customers, employees, partners and suppliers. The commitment is laid out in the <a href="#">Code of Conduct</a> and in Lacoste’s Ethics Charter, which the company’s suppliers agree to and sign to that effect.</p>
              </div>
           </div>
        </div>
      </div>
   </div>

   <div class="lacoste-row mobile-sort-order">
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner-wrap lacoste-col-text-wrap-middle">
         	<div class="lacoste-col-text-middle">
              	<div class="lacoste-col-text-inner-middle">        
                 <h2>Watch out for fake products</h2>
                 <p>As a premium brand known to all, Lacoste is often the target of counterfeiting. To fight against this scourge, a dedicated Lacoste team works every day to stop the production and sale of fake Lacoste products. This team works hands in hand with public authorities across the world.</p>
                 <p>Despite being illegal, the sale of fake Lacoste products can take place anywhere: on the street, in shops or online. To spot them, be attentive to terms such as "cheap Lacoste", "Lacoste replica", "fake Lacoste", “Lacoste copy”, “Lacoste dupe”, "real Lacoste". Beware, counterfeiters are present on social networks, market places and other online platforms.</p>
				</div>
           	</div>
        </div>
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6 mobile-order-top">
         <img src="{{'storyDesktop_2.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
         <img src="{{'storyMobile_2.jpg' | asset_url}}" alt="" class="lacoste-mobile-show">
      </div>
   </div>

   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-special-col-inner special-left">
          <a href="https://www.inta.org/about/unreal-campaign/"><img src="{{'pushLandscape_1_black.jpg' | asset_url}}" alt=""></a>
          <h3><a href="https://www.inta.org/about/unreal-campaign/">Lacoste, member of the INTA</a></h3>
         <p>Because in unity there is strength, Lacoste is a member of the INTA (International Trademark Association), the world’s largest brand owner association, whose mission is to support trademarks and related intellectual property.</p>
         <p><a href="https://www.inta.org/about/unreal-campaign/">Discover INTA and its UnReal campaign.</a></p>
        </div>
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-special-col-inner special-right">
          <a href="https://iccwbo.org/global-issues-trends/innovation-ip/"><img src="{{'pushLandscape_2_black.jpg' | asset_url}}" alt=""></a>
          <h3><a href="https://iccwbo.org/global-issues-trends/innovation-ip/">Lacoste, member of ICC/BASCAP</a></h3>
         <p>Lacoste has also joined BASCAP (Business Action to Stop Counterfeiting and Piracy), an initiative of the International Chamber of Commerce (ICC) with the mission to actively fight against counterfeiting.</p>
         <p><a href="https://iccwbo.org/global-issues-trends/innovation-ip/">Discover BASCAP.</a></p>
        </div>
      </div>
   </div>

   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-6">
         <img src="{{'storyDesktop_3.jpg' | asset_url}}" alt="" class="lacoste-desktop-show">
         <img src="{{'storyMobile_3.jpg' | asset_url}}" alt="" class="lacoste-mobile-show">
      </div>
      <div class="lacoste-col-12 lacoste-col-sm-6">
        <div class="lacoste-col-inner-wrap lacoste-col-text-wrap-middle">
         <div class="lacoste-col-text-middle">
              <div class="lacoste-col-text-inner-middle">        
                 <h2>Guaranteed authenticity</h2>
                 <p>In order to guarantee authenticity, quality and service, Lacoste distributes its products through a global network of approved retailers. Find a store close to you by clicking below.</p>
                <br> 
                <a class="btn-cta l-hmargin--large pointer-auto fs--medium ff-normal btn--dark" href="/pages/find-store">Find your store</a>
           		</div>
          </div>
        </div>
      </div>
   </div>

   <div class="lacoste-row">
      <div class="lacoste-col-12 lacoste-col-sm-12">
        <div class="lacoste-col-inner-wrap lacoste-col-bg-black">
           <div class="lacoste-col-bg-black-inner">  
               <h2>Contact Lacoste</h2>
               <p>If a product seems suspicious to you because of its appearance, quality, price or source, you can report it here by selecting "brand protection". Please provide the purchase details (date, place, etc.) and if possible photos of the location and the product. The information provided will be treated with full confidentiality. Lacoste thanks you for your contribution to the protection of its brand.</p>
               <br>  
               <a class="btn-cta l-hmargin--large pointer-auto fs--medium ff-normal btn--white" href="/pages/contact-us">Contact us</a>
           </div>
        </div>
      </div>
   </div>
</div>