<div class="clearfix row modular-content" style="background-color: #111111;" id="lacoste-sneaker-guide-women-creatif">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates" data-tracking-page-category="brand" data-tracking-page-banner="Sneaker_Guide_Women_Creatif">
      <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="lacoste-sneaker-guide-women-nav">
         <div class="banner-nav-bg">
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{'header-mobile.png' | asset_url}}">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-nav.jpg' | asset_url}}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{'lacoste-sneaker-guide-women-nav.jpg' | asset_url}}" alt="Welcome" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{'header-mobile.png' | asset_url}}">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-minimal-nav.jpg' | asset_url}}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{'lacoste-sneaker-guide-women-minimal-nav.jpg' | asset_url}}" alt="Minimal" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{'header-mobile.png' | asset_url}}">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-casual-nav.jpg' | asset_url}}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{'lacoste-sneaker-guide-women-casual-nav.jpg' | asset_url}}" alt="Casual" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{'header-mobile.png' | asset_url}}">
               <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-creatif-nav.jpg' | asset_url}}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width is-active" src="{{'lacoste-sneaker-guide-women-creatif-nav.jpg' | asset_url}}" alt="Creative" width="100%" height="auto">
            </picture>
         </div>
         <div class="l-relative text-white">
            <div class="l-relative flex flex--col flex--centered text-center">
               <h2 class="banner-nav-title title--xlarge ff-bold l-vmargin--large">
                  Which Lacoste trainers are yours?
               </h2>
               <h3 class="banner-nav-subtitle cell-13 cell-m-19 fs--medium l-margin-text">
                  A foolproof style guide to choose your perfect sneakers.
               </h3>
            </div>
            <div class="js-banner-nav banner-nav">
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/sneaker-guide-women">
               <img class="banner-nav-icon" src="{{'croco.svg' | asset_url}}" alt="Welcome">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'croco.svg' | asset_url}}" alt="Welcome">
               <span>
               Welcome
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/sneaker-guide-minimal-women">
               <img class="banner-nav-icon" src="{{'master.svg' | asset_url}}" alt="Minimal">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'master.svg' | asset_url}}" alt="Minimal">
               <span>
               Minimal
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/sneaker-guide-casual-women">
               <img class="banner-nav-icon" src="{{'sideline.svg' | asset_url}}" alt="Casual">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'sideline.svg' | asset_url}}" alt="Casual">
               <span>
               Casual
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small  is-active" href="/pages/sneaker-guide-creative-women">
               <img class="banner-nav-icon" src="{{'creative.svg' | asset_url}}" alt="Creative">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'creative.svg' | asset_url}}" alt="Creative">
               <span>
               Creative
               </span>
               </a>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-women-creatif-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               You are creative...
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               ...always ahead of the trends. Inspired and creative, you dare to mix styles because you have mastered your own. A total look or a daring get-up, your silhouette is always right. Your next firm favourite sneakers: La Piquée
               <style>.fs--medium.l-no-margin.text-grey{color:#c8c8c8;} .ff-bold.title--medium.l-vmargin--large.text-black{color:#ffffff;} #lacoste-sneaker-guide-women-creatif-title-1{margin-bottom:20px} #lacoste-sneaker-guide-women-creatif-title-2{margin-bottom:20px} #lacoste-sneaker-guide-women-creatif-title-3{margin-bottom:20px}</style>
            </p>
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="lacoste-sneaker-guide-women-creatif-chelem">
         <div class="cell-11 offset-1 no-tab no-mob ">
            <a href="https://lacoste.com.ph/collections/womens-shoes/products/womens-la-piquee-textile-sneakers-737cfa0016">
               <picture class="pict l-vmargin--xsmall img-fill-width">
                  <source media="(min-width: 801px)" srcset="{{'SS19_FTW_REGIONAL_WOMEN_LA_PIQUEE_119_1_BLK_WHT_1.jpg' | asset_url}}">
                  <img class="l-vmargin--xsmall img-fill-width" src="{{'SS19_FTW_REGIONAL_WOMEN_LA_PIQUEE_119_1_BLK_WHT_1.jpg' | asset_url}}" alt="<p><span style=&quot;color:#ffffff;&quot;>La Carnaby Evo, the signature sneakers</span></p>" width="100%" height="auto">
               </picture>
            </a>
         </div>
         <div class="offset-2 offset-mt-1 cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <a href="https://lacoste.com.ph/collections/womens-shoes/products/womens-la-piquee-textile-sneakers-737cfa0016">
               <picture class="pict l-vmargin--xsmall img-fill-width">
                  <source media="(min-width: 801px)" srcset="{{'37CFA0016_407_10.jpg' | asset_url}}">
                  <img class="l-vmargin--xsmall img-fill-width" src="{{'37CFA0016_407_10.jpg' | asset_url}}" alt="<p><span style=&quot;color:#ffffff;&quot;>La Carnaby Evo, the signature sneakers</span></p>" width="100%" height="auto">
               </picture>
            </a>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
                  <p><span style="color:#ffffff;">La Piquée, the modern classic</span></p>
               </h2>
               <p class="fs--medium text-grey l-vmargin--medium col-pr-2-10 col-mob-pr-0">
                  La Piquée, a modern reimagining of a classic court silhouette, presented in a seamless, fully engineered piqué knit for the perfect fit.
               </p>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-women-creatif-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               <p><span style="color:#ffffff;">Creative inspiration : from feet to head</span></p>
            </h2>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-sneaker-guide-women-creatif-lift">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);" data-flickity='{ "wrapAround": false, "contain": true, "initialIndex": 1, "prevNextButtons": true, "pageDots": false, "imagesLoaded": true }'>
                  <a href="https://lacoste.com.ph/collections/womens-shoes/products/womens-la-piquee-textile-sneakers-737cfa0016" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-creatif-lift-1.jpg' | asset_url}}">
                        <img class="img-fill-width l-block" src="{{'lacoste-sneaker-guide-women-creatif-lift-1.jpg' | asset_url}}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           A smart partnership
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Dress and cotton sneakers: the right combination.
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/womens-shoes/products/womens-carnaby-evo-leather-trainers-737sfa0013" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-women-creatif-lift-2.jpg' | asset_url}}">
                        <img class="img-fill-width l-block" src="{{'lacoste-sneaker-guide-women-creatif-lift-2.jpg' | asset_url}}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Your signature
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           An all-denim look with white sneakers.<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-women-creatif-title-3">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               <p><span style="color:#ffffff;">Creative inspiration: the other models</span></p>
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               If you haven’t found your pair yet, carry on looking here.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-players l-vmargin-row-and-half" id="lacoste-sneaker-guide-women-creatif-players">
         <div class="l-relative">
            <div class="swiper-container-players swiper-container-horizontal swiper-container-free-mode">
               <div class="swiper-wrapper l-vmargin--large" style="display: block;">
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-1">
                     <a class="" href="https://lacoste.com.ph/collections/women-shoes/products/womens-l1212-keith-haring-leather-trainers-737cfa0068">
                        <div class="l-relative l-vmargin--medium">
                           <picture class="pict img-fill-width">
                              <source media="(min-width: 801px)" srcset="{{'w_c_slider1.jpg' | asset_url}}">
                              <img class="img-fill-width" src="{{'w_c_slider1.jpg' | asset_url}}" alt="<p><span style=&quot;color:#ffffff;&quot;>Printed leather Keith Haring collaboration Missouri Sneakers, £125.00</span></p>" width="100%" height="auto">
                           </picture>
                        </div>
                        <div class="flex flex--space-between flex-m--col">
                           <h3 class="fs--medium l-m-no-margin">
                              <p><span style="color:#ffffff;">Women's L.12.12 Keith Haring Leather Trainers, ₱7,650.00</span></p>
                           </h3>
                           <button class="btn-cta  btn--icon">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                              </svg>
                           </button>
                        </div>
                     </a>
                  </div>
                 <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-1">
                     <a class="" href="https://lacoste.com.ph/collections/womens-shoes/products/womens-lt-fit-textile-sneakers-737sfa0038">
                        <div class="l-relative l-vmargin--medium">
                           <picture class="pict img-fill-width">
                              <source media="(min-width: 801px)" srcset="{{'women-creative-slider.jpg' | asset_url}}">
                              <img class="img-fill-width" src="{{'women-creative-slider.jpg' | asset_url}}" alt="<p><span style=&quot;color:#ffffff;&quot;>Printed leather Keith Haring collaboration Missouri Sneakers, £125.00</span></p>" width="100%" height="auto">
                           </picture>
                        </div>
                        <div class="flex flex--space-between flex-m--col">
                           <h3 class="fs--medium l-m-no-margin">
                              <p><span style="color:#ffffff;">Women's Lt Fit Textile Sneakers, ₱5,650.00</span></p>
                           </h3>
                           <button class="btn-cta  btn--icon">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                              </svg>
                           </button>
                        </div>
                     </a>
                  </div> 
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-1">
                     <a class="" href="https://lacoste.com.ph/collections/women-shoes/products/womens-l1212-disney-mickey-print-trainers-736caw0060">
                        <div class="l-relative l-vmargin--medium">
                           <picture class="pict img-fill-width">
                              <source media="(min-width: 801px)" srcset="{{'women-creative-slider2.jpg' | asset_url}}">
                              <img class="img-fill-width" src="{{'women-creative-slider2.jpg' | asset_url}}" alt="<p><span style=&quot;color:#ffffff;&quot;>Printed leather Keith Haring collaboration Missouri Sneakers, £125.00</span></p>" width="100%" height="auto">
                           </picture>
                        </div>
                        <div class="flex flex--space-between flex-m--col">
                           <h3 class="fs--medium l-m-no-margin">
                              <p><span style="color:#ffffff;">Women's L.12.12 Disney Mickey Print Trainers, ₱7,650.00</span></p>
                           </h3>
                           <button class="btn-cta  btn--icon">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                              </svg>
                           </button>
                        </div>
                     </a>
                  </div> 
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-1">
                     <a class="" href="https://lacoste.com.ph/products/women-s-lt-fit-textile-trainers-735spw0038">
                        <div class="l-relative l-vmargin--medium">
                           <picture class="pict img-fill-width">
                              <source media="(min-width: 801px)" srcset="{{'women-creative-slider3.jpg' | asset_url}}">
                              <img class="img-fill-width" src="{{'women-creative-slider3.jpg' | asset_url}}" alt="<p><span style=&quot;color:#ffffff;&quot;>Printed leather Keith Haring collaboration Missouri Sneakers, £125.00</span></p>" width="100%" height="auto">
                           </picture>
                        </div>
                        <div class="flex flex--space-between flex-m--col">
                           <h3 class="fs--medium l-m-no-margin">
                              <p><span style="color:#ffffff;">Women’s LT Fit Textile Trainers, ₱5650.00</span></p>
                           </h3>
                           <button class="btn-cta  btn--icon">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                              </svg>
                           </button>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="l-vmargin--large"></div>
               <div class="swiper-pagination no-desk swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
<!--                <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true" style="top: 258px;"></button> -->
<!--                <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false" style="top: 258px;"></button> -->
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="lacoste-sneaker-guide-women-creatif">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>