<div class="clearfix row modular-content" style="background-color: #111111;" id="lacoste-sneaker-guide-men-creatif">
   <!-- LOADER -->
   <script type="text/javascript">
      var hasALoader = false;
   </script>
   <!-- STRATES -->
   <div class="mcontent-all-strates" data-tracking-page-category="brand" data-tracking-page-banner="Sneaker_Guide_Men_Creatif">
      <div class="js-mcontent-strate mcontent-strate l-vspaced-row-2" id="lacoste-sneaker-guide-men-nav">
         <div class="banner-nav-bg">
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{ 'header-mobile.png' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-sneaker-guide-men-nav.jpg' | asset_url }}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{ 'lacoste-sneaker-guide-men-nav.jpg' | asset_url }}" alt="Welcome" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{ 'header-mobile.png' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-sneaker-guide-men-minimal-nav.jpg' | asset_url }}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{ 'lacoste-sneaker-guide-men-minimal-nav.jpg' | asset_url }}" alt="Minimal" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{ 'header-mobile.png' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-sneaker-guide-men-casual-nav.jpg' | asset_url }}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width" src="{{ 'lacoste-sneaker-guide-men-casual-nav.jpg' | asset_url }}" alt="Casual" width="100%" height="auto">
            </picture>
            <picture class="pict banner-nav-bg-image img-fill-width">
               <source media="(max-width: 800px)" srcset="{{ 'header-mobile.png' | asset_url }}">
               <source media="(min-width: 801px)" srcset="{{ 'lacoste-sneaker-guide-men-creatif-nav.jpg' | asset_url }}">
               <img class="js-banner-nav-bg banner-nav-bg-image img-fill-width is-active" src="{{ 'lacoste-sneaker-guide-men-creatif-nav.jpg' | asset_url }}" alt="Creative" width="100%" height="auto">
            </picture>
         </div>
         <div class="l-relative text-white">
            <div class="l-relative flex flex--col flex--centered text-center">
               <h2 class="banner-nav-title title--xlarge ff-bold l-vmargin--large">
                  Which Lacoste trainers are yours?
               </h2>
               <h3 class="banner-nav-subtitle cell-13 cell-m-19 fs--medium l-margin-text">
                  A foolproof style guide to choose your perfect sneakers.
               </h3>
            </div>
            <div class="js-banner-nav banner-nav">
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/lacoste-sneaker-guide-men">
               <img class="banner-nav-icon" src="{{ 'croco.svg' | asset_url }}" alt="Welcome">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{ 'croco.svg' | asset_url }}" alt="Welcome">
               <span>
               Welcome
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/sneakers-guide-minimal">
               <img class="banner-nav-icon" src="{{ 'minimal.svg' | asset_url }}" alt="Minimal">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{ 'minimal.svg' | asset_url }}" alt="Minimal">
               <span>
               Minimal
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small " href="/pages/sneaker-guide-casual">
               <img class="banner-nav-icon" src="{{ 'master.svg' | asset_url }}" alt="Casual">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{ 'master.svg' | asset_url }}" alt="Casual">
               <span>
               Casual
               </span>
               </a>
               <a class="js-banner-nav-item banner-nav-item fs--small  is-active" href="/pages/sneaker-guide-creative-men">
               <img class="banner-nav-icon" src="{{'wildcard.svg' | asset_url }}" alt="Creative">
               <img class="banner-nav-icon banner-nav-icon--hover" src="{{'wildcard.svg' | asset_url }}" alt="Creative">
               <span>
               Creative
               </span>
               </a>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-men-creatif-title-1">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               You are creative...
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               ...always ahead of the trends. Inspired and creative, you find all good pieces before everyone else. A total look or a daring get-up, you have mastered the art of the perfect silhouette. Your next firm favourite: the WildCard.
               <style>.fs--medium.l-no-margin.text-grey{color:#c8c8c8;} .ff-bold.title--medium.l-vmargin--large.text-black{color:#ffffff;} #lacoste-sneaker-guide-men-creatif-title-1{margin-bottom:20px} #lacoste-sneaker-guide-men-creatif-title-2{margin-bottom:20px} #lacoste-sneaker-guide-men-creatif-title-3{margin-bottom:20px}</style>
            </p>
         </div>
      </div>
      <style>.mcontent-chelem .embed-container {display: block; width: 100%; position: relative;padding-bottom: 56.25%;height: 0; overflow: hidden;max-width: 100%; height: auto;} .mcontent-chelem .embed-container iframe, .mcontent-chelem .embed-container object, .mcontent-chelem .embed-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}</style>
      <div class="mcontent-chelem grid l-vmargin-row-and-half" id="lacoste-sneaker-guide-men-creatif-chelem">
         <div class="cell-11 offset-1 no-tab no-mob ">
            <a href="https://lacoste.com.ph/collections/shoes/products/mens-wildcard-leather-trainers-737sma0055">
               <picture class="pict l-vmargin--xsmall img-fill-width">
                  <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-men-creatif-chelem-1.jpg' | asset_url }}">
                  <img class="l-vmargin--xsmall img-fill-width" src="{{'lacoste-sneaker-guide-men-creatif-chelem-1.jpg' | asset_url }}" alt="<p><span style=&quot;color:#ffffff;&quot;>The WildCard, neo-retro and urban</span></p>" width="100%" height="auto">
               </picture>
            </a>
         </div>
         <div class="offset-2 offset-mt-1 cell-10 offset-1 cell-mt-23 offset-mt-1 content-text ">
            <a href="https://lacoste.com.ph/collections/shoes/products/mens-wildcard-leather-trainers-737sma0055">
               <picture class="pict l-vmargin--xsmall img-fill-width">
                  <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-men-creatif-chelem-2.jpg' | asset_url }}">
                  <img class="l-vmargin--xsmall img-fill-width" src="{{'lacoste-sneaker-guide-men-creatif-chelem-2.jpg' | asset_url }}" alt="<p><span style=&quot;color:#ffffff;&quot;>The WildCard, neo-retro and urban</span></p>" width="100%" height="auto">
               </picture>
            </a>
            <div class="text-details cell-m-21 offset-mt-1">
               <h2 class="title--medium text-black l-vmargin--medium">
                  <p><span style="color:#ffffff;">The WildCard, neo-retro and urban</span></p>
               </h2>
               <p class="fs--medium text-grey l-vmargin--medium col-pr-2-10 col-mob-pr-0">
                  Inspired by the LT 150 Court model, the Wildcard takes tennis heritage into the street. Echoing the 90s, it imposes your style with poise.
               </p>
            </div>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-men-creatif-title-2">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-no-margin text-black">
               <p><span style="color:#ffffff;">Creative inspiration: from feet to head</span></p>
            </h2>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-lift l-vmargin-row-and-half " id="lacoste-sneaker-guide-men-creatif-lift">
         <div class="lift-container">
            <div class="swiper-container-lift swiper-container-horizontal">
               <div class="sneakers-slider l-vmargin--large" style="transform: translate3d(0px, 0px, 0px);" data-flickity='{ "wrapAround": false, "contain": true, "initialIndex": 1, "prevNextButtons": true, "pageDots": false }'>
                  <a href="https://lacoste.com.ph/collections/shoes/products/mens-missouri-keith-haring-leather-trainers-737sma0054" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{'creative-keith-haring.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{'creative-keith-haring.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Dare to think outside the line
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Boost your energy with an urban piece, a tribute to the 80’s street art of Keith Haring.
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/shoes/products/mens-carnaby-evo-lightweight-leather-trainers-737sma0015" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-men-creatif-lift-2.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{'lacoste-sneaker-guide-men-creatif-lift-2.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Court side
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           Good socks make trainers beautiful.<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
                  <a href="https://lacoste.com.ph/collections/shoes/products/mens-carnaby-evo-leather-sneakers-737sma0013" class="cell-m-20 cell-7 cell-mt-20 offset-1">
                     <picture class="pict img-fill-width l-block">
                        <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-men-creatif-lift-3.jpg' | asset_url }}">
                        <img class="img-fill-width l-block" src="{{'lacoste-sneaker-guide-men-creatif-lift-3.jpg' | asset_url }}" alt="null" width="100%" height="auto">
                     </picture>
                     <div class="lift-content text-white">
                        <h2 class="title--medium l-vmargin--large">
                           Highly effective
                        </h2>
                        <h3 class="fs--medium l-no-margin l-vmargin--large">
                           The styled comfort of the athleisure look<br><br>
                        </h3>
                        <button class="btn-cta  btn--icon">
                           <svg role="presentation" class="icon-svg ">
                              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                           </svg>
                        </button>
                     </div>
                  </a>
               </div>
               <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets" style="display: none;"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" tabindex="0" role="button" aria-label="Go to slide 1"></span></div>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
            <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Next slide" aria-disabled="true"></button>
            <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob swiper-button-disabled" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true"></button>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-title l-vmargin-row-and-half grid " id="lacoste-sneaker-guide-men-creatif-title-3">
         <div class="offset-1 cell-10 offset-mt-1 cell-mt-21 text-start">
            <h2 class="ff-bold title--medium l-vmargin--large text-black">
               <p><span style="color:#ffffff;">Creative inspiration: the other models</span></p>
            </h2>
            <p class="fs--medium l-no-margin text-grey">
               If you haven’t found your pair yet, carry on looking here.
            </p>
         </div>
      </div>
      <div class="js-mcontent-strate mcontent-strate mcontent-players l-vmargin-row-and-half" id="lacoste-sneaker-guide-men-creatif-players">
         <div class="l-relative">
            <div class="swiper-container-players swiper-container-horizontal swiper-container-free-mode">
               <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); display: block;">
                  
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <a class="" href="https://lacoste.com.ph/collections/shoes/products/mens-partner-textile-trainers-737sma0044">
                        <div class="l-relative l-vmargin--medium">
                           <picture class="pict img-fill-width">
                              <source media="(min-width: 801px)" srcset="{{'m_creative_slider1.jpg' | asset_url }}">
                              <img class="img-fill-width" src="{{'m_creative_slider1.jpg' | asset_url }}" alt="<p><span style=&quot;color:#ffffff;&quot;>Printed leather Keith Haring collaboration Missouri Sneakers, £130.00</span></p>" width="100%" height="auto">
                           </picture>
                        </div>
                        <div class="flex flex--space-between flex-m--col">
                           <h3 class="fs--medium l-m-no-margin">
                              <p><span style="color:#ffffff;">Printed leather Keith Haring collaboration Missouri Sneakers, ₱5,250.00</span></p>
                           </h3>
                           <button class="btn-cta  btn--icon">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                              </svg>
                           </button>
                        </div>
                     </a>
                  </div>
                  
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <a class="" href="https://lacoste.com.ph/collections/mens-shoes/products/mens-lt-fit-sock-textile-sneakers-737sma0031">
                        <div class="l-relative l-vmargin--medium">
                           <picture class="pict img-fill-width">
                              <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-men-creatif-players-4-new.jpg' | asset_img_url: "691x520",crop:"center"}}">
                              <img class="img-fill-width" src="{{'lacoste-sneaker-guide-men-creatif-players-4-new.jpg' | asset_img_url: "691x520",crop:"center"}}" alt="<p><span style=&quot;color:#ffffff;&quot;>Fabric LT Fit Sock Sneakers, £95.00</span></p>" width="100%" height="auto">
                           </picture>
                        </div>
                        <div class="flex flex--space-between flex-m--col">
                           <h3 class="fs--medium l-m-no-margin">
                              <p><span style="color:#ffffff;">Men's Lt Fit Sock Textile Sneakers, ₱5,950.00</span></p>
                           </h3>
                           <button class="btn-cta  btn--icon">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                              </svg>
                           </button>
                        </div>
                     </a>
                  </div>
                  <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <a class="" href="https://lacoste.com.ph/collections/mens-shoes/products/mens-graduate-leather-sneakers-737sma0021">
                        <div class="l-relative l-vmargin--medium">
                           <picture class="pict img-fill-width">
                              <source media="(min-width: 801px)" srcset="{{'lacoste-sneaker-guide-men-creatif-players-5-new.jpg' | asset_img_url: "691x520",crop:"center" }}">
                              <img class="img-fill-width" src="{{'lacoste-sneaker-guide-men-creatif-players-5-new.jpg' | asset_img_url: "691x520",crop:"center"}}" alt="<p><span style=&quot;color:#ffffff;&quot;>Synthetic Menerva Sport Sneakers, £85.00</span></p>" width="100%" height="auto">
                           </picture>
                        </div>
                        <div class="flex flex--space-between flex-m--col">
                           <h3 class="fs--medium l-m-no-margin">
                              <p><span style="color:#ffffff;">Men's Graduate Leather Sneakers, ₱5,250.00</span></p>
                           </h3>
                           <button class="btn-cta  btn--icon">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                              </svg>
                           </button>
                        </div>
                     </a>
                  </div>
                 <div class="cell-9 cell-mt-19 cell-m-20 offset-1 offset-mt-2">
                     <a class="" href="https://lacoste.com.ph/collections/shoes/products/mens-wildcard-leather-trainers-737sma0055">
                        <div class="l-relative l-vmargin--medium">
                           <picture class="pict img-fill-width">
                              <source media="(min-width: 801px)" srcset="{{'slider-creative-men.jpg' | asset_img_url: "691x520",crop:"center"}}">
                              <img class="img-fill-width" src="{{'slider-creative-men.jpg' | asset_img_url: "691x520",crop:"center"}}" alt="<p><span style=&quot;color:#ffffff;&quot;>Fabric LT Fit Sock Sneakers, £95.00</span></p>" width="100%" height="auto">
                           </picture>
                        </div>
                        <div class="flex flex--space-between flex-m--col">
                           <h3 class="fs--medium l-m-no-margin">
                              <p><span style="color:#ffffff;">Men's Wildcard Leather Trainers, ₱8,250.00</span></p>
                           </h3>
                           <button class="btn-cta  btn--icon">
                              <svg role="presentation" class="icon-svg ">
                                 <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                              </svg>
                           </button>
                        </div>
                     </a>
                  </div>
               </div>
               <div class="l-vmargin--large"></div>
               <div class="swiper-pagination no-desk swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span></div>
               <button class="swiper-button-prev swiper-button-offset-left nav-ico-after no-mob" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true" style="top: 258px;"></button>
               <button class="swiper-button-next swiper-button-offset-right nav-ico-after no-mob" tabindex="0" role="button" aria-label="Next slide" aria-disabled="false" style="top: 258px;"></button>
               <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
            </div>
         </div>
      </div>
   </div>
   <div class="l-relative l-vmargin-row-1 flex flex--justify-end offset-1 cell-23 " id="lacoste-sneaker-guide-men-creatif">
      <a class="btn-cta  btn--large text-white js-scroll-to-top btn--icon" href="#">
         <svg role="presentation" class="icon-svg ">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-up"></use>
         </svg>
      </a>
   </div>
</div>