<section class="js-promotions-section js-modular-section page-section modular-section bg-white">
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-novak-djokovic-title-1">
      <div class="js-promotions offset-7 text-center cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h1 class="title--xxlarge text-black">
               Novak Djokovic, the new crocodile
            </h1>
         </div>
      </div>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-novak-djokovic-story-1" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-white l-padding-top-row-small l-padding-bottom-row-small " data-theme="text-black">
         <div class="cell-13 offset-2 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--4-3 l-ratio-m--1" data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                  <picture class="pict l-absolute img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-novak-djokovic-story-1-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-novak-djokovic-story-1-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-novak-djokovic-story-1-mob.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-novak-djokovic-story-1-mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-novak-djokovic-story-1-desk.jpg' | file_img_url: '524x' }} 524w,{{ 'lacoste-novak-djokovic-story-1-desk.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-novak-djokovic-story-1-desk.jpg' | file_img_url: '732x' }} 732w,{{ 'lacoste-novak-djokovic-story-1-desk.jpg' | file_img_url: '838x' }} 838w,{{ 'lacoste-novak-djokovic-story-1-desk.jpg' | file_img_url: '1024x' }} 1024w" sizes="(min-width: 768px) and (max-width: 1024px) 524px,(min-width: 1025px) and (max-width: 1190px) 594px,(min-width: 1191px) and (max-width: 1366px) 732px,(min-width: 1367px) and (max-width: 1680px) 838px,1024px">
                     <img alt="lacoste-novak-djokovic-story-1-component-1" width="100%" height="auto" data-src="{{ 'lacoste-novak-djokovic-story-1-desk.jpg' | file_img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" src="{{ 'lacoste-novak-djokovic-story-1-desk.jpg' | file_img_url }}" alt="lacoste-novak-djokovic-story-1-component-1" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-1 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-black">
                     A winning outfit
                  </h2>
                  <div class="text-grey  fs--medium">
                     <div>
                        <p>Novak Djokovic is in Dubai to pick up a fifth title. He is wearing the same outfit he wore in Melbourne.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-white l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal " href="#">
               Find out more
               </a>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative bg-white l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-novak-djokovic-title-2" data-layer="layer_title" data-tracking="">
      <div class="js-promotions offset-7 text-center cell-11 cell-m-21 offset-m-2 ">
         <div class="">
            <h2 class="title--xlarge text-black">
               Novak Djokovic and Lacoste
            </h2>
            <div class="text-grey fs--medium">
               <div>
                  <p>On court, his elegance is innate, his determination his mantra and fair-play his way of being. His willpower is faultless and his soul-searching allows him to reinvent himself. Convinced that each of us can outdo ourselves if we want to, he is the flag-bearer of all free spiritis. Since 2017, Novak Djokovic embodies the new face of the crocodile.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-novak-djokovic-story-3" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-black--wide" data-theme="text-white">
         <div class="cell-7 offset-3 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--5-7 l-ratio-m--1" data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                  <picture class="pict l-absolute img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-novak-djokovic-story-3-component-1-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-novak-djokovic-story-3-component-1-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-novak-djokovic-story-3-component-1-mob.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-novak-djokovic-story-3-component-1-mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-novak-djokovic-story-3-component-1.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-novak-djokovic-story-3-component-1.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-novak-djokovic-story-3-component-1.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-novak-djokovic-story-3-component-1.jpg' | file_img_url: '457' }} 457w,{{ 'lacoste-novak-djokovic-story-3-component-1.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                     <img alt="lacoste-novak-djokovic-story-3-component-1" width="100%" height="auto" data-src="{{ 'lacoste-novak-djokovic-story-3-component-1.jpg' | file_img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" src="{{ 'lacoste-novak-djokovic-story-3-component-1.jpg' | file_img_url }}" alt="lacoste-novak-djokovic-story-3-component-1" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-3 cell-9 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-white">
                     The tournament collection: designed for performance
                  </h2>
                  <div class="text-grey-lighter  fs--medium">
                     <div>
                        <p>Lacoste is proud to walk hand in hand with Novak Djokovic in his matches. Developed by and for the champion, the tournament collection is always there with him in all his matches. Breathable, ultra-dry, stretch, technical jjersey tennis wear enhances all his movements. A wardrobe that combines technicality and elegance.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-black l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal " href="#" data-type="category" data-tag-id="promotions.onPromoClick">
               Discover here
               </a>
            </div>
         </div>
      </div>
   </div>
   {% section 'novak-pr-slider-1' %}
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative " id="lacoste-novak-djokovic-story-4" data-layer="layer_story" data-tracking="">
      <div class="js-modular-push js-promotions grid cell-25 flex-m--col bg-black--wide  " data-id="lacoste-novak-djokovic-story-4-component-1" data-theme="text-white">
         <div class="cell-7 order-1 order-m-0 offset-2 cell-m-25 offset-m-0">
            <div class="l-block l-relative l-ratio--5-7 l-ratio-m--1" data-tracking="">
               <div class="js-lazyload-wrapper with-placeholder l-overlay lazyloaded">
                  <picture class="pict l-absolute img-cover img-cover--center lazyload">
                     <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-novak-djokovic-story-4-component-1-mob.jpg' | file_img_url: '320x' }}? 320w,{{ 'lacoste-novak-djokovic-story-4-component-1-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-novak-djokovic-story-4-component-1-mob.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-novak-djokovic-story-4-component-1-mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                     <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-novak-djokovic-story-4-component-1.jpg' | file_img_url: '295x' }} 295w,{{ 'lacoste-novak-djokovic-story-4-component-1.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-novak-djokovic-story-4-component-1.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-novak-djokovic-story-4-component-1.jpg' | file_img_url: '457x' }} 457w,{{ 'lacoste-novak-djokovic-story-4-component-1.jpg' | file_img_url: '524x' }} 524w" sizes="(min-width: 768px) and (max-width: 1024px) 295px,(min-width: 1025px) and (max-width: 1190px) 320px,(min-width: 1191px) and (max-width: 1366px) 375px,(min-width: 1367px) and (max-width: 1680px) 457px,524px">
                     <img alt="lacoste-novak-djokovic-story-4-component-1" width="100%" height="auto" data-src="{{ 'lacoste-novak-djokovic-story-4-component-1.jpg' | file_img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                  </picture>
                  <noscript>
                     <img class="noscript-content" src="{{ 'lacoste-novak-djokovic-story-4-component-1.jpg' | file_img_url }}" alt="lacoste-novak-djokovic-story-4-component-1" width="auto" height="auto" />
                  </noscript>
                  <div class="lqip l-ratio--[object Object] pointer-none"></div>
               </div>
            </div>
         </div>
         <div class="cell-8 padding-1 offset-3 flex flex--align-center l-vspaced-row-1 cell-m-25 offset-m-0 padding-m-2 l-vspaced-row-m-2 ">
            <div>
               <div class="l-vmargin--large">
                  <h2 class=" title--xlarge text-white">
                     The fan collection: designed for all crocodiles out there
                  </h2>
                  <div class="text-grey-lighter  fs--medium">
                     <div>
                        <p>“I am lucky to have incredible fans. Fans who put so much positivity into my life and career. I feel their love everywhere I go.” Being incomparably generous with his fans, Novak Djokovioc naturally collaborated with Lacoste to develop his fan collection. Wear it on court, in the stands or in the street, this collection is for everyone who is sensitive to what the new crocodile is eminating on court and in town.</p>
                     </div>
                  </div>
               </div>
               <a class="btn-cta text-black l-hmargin--small l-vmargin--small pointer-auto  fs--medium ff-normal " href="/gb/novak-djokovic-collection/off-court/" data-type="category">
               Discover here
               </a>
            </div>
         </div>
      </div>
   </div>
  {% section 'novak-pr-slider-2' %}
   <div class="js-modular-layer js-promotions-layer modular-layer l-relative grid cell-25 bg-white  l-padding-top-row-small l-padding-bottom-row-small" id="lacoste-novak-djokovic-blocks" data-layer="layer_blocks" data-tracking="">
      <div class="grid cell-25">
         <div class="offset-m-0 cell-m-25 offset-1 cell-11 l-vmargin-row-m-1">
            <div class="js-modular-push js-promotions l-relative l-fill-height" data-id="lacoste-novak-djokovic-blocks-component-1">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyloaded">
                     <picture class="pict l-absolute img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-novak-blocks-component-1-mobile.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-novak-blocks-component-1-mobile.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-novak-blocks-component-1-mobile.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-novak-blocks-component-1-mobile.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-novak-blocks-component-1-desktop.jpg' | file_img_url: '1024' }} 1024w,{{ 'lacoste-novak-blocks-component-1-desktop.jpg' | file_img_url: '1190x' }} 1190w,{{ 'lacoste-novak-blocks-component-1-desktop.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-novak-blocks-component-1-desktop.jpg' | file_img_url: '732x' }} 732w,{{ 'lacoste-novak-blocks-component-1-desktop.jpg' | file_img_url: '838x' }} 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacoste-novak-djokovic-blocks-component-1" width="100%" height="auto" data-src="{{ 'lacoste-novak-blocks-component-1-desktop.jpg' | file_img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" src="{{ 'lacoste-novak-blocks-component-1-desktop.jpg' | file_img_url }}" alt="lacoste-novak-djokovic-blocks-component-1" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </div>
               <div class="js-video-overlay l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2  flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge ">
                        The Lacoste Sport Shop
                     </h2>
                  </div>
                  <div>
                     <a class="btn-cta  l-hmargin--small pointer-auto l-vmargin--small fs--medium ff-normal " href="/gb/brand-store/sport.html" data-type="content" data-tag-id="promotions.onPromoClick">
                     Enter the court
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="offset-m-0 cell-m-25 offset-1 cell-11">
            <div class="js-modular-push js-promotions l-relative l-fill-height" data-id="lacoste-novak-djokovic-blocks-component-2">
               <div class="l-ratio--1 l-ratio-m--5-7 l-block l-fill-height" data-tracking="">
                  <div class="js-lazyload-wrapper with-placeholder l-overlay lazyload">
                     <picture class="pict l-absolute img-cover img-cover--center lazyload">
                        <source media="(max-width: 767px)" data-srcset="{{ 'lacoste-novak-djokovic-blocks-component-2-mob.jpg' | file_img_url: '320x' }} 320w,{{ 'lacoste-novak-djokovic-blocks-component-2-mob.jpg' | file_img_url: '375x' }} 375w,{{ 'lacoste-novak-djokovic-blocks-component-2-mob.jpg' | file_img_url: '414x' }} 414w,{{ 'lacoste-novak-djokovic-blocks-component-2-mob.jpg' | file_img_url: '767x' }} 767w" sizes="(max-width: 320px) 320px,(min-width: 321px) and (max-width: 375px) 375px,(min-width: 376px) and (max-width: 414px) 414px,(min-width: 415px) and (max-width: 767px) 767px">
                        <source media="(min-width: 768px)" data-srcset="{{ 'lacoste-novak-djokovic-blocks-component-2-desk.jpg' | file_img_url: '1024x' }} 1024w,{{ 'lacoste-novak-djokovic-blocks-component-2-desk.jpg' | file_img_url: '1190x' }} 1190w,{{ 'lacoste-novak-djokovic-blocks-component-2-desk.jpg' | file_img_url: '594x' }} 594w,{{ 'lacoste-novak-djokovic-blocks-component-2-desk.jpg' | file_img_url: '732x' }} 732w,{{ 'lacoste-novak-djokovic-blocks-component-2-desk.jpg' | file_img_url: '838x' }} 838w" sizes="(min-width: 768px) and (max-width: 1024px) 1024px,(min-width: 1025px) and (max-width: 1190px) 1190px,(min-width: 1191px) and (max-width: 1366px) 594px,(min-width: 1367px) and (max-width: 1680px) 732px,838px">
                        <img alt="lacoste-novak-djokovic-blocks-component-2" width="100%" height="auto" data-src="{{ 'lacoste-novak-djokovic-blocks-component-2-desk.jpg' | file_img_url }}" class="l-absolute img-cover img-cover--center js-lazyload lazyload" data-was-processed="true">
                     </picture>
                     <noscript>
                        <img class="noscript-content" src="{{ 'lacoste-novak-djokovic-blocks-component-2-desk.jpg' | file_img_url }}" alt="lacoste-novak-djokovic-blocks-component-2" width="auto" height="auto" />
                     </noscript>
                     <picture class="lqip pointer-none l-block"></picture>
                  </div>
               </div>
               <div class="js-video-overlay l-overlay padding-1 padding-m-2 l-vspaced-row-1 l-vspaced-row-m-2  flex flex--col flex--justify-end flex--align-start pointer-none text-white">
                  <div class="pointer-auto l-vmargin--large">
                     <h2 class="title--xlarge ">
                        The Lacoste Polo Shop
                     </h2>
                  </div>
                  <div>
                     <a class="btn-cta  l-hmargin--small pointer-auto l-vmargin--small fs--medium ff-normal " href="#" data-type="content" data-tag-id="promotions.onPromoClick">
                     Find yours
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>